
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace ">
    <div class="col-lg-10">
      <h5 class="headertext">{{labels[0].folderdash}}</h5>
    </div>
    <div class="col-lg-2 col2_header">
      <button  type="button" routerLink="/CreateFolders"
      class="btn btncolor Hederbutton">{{labels[0].addfolder}}
    </button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-7">  

    </div>
    <div class="col-lg-2">
      <label>{{labels[0].count}} : {{folderlist.length}}</label>
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].createdDate}}</th>
            <th>{{labels[0].foldername}}</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let folder of folderlist|filter:term">
            <td>{{folder.date}}</td>
            <td>{{folder.folderName}}</td>
            <td>
              <img src="assets/Images/pmr.png" style="height:25px;"
              [routerLink]="['/MyFiles',folder.id,folder.folderName]" />&nbsp;

              <img src="assets/Images/dell.png" style="width: 18px;" (click)="deleteFolder(folder.id)">&nbsp;
              <img src="assets/Images/edit.png" style="width: 18px; "  [routerLink]="['/CreateFolders',folder.id]">

            </td>
          </tr>
        </thead>
      </table><br><br>
    </div><br>
  </div><br><br>
</div><br>