<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].facilityMaster}}</h5>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover ">
  <br>
  <form #facilityForm="ngForm">
    <div class="row">
      <div class="col-lg-3">
        <label class="REGISTRATION NO:">Type :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
       <input type="radio" value="1" [(ngModel)]="typeid" name="typeid">&nbsp; {{labels[0].pharmacies}}
       <input type="radio" value="2" [(ngModel)]="typeid" name="typeid"> {{labels[0].diagnosticcenter}}
      </div>
    </div>
    <div class="row" *ngIf="typeid==1">
      <div class="col-lg-3">
        <label>{{labels[0].pharmacies}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="pharmacylist" [settings]="pharmacydd"
          (onSelect)="GetPharmacyID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="row" *ngIf="typeid==2">
      <div class="col-lg-3">
      <label>{{labels[0].diagnosticcenter}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <!--<input type="text" placeholder="Name" class="form-control"> -->
        <!-- <select class="dropdown form-control" (change)="GetDiagnosticID($event)">
          <option value="" selected>Select</option>
          <option *ngFor="let diagnostic of diagnosticlist" value={{diagnostic.id}}>{{diagnostic.diagnosticCenterName}}
          </option>
        </select> -->

        <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="diagnosticlist" [settings]="diadd"
          (onSelect)="GetDiagnosticID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-3">
        <label class="REGISTRATION NO:">{{labels[0].masterSetting}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="radio"  [(ngModel)]="masterSetup" name="masterSetup" value="2" (click)="getMastersetup(masterSetup)">&nbsp;{{labels[0].yes}}
        <input type="radio" [(ngModel)]="masterSetup" name="masterSetup" value="1" (click)="getMastersetup(masterSetup)">&nbsp;{{labels[0].no}}
      </div>
    </div><br>

    <div class="row">
      <div class="col-lg-3">
        <label class="REGISTRATION NO:">{{labels[0].deliverycharges}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" [disabled]="masterSetup==2" required [(ngModel)]="deliverycharges" name="deliverycharges"
          placeholder="{{labels[0].deliverycharges}}">
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-3">
        <label class="REGISTRATION NO:">{{labels[0].voiladoccommission}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" [disabled]="masterSetup==2" required [(ngModel)]="meridionalcommission" name="meridionalcommission"
          placeholder="{{labels[0].voiladoccommission}}" >
      </div>
    </div><br>

    <div class="row">
      <div class="col-lg-3">
        <label class="REGISTRATION NO:">{{labels[0].deliverypatnerfees}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" [disabled]="masterSetup==2"  required [(ngModel)]="deliverypatnerfees" name="deliverypatnerfees"
          placeholder="{{labels[0].deliverypatnerfees}}">
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-2">
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
          [disabled]="facilityForm.form.invalid" 
          (click)="insertdetails()">{{labels[0].save}}</button>
      
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
  </form>
</div>