<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<br>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-10">
      <h5>{{foldername}}</h5>
    </div>
    <div class="col-lg-2">
      <!-- <button style="margin-left: 10px;" type="button" routerLink="/CreateFolders"
      class="btn btncolor">Add Folder
    </button> -->
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-5">

    </div>
    <div class="col-lg-2">
      <button style="margin-left: 10px;" type="button" class="btn btncolor" data-toggle="modal"
        data-target="#subfolder">{{labels[0].createSubFolder}}
      </button>
    </div>
    <div class="col-lg-2">
      <button style="margin-left: 10px;" type="button" class="btn btncolor" data-toggle="modal"
        data-target="#exampleModal">{{labels[0].addfiles}}
      </button>
      <!-- <label>Count : {{folderlist.length}}</label> -->
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].createdDate}}</th>
            <th>{{labels[0].subfolder}}</th>
            <th>{{labels[0].filename}}</th>
            <th>{{labels[0].filetype}}</th>
            <th>{{labels[0].file}}</th>
            <!-- <th>Actions</th> -->
          </tr>
          <tr *ngFor="let attch of atachmentlist|filter:term">
            <td>{{attch.date}}</td>
            <td>{{attch.subFolderName}}</td>
            <td>{{attch.fileName}}</td>
            <td>{{attch.fileType}}</td>
            <td>
              <img src="{{attch.documents}}" *ngIf="attch.fileType=='Image'" style="width: 30px;"
                (click)="openwindow(attch.documents)">
              <img src="assets/Images/word.png" *ngIf="attch.fileType=='Word Document'" style="width: 30px;"
                (click)="openwindow(attch.documents)">
              <img src="assets/Images/pdf.png" *ngIf="attch.fileType=='Pdf'" style="width: 30px;"
                (click)="openwindow(attch.documents)">
              <img src="assets/Images/xl.png" *ngIf="attch.fileType=='Excel'" style="width: 30px;"
                (click)="openwindow(attch.documents)">

              <img src="assets/Images/pmr.png" *ngIf="attch.fileType=='Folder'" style="width: 30px;" [routerLink]="['/SubFolderFiles',attch.folderID,attch.id,attch.folderName,attch.subFolderName]" >
            </td>
            <!-- <td>
            
            </td> -->
          </tr>
        </thead>
      </table><br><br>
    </div><br>
  </div><br><br>
</div><br>








<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].addfiles}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].filename}} :</label>
          </div>
          <div class="col-lg-5">
           <input type="text" class="form-control" [(ngModel)]="filename" name="filename" placeholder="{{labels[0].filename}}">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label>Attachment</label>
          </div>
          <div class="col-lg-5">
            <ngx-dropzone [multiple]="false" style="height:57px" (change)="onattachmentUpload($event)"
              class="dropzone_vendorinvoice h-100">
              <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
            </ngx-dropzone>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-primary Buttoncolor" (click)="InsertDetails()">{{labels[0].save}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary Buttoncolor"  data-dismiss="modal">{{labels[0].close}}</button>

      </div>
    </div>
  </div>
</div>








<div class="modal fade" id="subfolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].subfolder}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #SubForm="ngForm">
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].subfoldername}}</label>
          </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" [(ngModel)]="subfoldername" name="subfoldername" required
              placeholder="{{labels[0].subfoldername}}">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btn-primary Buttoncolor" (click)="CreateSubfolder()" [disabled]="SubForm.form.invalid">{{labels[0].save}}</button>
          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary Buttoncolor" data-dismiss="modal">{{labels[0].close}}</button>

      </div>
    </div>
  </div>
</div>