.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

th::first-letter{
    text-transform: uppercase;
  }
  th{
    text-transform: lowercase;
  } 
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .headerspace{
        margin-top:10px;
        text-transform:uppercase;
    }
    .divspacee{
        margin-top:10px;
        height: calc(70% - 44px);
    }
    .tablecss{
        background-color: #f18235;
        color:white;
    }
    .headerrspace{
        color: #251156;
        height:70px;
        margin-top:20px;
       
    }
    .required{
        color:red;
    }
    #imp{
        text-transform: none;
      }
      .label{
          text-align: end;
      }
      label{
        margin-right: 10px;
    }


    .homecare
    {
     
      background-color: #0099FF;
      color:white;
     
    }
    .Notavailable
    {
      
      background-color: #D3D3D3;
      color:white;
     
    }
  
    .meeting
    {
     
      background-color: #FFC000;
      color:white;
    
    }
  
  
  
  
  
  
  
  