<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels1[0].pharamadoctorPrescription}}</h5>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
        </ng-daterangepicker> -->

      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" [(bsValue)]="myDateValue"
        bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" [(bsValue)]="myDateValue"
        bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12 table-responsive" style="overflow: auto;">
      <table class="table">
        <thead>
          <tr>
            <th>{{labels[0].orderDate}}</th>
            <!-- <th>{{labels[0].referenceno}}</th> -->
            <th>{{labels[0].orderNumber}}</th>
            <th *ngIf="languageid=='1'">Prescription Type</th>
            <th *ngIf="languageid=='6'">Format d'ordonnance</th>
            <th *ngIf="languageid=='1'">Pick Up Type</th>
            <th *ngIf="languageid=='6'">Retrait et Livraison </th>
            <!-- <th>{{labels[0].substitablenotpermitedd}} </th> -->
            <!-- <th>{{labels4[0].primarypatientname}}</th>
            <th>{{labels4[0].phoneNoo}}</th> -->
            <th>{{labels4[0].bookedPatientname}}</th>
            <th>{{labels4[0].bookedpatientphno}}</th>
            <th>{{labels[0].name}}</th>
            <th>{{labels[0].phoneNo}} </th>
            <th>{{labels[0].mailId}}</th>
            <th>{{labels[0].deliveryAddress}}</th>
            <th>{{labels[0].paymentType}}</th>
            <th>{{labels[0].price}}</th>
            <th>{{labels[0].medicines}}</th>
            <th>{{labels[0].status}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr [style.background-color]="details.appointmentColorCode" *ngFor="let details of orderlist|filter:term">
            <td>{{details.date|date:'dd-MM-yyyy'}}</td>
            <!-- <td>{{details.referenceNumber}}</td> -->
            <td>{{details.id}}</td>
            <td>
              <span *ngIf="details.orderType=='1'">{{labels[0].online}}</span>
              <span *ngIf="details.orderType=='2'">{{labels[0].photo}}</span>
              <span *ngIf="details.orderType=='3'">{{labels[0].uploadfile}}</span>
            </td>
            <td>
              <span *ngIf="details.selfPickUP=='0'&&details.readyfordelivery=='1'">{{labels[0].homeDelivery}}</span>
              <span *ngIf="details.selfPickUP=='1'&&details.readyfordelivery=='1'">{{labels[0].selfpickup}}</span>
              <span *ngIf="details.readyfordelivery=='0'">{{labels[0].progressing}}</span>
            </td>
            <!-- <td>
              <span *ngIf="details.substainablenotPermitted=='1'">{{labels[0].yes}}</span>
              <span *ngIf="details.substainablenotPermitted=='2'">{{labels[0].no}}</span>
            </td> -->
            <td>{{details.patientName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>
              {{details.relationpatentname}}
              <!-- <div class="txtorng">
              <span placement="right" ngbTooltip="{{details.patientName}}" role="button" data-toggle="tooltip">
                {{details.relationpatentname}}
              </span>
              </div> -->
            </td>
            <td>{{details.relationmobileno}}</td>
            <td>{{details.relationemailid}}</td>
            <td>
              <div class="txtorng">
                <span placement="right" ngbTooltip=" {{details.address}}" role="button" data-toggle="tooltip">
               <img src="assets/Images/info.png" style="width: 30px;">
                </span>
              </div>

            </td>
            <td>{{details.paymentType}}</td>
            <td>{{details.paidAmount}}</td>
            <td>
              <ng-template #tipcontent12>{{labels[0].medicines}}</ng-template>
              <a [ngbTooltip]="tipcontent12">
                <img src="assets/Images/phaprescripton.png" *ngIf="details.orderType=='1'&&details.cancelled=='0'"
                  style="height:30px;" data-toggle="modal" data-target="#exampleModal"
                  (click)="GetMedicines(details.id,details)" /></a>

              <ng-template #tipcontent890>Photo</ng-template>
              <a [ngbTooltip]="tipcontent890">
                <img src="assets/Images/phaprescripton.png" *ngIf="details.orderType=='2'" style="height:30px;"
                  data-toggle="modal" data-target="#exampleModal2"
                  (click)="GetPrescriptionUrl(details.prescriptionUrl,details)" /></a>

              <ng-template #tipcontent890>Photo</ng-template>
              <a [ngbTooltip]="tipcontent890">
                <img src="assets/Images/phaprescripton.png" *ngIf="details.orderType=='3'" style="height:30px;"
                  data-toggle="modal" data-target="#exampleModal3" (click)="getPrescriptionsdetails(details)" /></a>
            </td>
            <td>
              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.fullyAvailableBit=='0'&&details.partialBit=='0'&&details.readyfordelivery=='0'&&details.showUpdate=='0'">{{labels[0].accepted}}</label>
              <label style="color:red"
                *ngIf="details.approved=='0'&&details.pharmacyCancelled=='1'||details.cancelled=='1'&&details.delivered=='0'">{{labels[0].cancelled}}</label>
              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='1'">{{labels[0].delivered}}</label>

              <!-- <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='1'&&details.selfPickUP=='1'">{{labels[0].selfpickupcollected}}</label> -->

              <!-- <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.fullyAvailableBit=='1'&&details.partialBit=='0'&&details.readyfordelivery=='0'">
                {{labels[0].fullyAvailable}}</label>

              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.fullyAvailableBit=='0'&&details.partialBit=='1'&&details.readyfordelivery=='0'">
                
                
                {{labels[0].partailAvailable}}</label> -->
              <!-- {{labels[0].deliveryCompany}} -->
              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.paidStatus=='1'&&details.partialBit=='1'">
                {{labels[0].readyfordelivery}}</label>

              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.partialBit=='0'&&details.orderRedy=='1'">
                {{labels[0].orderbeingprepared}}</label>


              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.partialBit=='1'&&details.selfPickUP=='0'">
                {{labels[0].deliveryCompany}}</label>


              <!-- <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.readyfordelivery=='1'&&details.paidStatus=='1'&&details.partialBit=='0'">
                {{labels[0].readyfordelivery}}</label> -->


              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.readyfordelivery=='1'&&details.paidStatus=='1'&&details.partialBit=='0'&&details.paymentTypeID==1||details.paymentTypeID==2&&details.orderRedy=='0'">
                {{labels[0].creditPayment}}</label>

              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.readyfordelivery=='1'&&details.paidStatus=='1'&&details.partialBit=='0'&&details.paymentTypeID==3&&details.orderRedy=='0'">
                {{labels[0].codPayment}}</label>

              <!-- <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.readyfordelivery=='0'&&details.paidStatus=='1'&&details.delivered=='0'">
                Paid</label> -->

              <label style="color:green"
                *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.readyfordelivery=='0'&&details.paidStatus=='0'&&details.showUpdate=='1'&&details.orderRedy=='0'&&details.partialBit=='0'">
                {{labels[0].pricesenttopatient}}</label>
            </td>
            <td>
              <table style="box-shadow:none">
                <tr>
                  <td style="border:none">
                    <ng-template #tipcontent3>{{labels[0].accept}}</ng-template>
                    <a [ngbTooltip]="tipcontent3"
                      *ngIf="details.approved=='0'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'">
                      <img src="assets/Images/acc.png" style="height:20px;"
                        (click)="GetAcceptOrder(details.id,details.patientID,details.pharmacyName,details.date,details.emailID,details.smsmobileno)" /></a>
                  </td>
                  <td style="border:none">
                    <ng-template #tipcontent4>{{labels[0].cancel}}</ng-template>
                    <a [ngbTooltip]="tipcontent4"
                      *ngIf="details.approved=='0'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'">
                      <img src="assets/Images/can.png" style="height:20px;"
                        (click)="GetCancelOrder(details.id,details.patientID,details.pharmacyName,details.date,details.emailID,details.smsmobileno)" />
                    </a>
                  </td>
                  <td style="border:none">
                    <!-- <ng-template #tipcontent84>{{labels[0].fullyAvailable}}</ng-template>
                    <a [ngbTooltip]="tipcontent84"
                      *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.fullyAvailableBit=='0'&&details.partialBit=='0'">
                      <img src="assets/Images/edit.png" style="height:20px;" data-toggle="modal"
                        data-target="#exampleModal3" (click)="GetFullyOrderDetails(details)" /></a> -->
                  </td>
                  <td style="border:none">
                    <!-- <ng-template #tipcontent89>{{labels[0].partailAvailable}}</ng-template>
                    <a [ngbTooltip]="tipcontent89"
                      *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.fullyAvailableBit=='0'&&details.partialBit=='0'">
                      <img src="assets/Images/edit.png" style="height:20px;" data-toggle="modal"
                        data-target="#exampleModal4" (click)="GetPartialOrderDetails(details)" /></a> -->
                  </td>
                </tr>
                <tr>

                  <td style="border:none">
                    <ng-template #tipcontent51>{{labels[0].orderready}}</ng-template>
                    <a [ngbTooltip]="tipcontent51"
                      *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.orderRedy=='0'&&details.paidStatus=='1'">
                      <img src="assets/Images/ready.png" style="height:30px;"
                        (click)="OrderReady(details.id,details.patientID,details.pharmacyName,details.date,details.emailID,details.smsmobileno)" />
                    </a>
                  </td>
                  <td style="border:none">
                    <ng-template #tipcontent899>{{labels[0].deliveryCompany}}</ng-template>
                    <a [ngbTooltip]="tipcontent899"
                      *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.partialBit=='0'&&details.selfPickUP=='0'&&details.paidStatus=='1'">
                      <img src="assets/Images/readyfordel.png" style="height:20px;"
                        (click)="GetReadyForDelivery(details.id)" /></a>
                  </td>
                  <td style="border:none">
                    <ng-template #tipcontent5>{{labels[0].delivered}}</ng-template>
                    <a [ngbTooltip]="tipcontent5"
                      *ngIf="details.approved=='1'&&details.pharmacyCancelled=='0'&&details.cancelled=='0'&&details.delivered=='0'&&details.selfPickUP=='1'&&details.orderRedy=='1'">
                      <img src="assets/Images/deli.png" style="height:30px;"
                        (click)="GetDeliverOrder(details.id,details.patientID,details.pharmacyName,details.date,details.emailID,details.smsmobileno)" />
                    </a>
                  </td>

                  <td style="border:none">
                    <!-- <span style="float: right;cursor: pointer;color: green;color: aliceblue;
                    margin-left: 0%;">{{details.chatcount}}</span> -->
                    <ng-template #tipcontent36>{{labels[0].chat}}</ng-template>
                    <a [ngbTooltip]="tipcontent36">
                      <span style="color: green;position: absolute;margin-left: 25px;"
                        *ngIf="details.approved=='1'&&details.delivered=='0'">{{details.chatcount}}</span>
                      <img src="assets/Images/chat.png" *ngIf="details.approved=='1'&&details.delivered=='0'"
                        data-toggle="modal" data-target="#asssignss" style="margin: 2%;width: 30px;"
                        (click)="GetPharmacyPatientID(details.primaryPatientID,details.patientemail,details.id,details.smsmobileno)" />

                    </a>
                  </td>
                </tr>
              </table>
              <!-- <ng-template #tipcontent36>Chat</ng-template>
                <a [ngbTooltip]="tipcontent36">
                  <img src="assets/Images/chat.png" [routerLink]="['/PharmacyChat',details.pharmacyID,details.patientID]"
                    style="margin: 2%;width: 20px;" />
                </a> -->

            </td>
          </tr>
        </thead>
      </table><br>
    </div><br>
  </div><br>
</div><br><br><br>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content " >
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].medicines}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #MedicineForm="ngForm">
          <div id="content">
            <div class="row">
              <div class="col-lg-5">
              </div>
              <div class="col-lg-6">
                <!-- <h5 style="color:#1dbfd2">{{labels[0].doctorDetails}}</h5> -->
                <img src="assets/Images/voilalogo.jpg" style="width: 35%;">

              </div>
              <div class="col-lg-12">
                <label style="float: right;">{{labels[0].dateofPrescription}} :
                  {{prescriptiondate}}</label><br>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <aside id="info-block">
                  <section class="file-marker">
                    <div>
                      <div class="box-title1">
                        <label *ngIf="languageid=='1'">Doctor</label>
                        <label *ngIf="languageid=='6'">Médecins</label>
                      </div>
                      <div class="box-contents">
                        <div id="audit-trail">
                          <label>{{doctorname}}</label><br>
                          <div *ngIf="hospitalid!=590">
                            <label>{{hospitalname}}</label><br>
                          </div>
                          <div style="width: 150px;"> <label>{{docaddress}}</label><br> </div>
                          <label>{{labels[0].registrationno}} : {{registrationno}}</label><br>
                          <label>{{labels[0].telephoneno}} : {{docmobile}} </label><br>
                          <label>{{labels[0].mailId}} : {{email}} </label><br>

                        </div>
                      </div>
                    </div>
                  </section>
                </aside>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-12">
                <aside id="info-block">
                  <section class="file-marker">
                    <div>
                      <div class="box-title">
                        {{labels[0].patientDetails}}
                      </div>
                      <div class="box-contents">
                        <div id="audit-trail">
                          <label> Reference No : {{referencenumber}} </label><br>
                          <label> {{labels[0].patientname}} : {{patientname}} </label><br>
                          <label> {{labels[0].telephoneno}} : {{mobilernumber}}</label><br>
                          <label> {{labels[0].address}} : {{address}}</label><br>
                          <label> {{labels[0].dateofbirth}} : {{dateofbirth}}</label><br>
                          <label> {{labels[0].gender}} : {{gender}}</label><br>
                          <label> {{labels[0].age}} : {{age}}</label>
                        </div>
                      </div>
                    </div>
                  </section>
                </aside>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-12">


                <aside id="info-block">
                  <section class="file-marker">
                    <div>
                      <div class="box-title">
                        {{labels[0].medicinedetails}}
                      </div>
                      <div class="box-contents">
                        <div id="audit-trail">
                          <table>
                            <thead>
                              <tr>
                                <!-- <th>{{labels[0].medicineType}}</th> -->
                                <th style="border: 2px solid black; background-color:#FFD300;
                              color:black;">{{labels[0].medicines}}</th>
                                <th style="border: 2px solid black; background-color:#FFD300; color:black;">
                                  {{labels[0].sig}}</th>
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">
                                  {{labels[0].quantity}}</th>
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">
                                  {{labels[0].howmanyrefills}}</th>
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">
                                  {{labels[0].substitablenotpermitedd}}</th>
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">
                                  {{labels[0].notetoPharmsict}}</th>
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">
                                  {{labels[0].amount}}</th>
                                <!-- <th style="border: 2px solid black;background-color:#FFD300; color:black;">
                                {{labels[0].notetoPharmsict}}</th> -->
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">Substistute</th>
                                <th style="border: 2px solid black;background-color:#FFD300; color:black;">Actions</th>
                              </tr>
                              <tr *ngFor="let medicinelist of orderedmedicinelist">
                                <!-- <td>{{medicinelist.Medicinetype}}</td> -->
                                <td style="border: 2px solid black;">
                                  {{medicinelist.medicineName}}
                                  <div>
                                    <br>
                                    <input type="text" class="form-control"  *ngIf="medicinelist.substituteBit==true"
                                    [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="medicinelist.subMedicineName" name="medicinelist.subMedicineName" placeholder="{{labels[0].medicines}}">
                                  </div>
                                
                                </td>
                                <td style="border: 2px solid black;">
                                  {{medicinelist.sig}}
                                  <div>
                                    <br>
                                    <input type="text" class="form-control" placeholder="{{labels[0].sig}}" *ngIf="medicinelist.substituteBit==true" 
                                    [ngModelOptions]="{standalone: true}" [(ngModel)]="medicinelist.subPhysology"
                                    name="medicinelist.subPhysology">
                                  </div>
                                </td>
                                <td style="border: 2px solid black;">
                                  {{medicinelist.quantity}}
                                  <div>
                                    <br>
                                    <input type="text" [ngModelOptions]="{standalone: true}" *ngIf="medicinelist.substituteBit==true"
                                    [(ngModel)]="medicinelist.subQuantity" name="medicinelist.subQuantity"
                                    class="form-control" placeholder=" {{labels[0].quantity}}">
                                  </div>
                    
                                </td>
                                <td style="border: 2px solid black;">{{medicinelist.refills}}</td>
                                <td style="border: 2px solid black;">{{medicinelist.substistute}}</td>
                                <td style="border: 2px solid black;">{{medicinelist.noteToPharmacist}}</td>
                                <td style="border: 2px solid black;">
                                  <input type="text" class="form-control" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="medicinelist.amount" name="medicinelist.amount" [disabled]="medicinelist.substituteBit==true"
                                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'><br>

                                    <input type="text" class="form-control"  *ngIf="medicinelist.substituteBit==true" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="medicinelist.subAmount" name="medicinelist.subAmount" 
                                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                                  <!-- (ngModelChange)="onChange($event)" -->
                                </td>
                                <td  style="border: 2px solid black;">
                                  <input type="checkbox" [disabled]="medicinelist.subtute=='2'" [ngModelOptions]="{standalone: true}"
                                  [(ngModel)]="medicinelist.substituteBit" name="medicinelist.substituteBit">
                                </td>
                                <td style="border: 2px solid black;">
                                  <input type="checkbox" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="medicinelist.availableBit" name="medicinelist.availableBit">
                                </td>
                                <!-- <td style="border: 2px solid black;">{{medicinelist.NoteToPharmacist}}</td> -->
                              </tr>
                            </thead>
                          </table>
                        </div>
                      </div>
                    </div>
                  </section>
                </aside>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
              </div>
              <div class="col-lg-4">
                <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
                  *ngIf="showedit=='0'" data-dismiss="modal" [disabled]="MedicineForm.form.invalid"
                  (click)="Updateavailablemedicines()">
                  {{labels[0].update}}</button>
              </div>
              <div class="col-lg-4">
                <!-- <img src="{{docsignatureurl}}"> -->
                <span style="text-align:center;margin-left: 61px;">(Signature)</span>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray;margin-top: 3px;">
                <div style="margin-top: -13px;">
                  <span>{{doctorname}}</span>&nbsp;&nbsp; <span>{{registrationno}}</span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" style="background-color: #322b6b; color: white;"
            class="btn btn-default" data-dismiss="modal" (click)="SavePDF()">{{labels[0].download}}</button>
          <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
            data-dismiss="modal">{{labels[0].close}}</button>
        </div>

      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 800px;
      height: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12" id="contentPhoto">
            <img src="{{prescriptionurl}}" *ngIf="filetype=='2'" style="height: 100%;width: 100%;">
            <img src="assets/Images/pdf.png" *ngIf="filetype=='1'" style="height: 100%;width: 20%;" (click)="openpdf()">
          </div>
        </div><br>
        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
            <label>{{labels[0].amountToPay}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels[0].amountToPay}}" [(ngModel)]="amounttopay"
              name="amounttopay">
          </div>
        </div><br>
        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
            <label>Attchment :</label>
          </div>
          <div class="col-lg-4">
            <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)"
              class="dropzone_vendorinvoice dropzone">
              <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
            </ngx-dropzone>
            <span>
              <img src="{{imageurl}}" style="height: 36px;"></span>
          </div>
        </div>
        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
            <label>Comments :</label>
          </div>
          <div class="col-lg-4">
            <textarea class="form-control" rows="4" placeholder="Comments" [(ngModel)]="comments"
              name="comments"></textarea>

          </div>
        </div><br>
        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-7">
            <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
              (click)="updateamount()" style="width: 246px;" data-dismiss="modal">{{labels[0].update}}</button>
          </div>
          <!-- <div class="col-lg-5">
          </div> -->
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal" (click)="SavePdfPhoto()"> {{labels[0].download}}</button> -->

        <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-lg" style="width: 755px;
      height: auto;">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel"> {{labels[0].download}}</h5> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-6" *ngFor="let photo of uploadephotos">
            <a>
              <img src="{{photo.photoUrl}}" (click)="openNewwindow(photo.photoUrl)" *ngIf="photo.typeID==1"
                style="width: 350px;height: auto;"><br><br>
            </a>
            <a>
              <img src="assets/Images/pdf.png" (click)="openNewwindow(photo.photoUrl)" *ngIf="photo.typeID==2"
                style="width: 120px;height: auto;"><br><br>
            </a>
          </div><br><br>
        </div><br>
        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
            <label>{{labels[0].amountToPay}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels[0].amountToPay}}" [(ngModel)]="amounttopay"
              name="amounttopay">
          </div>
        </div><br>

        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
            <label>Attchment :</label>
          </div>
          <div class="col-lg-4">
            <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
              <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
            </ngx-dropzone>
            <span>
              <img src="{{imageurl}}" style="height: 35px;"></span>
          </div>
        </div><br>
        <div class="row" *ngIf="showedit=='0'">
          <div class="col-lg-4">
            <label>Comments :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" rows="4" placeholder="Comments" [(ngModel)]="comments"
              name="comments">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-5">
            <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
              *ngIf="showedit=='0'" (click)="updateamount()" data-dismiss="modal">{{labels[0].update}}</button>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 600px;
      height: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].uploadpartialprescriptionphoto}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-lg-4">
            <label>{{labels[0].amountToPay}} :</label>
          </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" placeholder="{{labels[0].amountToPay}}" [(ngModel)]="amounttopay"
              name="amounttopay">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
              style="width: 124px;" data-dismiss="modal">{{labels[0].update}}</button>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>






<div class="chat-popup" id="myForm">
  <form class="form-container" #chatfrom="ngForm">
    <div class="container-fluid card card-hover" style="height: 550px;width:530px;">
      <br>
      <div class="row">
        <div class="col-lg-3">
          <h5>{{labels[0].chat}}</h5>
        </div>
        <div class="col-lg-7">
        </div>
        <div class="col-lg-2">
          <!-- <h5 (click)="GetShowOff()">*</h5> -->
          <img src="assets/Images/can.png" (click)="GetShowOff()">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <!-- <h4>{{labels[0].chatmessagee}}</h4> -->
          <!-- <span *ngIf="istyping==true">typing .... </span> -->
        </div>
      </div>
      <!-- id="chatboxdiv" -->
      <div style="height: 500px;overflow-y: scroll;" id="chatboxdiv">
        <div *ngFor='let convo of coversationarray'>
          <div class="container" *ngIf='convo.user=="doc"'>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-2"></div>
              <div class="col-lg-6" style="background-color:darkgray;border-radius: 5px;color:white">
                <div *ngIf="convo.msgtype=='1'">
                  <!-- <img src="{{docphoto}}" class="rounded-circle" style="width:26px;;margin-top: 5px;margin-right: 3%;
                        float: left;"> -->
                  <p style="margin-top: 5px;">{{convo.chatmsg}}
                    <span style="float: right;;margin-top: 5px;">
                      {{convo.time}}
                    </span>
                  </p>
                </div>
                <div *ngIf="convo.msgtype=='2'">
                  <img src="{{convo.chatmsg}}" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
          <div class="container" *ngIf='convo.user=="pat"'>
            <div class="row">
              <div class="col-lg-8" style="background-color:#1ebea5;border-radius: 5px;color:white;margin-top: 1px;">
                <div *ngIf="convo.msgtype=='1'">
                  <p style="margin-top: 5px;">
                    <!-- <img src="{{patientphoto}}" class="rounded-circle" style="width:26px;margin-top: 5px;"> -->
                    &nbsp;
                    {{convo.chatmsg}}
                    <span style="float: right;;margin-top: 5px;">
                      {{convo.time}}
                    </span>
                  </p>
                </div>
                <div *ngIf="convo.msgtype=='2'">
                  <img src="{{convo.chatmsg}}" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <hr>
      <div class="container-fluid">
        <form #loginForm="ngForm">
          <div class="row" style="background-color: white;">
            <div class="col-lg-8">
              <input type="text" [(ngModel)]="chatconversation" name="chatconversation" required class="form-control"
                style=" border-style:none;" placeholder="  {{labels[0].typeamessage}}" />
            </div>
            <div class="col-lg-4">
              <button type="submit" class="form-control chat" [disabled]="loginForm.form.invalid"
                (click)="InsertChatDetails()">
                {{labels[0].send}}
              </button>
            </div>

            <!-- <div class="col-lg-2">
                    <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload($event)"
                      class="dropzone_vendorinvoice h-100" style="height: 50px;">
                    </ngx-dropzone>
                  </div> -->

          </div>
        </form>
      </div><br>
    </div><br>
  </form>
</div>