.headerspace{
  margin-top: 10px;
  text-transform:uppercase;
}


  th::first-letter{
    text-transform: uppercase;
  }
  th{
    text-transform: lowercase;
  }

  .homecare
  {
    height: 30px;
    width: 100px;
    background-color: #0099FF;
    color:white;
    margin-left: 22px;
    text-indent: 13px;
  }
  .Notavailable
  {
    height: 30px;
    width: 100px;
    background-color: #D3D3D3;
    color:white;
    margin-left: 22px;
  }

  .meeting
  {
    height: 30px;
    width: 100px;
    background-color: #FFC000;
    color:white;
    margin-left: 22px;
  }

  .homecare
  {
   
    background-color: #0099FF;
    color:white;
   
  }
  .Notavailable
  {
    
    background-color: #D3D3D3;
    color:white;
   
  }

  .meeting
  {
   
    background-color: #FFC000;
    color:white;
  
  }