<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-10" style="margin-top: -2px;">
      <h5>{{labels[0].notifications}}</h5>
    </div>
    <div class="col-lg-2" style="margin-top: -12px;">

    </div>
  </div>
</div><br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" [(bsValue)]="myDateValue" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" [(bsValue)]="myDateValue" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="term">
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-2">
      <label style="margin-left:80px">{{labels[0].count}} : {{count}}</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <table class="table" id="Appointment" style="overflow: auto;">
        <thead>
          <tr style="height: 20px">
            <th>Date</th>
            <th>{{labels[0].time}}</th>
            <th>{{labels[0].patientName}}</th>
            <th>{{labels[0].notificationType}}</th>
            <th>{{labels[0].notification}}</th>
          </tr>
          <tr *ngFor="let noti of Notificationslist|filter:term">
            <td>{{noti.date}}</td>
            <td>{{noti.notificationtime}}</td>
            <td>{{noti.patientName}}</td>
            <td>{{noti.notification}}</td>
            <td>{{noti.description}}</td>
          </tr>
        </thead>
      </table>
      <br>
      <br>
    </div>
  </div>
  <br>
</div>