<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-5">
      <h5 *ngIf="ID==1 && languageid==1 ">Appointments(total)</h5>
      <h5 *ngIf="ID==1 && languageid==6 ">TOUS LES RENDEZ-VOUS</h5>
      <h5 *ngIf="ID==8 && languageid==1">Video Call(total)</h5>
      <h5 *ngIf="ID==8 && languageid==6">Téléconsultations (total)</h5>
      <h5 *ngIf="ID==7 && languageid==1">In Clinic(total)</h5>
      <h5 *ngIf="ID==7 && languageid==6">Rendez-vous en clinique (total)</h5>
      <h5 *ngIf="ID==9 && languageid==1">Homecare(total)</h5>
      <h5 *ngIf="ID==9 && languageid==6">VISITES À DOMICILE (TOTAL)</h5>
      <h5 *ngIf="ID==6  && languageid==1">Pending Acceptence</h5>
      <h5 *ngIf="ID==6  && languageid==6">En attente d'acceptation</h5>
      <h5 *ngIf="ID==5 && languageid==1">Accepted(pending visit)</h5>
      <h5 *ngIf="ID==5 && languageid==6">RENDEZ-VOUS accepté (non effectué)</h5>
      <h5 *ngIf="ID==2  && languageid==1">Patients visited</h5>
      <h5 *ngIf="ID==2  && languageid==6">Patients vus</h5>
      <h5 *ngIf="ID==3 && languageid==1">Patient no show</h5>
      <h5 *ngIf="ID==3 && languageid==6">Patient ne s’est pas présenté</h5>
      <h5 *ngIf="ID==4 && languageid==1">Cancelled by patient</h5>
      <h5 *ngIf="ID==4 && languageid==6">RENDEZ-VOUS annulé (patient)</h5>
      <h5 *ngIf="ID==10 && languageid==1">Cancelled by doctor</h5>
      <h5 *ngIf="ID==10 && languageid==6">RENDEZ-VOUS annulé (docteur)</h5>
    </div>
    <div class="col-lg-5"></div>
  </div>
</div>
<br />
<div class="container-fluid card card-hover">
  <br />
  <div class="row">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" [(bsValue)]="myDateValue" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" [(bsValue)]="myDateValue" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" placeholder="{{labels[0].search}}" [(ngModel)]="term" class="form-control" />
    </div>
    <div class="col-lg-3">

    </div>  
  </div>
  <br>
  <div class="row">
    <div class="col-lg-11"></div>
    <div class="col-lg-1">
      <label>{{labels[0].count}} : {{count}}</label>
    </div>
    <div class="col-lg-12">
      <table class="table" style="overflow: auto;">
        <thead>
          <tr style="height: 20px">
            <th>{{labels[0].appointmentDate}}</th>
            <th>{{labels[0].slot}}</th>
            <th>{{labels[0].appointmentNumber}}</th>
            <th>{{labels[0].ailment}}</th>
            <th>{{labels[0].patientName}}</th>
            <th>{{labels[0].appointmentType}}</th>
            <th>{{labels[0].mobileNo}}</th>
            <th>{{labels[0].emailID}}</th>
            <th *ngIf="ID=='4'||ID=='10'">{{labels[0].reason}}</th>
            <th>{{labels[0].status}}</th>
          </tr>
          <tr *ngFor="let list of appointmentlist|filter:term">
            <td>{{list.appdate}}</td>
            <td>{{list.slots}}</td>
            <td>{{list.id}}</td>
            <td>{{list.reasonForVisit}}</td>
            <td>{{list.pName}}</td>
            <td>{{list.combinationValue}}</td>
            <td>{{list.pMobileNo}}</td>
            
            <td>{{list.pEmail}}</td>
            <td *ngIf="ID=='4'||ID=='10'">{{list.reasonForCancel}}</td>
            <td>
              <label
                *ngIf="list.accepted=='1'&&list.isVisited=='0'&&list.docCancelled=='0'&&list.cancelled=='0'&&list.noShow=='0'"
                style="color: green;">{{labels[0].accepted}}</label>
              <label *ngIf="list.cancelled=='1'" style="color: red;">{{labels[0].patientCancelled}}</label>
              <label *ngIf="list.isVisited=='1'&&list.accepted=='1'"
                style="color: orange;">{{labels[0].visited}}</label>
              <label *ngIf="list.docCancelled=='1'" style="color: red;">{{labels[0].docCancelled}}</label>
              <label
                *ngIf="list.isVisited=='0'&&list.accepted=='0'&&list.cancelled=='0'&&list.docCancelled=='0'&&list.noShow=='0'"
                style="color: rgb(255, 0, 149);">{{labels[0].pending}}</label>
              <label *ngIf="list.noShow=='1'" style="color: red;">{{labels[0].notVisited}}</label>
            </td>
          </tr>
        </thead>
      </table>
      <br /><br />
    </div>
  </div>
  <br />
</div>
<br /><br /><br /><br />