<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <!-- <p style="font-size: 20px; color: white">Loading...</p> -->
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace1">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5 *ngIf="languageid==1">Book appointment</h5>
      <h5 *ngIf="languageid==6">RENDEZ-VOUS MEDECINS</h5>
    </div>
    <div class="col-lg-3" style="margin-top: -5px;text-align: end;">
      <button type="button" routerLink="/IndBookAppointment" class="btn btncolor">{{labels[0].addapp}}</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>

    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="termsss" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-3">

    </div>
    <div class="col-lg-3 label">
      <label>{{labels[0].count}} : {{count}}
      </label>
    </div>

  </div>
  <div class="row">

    <div class="col-lg-6">
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp">{{labels[0].appointmentNumber}}</th>
            <th id="imp">{{labels[0].appointmentDate}}</th>
            <th>{{labels[0].patientName}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th id="imp">{{labels[0].slot}}</th>
            <th id="imp">{{labels[0].appointmentType}}</th>
            <th>{{labels[0].doctorName}}</th>
            <th>{{labels[0].department}}</th>
            <th>{{labels[0].reasonForVisit}}</th>
            <th>{{labels[0].status}}</th>
            <!-- <th *ngIf="roleid==14&&languageid=='1'">Reason For Cancel</th>
            <th *ngIf="roleid==14&&languageid=='6'">Motif annulation</th> -->
            <th>Actions</th>
          </tr>
          <tr
            *ngFor="let details of appointmentlist |filter:term|filter:termsss  | paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
            <td>{{details.appointmentID}}</td>
            <td>{{details.appointmentdatess}}</td>
            <td>{{details.pName}}</td>
            <td>{{details.pMobileNo}}</td>
            <td>{{details.slots}}</td>
            <td>{{details.appointmentTypeText}}</td>
            <td>{{details.doctorName}}</td>
            <td>{{details.departmentname}}</td>
            <td>{{details.reasonForVisit}}</td>
            <td>

              <label *ngIf="details.earlycall=='2'&&details.isVisited=='0'"
              style="color: red;">{{labels[0].earlycallaccpeted}}
            </label>

            <label *ngIf="details.earlycall=='3'&&details.isVisited=='0'"
              style="color: red;">{{labels[0].earlycallrejeted}}
            </label>
            <label *ngIf="details.followApp=='1'" style="color:red;font-size: 5px;">{{labels[0].followup}}</label>

              <label
              *ngIf=" details.accepted=='1' &&details.cancelled=='0' &&details.docCancelled=='0'&&details.isVisited=='0' &&details.noShow=='0'&&details.earlycall=='0'"
                style="color: green;">{{labels[0].accepted}}</label>
              <label *ngIf="details.cancelled=='1'" style="color: red;">{{labels[0].cancelled}}</label>
              <label *ngIf="details.isVisited=='1'&&details.accepted=='1'"
                style="color: orange;">{{labels[0].visited}}</label>
              <label *ngIf="details.docCancelled=='1'" style="color: red;">{{labels[0].docCancelled}}</label>
              <label
                *ngIf="details.isVisited=='0'&&details.accepted=='0'&&details.cancelled=='0'&&details.docCancelled=='0'"
                style="color: rgb(255, 0, 149);">{{labels[0].pending}}</label>

              <label *ngIf="details.accepted=='1'&&details.noShow=='1'"
                style="color: red;">{{labels[0].notvisited}}</label>
            </td>
            <!-- <td *ngIf="roleid==14">
             
              <textarea rows="4" placeholder="{{labels[0].reasonForCancel}}" [(ngModel)]="details.ReasonForCancel"
                *ngIf="details.accepted=='0'&&details.cancelled=='0'&&details.docCancelled=='0'&&details.isVisited=='0'"></textarea>
            </td> -->
            <td>


              <ng-template #tipcontent2>{{labels[0].accept}}</ng-template>
              <a [ngbTooltip]="tipcontent2"
                *ngIf="details.accepted=='0'&&details.isVisited=='0'&&details.cancelled=='0'&&details.docCancelled=='0'">
                <img src="assets/Images/acc.png"
                  (click)="Appointmentstatus(details.appointmentID,details.patientID,details.notificationdate,details.doctorName,details.hospital_ClinicName,details.emailID,details.smsmobileno)"
                  style="height:20px;" />
              </a>&nbsp;&nbsp;

              <ng-template #tipcontent3>{{labels[0].cancel}}</ng-template>
              <a [ngbTooltip]="tipcontent3"
                *ngIf="details.cancelled=='0'&&details.docCancelled=='0'&&details.isVisited=='0'">
                <img src="assets/Images/can.png" style="height:20px;" data-toggle="modal" data-target="#exampleModal4"
                  (click)="cancelapp(details.appointmentID,details.ReasonForCancel)" />
              </a>&nbsp;&nbsp;

              <ng-template #tipcontent567>{{labels[0].uploaddocuments}}</ng-template>
              <a [ngbTooltip]="tipcontent567"
                *ngIf="details.accepted=='1'&&details.cancelled=='0'&&details.docCancelled=='0'">
                <img src=" assets/Images/uploadfile.png" style="height:25px;" data-toggle="modal"
                  data-target="#UploadPhotosDiagnostic" (click)="GetPrescriptionPhoto(details)" />
              </a>&nbsp;&nbsp;

              <!-- <label  >{{labels[0].paid}}</label> -->
              <ng-template #tipcontent76>{{labels[0].paid}}</ng-template>
              <a [ngbTooltip]="tipcontent76">
                <img src="assets/Images/paidfees.png"
                  *ngIf="details.payPayment=='1'&&details.cancelled=='0'&&details.docCancelled=='0'&&details.accepted=='1'"
                  style="height:20px;" />
              </a>&nbsp;

              <ng-template #tipcontent78>{{labels[0].pay}}</ng-template>
              <a [ngbTooltip]="tipcontent78">
                <img src="assets/Images/paymentss1.png" data-toggle="modal" data-target="#exampleModal3"
                  *ngIf="details.payPayment=='0'&&details.cancelled=='0'&&details.docCancelled=='0'&&details.accepted=='1'"
                  (click)="GetDetails(details)" style="height:20px;" />
              </a>&nbsp;

              <ng-template #tipcontent56>{{labels[0].receipt}}</ng-template>
              <a [ngbTooltip]="tipcontent56">
                <img src="assets/Images/Receipts.png"
                  *ngIf="details.isVisited=='1'&&details.reportBit=='0'&&details.payPayment=='1'" style="height:25px;"
                  (click)="GenerateReciept(details)" data-toggle="modal" data-target="#Reciept" /></a>&nbsp;

                  <a>
                    <img src="assets/Images/conreport.png"  style="height:25px;" title="{{labels[0].consulationReport}}" data-toggle="modal" data-target="#PdfsCheck"
                    *ngIf="details.noShow=='0'&&details.cancelled=='0'&&details.docCancelled=='0'&&details.accepted=='1'"   (click)="GetAllPrescription(details.appointmentID,details.pEmail)">
                  </a>

            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>

  <!-- *ngIf="details.appointmentTypeID=='2' && details.isVisited=='1'" -->
  <!-- <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div> -->
</div>





<!-- <div class="modal fade" id="PdfsCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <input type="checkbox" [(ngModel)]="Prescription" name="Prescription"> Prescription
            </div>
            <div class="col-lg-6">
              <input type="checkbox" [(ngModel)]="soappdf" name="soappdf"> SOAP Notes
            </div>  <br>
            <div class="col-lg-6">
              <input type="checkbox" [(ngModel)]="Test" name="Test"> Diagnostic Test
            </div>
            <div class="col-lg-6">
              <input type="checkbox" [(ngModel)]="medicalcertificate" name="medicalcertificate"> Medical Certificate
            </div><br>
            <div class="col-lg-6">
              <input type="checkbox" [(ngModel)]="referals" name="referals"> Doctor referals
            </div>
           
          </div><br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;"
             data-toggle="modal"  data-target="#mymodalss" (click)="GenaratePdf()">Genarate</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" *ngIf="languageid=='1'" id="close"
          style="background-color: #f18235;color: white;" data-dismiss="modal">{{labels[0].close}}</button>
        <button type="button" class="btn btn-secondary" *ngIf="languageid=='6'" id="close"
          style="background-color: #f18235;color: white;" data-dismiss="modal">Annuler </button>
      </div>
    </div>
  </div>
</div> -->





<div class="modal fade" id="PdfsCheck" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='1'">Refund</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='6'"> Remboursement au patient</h5> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5">
              <input type="checkbox" value="1" [(ngModel)]="soappdf" name="soappdf">&nbsp;
              <label *ngIf="languageid=='1'">SOAP Notes</label>
              <label *ngIf="languageid=='6'">Notes SOAP </label>

            </div>
            <div class="col-lg-7">
              <input type="checkbox" value="1" [(ngModel)]="referals" name="referals">&nbsp;
              <label>{{labels[0].refertodoctor}}</label>

            </div> <br>
            <div class="col-lg-5">

              <input type="checkbox" value="1" [(ngModel)]="Prescription" name="Prescription">&nbsp;
              <label *ngIf="languageid=='1'">Prescription</label>
              <label *ngIf="languageid=='6'">Ordonnance </label>
            </div>
            <div class="col-lg-7">
              <input type="checkbox" value="1" [(ngModel)]="medicalcertificate" name="medicalcertificate">&nbsp;
              <label *ngIf="languageid=='1'">Medical Certificate</label>
              <label *ngIf="languageid=='6'">Certificat médical </label>


            </div><br>
            <div class="col-lg-5">
              <input type="checkbox" value="1" [(ngModel)]="Test" name="Test">&nbsp;
              <label *ngIf="languageid=='1'">Diagnostic Test</label>
              <label *ngIf="languageid=='6'">Test de laboratoire</label>
            </div>

            <div class="col-lg-7">
              <input type="checkbox" value="1" [(ngModel)]="medical" name="medical">&nbsp;
              <label *ngIf="languageid=='6'">Evaluation médicale</label>
              <label *ngIf="languageid=='1'">Medical questionnaire</label>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-7">
              <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;"
                data-toggle="modal" data-target="#mymodalss" (click)="GenaratePdf()">
                <label *ngIf="languageid=='1'">View</label>
                <label *ngIf="languageid=='6'">Générer
                </label>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" *ngIf="languageid=='1'" id="close"
          style="background-color: #f18235;color: white;" data-dismiss="modal">{{labels[0].close}}</button>
        <button type="button" class="btn btn-secondary" *ngIf="languageid=='6'" id="close"
          style="background-color: #f18235;color: white;" data-dismiss="modal">Fermer </button>
      </div>
    </div>
  </div>
</div>




<div id="mymodalss" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width: 900px;
      height: auto;">
      <div class="modal-header">
        <!-- <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='1'">Refund</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='6'"> Remboursement au patient</h5> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" id="Prescriptions">
        <div class="container-fluid" *ngFor="let alldetails of pdfprslist">
          <div *ngIf="alldetails.prescriptionExists!='0'&&Prescription==1">
            <div class="row">
              <div class="col-lg-5">
                <img src="assets/Images/logo.png" style="width: 26%;">
              </div>
              <div class="col-lg-4">
                <h3 *ngIf="languageid=='1'">Prescription</h3>
                <h3 *ngIf="languageid=='6'">Ordonnance</h3>
              </div>
            </div>
            <hr style="color:#333;background-color:#333;">
            <div class="row">
              <div class="col-lg-5">
                <label><b>{{labels[0].patientName}}</b> : {{alldetails.patientName}}</label><br>
                <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.mobileNumber}}</label><br>
                <label><b>{{labels[0].address}}</b> : {{alldetails.address}}</label><br>
                <label><b> Email</b> : {{alldetails.emailID}}</label><br>
                <label><b> {{labels[0].nationalIDNo}}</b> : {{alldetails.nationalidno}}</label><br>
                <label><b>Age</b> : {{alldetails.age}}</label><br>
                <label><b> {{labels[0].dateOfBirth}}</b> : {{alldetails.dateOfBirth}}</label><br>
                <label><b> {{labels[0].gender}}</b> : {{alldetails.gender}}</label><br>
                <label><b> {{labels[0].appointmentNumber}}</b> : {{appointmentid}}</label><br>
              </div>
              <div class="col-lg-3">
                <h6 *ngIf="languageid==1"><b>Appointment Date</b></h6>
                <h6 *ngIf="languageid==6"><b>Date de rendez-vous</b></h6>
                <span><b style="margin-left: 20px;">{{alldetails.appointmentdate}}</b></span>
              </div>
              <div class="col-lg-4">
                <label><b>{{labels[0].doctorName}}</b> : {{alldetails.doctorName}}</label>
                <label><b>{{labels[0].registratinno}}</b> : {{alldetails.registrationNo}}</label>
                <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.doctorMobileNo}}</label>
                <label><b>{{labels[0].department}}</b> : {{alldetails.departmentname}}</label>
                <label><b>{{labels[0].address}}</b> : {{alldetails.doctorAddress}}</label>
              </div>
              <br>
            </div><br><br>
            <div class="row">
              <div class="col-lg-12">
                <table>
                  <thead>
                    <tr>
                      <th id="imp">{{labels[0].date}}</th>
                      <th id="imp">{{labels[0].drugName}} </th>
                      <th id="imp">{{labels[0].sig}} </th>
                      <th id="imp">{{labels[0].dispenseQuantity}} </th>
                      <th id="imp">{{labels[0].howmanyRefills}} </th>
                      <th id="imp">{{labels[0].noteToPharmasist}} </th>
                    </tr>
                    <tr *ngFor="let medicines of alldetails.medicines">
                      <td style="    width: 13%;">{{medicines.date}}</td>
                      <td>{{medicines.medicineName}}</td>
                      <td>{{medicines.sig}}</td>
                      <td>{{medicines.dispenseQuantity}}</td>
                      <td>{{medicines.howmanyRefills}}</td>
                      <td>{{medicines.noteToPharmasist}}</td>
                    </tr>
                  </thead>
                </table>
              </div><br>
            </div><br><br><br><br><br><br>
            <div class="row">
              <div class="col-lg-12">
                <!-- <p style="justify-content: center;">
                  Prescriptions in the USA often have a box. When checked, the pharmacist is instructed to
                  label the medication and provide information about the prescription itself is given in addition to
                  instructions on taking the medication. Otherwise, the patient is simply given the instructions. Some
                  prescribers further inform the patient and pharmacist by providing the indication for the medication;
                  i.e. what is being treated. This assists the pharmacist in checking for errors as many common
                  medications can be used for multiple medical conditions. Some prescriptions will specify whether and
                  how
                  many "repeats" or "refills" are allowed; that is whether the patient may obtain more of the same
                  medication without getting a new prescription from the medical practitioner. Regulations may restrict
                  some types of drugs from being refilled.
                </p> -->
              </div><br><br><br><br><br><br><br>
              <!-- <div cl ass="col-lg-4">s
            <img src="assets/Images/sign.png" style="width: 39%;"><br>
            <label>Prescription provided by doctor</label>
          </div> -->
            </div><br><br>
            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                <img src="assets/Images/sign.png" style="width: 39%;"><br>
                <!-- <label>Prescription provided by doctor</label><br> -->
                <b>Dr. {{alldetails.doctorName}}</b><br>
                <label><b>{{labels[0].registratinno}} : {{alldetails.registrationNo}}</b></label>
              </div>

            </div><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
          <!-- soapnotes -->

          <div *ngIf="alldetails.soapNotesExist!='0'&&soappdf==1">
            <div class="row">
              <div class="col-lg-5">
                <img src="assets/Images/logo.png" style="width: 26%;">
              </div>
              <div class="col-lg-4">
                <h3>{{labels[0].soapnotess}}</h3>
              </div>
            </div>
            <hr style="color:#333;background-color:#333;">
            <div class="row">
              <div class="col-lg-5">
                <label><b>{{labels[0].patientName}}</b> : {{alldetails.patientName}}</label><br>
                <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.mobileNumber}}</label><br>
                <label><b>{{labels[0].address}}</b> : {{alldetails.address}}</label><br>
                <label><b> {{labels[0].email}}</b> : {{alldetails.emailID}}</label><br>
                <label><b> {{labels[0].nationalIDNo}}</b> : {{alldetails.nationalidno}}</label><br>
                <label><b>{{labels[0].age}}</b> : {{alldetails.age}}</label><br>
                <label><b> {{labels[0].dateOfBirth}}</b> : {{alldetails.dateOfBirth}}</label><br>
                <label><b> {{labels[0].gender}}</b> : {{alldetails.gender}}</label><br>
                <label><b> {{labels[0].appointmentNumber}}</b> : {{appointmentid}}</label><br>
              </div>
              <div class="col-lg-3">
                <h6 *ngIf="languageid==1"><b>Appointment Date</b></h6>
                <h6 *ngIf="languageid==6"><b>Date de rendez-vous</b></h6>
                <span><b style="margin-left: 20px;">{{alldetails.appointmentdate}}</b></span>
              </div>
              <div class="col-lg-4">
                <label><b>{{labels[0].doctorName}}</b> : {{alldetails.doctorName}}</label>
                <label><b>{{labels[0].registratinno}}</b> : {{alldetails.registrationNo}}</label>
                <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.doctorMobileNo}}</label>
                <label><b>{{labels[0].department}}</b> : {{alldetails.departmentname}}</label>
                <label><b>{{labels[0].address}}</b> : {{alldetails.doctorAddress}}</label>
              </div>
              <br>
            </div><br><br>
            <h5>{{labels[0].soap}}</h5>
            <div class="row" *ngFor="let soap of alldetails.soaplist">
              <div class="col-lg-6">

                <label><b>{{labels[0].date}} : </b> {{soap.appointmentDate}}</label>

              </div><br>
              <div class="col-lg-6">
                <label><b>{{labels[0].subjective}} : </b> {{soap.subjective}}</label>
              </div>
              <div class="col-lg-6">
                <label><b>{{labels[0].objective}} : </b>{{soap.objective}}</label>
              </div>
              <div class="col-lg-6">
                <label><b>{{labels[0].assessment}} : </b>{{soap.assessment}}</label>
              </div>
              <div class="col-lg-6">
                <label><b>{{labels[0].plan}} : </b> {{soap.plan}}</label>
              </div>
              <div class="col-lg-6">
                <label><b>{{labels[0].diagnosis}} : </b> {{soap.diagnostic}}</label>
              </div>
              <div class="col-lg-6">
                <label><b>{{labels[0].diagnosisCode}} : </b> {{soap.diagnoticCode}}</label>
              </div>
              <div class="col-lg-6">
                <label><b>{{labels[0].followUpPlan}} : </b>{{soap.followUpPlan}}</label>
              </div>
            </div><br><br>
            <div class="row">
              <div class="col-lg-3">
                <label><b>{{labels[0].allergies}} : </b> {{alldetails.knownAllergies}}</label>
              </div>
              <div class="col-lg-3">
                <label><b>{{labels[0].statutvaccinal}} : </b> {{alldetails.vaccinationStatus}}</label>
              </div>
            </div><br>
            <h5>{{labels[0].vitalDetals}} </h5><br>
            <div class="row">
              <div class="col-lg-4">
                <label><b>BPM : </b> {{alldetails.bpm}}</label>

              </div>
              <div class="col-lg-4">
                <label><b>RR : </b> {{alldetails.rr}}</label>
              </div>
              <div class="col-lg-4">
                <label><b>{{labels[0].oxygen}} : </b>{{alldetails.bpm}}</label>
              </div>
              <div class="col-lg-4">
                <label><b>{{labels[0].stress}} : </b>{{alldetails.streeLevel}}</label>
              </div>
              <div class="col-lg-4">
                <label><b>{{labels[0].bloodpressure}} : </b> {{alldetails.bloodPressureStatus}}</label>
              </div>
            </div>
            <br><br><br>
            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                <img src="assets/Images/sign.png" style="width: 39%;"><br>
                <!-- <label>SOAP Notes provided by doctor</label><br> -->
                <b>Dr. {{alldetails.doctorName}}</b><br>
                <label><b>{{labels[0].registratinno}} : {{alldetails.registrationNo}}</b></label>
              </div>

            </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
          <!-- Test -->

          <div *ngIf="alldetails.diagnosticTestExist!='0'&&soappdf==1">
            <div class="row">
              <div class="col-lg-5">
                <img src="assets/Images/logo.png" style="width: 26%;">
              </div>
              <div class="col-lg-6">
                <h3 *ngIf="languageid=='1'">Diagnostic Test</h3>
                <h3 *ngIf="languageid=='6'">Test diagnostique/imagerie</h3>
              </div>
            </div>
            <hr style="color:#333;background-color:#333;">
            <div class="row">
              <div class="col-lg-5">
                <label><b>{{labels[0].patientName}}</b> : {{alldetails.patientName}}</label><br>
                <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.mobileNumber}}</label><br>
                <label><b>{{labels[0].address}}</b> : {{alldetails.address}}</label><br>
                <label><b> {{labels[0].email}}</b> : {{alldetails.emailID}}</label><br>
                <label><b> {{labels[0].nationalIDNo}}</b> : {{alldetails.nationalidno}}</label><br>
                <label><b>{{labels[0].age}}</b> : {{alldetails.age}}</label><br>
                <label><b> {{labels[0].dateOfBirth}}</b> : {{alldetails.dateOfBirth}}</label><br>
                <label><b> {{labels[0].gender}}</b> : {{alldetails.gender}}</label><br>
                <label><b> {{labels[0].appointmentNumber}}</b> : {{appointmentid}}</label><br>
              </div>
              <div class="col-lg-3">
                <h6 *ngIf="languageid==1"><b>Appointment Date</b></h6>
                <h6 *ngIf="languageid==6"><b>Date de rendez-vous</b></h6>
                <span><b style="margin-left: 20px;">{{alldetails.appointmentdate}}</b></span>
              </div>
              <div class="col-lg-4">
                <label><b>{{labels[0].doctorName}}</b> : {{alldetails.doctorName}}</label>
                <label><b>{{labels[0].registratinno}}</b> : {{alldetails.registrationNo}}</label>
                <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.doctorMobileNo}}</label>
                <label><b>{{labels[0].department}}</b> : {{alldetails.departmentname}}</label>
                <label><b>{{labels[0].address}}</b> : {{alldetails.doctorAddress}}</label>
              </div>
              <br>
            </div><br><br>
            <div class="row">
              <div class="col-lg-12">
                <table>
                  <thead>
                    <tr>
                      <th id="imp">{{labels[0].date}}</th>
                      <th id="imp">{{labels[0].testType}} </th>
                      <th id="imp">{{labels[0].testName}} </th>
                      <th id="imp">{{labels[0].clinicalInfo}} </th>
                    </tr>
                    <tr *ngFor="let test of alldetails.diagnosticTest">
                      <td style="    width: 13%;">{{test.appdate}}</td>
                      <td>{{test.name}}</td>
                      <td>{{test.testName}}</td>
                      <td>{{test.clinicalInfo}}</td>
                    </tr>
                  </thead>
                </table>
              </div><br>
            </div><br><br><br><br>
            <div class="row">
              <div class="col-lg-12">
                <!-- <p style="justify-content: center;">
                  Prescriptions in the USA often have a box. When checked, the pharmacist is instructed to
                  label the medication and provide information about the prescription itself is given in addition to
                  instructions on taking the medication. Otherwise, the patient is simply given the instructions. Some
                  prescribers further inform the patient and pharmacist by providing the indication for the medication;
                  i.e. what is being treated. This assists the pharmacist in checking for errors as many common
                  medications can be used for multiple medical conditions. Some prescriptions will specify whether and
                  how
                  many "repeats" or "refills" are allowed; that is whether the patient may obtain more of the same
                  medication without getting a new prescription from the medical practitioner. Regulations may restrict
                  some types of drugs from being refilled.
                </p> -->
              </div><br><br><br><br><br><br><br><br>
              <!-- <div cl ass="col-lg-4">s
  <img src="assets/Images/sign.png" style="width: 39%;"><br>
  <label>Prescription provided by doctor</label>
</div> -->
            </div><br><br>
            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                <img src="assets/Images/sign.png" style="width: 39%;"><br>
                <!-- <label>Diagnostic Test provided by doctor</label><br> -->
                <b>Dr. {{alldetails.doctorName}}</b><br>
                <label><b>{{labels[0].registratinno}} : {{alldetails.registrationNo}}</b></label>
              </div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
          <div *ngIf="medical==1">
            <div class="row">
              <div class="col-lg-5">
                <img src="assets/Images/logo.png" style="width: 26%;">
              </div>
              <div class="col-lg-4">
                <h5 *ngIf="languageid==6"><b>Rapport de consultation</b></h5>
                <h5 *ngIf="languageid==1"><b>Consulatation Report</b></h5>
              </div>
            </div>
            <hr style="color:#333;background-color:#333;">
            <div>
              <div class="row">
                <div class="col-lg-5">
                  <label><b>{{labels[0].patientName}}</b> : {{alldetails.patientName}}</label><br>
                  <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.mobileNumber}}</label><br>
                  <label><b>{{labels[0].address}}</b> : {{alldetails.address}}</label><br>
                  <label><b> {{labels[0].email}}</b> : {{alldetails.emailID}}</label><br>
                  <label><b> {{labels[0].nationalIDNo}}</b> : {{alldetails.nationalidno}}</label><br>
                  <label><b>{{labels[0].age}}</b> : {{alldetails.age}}</label><br>
                  <label><b> {{labels[0].dateOfBirth}}</b> : {{alldetails.dateOfBirth}}</label><br>
                  <label><b> {{labels[0].gender}}</b> : {{alldetails.gender}}</label><br>
                  <label><b> {{labels[0].appointmentNumber}}</b> : {{appointmentid}}</label><br>
                </div>
                <div class="col-lg-3">
                  <h6 *ngIf="languageid==1"><b>Appointment Date</b></h6>
                  <h6 *ngIf="languageid==6"><b>Date de rendez-vous</b></h6>
                  <span><b style="margin-left: 20px;">{{alldetails.appointmentdate}}</b></span>
                </div>
                <div class="col-lg-4">
                  <label><b>{{labels[0].doctorName}}</b> : {{alldetails.doctorName}}</label>
                  <label><b>{{labels[0].registratinno}}</b> : {{alldetails.registrationNo}}</label>
                  <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.doctorMobileNo}}</label>
                  <label><b>{{labels[0].department}}</b> : {{alldetails.departmentname}}</label>
                  <label><b>{{labels[0].address}}</b> : {{alldetails.doctorAddress}}</label>
                </div>
                <br>
              </div>
            </div>
            <div><br><br><br><br>
              <div>
                <div class="row">
                  <!-- <h5 style="text-align: center;"><b>Vital Details</b></h5>
                  <div class="table">
                    <thead>
                      <tr>
                        <td><b>BPM : {{alldetails.bpm}}</b></td>
                        <td><b>RR : {{alldetails.rr}}</b></td>
                        <td><b>Oxygen : {{alldetails.oxygenSaturation}}</b></td>
                        <td><b>Stress : {{alldetails.streeLevel}}</b></td>
                        <td><b>Blood Pressure : {{alldetails.bloodPressureStatus}}</b></td>
                      </tr>
                    </thead>
                  </div> -->
                </div><br><br>
                <div class="row">
                  <h5 style="text-align: center;" *ngIf="languageid==1"><b>Medical Questionare</b></h5>
                  <h5 style="text-align: center;" *ngIf="languageid==6"><b>Evaluation médicale</b></h5>
                  <br>
                </div>
                <div class="row" *ngFor="let medical of alldetails.medicalquestion">
                  <div class="col-lg-4">
                    <label>{{labels[0].nationalidentityno}} : <b>{{medical.nationalidno}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].attendingDoctor}} : <b>{{medical.attendingdoctor}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].medicalhistory}} : <b>{{medical.medicalHistory}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].surgeryhistory}} : <b>{{medical.surgeryHistory}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].longtermtreatment}} : <b>{{medical.longtermTreatment}}</b></label>
                  </div>

                  <div class="col-lg-4">
                    <label>{{labels[0].dietaryissues}} : <b>{{medical.dietaryIssues}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].doyoudrinkalcohol}} : <span *ngIf="medical.alcohol=='1'">
                        <b>Yes</b></span></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].areyoasmoker}} : <span *ngIf="medical.smoker=='1'"> <b>Yes</b></span></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].medicalinsurance}} : <span *ngIf="medical.medicalinsurance=='1'">
                        <b>Yes</b></span></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].doyouecescise}} : <span *ngIf="medical.exercise=='1'"> <b>Yes</b></span></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].height}} : <b>{{medical.height}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].weight}} : <b>{{medical.weight}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].bmi}} : <b>{{medical.bmi}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].statutvaccinal}} : <b>{{medical.vaccinationStatus}}</b></label>
                  </div>
                  <div class="col-lg-4">
                    <label>{{labels[0].allergies}} : <b>{{medical.knownAllergies}}</b></label>
                  </div>
                </div>
              </div>
            </div><br><br><br><br><br><br><br>
            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                <img src="assets/Images/sign.png" style="width: 39%;"><br>
                <!-- <label>Medical Questionare</label> -->
                <b>Dr. {{alldetails.doctorName}}</b><br>
                <label><b>{{labels[0].registratinno}} : {{alldetails.registrationNo}}</b></label>
              </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>

          <div *ngIf="alldetails.sickslipcount!='0'&&medicalcertificate==1">
            <div class="row">
              <div class="col-lg-5">
                <img src="assets/Images/logo.png" style="width: 26%;">
              </div>
              <div class="col-lg-4">
                <h5><b *ngIf="languageid=='1'">Medical Certificate</b></h5>
                <h5><b *ngIf="languageid=='6'">Certificat médical</b></h5>
              </div>
            </div>
            <hr style="color:#333;background-color:#333;">
            <div>
              <div class="row">
                <div class="col-lg-5">
                  <label><b>{{labels[0].patientName}}</b> : {{alldetails.patientName}}</label><br>
                  <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.mobileNumber}}</label><br>
                  <label><b>{{labels[0].address}}</b> : {{alldetails.address}}</label><br>
                  <label><b> {{labels[0].email}}</b> : {{alldetails.emailID}}</label><br>
                  <label><b> {{labels[0].nationalIDNo}}</b> : {{alldetails.nationalidno}}</label><br>
                  <label><b> {{labels[0].age}}</b> : {{alldetails.age}}</label><br>
                  <label><b> {{labels[0].dateOfBirth}}</b> : {{alldetails.dateOfBirth}}</label><br>
                  <label><b> {{labels[0].gender}}</b> : {{alldetails.gender}}</label><br>
                  <label><b> {{labels[0].appointmentNumber}}</b> : {{appointmentid}}</label><br>
                </div>
                <div class="col-lg-3">
                  <h6 *ngIf="languageid==1"><b>Appointment Date</b></h6>
                  <h6 *ngIf="languageid==6"><b>Date de rendez-vous</b></h6>
                  <span><b style="margin-left: 20px;">{{alldetails.appointmentdate}}</b></span>
                </div>
                <div class="col-lg-4">
                  <label><b>{{labels[0].doctorName}}</b> : {{alldetails.doctorName}}</label>
                  <label><b>{{labels[0].registratinno}}</b> : {{alldetails.registrationNo}}</label>
                  <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.doctorMobileNo}}</label>
                  <label><b>{{labels[0].department}}</b> : {{alldetails.departmentname}}</label>
                  <label><b>{{labels[0].address}}</b> : {{alldetails.doctorAddress}}</label>
                </div>
                <br>
              </div>
            </div><br><br><br><br>
            <div>
              <div class="row" *ngFor="let sickslip of alldetails.sicksliplist">
                <div class="col-lg-12">

                  <p [innerHTML]="sickslip.description">
                  </p>

                </div><br>
              </div>
            </div><br><br><br><br><br><br>
            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                <img src="assets/Images/sign.png" style="width: 39%;"><br>
                <!-- <label>Medical certificate provided by doctor</label> -->
                <b>{{alldetails.doctorName}}</b><br>
                <label><b>{{labels[0].registratinno}} : {{alldetails.registrationNo}}</b></label>
              </div>
            </div><br><br><br><br><br><br><br><br>
          </div>

          <div *ngIf="alldetails.referalsCount!='0'&&referals==1">
            <div class="row">
              <div class="col-lg-5">
                <img src="assets/Images/logo.png" style="width: 26%;">
              </div>
              <div class="col-lg-4">
                <h5 *ngIf="languageid=='1'"><b>Doctor Referals</b></h5>
                <h5 *ngIf="languageid=='6'"><b>Références de médecins</b></h5>
              </div>
            </div>
            <hr style="color:#333;background-color:#333;">
            <div>
              <div class="row">
                <div class="col-lg-5">
                  <label><b>{{labels[0].patientName}}</b> : {{alldetails.patientName}}</label><br>
                  <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.mobileNumber}}</label><br>
                  <label><b>{{labels[0].address}}</b> : {{alldetails.address}}</label><br>
                  <label><b> {{labels[0].email}}</b> : {{alldetails.emailID}}</label><br>
                  <label><b> {{labels[0].nationalIDNo}}</b> : {{alldetails.nationalidno}}</label><br>
                  <label><b>{{labels[0].age}}</b> : {{alldetails.age}}</label><br>
                  <label><b> {{labels[0].dateOfBirth}}</b> : {{alldetails.dateOfBirth}}</label><br>
                  <label><b> {{labels[0].gender}}</b> : {{alldetails.gender}}</label><br>
                  <label><b> {{labels[0].appointmentNumber}}</b> : {{appointmentid}}</label><br>
                </div>
                <div class="col-lg-3">
                  <h6 *ngIf="languageid==1"><b>Appointment Date</b></h6>
                  <h6 *ngIf="languageid==6"><b>Date de rendez-vous</b></h6>
                  <span><b style="margin-left: 20px;">{{alldetails.appointmentdate}}</b></span>
                </div>
                <div class="col-lg-4">
                  <label><b>{{labels[0].doctorName}}</b> : {{alldetails.doctorName}}</label>
                  <label><b>{{labels[0].registratinno}}</b> : {{alldetails.registrationNo}}</label>
                  <label><b>{{labels[0].phoneNo}}</b> : {{alldetails.doctorMobileNo}}</label>
                  <label><b>{{labels[0].department}}</b> : {{alldetails.departmentname}}</label>
                  <label><b>{{labels[0].address}}</b> : {{alldetails.doctorAddress}}</label>
                </div>
                <br>
              </div>
            </div><br><br><br><br>

            <div class="row" *ngFor="let ref of alldetails.referalist">
              <div class="col-lg-12">
                <p [innerHTML]="ref.referalNotes">
                </p>

              </div><br>
            </div><br><br><br><br>

            <div class="row">
              <div class="col-lg-8">
              </div>
              <div class="col-lg-4">
                <img src="assets/Images/sign.png" style="width: 39%;"><br>
                <!-- <label>Doctor Referals provided by doctor</label> -->
                <b>Dr. {{alldetails.doctorName}}</b><br>
                <label><b>{{labels[0].registratinno}} : {{alldetails.registrationNo}}</b></label>
              </div>
            </div><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
      </div>
      <div class="modal-footer" style="margin-top: -24px;">
        <button type="button" class="btn btn-default" style="background-color: #f18235;color: white;"
          data-dismiss="modal" (click)="SavePdf()">{{labels[0].sendtopatient}}</button>


        <button type="button" class="btn btn-default" style="background-color: #f18235;color: white;"
          data-dismiss="modal" (click)="DownloadPDf()">{{labels[0].download}}</button>


      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='1'">Cancellation</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='6'">Annulation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <label >{{labels[0].reasonForCancel}}</label>
           
            </div>
            <div class="col-lg-6">
              <textarea class="form-control" rows="4" placeholder="{{labels[0].reasonForCancel}}" [(ngModel)]="ReasonForCancel"
                name="ReasonForCancel">
              </textarea>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-6">
              <input type="radio" data-dismiss="modal"
                (click)="cancelappoinement()">&nbsp;{{labels[0].patientscancelled}}
            </div>
            <div class="col-lg-6">
              <input type="radio" data-dismiss="modal" (click)="DocCancelled()">&nbsp;{{labels[0].doctorscanceled}}
            </div>
          </div><br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235; color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='1'">Pay</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='6'">Paiement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <label class="DEPARTMENT_label"> {{labels1[0].amount}} (DH) :</label>
            </div>
            <div class="col-lg-6">
              <input type="text" [(ngModel)]="PaidAmount" id="Amount" name="PaidAmount" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4">
              <label class="DEPARTMENT_label">{{labels[0].payment_Type}} </label>
            </div>
            <div class="col-lg-6">
              <select class="form-control" [(ngModel)]="PaymentTypeID" (change)="GetPaymentTypeID($event)">
                <option value="" selected>{{labels[0].payment_Type}}</option>
                <option *ngIf="languageid=='1'" value="3">En espèces</option>
                <!-- <option *ngIf="languageid=='1'"  value="2">Credit Card / Debit Card</option> -->
                <option *ngIf="languageid=='6'" value="3">En espèces</option>
                <!-- <option *ngIf="languageid=='6'"  value="2">Carte de débit/crédit’</option> -->
                <!-- <option value="3">Debit Card</option> -->
              </select>
            </div>
          </div>
          <br>
          <!-- <div *ngIf="PaymentTypeID=='2'||PaymentTypeID=='3'">
            <div class="row">
              <div class="col-lg-4">
                <label>Card No</label>
              </div>
              <div class="col-lg-6">
                <input placeholder="Enter Card No" type="text" class="form-control" id="CardNo" name="CardNo"
                  maxlength=12>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>Expiry Date</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="MM" id="month" maxlength=2 />
                <input type="text" class="form-control" placeholder="YYYY" id="year" maxlength=4 />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>CVV</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="CVV" id="CVV" name="CVV" maxlength=3 />
              </div>
            </div>
          </div> -->
          <br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" style="width: 65px;"
                data-dismiss="modal" (click)="insertpaymentDetails()">{{labels[0].pay}}</button>
            </div>
            <div class="col-lg-5">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235; color: white;"
         *ngIf="languageid=='1'" data-dismiss="modal">{{labels[0].close}}</button>
         <button type="button" class="btn btn-secondary" style="background-color: #f18235; color: white;"
         *ngIf="languageid=='6'" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>












<div class="modal fade" id="Reciept" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 153%;
      margin-left: -160px;
  ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].receiptt}}</h5>
        <!-- <img src="assets/Images/logo.png" style="height: 33px;
          margin-left: 539px;"> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="container-fluid" id="content">
          <div class="row">
            <div class="col-lg-6">
              <div>Date : {{adate}}</div>
              <div>{{labels[0].receiptNo}} : {{appointmentID}} </div>
              <div>{{labels[0].patientName}} : {{patientName}}</div>
              <div>{{labels[0].nationalIDNo}} : {{nationaidno}}</div>
              <div>{{labels[0].address}} : {{patientaddress}}</div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">
              <!-- <label>Video Call Reciept</label> -->
              <div>{{doctorName}}</div>
              <div>{{regno}} </div>
              <div>{{hospital_ClinicName}}</div>
              <div>{{docaddres}}</div>

              <!-- <div>{{labels[0].phoneNoo}} : {{mobileNumber}}</div>

            <div>{{labels[0].patientName}} : {{patientName}}</div> -->

            </div>
          </div>
          <hr>

          <!-- <label>Slot : {{slots}}</label>
  
              <label>Name : {{patientName}}</label>
  
              <label>Phone No : {{pMobileNo}}</label>
  
              <label>Paid Amount: {{videoAmount}}</label> -->

          <div class="row">
            <div class="col-lg-4">
              Date
            </div>
            <div class="col-lg-4">
              Description
            </div>
            <div class="col-lg-4">
              {{labels[0].charge}}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              {{adate}}
            </div>
            <div class="col-lg-4">
              {{labels[0].vediocallreciept}} {{appointmentType}}
            </div>
            <div class="col-lg-4">
              {{videoAmount}}
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div style="text-align: end;
              margin-top: 81px;
              margin-right: 46px;">
            <!-- <label>{{labels[0].totalCharges}} : {{videoAmount}}</label> -->
          </div>

          <div style="margin-top: -83px;">
            {{labels[0].doctorr}} : {{doctorName}}
            <!-- <img src="{{signatureURL}}" style="height: 69px;"> -->

            <label style="text-align: end;float: right;">{{labels[0].totalCharges}} : {{videoAmount}}</label>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-md allbtns btncolor" data-dismiss="modal">{{labels[0].close}}</button>
        <button type="button" class="btn btn-md allbtns btncolor" (click)="SavePDF()"
          data-dismiss="modal">{{labels[0].sendEmail}}</button>

        <button type="button" class="btn btn-md allbtns btncolor" (click)="SavePDF1()"
          data-dismiss="modal">Download</button>
      </div>
    </div>
  </div>
</div>





















<!-- Upload prescription photo -->

<div class="modal fade" id="UploadPhotosDiagnostic" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="languageid=='1'" id="exampleModalLabel">Upload documents</h5>
        <h5 class="modal-title" *ngIf="languageid=='6'" id="exampleModalLabel">Télécharger des documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          <!-- <div class="col-lg-2">

          </div> -->
          <div class="col-lg-4">
            <input type="radio" value="1" [(ngModel)]="diasoaptypeid" name="diasoaptypeid">&nbsp;{{labels[0].tests}}
          </div>
          <div class="col-lg-4">
            <input type="radio" value="3" [(ngModel)]="diasoaptypeid" name="diasoaptypeid">&nbsp;{{labels[0].ptrescriptions}}
          </div>
          <div class="col-lg-4">
            <input type="radio" value="2" [(ngModel)]="diasoaptypeid" name="diasoaptypeid">&nbsp;{{labels[0].soapnotess}}
          </div>
        </div><br>

        
        <div class="row">
          <div class="col-lg-4">
            <input type="radio" value="4" [(ngModel)]="diasoaptypeid"
              name="diasoaptypeid">&nbsp;{{labels[0].medcalCertificate}}
          </div>
          <div class="col-lg-6">
            <input type="radio" value="5" [(ngModel)]="diasoaptypeid"
              name="diasoaptypeid">&nbsp;{{labels[0].refeletter}}
          </div>
        </div>
        <div *ngIf="diasoaptypeid=='1'||diasoaptypeid=='2'||diasoaptypeid=='3'||diasoaptypeid=='4'||diasoaptypeid=='5'">
          <div class="row">
            <!-- <label>Upload Photo</label> -->

            <div class="col-lg-12">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload1($event)" class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let photo of shoprescphoto">
                <img src="{{photo}}" style="height:70px;width:50px">&nbsp;
              </span>
            </div>
          </div>
          <button style="margin-top: 10px;margin-left: 90px;" type="button" class="btn btn-md allbtns btncolor"
            (click)="InsertDiagnostictestAndSoap()" *ngIf="diasoaptypeid=='1'||diasoaptypeid=='2'"
            data-dismiss="modal">{{labels[0].save}}</button>

          <button style="margin-top: 10px;margin-left: 90px;" type="button" class="btn btn-md allbtns btncolor"
            (click)="InsertPrescrptionPhoto()" *ngIf="diasoaptypeid=='3'"
            data-dismiss="modal">{{labels[0].save}}</button>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-md allbtns btncolor" data-dismiss="modal">{{labels[0].close}}</button>
        <!-- <button type="button" class="btn btn-secondary" (click)="SendReciept()" data-dismiss="modal">Send Email</button> -->
      </div>
    </div>
  </div>
</div>
