<div class="container-fluid card card:hover headerrspace">
  <div class="row headerspace" style="margin-top: 10px;">
    <div class="col-lg-3">
      <h5>{{labels1[0].digorders}}</h5>
    </div>
    <div class="col-lg-7">
    </div>

    <div class="col-lg-2">
      <button type="button" routerLink="/NewAppointment" style="float: right;background-color:  #f18235;color: white;"
        *ngIf="recpid!=undefined" class="btn btncolor">{{labels[0].newAppointment}}</button>
    </div>

  </div>
</div><br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>

    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="term">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp">{{labels[0].ordedate}}</th>
            <th id="imp">{{labels[0].diaAppointmentType}}</th>
            <th id="imp">{{labels[0].slot}}</th>
            <th id="imp">{{labels[0].orderNumber}}</th>
            <th>{{labels4[0].primarypatientname}}</th>
            <th>{{labels4[0].phoneNoo}}</th>
            <th>{{labels4[0].bookedPatientname}}</th>
            <!-- <th>{{labels[0].patientname}}</th>
            <th>{{labels[0].phoneNo}}</th> -->
            <!-- <th>{{labels[0].emailId}}</th> -->
            <th>{{labels4[0].bookedpatientphno}}</th>
            <th>{{labels[0].address}}</th>
            <th>{{labels[0].homeSample}}</th>
            <th>{{labels[0].assignedname}}</th>
            <th>{{labels[0].paymentType}}</th>
            <th>{{labels[0].paidAmount}}</th>
            <th>{{labels[0].details}}</th>
            <th>{{labels[0].status}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr [style.background-color]="details.appointmentColorCode" *ngFor="let details of diagnosticlist|filter:term| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}
          ">
            <td>{{details.appdate}}</td>
            <td>{{details.appointmentTypeText}}</td>
            <td>{{details.slotTime}}</td>
            <td>{{details.id}}</td>
            <td>{{details.patientName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.relatinpatientnme}}</td>
            <td>{{details.relationmobileno}}</td>
            <!-- <td>{{details.emailID}}</td> -->
            <td>{{details.relationaddress}}</td>
            <td>
              <label *ngIf="details.homeSampleBit=='1'&&details.diagnosticSlotID!='0'">{{labels[0].yes}}</label>
              <label *ngIf="details.homeSampleBit=='0'&&details.diagnosticSlotID!='0'">{{labels[0].no}}</label>


              <label *ngIf="details.homeSampleBit=='1'&&details.appointmentType=='2'">{{labels[0].yes}}</label>
              <label *ngIf="details.homeSampleBit=='0'&&details.appointmentType=='2'">{{labels[0].no}}</label>


            </td>
            <td>
              {{details.assinedname}}
            </td>


            <td>
              {{details.paymentName}}
            </td>

            <td>
              {{details.paidAmount|number:'1.2-2'}} 
            </td>
            <td>
              <ng-template #tipcontent18>{{labels[0].tests}}</ng-template>
              <a [ngbTooltip]="tipcontent18">
                <img src="assets/Images/test1.png" *ngIf="details.testsCount!=0" data-toggle="modal"
                  data-target="#exampleModal2" style="height:20px;"
                  (click)="GetTestsID(details.id,details.hideupdate,details)">
              </a>&nbsp;
              <ng-template #tipcontent20>{{labels[0].packages}}</ng-template>
              <a [ngbTooltip]="tipcontent20" *ngIf="details.packageCount!=0">
                <img src="assets/Images/pack1.png" data-toggle="modal" data-target="#exampleModal3" style="height:20px;"
                  (click)="GetPackageID(details.id)">&nbsp;
              </a>
              <ng-template #tipcontent2045>Photo</ng-template>
              <a [ngbTooltip]="tipcontent2045">
                <img src="assets/Images/phaprescripton.png"
                  *ngIf="details.appointmentType=='2'&&details.photoexist=='1'" data-toggle="modal"
                  data-target="#exampleModal6" style="height:20px;" (click)="GetAttachments(details.id)"></a>  <br>

              <ng-template #tipcontent2094>Pdf</ng-template>
              <a [ngbTooltip]="tipcontent2094" *ngIf="details.appointmentType=='2'&&details.fileAvailableBit=='1'">
                <img src="assets/Images/pdf.png" style="height:20px;" (click)="GetPdf(details.fileUrl)">
                &nbsp;&nbsp;</a>
              <br>

              <img src="assets/Images/price.png" data-toggle="modal" data-target="#AcceptModal" style="height:20px;"
                *ngIf="details.appointmentType=='2'&&details.acceptedBit==0" (click)="GetAppointmentAcceptBit(details.id,details.patientID,details.diagnosticCenterName,details.notificationdate,details.emailID,details.smsmobileno,details.homeTypeText)">&nbsp;

            </td>

            <td>
              <label
                *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.deliverPatnerAssigned=='0'&&details.paymentType=='0'&&details.hideupdate=='0'&&details.rejected=='0'"
                style="color: green;">{{labels[0].accepted}}</label>
              <label
                *ngIf="details.diagnosticCancelled=='1'||details.rejected=='1'&&details.approved=='0'&&details.acceptedBit=='0'&&details.notVisited=='0'"
                style="color: red;">{{labels[0].cancelled}}</label>
              <label
                *ngIf="details.cancelled=='1'||details.rejected=='1'&&details.approved=='0'&&details.acceptedBit=='0'&&details.notVisited=='0'"
                style="color: red;">{{labels[0].patientCancelled}}</label>
              <label *ngIf="details.rejected=='1'&&details.samplesCollected=='0'"
                style="color: red;">{{labels[0].labtechrejected}}</label>

              <label
                *ngIf="details.accepted=='1'&&details.approved=='0'&&details.samplesCollected=='0'&&details.uploadedBit=='0'"
                style="color: green;">{{labels[0].technitianAccepted}}</label>


              <label
                *ngIf="details.accepted=='1'&&details.approved=='0'&&details.samplesCollected=='1'&&details.uploadedBit=='0'"
                style="color: green;">{{labels[0].samplesCollected}}</label>
              <label *ngIf="details.approved=='1'&&details.uploadedBit=='0'&&details.rejected=='0'"
                style="color: yellowgreen;">{{labels[0].visited}}</label>
              <label *ngIf="details.approved=='1'&&details.uploadedBit=='1'&&details.rejected=='0'"
                style="color: yellowgreen;">{{labels[0].reportdelivered}}</label>

              <label *ngIf="details.notVisited=='1'"
                style="color: rgba(153, 205, 50, 0);">{{labels[0].notVisited}}</label>

              <label
                *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.paymentType=='0'&&details.deliverPatnerAssigned=='0'&&details.hideupdate=='1'&&details.rejected=='0'"
                style="color: green;">{{labels[0].pricesenttopatient}}</label>

              <label
                *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.paymentType!='0'&&details.deliverPatnerAssigned=='0'&&details.paymentType=='3'&&details.rejected=='0'"
                style="color: green;">{{labels[0].codPayment}}</label>

              <label
                *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.paymentType!='0'&&details.deliverPatnerAssigned=='0'&&details.paymentType!='3'&&details.rejected=='0'"
                style="color: green;">{{labels[0].readyfordelivery}}</label>

              <label
                *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.deliverPatnerAssigned=='1'&&details.rejected=='0'&&details.accepted=='0'"
                style="color: green;">({{labels[0].assigned}}{{details.assinedname}})</label>
            </td>
            <td>
              <table style="box-shadow:none">
                <tr>
                  <td style="border:none">
                    <ng-template #tipcontent10>{{labels[0].cancel}}</ng-template>
                    <a [ngbTooltip]="tipcontent10"
                      *ngIf="details.acceptedBit=='0'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'">
                      <img src="assets/Images/can.png" data-toggle="modal" data-target="#exampleModal"
                        (click)="cancelmedicine(details.id,details.patientID,details.diagnosticCenterName,details.slotName,details.emailID,details.smsmobileno,details.appdate,details.notificationdate)"
                        style="height:19px;">
                    </a>
                  </td>
                  <td style="border:none">
                    <ng-template #tipcontent2>{{labels[0].accept}}</ng-template>
                    <a [ngbTooltip]="tipcontent2"
                      *ngIf="details.acceptedBit=='0'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.appointmentType=='1'">
                      <img src="assets/Images/acc.png"
                        (click)="Appointmentstatus(details.id,details.patientID,details.diagnosticCenterName,details.notificationdate,details.emailID,details.smsmobileno,details.homeTypeText)"
                        style="height:19px;">
                    </a>
                    <ng-template #tipcontent2>{{labels[0].accept}}</ng-template>
                    <a [ngbTooltip]="tipcontent2"
                      *ngIf="details.acceptedBit=='0'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.appointmentType=='2'">
                      <img src="assets/Images/acc.png" data-toggle="modal" data-target="#AcceptModal"
                        (click)="GetAppointmentAcceptBit(details.id,details.patientID,details.diagnosticCenterName,details.notificationdate,details.emailID,details.smsmobileno,details.homeTypeText)"
                        style="height:19px;">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="border:none">
                    <!-- <ng-template #tipcontent3>{{labels[0].visited}}</ng-template>
                    <a [ngbTooltip]="tipcontent3"
                      *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'&&details.homeSampleBit=='0'">
                      <img src="assets/Images/Visit.png"
                        (click)="Approvestatus(details.id,details.patientID,details.diagnosticCenterName,details.slotName,details.emailID)"
                        style="height:19px;">
                    </a> -->
                  </td>
                  <td style="border:none">
                    <ng-template #tipcontent5>{{labels[0].notVisited}}</ng-template>
                    <a [ngbTooltip]="tipcontent5"
                      *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.approved=='0'&&details.notVisited=='0'">
                      <img src="assets/Images/notvisit.png"
                        (click)="UpdateDiagnosticAppointmentsNotVisitedBit(details.id)" style="height:19px;">
                    </a>
                  </td>
                </tr>
                <tr>
                  <td style="border:none">
                    <ng-template #tipcontent984>{{labels[0].assign}}</ng-template>
                    <a [ngbTooltip]="tipcontent984"
                      *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.notVisited=='0'&&details.homeSampleBit=='1'&&details.deliverPatnerAssigned=='0'">
                      <!-- &&details.deliverPatnerAssigned=='0' -->
                      <img src="assets/Images/staff.png" data-toggle="modal" data-target="#AssignPatners"
                        style="height:19px;" (click)="GetAssaignOrderdetails(details)">
                    </a>
                  </td>
                  <td style="border:none">
                    <ng-template #tipcontent8>{{labels[0].uploadreport}}</ng-template>
                    <a [ngbTooltip]="tipcontent8"
                      *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.notVisited=='0'&&details.uploadedBit=='0'">
                      <img src="assets/Images/uploadfile.png" data-toggle="modal" data-target="#exampleModal1"
                        style="height:19px;"
                        (click)="GetUploadReportID(details.id,details.patientID,details.diagnosticCenterID,details.emailID,details.diagnosticCenterName,details.smsmobileno)">
                    </a>
                  </td>

                  <td style="border:none">
                    <ng-template #tipcontent9867>{{labels[0].chat}}</ng-template>
                    <span style="color: green;position: absolute;margin-left: 22px;"
                      *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.notVisited=='0'&&details.uploadedBit=='0'">{{details.chatcount}}</span>
                    <a [ngbTooltip]="tipcontent9867">
                      <img src="assets/Images/chat.png"
                        *ngIf="details.acceptedBit=='1'&&details.cancelled=='0'&&details.diagnosticCancelled=='0'&&details.notVisited=='0'&&details.uploadedBit=='0'"
                        style="height:19px;" (click)="GetChatShowID(details)">
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </thead>
      </table><br>
    </div><br><br>
  </div><br><br><br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div><br>
</div><br><br>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].reasonForCancel}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-8">
              <textarea class="form-control" placeholder="Reason" [(ngModel)]="reason" rows="5" cols="30"></textarea>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-primary" style="background-color: #f18235;color: white;border:none"
                (click)="canclediagnosticappointment()">{{labels[0].save}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;border:none"
          data-dismiss="modal" id="Close">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].uploadreport}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].diagnosticReport}} :</label>
            </div>
            <div class="col-lg-6">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)"
                class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
            </div>
            <div class="col-lg-3">
              <span *ngFor="let photo of showphoto">
                <img src="{{photo}}" style="height:70px;width:50px" (click)="open(photo)">&nbsp;
              </span>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].notes}} :</label>
            </div>
            <div class="col-lg-6">
              <textarea rows="4" [(ngModel)]="notes" name="notes" class="form-control"></textarea>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-6">
              <button class="btn btn-primary" (click)="insertdiagnosticupload()"
                style="background-color: #f18235;color: white;border:none"
                data-dismiss="modal">{{labels[0].sendtopatient}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;border:none"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content  modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].tests}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <table>
                <thead>
                  <tr>
                    <th>{{labels[0].tests}}</th>
                    <th>Description</th>
                    <th>{{labels[0].price}}</th>
                    <th>{{labels[0].available}}</th>
                  </tr>
                  <tr *ngFor="let listss of testslist">
                    <td>{{listss.testName}}</td>
                    <td>{{listss.description}}</td>
                    <td>
                      <input type="text" [(ngModel)]="listss.fees" name="listss.fees" class="form-control" *ngIf="hideupdate=='0'"
                        placeholder="{{labels[0].price}}">

                        <input type="text"  class="form-control" *ngIf="hideupdate=='1'"
                        placeholder="{{listss.fees|number:'1.2-2'}}">

                    </td>
                    <td><input type="checkbox" disabled [(ngModel)]="listss.available"></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-5">
              <button style="background-color: #f18235;color: white;border:none;padding: 6px;
              border-radius: 5px;" (click)="InsertAvailabletest()" data-dismiss="modal"
                *ngIf="hideupdate=='0'">{{labels[0].sendtopatient}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235; color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].packages}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <table>
                <thead>
                  <tr>
                    <th>{{labels[0].packageName}}</th>
                    <th>{{labels[0].tests}}</th>
                    <th>Description</th>
                    <th>{{labels[0].price}}</th>
                    <th>Actions</th>
                  </tr>
                  <tr *ngFor="let listsssss of packagelist">
                    <td>{{listsssss.packageName}}</td>
                    <td>{{listsssss.testNames}}</td>
                    <td>{{listsssss.description}}</td>
                    <td>{{listsssss.price}}</td>
                    <td><input type="checkbox" [(ngModel)]="listsssss.available"></td>
                  </tr>
                </thead>
              </table>
            </div>
          </div><br>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235; color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="AssignPatners" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="width: 136%;">
    <div class="modal-content" style="width: 136%;">
      <div class="modal-header" style="width: 97%;">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].assign}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <table>
                <tr>
                  <th>{{labels[0].name}}</th>
                  <th>{{labels[0].phoneNo}} </th>
                  <th>{{labels[0].email}}</th>
                  <th>{{labels[0].assign}}</th>
                </tr>
                <tr *ngFor="let list of homesamplelist">
                  <td>
                    {{list.name}}
                  </td>
                  <td>
                    {{list.phoneNo}}
                  </td>
                  <td>
                    {{list.emailID}}
                  </td>
                  <td>
                    <button style="background-color: #f18235; color: white;border:none" (click)="Insertdetails(list)"
                      data-dismiss="modal">{{labels[0].assignn}}</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235; color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 868px;
      height: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Photo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6" *ngFor="let attachme of attachments">
            <img src="{{attachme.attachment}}" style="height: 100%;width: 100%;"><br>
          </div><br>
        </div><br>
      </div><br>
      <div class="modal-footer">
        <!-- <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal"> {{labels[0].download}}</button> -->

        <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="AcceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 800px;
      height: auto;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].amountsss}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" [(ngModel)]="amount" placeholder="{{labels[0].amount}}"
              name="amount">
          </div>
          <div class="col-lg-1">
            DH
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-3">
            <button style="background-color: #f18235;color: white;border:none" (click)="GetAppointmentAccept()"
              class="btn btn-block btn-md allbtns btncolor" data-dismiss="modal">{{labels[0].update}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal"> {{labels[0].download}}</button> -->

        <button type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>





<!-- chat -->

<div class="chat-popup" id="myForm">
  <form class="form-container" #chatfrom="ngForm">
    <div class="container-fluid card card-hover" style="height: 550px;width:530px;">
      <br>
      <div class="row">
        <div class="col-lg-5">
          <h5>{{labels4[0].chat}}</h5>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-2">
          <img src="assets/Images/can.png" (click)="GetShowOff()">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <!-- <h4>{{labels[0].chatmessagee}}</h4> -->
          <!-- <span *ngIf="istyping==true">typing .... </span> -->
        </div>
      </div>
      <!-- id="chatboxdiv" -->
      <div style="height: 500px;overflow-y: scroll;" id="chatboxdiv">
        <div *ngFor='let convo of coversationarray'>
          <div class="container" *ngIf='convo.user=="doc"'>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-1"></div>
              <div class="col-lg-7" style="background-color:#dbdbdb;border-radius: 5px;color:black;">
                <div *ngIf="convo.msgtype=='1'">
                  <img src="{{docphoto}}" class="rounded-circle" style="width:26px;;margin-top: 5px;margin-right: 3%;
                    float: left;">
                  <p style="margin-top: 5px;">{{convo.chatmsg}}
                    <span style="float: right;;margin-top: 5px;">
                      {{convo.time}}
                    </span>
                  </p>
                </div>
                <div *ngIf="convo.msgtype=='2'">
                  <img src="{{convo.chatmsg}}" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
          <div class="container" *ngIf='convo.user=="pat"'>
            <div class="row">
              <div class="col-lg-7" style="background-color:#1dbfd2;border-radius: 5px;color:white;margin-top: 1px;">
                <div *ngIf="convo.msgtype=='1'">
                  <p style="margin-top: 5px;">
                    <img src="{{patientphoto}}" class="rounded-circle" style="width:26px;margin-top: 5px;"> &nbsp;
                    {{convo.chatmsg}}
                    <span style="float: right;;margin-top: 5px;">
                      {{convo.time}}
                    </span>
                  </p>
                </div>
                <div *ngIf="convo.msgtype=='2'">
                  <img src="{{convo.chatmsg}}" style="width: 100%;">
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <hr>
      <div class="container-fluid" style="border: 1px solid #bcbcbc;  padding-top: 2%;  padding-bottom: 1.5%;">
        <div class="row">
          <div class="col-lg-9">
            <!-- <input type="text" [(ngModel)]="chatconversation" name="chatconversation" required class="form-control"
                  placeholder="{{labels[0].typemsg}}"></textarea> -->
            <input type="text" [(ngModel)]="chatconversation" name="chatconversation" required class="form-control"
              style=" border-style:none;" placeholder="{{labels4[0].typeamessage}}" />
          </div>
          <div class="col-lg-3">
            <button type="submit" class="chat form-control" [disabled]="chatfrom.form.invalid"
              (click)="InsertChatDetails()">{{labels4[0].send}}
              <!-- <img src="assets/Images/send.png" alt="Avatar" class="right"  style="width:50%;"> -->
            </button>
          </div>
          <!-- <div class="col-lg-1">
                <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100"
                  style="height: 50px;">
                </ngx-dropzone>
              </div> -->
        </div>
      </div>
      <br>
    </div>
    <br>
  </form>
</div>