<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-12">
      <!-- <h5>{{labels[0].diagnosticSlotRegisration}}</h5> -->
      <h5>Planning</h5>
    </div>
  </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <div *ngIf="shodrop=='1'">
    <div class="row " style="margin-top:20px;">
      <div class="col-lg-3">
        <label class="dname_label">{{labels[0].diagnosticCenter}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <!-- <select class="dropdown form-control ng-pristine" (change)="GetDiagnosticID($event)">
          <option value="" selected>Select</option>
          <option *ngFor="let details of diagnosticlist" value="{{details.id}}">{{details.diagnosticCenterName}}</option>
        </select> -->
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="diagnosticlist"
          [settings]="diadnosticdd" (onSelect)="GetDiagnosticID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <BR>
  </div>
  <!-- <div *ngIf="dummdiagnosticid!='0'">
    <div class="row " style="margin-top:20px;">
      <div class="col-lg-3">
        <label class="dname_label">{{labels[0].diagnosticCenter}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="dropdown form-control ng-pristine" (change)="GetDiagnosticID($event)">
            <option value="" selected>Select</option>
            <option *ngFor="let details of diagnosticlist" value="{{details.id}}">{{details.diagnosticCenterName}}</option>
          </select>
         <input type="text" disabled class="form-control" [(ngModel)]="diagnosticname" name="diagnosticname"> 
      </div>
    </div>
    <BR>
  </div> -->
  <div class="row">
    <div class="col-lg-3">
      <label>
        {{labels[0].day}}: </label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <!-- <select class="form-control" (change)="GetDaysID($event)">
          <option value="" selected> {{labels[0].select}}</option>
          <option *ngFor="let days of  dayslist" value={{days.id}}>{{days.dayOfTheWeek}}</option>
        </select> -->

      <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="dayslist" [settings]="daysdd"
        (onSelect)="GetDaysID($event)" (onDeSelect)="GetDaysID($event)">
      </ng-multiselect-dropdown>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="Slot_label">{{labels[0].scheduletype}}:</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-9">
      <input type="radio" [(ngModel)]="appointmenttype" name="appointmenttype" value="1"> &nbsp;
      {{labels[0].homesample}}
      &nbsp;
      <input type="radio" [(ngModel)]="appointmenttype" name="appointmenttype" value="2"> &nbsp;
      {{labels[0].diagnosticentre}} &nbsp;
    </div>
    <div class="col-lg-3">
      <label class="Slot_label">{{labels[0].slots}}:</label>
      <span class="required">*</span>
    </div>

    <div class="col-lg-3" *ngIf="appointmenttype=='1'">
      <select class="form-control" (change)="getmrngfrom($event)" [(ngModel)]="mrngfromid" name="mrngfromid">
        <option value="">{{labels[0].startTime}}</option>
        <option *ngFor="let mrngfrm of mrngfromlist" value="{{ mrngfrm.id }}">{{ mrngfrm.slotName }}</option>
      </select>
    </div>
    <div class="col-lg-3" style="margin-top: 0px;" *ngIf="appointmenttype=='1'">
      <select class="form-control" (change)="getmrngto($event)" [(ngModel)]="mrngtoid" name="mrngtoid">
        <option value="">{{labels[0].endTime}}</option>
        <option *ngFor="let mrngto of mrngtolist" value="{{ mrngto.id }}">{{ mrngto.slotName
          }}</option>
      </select>
    </div>

    <div class="col-lg-2" *ngIf="appointmenttype=='1'">
      <input type="text" class="form-control" placeholder="{{labels[0].noofappointments}}" [(ngModel)]="homenoofappointments"
        name="homenoofappointments">
    </div>

    <div class="col-lg-3" *ngIf="appointmenttype=='2'">
      <select class="form-control" (change)="GetDiagnosticFromSlots($event)" [(ngModel)]="diafromid" name="diafromid">
        <option value="">{{labels[0].startTime}}</option>
        <option *ngFor="let mrngfrm of diagnsticfromlist" value="{{ mrngfrm.id }}">{{ mrngfrm.slotName }}</option>
      </select>
    </div>
    <div class="col-lg-3" style="margin-top: 0px;" *ngIf="appointmenttype=='2'">
      <select class="form-control" (change)="getDiagnosticToSlots($event)" [(ngModel)]="diatoid" name="diatoid">
        <option value="">{{labels[0].endTime}}</option>
        <option *ngFor="let mrngto of diatolist" value="{{ mrngto.id }}">{{ mrngto.slotName
          }}</option>
      </select>
    </div>
    <div class="col-lg-2" *ngIf="appointmenttype=='2'">
      <input type="text" class="form-control" placeholder="{{labels[0].noofappointments}}" [(ngModel)]="dianoofappointments"
        name="dianoofappointments">
    </div>

  </div><br>
  <div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-block btn-md allbtns btncolor"
        (click)="adddetails()">{{labels[0].add}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div><br>
  <div class="row" *ngIf="tablecount=='1'">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].startTime}}</th>
            <th>{{labels[0].endTime}}</th>
            <th>Schedule Type</th>
            <th>No of Appointments</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let details of qwerty">
            <td [style.background-color]="details.Color">{{details.StartTime}}</td>
            <td [style.background-color]="details.Color">
              {{details.EndTime}}</td>
              <td>{{details.AppointmentName}}</td>
            <td>{{details.NoOfAppointments}}</td>
            <td>
              <ng-template #tipcontent2>Delete</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" (click)="delete(details.Sno)" style="width: 20px;margin-left: 10px;">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div><br>
  <div class="row" *ngIf="tablecount=='1'">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-block btn-md allbtns btncolor"
        (click)="insertdetails1()">{{labels[0].save}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div><br>
  <br>
</div>