<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].offerrsDahboard}}</h5>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
      <button type="button" routerLink="/Pharmacyoffers"  *ngIf="languageid=='1'"
        class="btn btncolor Hederbutton">Add new promo</button>

      <button type="button" routerLink="/Pharmacyoffers"  *ngIf="languageid=='6'"
        class="btn btncolor Hederbutton">Ajouter une nouvelle promo
      </button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].offerNames}}</th>
            <th>{{labels[0].offerDescription}}</th>
            <th>{{labels[0].offer}} </th>
            <th>{{labels[0].startDate}}</th>
            <th>{{labels[0].endDate}}</th>
            <th>{{labels[0].photo}}</th>
            <th>{{labels[0].delete}}</th>
          </tr>
          <tr *ngFor="let details of offerslist| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}|filter:term">
            <td>{{details.offerName}}</td>
            <td>{{details.description}}</td>
            <td>{{details.offer}}</td>
            <td>{{details.sdate|date:'dd-MM-yyyy'}}</td>
            <td>{{details.edate|date:'dd-MM-yyyy'}}</td>
            <td><img src="{{details.photoURL}}" style="height:50px;width:50px;" /></td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;"
                  (click)="deletepharmacyoffer(details.id)">

              </a>&nbsp;
              <ng-template #tipcontent1>Modifier</ng-template>
              <a [ngbTooltip]="tipcontent1"  [routerLink]="['/Pharmacyoffers',details.id]"
                style="color:black">
                <img src="assets/Images/edit.png" style="width: 18px">
              </a>
            </td>
          </tr>

        </thead>
      </table>
    </div>
  </div>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>