
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-10">
      <h5>{{labels[0].creatingFolder}}</h5>
    </div>
    <div class="col-lg-2">
     
    </div>
  </div>
</div>
<br>

<div class="container-fluid card card-hover" >
  <form #folderForm="ngForm">
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-3">
      <label>{{labels[0].foldername}} : </label>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="{{labels[0].foldername}}" [(ngModel)]="folderName" name="folderName" required>
    </div>

  </div><br>

  <div class="row">
<div class="col-lg-4">

</div>
<div class="col-lg-2">
  <button type="button" text_align="center"
  class="btn btn-block btn-md allbtns btncolor" (click)="InsertDetails()" [disabled]="folderForm.form.invalid" *ngIf="showEdit==0">{{labels[0].save}}</button>
  <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" (click)="UpdateDoctors_PersonalFolder()" [disabled]="folderForm.form.invalid" *ngIf="showEdit==1&&languageid==1">Update</button>
  <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" (click)="UpdateDoctors_PersonalFolder()" [disabled]="folderForm.form.invalid" *ngIf="showEdit==1&&languageid==6">Mise à jour</button>
</div>
  </div><br><br>
</form>
</div>