<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9">
      <!-- <h5>{{labels[0].monthWiseSchedule}}</h5> -->
      <h5 *ngIf="languageid=='1'">Doctors Agenda</h5>
      <h5 *ngIf="languageid=='6'">Agenda Mensuel</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;">
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <ng-multiselect-dropdown [placeholder]="Select" [data]="doctorlist" [settings]="docdd"
        (onSelect)="GetDoctorID($event)">
      </ng-multiselect-dropdown>
    </div>
    <br>
    <div class="col-lg-3" *ngIf="showcalender=='1'">
      <input *ngIf="languageid==1" type="text" class="form-control" placeholder="Select Date"
        [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="todaydatess" (ngModelChange)="GetDoctorDates($event)"
        [minDate]="today" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

      <input *ngIf="languageid==6" type="text" class="form-control" placeholder="Sélecteur de date"
        [bsConfig]="{ showWeekNumbers:false }" [minDate]="today" 
        (ngModelChange)="GetDoctorDates($event)" [(ngModel)]="todaydatess" name="todaydatess"  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>
    </div>
    <!-- [(ngModel)]="todaydatess" name="todaydatess" -->
    <div class="col-lg-2" *ngIf="showcalender=='1'">
      <span>{{labels[0].changeSchedule}} : </span>
    </div>
    <div class="col-lg-4" *ngIf="showcalender=='1'">
      <input type="radio" [(ngModel)]="typeID" name="typeID" data-toggle="modal" data-target="#EditDayWiseSlots"
        (click)="GetTypeID($event)" value="1"> {{labels[0].daywise}} &nbsp;
      <input type="radio" [(ngModel)]="typeID" name="typeID" data-toggle="modal" data-target="#EdittimeWiseSlots"
        (click)="GetTypeID($event)" value="2"> {{labels[0].timewise}}
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-1" style="margin-right: -1px;">
      <div class="rectangle"><span style="margin-left: 21px;">{{labels[0].inclinic}}</span></div>
    </div>
    <div class="col-lg-1" style="margin-right: -6px;">
      <div class="vdioerect"> <span style="margin-left: 18px;">{{labels[0].video}}</span></div>
    </div>
    <div class="col-lg-1" style="margin-left: 33px;">
      <div class="homecare"><span style="margin-left: 20px;">{{labels[0].homeVisit}}</span></div>
    </div>
    <div class="col-lg-1 ">
      <div class="Notavailable" style="margin-left: 20px;width: 167%;">
        <p style="margin-left:12px"> {{labels[0].notAvailable}}</p>
      </div>
    </div>
    <div class="col-lg-1 ">
      <div class="meeting" style="margin-left: 42px;width: 127%;">
        <p style="margin-left:12px"> {{labels[0].meeting}}</p>
      </div>
    </div>
    <div class="col-lg-1 ">
      <div class="booked" style="margin-left: 34px;width: 140%;">
        <p style="margin-left:12px"> {{labels[0].booked}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div style="margin-top:3px">
        <table class="table">
          <thead>
            <tr>
              <th>{{labels[0].timings}}</th>
              <th>
                {{date1|date:'dd/MM/yyyy'}}<br>
                {{day1}}
              </th>
              <th>
                <!-- {{DayDatelist[1].date|date}}<br>
              {{DayDateist[1].day}} -->
                {{date2|date:'dd/MM/yyyy'}}<br>
                {{day2}}
              </th>
              <th>
                {{date3|date:'dd/MM/yyyy'}}<br>
                {{day3}}
                <!-- {{DayDatelist[2].date|date}}<br>
              {{DayDatelist[2].day}} -->
              </th>
              <th>
                {{date4|date:'dd/MM/yyyy'}}<br>
                {{day4}}
                <!-- {{DayDatelist[3].date|date}}<br>
              {{DayDatelist[3].day}} -->
              </th>
              <th>
                {{date5|date:'dd/MM/yyyy'}}<br>
                {{day5}}
                <!-- {{DayDatelist[4].date|date}}<br>
              {{DayDatelist[4].day}} -->
              </th>
              <th>
                {{date6|date:'dd/MM/yyyy'}}<br>
                {{day6}}
                <!-- {{DayDatelist[5].date|date}}<br>
              {{DayDatelist[5].day}} -->
              </th>
              <th>
                {{date7|date:'dd/MM/yyyy'}}<br>
                {{day7}}
                <!-- {{DayDatelist[6].date|date}}<br>
              {{DayDatelist[6].day}} -->
              </th>
            </tr>
       
          </thead>
          <tbody style="height: 10px !important; overflow: scroll;">
            <tr *ngFor="let details of workingdetails|filter:term">
              <td>{{details.slotname}}</td>
              <td [style.background-color]="details.day1color" style="color:white">{{details.day1}}<br>
                <span
                  *ngIf="details.day1AppointmentTypeID!=6&&details.day1AppointmentTypeID!=4">{{details.mondayFees}}</span>
                <br>
                {{details.day1Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day1patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent9503>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay1List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day2color" style="color:white">{{details.day2}}<br>
                <label *ngIf="details.day2AppointmentTypeID!=6&&details.day2AppointmentTypeID!=4">
                  {{details.tuesdayFees}}</label> <br>
                {{details.day2Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day2patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent9534>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent9534" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay2List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day3color" style="color:white">{{details.day3}}<br>
                <label *ngIf="details.day3AppointmentTypeID!=6&&details.day3AppointmentTypeID!=4">
                  {{details.wednessdayFees}}</label> <br>
                {{details.day3Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day3patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent95354>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent95354">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay3List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day4color" style="color:white">{{details.day4}}<br>
                <label *ngIf="details.day4AppointmentTypeID!=6&&details.day4AppointmentTypeID!=4">{{details.thursdayFees
                  }}</label><br>
                {{details.day4Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day4patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent953545>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent953545" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay4List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day5color" style="color:white">{{details.day5}}<br>
                <label
                  *ngIf="details.day5AppointmentTypeID!=6&&details.day5AppointmentTypeID!=4">{{details.fridayFees}}</label>
                <br>
                {{details.day5Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day5patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent95355>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent95355" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay5List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day6color" style="color:white">{{details.day6}}<br>
                <label
                  *ngIf="details.day6AppointmentTypeID!=6&&details.day6AppointmentTypeID!=4">{{details.satdayFees}}</label>
                <br>
                {{details.day6Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day6patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent953556>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent953556" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay6List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day7color" style="color:white">{{details.day7}}<br>
                <label *ngIf="details.day7AppointmentTypeID!=6&&details.day7AppointmentTypeID!=4"> {{details.sundayFees
                  }}</label> <br>
                {{details.day7Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day7patientdetails">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent953564>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent953564" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay7List(details)">
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="edittest" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="languageid=='1'">Edit</h4>
        <h4 class="modal-title" *ngIf="languageid=='6'">Éditer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="width: 600px;">
        <div class="row">
          <div class="col-lg-12">
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="1"> &nbsp;
            {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="2"> &nbsp;
            {{labels[0].video}} &nbsp;
            <!-- <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="5"> &nbsp;
            {{labels[0].homeVisit}}&nbsp; -->
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="4"> &nbsp;
            {{labels[0].notAvailable}}&nbsp;
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="6"> &nbsp;
            {{labels[0].meeting}}
          </div><br><br>
          <div class="col-lg-1">
          </div>
          <div class="col-lg-3">
            <span *ngIf="appointmentypeid!=4&&appointmentypeid!=6"> {{labels[0].fees}} :</span>
          </div><br>
          <div class="col-lg-6">
            <input type="text" *ngIf="appointmentypeid!=4&&appointmentypeid!=6" class="form-control" [(ngModel)]="fees"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)' name="fees" placeholder="{{labels[0].fees}}">
          </div>
          <!-- <div class="col-lg-1" *ngIf="appointmentypeid!=4&&appointmentypeid!=6">
            MAD
          </div> -->
          <div class="col-lg-2">
          </div><br>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
              (click)="insertdetails()">{{labels[0].update_label}}</button>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="EditDayWiseSlots" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="languageid=='1'">Edit</h4>
        <h4 class="modal-title" *ngIf="languageid=='6'">Éditer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="width: 600px;">
        <div class="row">
          <div class="col-lg-3">
            <span>Date </span>
          </div>
          <div class="col-lg-6">
            <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
              [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="daychangedate"
              (ngModelChange)="GetdaychangeDate($event)" [minDate]="today" bsDatepicker [(bsValue)]="myDateValue"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">


            <input type="text" *ngIf="languageid==6" placeholder="jj/mm/aa" [bsConfig]="{ showWeekNumbers:false }"
              class="form-control" [minDate]="today" #dp="bsDatepicker"  [(ngModel)]="daychangedate" (ngModelChange)="GetdaychangeDate($event)"
              bsDatepicker  [minDate]="today" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
              <!-- [(bsValue)]="myDateValue" -->
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-12">
            <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="1"> &nbsp;
            {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="2"> &nbsp;
            {{labels[0].video}} &nbsp;
            <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="5"> &nbsp;
            {{labels[0].homeVisit}}&nbsp;
            <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="4"> &nbsp;
            {{labels[0].notAvailable}}&nbsp;
            <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="6"> &nbsp;
            {{labels[0].meeting}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-3">
            <span *ngIf="Daywiseappointmentid!=4&&Daywiseappointmentid!=6"> {{labels[0].fees}} :</span>
          </div><br>
          <div class="col-lg-6">
            <input type="text" *ngIf="Daywiseappointmentid!=4&&Daywiseappointmentid!=6" class="form-control"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)' [(ngModel)]="fees" name="fees"
              placeholder="Fees">
          </div>
          <!-- <div class="col-lg-1" *ngIf="appointmentypeid!=4&&appointmentypeid!=6">
            MAD
          </div> -->
        </div><br>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
              (click)="InsertDayWiseAlert()">{{labels[0].update_label}}</button>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="EdittimeWiseSlots" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="languageid=='1'">Edit</h4>
        <h4 class="modal-title" *ngIf="languageid=='6'">Éditer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="width: 600px;">
        <div class="row">
          <div class="col-lg-3">
            <span>Date </span>
          </div>
          <div class="col-lg-6">
            <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
              [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="timechangedate"
              (ngModelChange)="GetTimewisechangedate($event)" [minDate]="today" 
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

            <input *ngIf="languageid==6" type="text" class="form-control" placeholder="jj/mm/aa"
              [bsConfig]="{ showWeekNumbers:false }" bsDatepicker [(ngModel)]="timechangedate1" (ngModelChange)="GetTimewisechangedate($event)"
              [minDate]="today"    [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }">
            <!-- [(ngModel)]="timechangedate1" -->
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-12">
            <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="1"  (click)="gettimechange($event)"> &nbsp;
            {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="2" (click)="gettimechange($event)"> &nbsp;
            {{labels[0].video}} &nbsp;
            <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="5" (click)="gettimechange($event)"> &nbsp;
            {{labels[0].homeVisit}}&nbsp;
            <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="4" (click)="gettimechange($event)"> &nbsp;
            {{labels[0].notAvailable}}&nbsp;
            <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="6" (click)="gettimechange($event)"> &nbsp;
            {{labels[0].meeting}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <span>{{labels[0].startTime}} </span>
          </div>
          <div class="col-lg-6">
            <select class="form-control" (change)="getmrngfrom($event)" [(ngModel)]="mrngfromid" name="mrngfromid">
              <option value="">{{labels[0].startTime}}</option>
              <option *ngFor="let mrngfrm of mrngfromlist" value="{{ mrngfrm.id }}">{{ mrngfrm.slots }}</option>
            </select>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <span>{{labels[0].endTime}} </span>
          </div>
          <div class="col-lg-6" style="margin-top: 0px;">
            <select class="form-control" (change)="getmrngto($event)" [(ngModel)]="mrngtoid" name="mrngtoid">
              <option value="">{{labels[0].endTime}}</option>
              <option *ngFor="let mrngto of mrngtolist" value="{{ mrngto.id }}">{{ mrngto.slots
                }}</option>
            </select>
          </div>
        </div><br>
        
        <div class="row">
        
          <div class="col-lg-3">
            <span *ngIf="timewiseappointmentid!=4&&timewiseappointmentid!=6"> {{labels[0].fees}} :</span>
          </div>
          <div class="col-lg-6">
            <input type="text" *ngIf="timewiseappointmentid!=4&&timewiseappointmentid!=6" class="form-control"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)' [(ngModel)]="fees" name="fees"
              placeholder="Fees">
          </div>
          <!-- <div class="col-lg-1" *ngIf="appointmentypeid!=4&&appointmentypeid!=6">
            MAD
          </div> -->
        </div><br>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
              (click)="InsertTineWiseAlert()">{{labels[0].update_label}}</button>
          </div>
          <div class="col-lg-4">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>