<div class="container-fluid  card card:hover headerspace">
  <div class="row headerspace headerspace">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5 *ngIf="languageid==1">Video Call Revenue</h5>
      <h5 *ngIf="languageid==6">
        Revenus Téléconsultation</h5>
    </div>
    <div class="col-lg-3" style="margin-top: -12px;text-align: end;">
      <button class="btn  btncolor" (click)="getglmasterexcel()">{{labels[0].exportToExcel}}</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>

  <div class="row">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="search" placeholder="{{labels[0].search}}" [(ngModel)]="term" class="form-control">
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-3">
      <label *ngIf="languageid==1" style="margin-left: 124px;">Total Revenue : {{grandtotal}}</label>
      <label *ngIf="languageid==6" style="margin-left: 124px;">Revenu total : {{grandtotal}}</label>
    </div>
    <div class="col-lg-2">
      <label *ngIf="languageid==1" style="margin-left:90px">Count : {{count}}</label>
      <label *ngIf="languageid==6" style="margin-left:90px">Nombre : {{count}}</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table class="table" id="Appointment" style="overflow: auto;">
        <thead>
          <tr style="height: 20px">
            <th id="imp">{{labels[0].appointmentDate}}</th>
            <th id="imp">{{labels[0].appointmentNumber}}</th>
            <th id="imp">{{labels[0].appointmentTime}}</th>
            <th *ngIf="languageid==1">Doctor Name</th>
            <th *ngIf="languageid==6">Nom du docteur </th>
            <th id="imp">{{labels[0].appointmentType}}</th>
            <th>{{labels[0].ailment}}</th>
            <th>{{labels[0].patientName}}</th>
            <th>{{labels[0].mobileNo}}</th>
            <th>{{labels[0].emailID}}</th>
            <th *ngIf="languageid==1">Paid Amount</th>
            <th *ngIf="languageid==6">Montant payé</th>
          </tr>
          <tr *ngFor="let details of cancelledlist|filter:term">
            <td>{{details.apptDateTime}}</td>
            <td>{{details.appointmentID}}</td>
            <td>{{details.slots}}</td>
            <td>{{details.doctorName}}</td>
            <td>{{details.combinationValue}}</td>
            <td>{{details.reasonForVisit}}</td>
            <td>{{details.pName}}</td>
            <td>{{details.pMobileNo}}</td>
            <td>{{details.emailID}}</td>
            <td>{{details.paidAmount}}</td>
          </tr>
        </thead>
      </table>
      <br>
      <br>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<br>
<br>