<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace1">
    <div class="col-lg-3">
      <h5>Diagnostic Pharmacy Pay</h5>
    </div>
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetType($event)">
        <option value="0">Select</option>
        <option value="10">Pharmacy</option>
        <option value="11">Diagnostic Center</option>
        <option value="12">Delivery company</option>
        <!-- <option value="3">Independent Nurse</option>
        <option value="4">Independent Physiotherapist</option>
        <option value="5">Independent MidWife</option> -->
      </select>
    </div>
  </div>
</div><br>

<div class="container-fluid card">
  <br>
  <div class="row">
    <div class="col-lg-12">
      <table>
        <tr>
          <th>Name</th>
          <th>Phone No</th>
          <th>Email</th>
          <th>Address</th>
          <th>Total Amount</th>
          <th>Meridional Delivery Commission</th>
          <th>Delivery Patner Fees</th>
          <th style="width:10%;">Action</th>
        </tr>
        <tr *ngFor="let list of providerlist">
          <td>{{list.providername}}</td>
          <td>{{list.contactPersonPhNo}}</td>
          <td>{{list.emailID}}</td>
          <td>{{list.address}}</td>
          <td>{{list.grossAmount}}</td>
          <td>{{list.totalamount}}</td>
          <td>{{list.commissionAmount}}</td>
          <!-- <td>{{list.appointmentpercentageamount}}</td> -->
          <td><button (click)="GetList(list)" data-toggle="modal" data-target="#invoiceModal">Settle Payment</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
</div>


<div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12" id="content">
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-6">
              <h1>Settle payment</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>Invoice Number</label>
              <p>{{invoicenumber}}</p>
            </div>
            <div class="col-lg-4">
              <label>Date Of Issue</label>
              <p>{{todaydate}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <label>Billed To</label>
              <p>{{hospitalname}}</p>
              <p>{{address}}</p>
            </div>
            <div class="col-lg-4">
              <label>From</label>
              <p>Meridional Health Pte. Ltd.</p>
              <p>77 Robinson Rd, Singapore 068896</p>
            </div>
          </div>
          <br>
          <div class="col-lg-12">
            <table>
              <tr>
                <th style="font-size: 12px;" *ngIf="typeid=='10'">Pharmacy</th>
                <th style="font-size: 12px;" *ngIf="typeid=='11'">Diagnostic Center</th>
                <th style="font-size: 12px;" *ngIf="typeid=='3'">Nurse Name</th>
                <th style="font-size: 12px;" *ngIf="typeid=='4'">Physiotherapist Name</th>
                <th style="font-size: 12px;" *ngIf="typeid=='5'">MidWife Name</th>
                <th style="font-size: 12px;" *ngIf="typeid=='12'">Delivery Company Name</th>
                <!-- <th style="font-size: 12px;">Contract Start Date</th>
                              <th style="font-size: 12px;">Contract End Date</th> -->
                <th style="font-size: 12px;">From Date</th>
                <th style="font-size: 12px;">To Date</th>
                <th style="font-size: 12px;">Gross Total</th>
                <th style="font-size: 12px;">Meridional Commission</th>
                <th style="font-size: 12px;">Delivery Charges</th>
                <!-- <th style="font-size: 12px;">Commission On Vedio Call Appointment</th> -->
              </tr>
              <tr>
                <td>{{hospitalname}}</td>
                <td>{{startdate|date}}</td>
                <td>{{enddate|date}}</td>
                <td>{{grossamount}}</td>
                <td>{{totalamount}}</td>
                <td>{{CommissionAmount}}</td>

                <!-- <td>{{appointmentperc}}</td> -->
              </tr>
            </table>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-9"></div>

            <div class="col-lg-3">
              <p
                style="margin-top: 4px;background-color: #b7c3d0;padding-top: 6px;padding-bottom: 6px;padding-left: 12px;">
                Total Amount :{{nettotal}}</p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-7">
            </div>
            <div class="col-lg-3">
              <p style="margin-top: 4px;font-size: 13px;margin-left: 64px;">Signature</p>
            </div>
            <div class="col-lg-2">
              <img src="assets/Images/signature.jpg" style="width:75%;">
            </div>
          </div>
         
        </div>
        <div class="row" >
          <div class="col-lg-2">
          </div>
          <div class="col-lg-3">
            <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
              <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
            </ngx-dropzone>
            <span *ngFor="let showphoto of showidentityproof">
              <img src="{{showphoto}}" style="height:50px;width:70px">&nbsp;
            </span>
          </div>
          <div class="col-lg-4">
            <textarea rows="4" class="form-control" placeholder="Comments" [(ngModel)]="comments"
              name="comments"></textarea>
          </div>
        </div><br>
      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button class="btn btn-primary" (click)="SavePDF()" data-dismiss="modal">Pay</button>
      </div>
    </div>
  </div>
</div>