<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].myRevenue}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="col-lg-4">
    <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
      class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)"  bsDaterangepicker>
    <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
      class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)"  bsDaterangepicker>

  </div>
  <br>
  <!-- <h3 style="text-align: center;">{{labels[0].myRevenue}}</h3> -->
  <br>
  <div class="row">
    <!-- <div class="col-lg-2"></div>     -->
<!--   
    [routerLink]="['/HomecareRevenue']" -->
    <!-- [routerLink]="['/HomecareRevenue']" -->

    <div class="col-lg-3" *ngFor="let cou of totalamount" [routerLink]="['/MidWifeAdminDashDetails',7]">
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;"><b style="font-size: 15px;">
            {{labels[0].totalRevenue}}</b></label>
        <br /> <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;"><b><u
              style="font-size: 20px;">{{cou.miwifecount|number:'1.2-2'|noComma}}</u></b></label>
      </div>
      <br />
      <br />
    </div>
    <!-- <div class="col-lg-1">
    </div>
    <div class="col-lg-2" *ngFor="let cou of totalcommissions">     
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;"><b  style="font-size: 15px;">
          {{labels[0].myCommission}}</b></label>
        <br /> <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;" 
         ><b><u style="font-size: 20px;">{{cou.midwifecommission}}</u></b></label> 
      </div>
      <br />
      <br />     
    </div><br> -->
    <!-- <div class="col-lg-1">
    </div>
    <div class="col-lg-2" *ngFor="let cou of totalcommissions">     
      <div class="optionsboxdown" style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;"><b  style="font-size: 15px;">
          {{labels[0].voiladocCommission}}</b></label>
        <br /> <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;" 
         ><b><u style="font-size: 20px;">{{cou.voiladocsommission}}</u></b></label> 
      </div>
      <br />
      <br />      
    </div> -->
    <div class="col-lg-2"></div>
    <br />
  </div>