<div class="container-fluid  card card:hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <select class="form-control" (change)="GetAppointmentTypeID($event)" [(ngModel)]="appointmentypeid"
        name="appointmentypeid">
        <option value="0" selected>{{labels[0].appointmentType}}</option>
        <option value="1">{{labels[0].inclinic}}</option>
        <option value="2">{{labels[0].vidoecall}}</option>
        <option value="5">{{labels1[0].homeVisit}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <!-- <select class="form-control" (change)="GetDepartmentID($event)">
        <option value="0" selected>{{labels[0].selectDepartment}}</option>
        <option *ngFor="let department of departmentlist" value={{department.id}}>
          {{department.departmentname}}</option>
      </select> -->
    </div>
    <div class="col-lg-3">
      <!-- <input *ngIf="languageid==1" type="text" [minDate]="mindate" class="form-control" placeholder="MM/DD/YYYY"
        [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="Selecteddate2" name="Selecteddate2"
        (ngModelChange)="GetDate($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

      <input *ngIf="languageid==6" type="text" [minDate]="mindate" class="form-control" placeholder="jj/mm/aa"
        [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="selecteddate" name="selecteddate"
        (ngModelChange)="GetDate($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker> -->
      <!-- <input type="date" class="form-control" min={{todaydate}} (change)="GetDate($event)"> -->
      <br>
    </div>
    <div class="col-lg-3">
      <!-- <select class="form-control" (change)="GetSlotID($event)">
        <option value="0">{{labels[0].selectSlot}}</option>
        <option *ngFor="let slot of doctorslots" value="{{slot.slots}}">{{slot.slots}}</option>
      </select> -->
    </div>
  </div><br>
  <!-- <div class="row">
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="Search" name="Search">
    </div>
    <div class="col-lg-3">
    

      <ng-multiselect-dropdown [placeholder]="select" [data]="filterdummlist" [settings]="docdd"
        (onSelect)="GetDoctorID($event)">
      </ng-multiselect-dropdown>
    </div><br>
  </div><br> -->
</div><br>
<div class="container-fluid" *ngFor="let doc of doctorslist|filter:Search">
  <div class="card">
    <div class="row">
      <div class="col-lg-3">
        <img src="{{doc.photoUrl}}"
          style="height: 150px;width: 80%;margin-left: 14px;margin-top: 10px;margin-bottom: 10px;">
        <br>
      </div>
      <br>
      <div class="col-lg-5" style="margin-top:10px;">
        <h5 style="margin-left: 15px;color:purple">{{doc.doctorName}}</h5>
        <span style="margin-left: 15px;">{{doc.degreeName}}</span><br>
        <span style="margin-left: 15px;"><b>{{doc.mobileNumber}}</b></span>
        <br>
        <!-- <span style="margin-left: 15px;">Available Today At
          <span style="color:green;">{{doc.hospital_ClinicName}}</span>
        </span> -->
        <br>
        <span style="margin-left: 15px;">{{doc.departmentname}}</span>
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-2">
        <br>
        <br>
        <!-- <span>{{labels[0].fees}} :{{doc.feesNumber}}
          <img src="assets/Images/money.png" style="height: 14px;width: 25px;">
        </span> -->
        <br>
        <br>
        <br>
        <button class="btn btncolor" style="height: 33px;
        width: 124px;" *ngIf="appointmentypeid=='1'||appointmentypeid=='5'"
          [routerLink]="['/Doctorslots',doc.doctorID,doc.id,doc.hospital_ClinicID,doc.appointmentTypeID,doc.bookingTypeID,doc.slotDurationID]">{{labels[0].book}}</button>

        <button class="btn btncolorssssdssd" style="height: 33px;
          width: 124px;" *ngIf="appointmentypeid=='2'"
          [routerLink]="['/Doctorslots',doc.doctorID,doc.id,doc.hospital_ClinicID,doc.appointmentTypeID,doc.bookingTypeID,doc.slotDurationID]">{{labels[0].view}}</button>
      </div>
    </div>
  </div>
  <br>
</div>