<br>
<div class="container-fluid card card:hover">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels1[0].services}}</h5>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover ">
  <br>
  <form #countryForm="ngForm">
    <div class="row">
      <div class="col-lg-2">
        <label class="REGISTRATION NO:">{{labels1[0].midWife}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <div *ngIf="showDropdown=='1'">
          <select class="form-control" (change)="GetPhysioID($event)" [(ngModel)]="midwifeid" name="midwifeid">
            <option value="0">{{labels1[0].select}}</option>
            <option *ngFor="let phsio of nurselist" value="{{phsio.id}}">{{phsio.name}}</option>

          </select>
        </div>

        <div *ngIf="showDropdown=='0'">
          <input type="text" disabled class="form-control" [(ngModel)]="user" name="user">
        </div>

      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-2">
        <label class="REGISTRATION NO:">{{labels1[0].servicename}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels1[0].servicename}}" [(ngModel)]="servicename" name="servicename">
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-2">
        <label class="REGISTRATION NO:">{{labels1[0].charges}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels1[0].charges}}" [(ngModel)]="charges" name="charges" onkeypress='return(event.charCode>=48&&event.charCode<=57)||(event.charCode==46)'>
      </div>
    </div><br>
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-2">
        <label class="REGISTRATION NO:">{{labels[0].description}} :</label>

      </div>
      <div class="col-lg-4">
        <textarea class="form-control" rows="4" placeholder="{{labels[0].description}}" [(ngModel)]="description"
          name="description"></textarea>
      </div>
    </div><br>

    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-2">
        <button type="button" text_align="center" *ngIf="showbit==0" [disabled]="countryForm.form.invalid"
          class="btn btn-block btn-md allbtns btncolor" (click)="insertdetails()">{{labels[0].add}}</button>

      </div>
      <div class="col-lg-5">
      </div>
    </div><br>
    <div class="row" *ngIf="tablecount=='1'">
      <div class="col-lg-12">
        <table>
          <tr>
            <th>{{labels1[0].servicename}}</th>
            <th>{{labels[0].description}}</th>
            <th>{{labels1[0].charges}}</th>

            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let det of qwerty">
            <td>{{det.ServiceName}}</td>
            <td>{{det.ServiceDescription}}</td>
            <td>{{det.ServiceCharges}}</td>
            <td>
              <img src="assets/Images/dell.png" (click)="delete(det.Sno)">
            </td>
          </tr>
        </table>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-2">
        <button type="button" text_align="center" *ngIf="showbit==0&&tablecount=='1'"
          [disabled]="countryForm.form.invalid" class="btn btn-block btn-md allbtns btncolor"
          (click)="SaveDetails()">{{labels[0].save}}</button>

        <button type="button" text_align="center" *ngIf="showbit==1" [disabled]="countryForm.form.invalid"
          class="btn btn-block btn-md allbtns btncolor" (click)="updatedetails()">{{labels[0].update}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
  </form>
</div>