<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-4">
      <h5 *ngIf="languageid==1">EMR</h5>
      <h5 *ngIf="languageid==6">DOSSIER MEDICAL PATIENT
      </h5>
    </div>
  </div>
  <br>
</div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <label>
        <img src="assets/Images/Name.png" title="{{labels[0].patientName}}" style="height:20px;width:20px"> :
        <b>{{patientname}}</b>
      </label>
    </div>
    <div class="col-lg-3">
      <label>
        <img src="assets/Images/Phone.png" title="{{labels[0].phoneNo}}" style="height:20px;width:20px"> :
        <b>{{mobileno}}</b>
      </label>
    </div>
    <div class="col-lg-3">
      <label>
        <img src="assets/Images/gmail.png" title="{{labels[0].emailID}}" style="height:20px;width:20px"> :
        <b>{{emailid}}</b>
      </label>
    </div>
    <div class="col-lg-3">
      <label>
        <img src="assets/Images/gender.png" title="{{labels[0].gender}}" style="height:20px;width:20px"> :
        <b>{{gender}}</b>
      </label>
    </div>
    <br>
    <br>
    <div class="col-lg-3">
      <label>
        <img src="assets/Images/blood.png" title="{{labels[0].blood}}" style="height:20px;width:20px"> :
        <b>{{bloodgroup}}</b>
      </label>
    </div>
    <div class="col-lg-3">
      <label>
        <img src="assets/Images/address.png" title="{{labels[0].address}}" style="height:20px;width:20px"> :
        <b>{{address}}</b>
      </label>
    </div>
    <div class="col-lg-6">
      <label>
        <img src="assets/Images/age.png" title="Age" style="height:20px;width:20px"> :
        <!-- Age : -->
        <b>{{age}}  ({{labels1[0].dateOfBirth}} : {{details.dateOfBirth}})</b> 
      </label>
    </div>
  </div>
</div>
<br>



<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-6">
      <label *ngIf="languageid=='1'" id="imp"><b>Patient details </b></label>
      <label *ngIf="languageid=='6'" id="imp"><b>Détails du patient</b></label>
    </div>
    <div class="col-lg-6">
      <label *ngIf="languageid=='1'" id="imp"><b>Vaccination details </b></label>
      <label *ngIf="languageid=='6'" id="imp"><b>Détails de la vaccination</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6" style="height: 175px;overflow: auto;">
      <table >
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels[0].appointmentDate}}</th>
            <th id="imp" [style.background-color]="color">{{labels1[0].appointmentNumber}}</th>
            <th id="imp" [style.background-color]="color">{{labels[0].providername}}</th>
            <!-- <th [style.background-color]="color">{{labels1[0].department}}</th> -->
            <th [style.background-color]="color">{{labels1[0].phoneNo}}</th>
            <!-- <th [style.background-color]="color">{{labels[0].ailment}}</th> -->
            <th id="imp11" [style.background-color]="color">{{labels[0].soqp}}</th>
          </tr>
          <tr *ngFor="let app of Appointmentlist">
            <td>{{app.appointDate}}</td>
            <td>{{app.id}}</td>
            <td>{{app.doctorName}}</td>
            <!-- <td>{{soap.departmentname}}</td> -->
            <td>{{app.mobileNumber}}</td>
            <!-- <td>{{soap.reasonForVisit}}</td> -->
            <td>
              <a >
                <img src="assets/Images/medicalquestion.png" (click)="showmedicalquestionare(app)" data-toggle="modal"
                  data-target="#Medicalquestionare" style="margin: 2%;width: 20px;"  />
              </a>
            </td>
          </tr>
        </thead>
      </table>
      <br>
    </div>


    <div class="col-lg-6" style="height: 175px;overflow: auto;">
      <table>
        <tr>
          <th>{{labels1[0].vaccinename}}</th>
          <th>Date</th>
        </tr>
        <tr *ngFor="let vaccine of vaccinationlist">
          <td>{{vaccine.vaccinationName}}</td>
          <td>{{vaccine.vaccinationDate}}</td>
        </tr>
      </table>
    </div>



  </div>
  <br>
</div>
<br>




<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>
        <b>{{labels[0].prescription}}</b>
      </label>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3">
      <label>
        <b>{{labels[0].diagnosticTest}}</b>
      </label>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-6 card-hover" style="overflow: auto;"><br>
      <table class="card card-hover" style="display: table;">
        <br>
        <thead>
          <tr>
            <th>{{labels[0].appointmentDate}}</th>
            <th>{{labels[0].prescription}}</th>
          </tr>
          <tr *ngFor="let pre of prescriptionlist">
            <td>{{pre.appdate}}</td>
            <td>
              <a [ngbTooltip]="tipcontent19">
                <img src="assets/Images/view.png" style="margin: 2%;width: 20px;" data-toggle="modal"
                  (click)="GetprscriptionID(pre.appointmentID)" data-target="#exampleModalCenter" />
              </a>
            </td>
          </tr>
        </thead>
      </table><br>
    </div><br>
    <div class="col-lg-6 " style="overflow: auto;"><br>
      <table class="card card-hover"style="display: table;" >
        <thead>
          <tr>
            <th>{{labels[0].appointmentDate}}</th>
            <th>{{labels[0].test}}</th>
            <th>{{labels[0].testName}}</th>
            <th>{{labels1[0].clinicalInfo}}</th>
            <th>{{labels[0].report}}</th>
          </tr>
          <tr *ngFor="let dia of dialist">
            <td>{{dia.appdate}}</td>
            <td>{{dia.name}}</td>
            <td>{{dia.testName}}</td>
            <td>{{dia.clinicalInfo}}</td>
            <td></td>
          </tr>
        </thead>
      </table><br>
    </div>
  </div> -->

  <div class="row">
    <div class="col-lg-6 card-hover" style="height: 175px;overflow: auto;">
      <br>
      <table class="card card-hover" style="display: table;">
        <br>
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels[0].appointmentDate}}</th>
            <th [style.background-color]="color" id="imp">{{labels1[0].appointmentNumber}}</th>
            <th [style.background-color]="color">{{labels1[0].patientName}}</th>
            <th [style.background-color]="color">{{labels1[0].department}}</th>
            <th [style.background-color]="color">{{labels1[0].doctorName}}</th>
            <th [style.background-color]="color">{{labels1[0].phoneNo}}</th>
            <th [style.background-color]="color">{{labels[0].prescription}}</th>
          </tr>
          <tr *ngFor="let pre of prescriptionlist">
            <td>{{pre.appdate}}</td>
            <td>{{pre.appointmentID}}</td>
            <td>{{pre.pName}}</td>
            <td>{{pre.departmentname}}</td>
            <td>{{pre.doctorName}}</td>
            <td>{{pre.pMobileNo}}</td>
            <td>
              <a >
                <img src="assets/Images/view.png" style="margin: 2%;width: 20px;" data-toggle="modal"
                  (click)="GetprscriptionID(pre.appointmentID)" data-target="#exampleModalCenter" />
              </a>
            </td>
          </tr>
        </thead>
      </table>
      <br>
    </div>
    <br>
    <div class="col-lg-6 " style="height: 175px;overflow: auto;">
      <br>
      <table class="card card-hover" style="display: table;">
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels[0].appointmentDate}}</th>
            <th [style.background-color]="color" id="imp">{{labels1[0].appointmentNumber}}</th>
            <th [style.background-color]="color">{{labels1[0].doctorName}}</th>
            <th [style.background-color]="color">{{labels1[0].department}}</th>
            <th [style.background-color]="color">{{labels[0].diagnosticTest}}</th>
            <th [style.background-color]="color">Rpport</th>
            <!-- <th [style.background-color]="color">{{labels[0].test}}</th>
            <th [style.background-color]="color">{{labels[0].testName}}</th>
            <th [style.background-color]="color">{{labels1[0].clinicalInfo}}</th> -->
            <!-- <th>{{labels[0].report}}</th> -->
          </tr>
          <tr *ngFor="let dia of dialist">
            <td>{{dia.appdate}}</td>
            <td>{{dia.appointmentID}}</td>
            <td>{{dia.doctorName}}</td>
            <td>{{dia.departmentname}}</td>
            <td>
              <a >
                <img src="assets/Images/view.png" style="margin: 2%;width: 20px;" (click)="getDiaTests(dia.appointmentID)" data-toggle="modal"  data-target="#diagnosticTest"
                    />
              </a>
            </td>
            <td>
              <img src="assets/Images/pdf.png" style="height:20px;" *ngIf="dia.reportUrl!='0'"
              title="Rapport" (click)="GetReportPdf(dia.reportUrl)">
            </td>
            <!-- <td>{{dia.name}}</td>
            <td>{{dia.testName}}</td>
            <td>{{dia.clinicalInfo}}</td> -->

          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>
  <br>
</div>
<br>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" >
      <div class="modal-header modal-xl">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels1[0].previousPrescription}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row" style="overflow: auto;height: 367px;">
            <div class="col-lg-12">
              <table>
                <thead>
                  <tr>
                    <th id="imp" [style.background-color]="color">{{labels1[0].date}}</th>
                    <!-- <th>{{labels1[0].medicineType}}</th> -->
                    <th [style.background-color]="color">{{labels1[0].drugName}}</th>
                    <!-- <th>{{labels1[0].unitOfMeasure}}</th>
                    <th>{{labels1[0].dosage}}</th>
                    <th>{{labels1[0].duration}}</th> -->
                    <th [style.background-color]="color">{{labels1[0].sig}}</th>
                    <th [style.background-color]="color">{{labels1[0].dispenseQuantity}}</th>
                    <th [style.background-color]="color">{{labels1[0].noteToPharmasist}}</th>
                    <th [style.background-color]="color">{{labels1[0].substistude}} </th>
                    <!-- <th>{{labels1[0].diagnosis}}</th> -->
                    <th [style.background-color]="color">{{labels1[0].howmanyRefills}}</th>

                    <th *ngIf="languageid==1">Substitute Medicine Name</th>
                    <th *ngIf="languageid==6">Nom du médicament de substitution</th>
                    <th>{{labels1[0].sig}}</th>
                    <th *ngIf="languageid==1">Quantity</th>
                    <th *ngIf="languageid==6">Quantité distribuée</th>
                    <!-- <th>Total</th>
                    <th>Actions</th> -->
                  </tr>
                  <tr *ngFor="let presciption of prelist">
                    <td>{{presciption.date}}</td>
                    <!-- <td>{{presciption.medicinetype}}</td> -->
                    <td [ngClass]="{'textstrike':presciption.substituteBit==true}">{{presciption.medicineName}}</td>
                    <!-- <td>{{presciption.unitOfMeasure}}</td>
                    <td>{{presciption.dosage}}</td> -->
                    <!-- <td>{{presciption.duration}}</td> -->
                    <td [ngClass]="{'textstrike':presciption.substituteBit==true}">{{presciption.sig}}</td>
                    <td [ngClass]="{'textstrike':presciption.substituteBit==true}">{{presciption.dispenseQuantity}}</td>
                    <td>{{presciption.noteToPharmasist}}</td>
                    <td>
                      <span *ngIf="presciption.substainablenotPermitted=='1'">{{labels[0].yes}}</span>
                      <span *ngIf="presciption.substainablenotPermitted=='2'"> {{labels[0].no}}</span>
                    </td>
                    <!-- <td>{{presciption.diagnosis}}</td> -->
                    <td>{{presciption.howmanyRefills}}</td>
                    <td [ngClass]="{'substiutecolor':presciption.substituteBit==true}">{{presciption.subMedicineName}}</td>
                    <td [ngClass]="{'substiutecolor':presciption.substituteBit==true}">{{presciption.subPhysology}}</td>
                    <td [ngClass]="{'substiutecolor':presciption.substituteBit==true}">{{presciption.subQuantity}}</td>


                    <!-- <td>
                      <label *ngIf="presciption.medicineTypeID=='1'">{{presciption.total}}</label>
                      <label
                        *ngIf="presciption.medicineTypeID=='3'||presciption.medicineTypeID=='4'">{{presciption.quantity}}</label>
                    </td> -->
                    <!-- <td>{{presciption.total}}</td> -->
                    <!-- <td>
                      <ng-template #tipcontent2>Delete</ng-template>
                      <a [ngbTooltip]="tipcontent2">
                        <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;"
                          (click)="deleteprscriptonforpatient(presciption.id)">
                      </a>
                    </td> -->
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels1[0].close}}</button>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>








<div class="modal fade" id="diagnosticTest" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="width:814px">
      <div class="modal-header modal-lg">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels[0].diagnosticTest}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" stylw="width:1100px">
        <div class="container-fluid">
          <div class="row" style="overflow: auto;">
            <div class="col-lg-12">
              <table>
                <thead>
                  <tr>
                    <th [style.background-color]="color">{{labels[0].test}}</th>
                    <th [style.background-color]="color">{{labels[0].testName}}</th>
                    <th [style.background-color]="color">{{labels1[0].clinicalInfo}}</th>
                  </tr>
                  <tr *ngFor="let dia of appointmentDialist">
                    <td>{{dia.name}}</td>
                    <td>{{dia.testName}}</td>
                    <td>{{dia.clinicalInfo}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels1[0].close}}</button>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>
<br>

<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label id="imp" *ngIf="languageid=='1'"> <b>SOAP Notes Doctors</b></label>
      <label id="imp" *ngIf="languageid=='6'"><b>Notes SOAP - Docteurs</b></label>
      <!-- <label>
        <b id="imp">{{labels[0].soapNotes}}</b>
      </label> -->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="height: 175px;overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels[0].appointmentDate}}</th>
            <th id="imp" [style.background-color]="color">{{labels1[0].appointmentNumber}}</th>
            <th [style.background-color]="color">{{labels1[0].doctorName}}</th>
            <th [style.background-color]="color">{{labels1[0].department}}</th>
            <th [style.background-color]="color">{{labels1[0].phoneNo}}</th>
            <!-- <th [style.background-color]="color">{{labels[0].ailment}}</th> -->
            <th id="imp11" [style.background-color]="color">{{labels[0].soqp}}</th>
          </tr>
          <tr *ngFor="let soap of soaplist1">
            <td>{{soap.appointDate}}</td>
            <td>{{soap.appointmentID}}</td>
            <td>{{soap.doctorName}}</td>
            <td>{{soap.departmentname}}</td>
            <td>{{soap.mobileNumber}}</td>
            <!-- <td>{{soap.reasonForVisit}}</td> -->
            <td>
              <a >
                <img src="assets/Images/pmr.png" (click)="GetSoapID(soap.soapID)" data-toggle="modal"
                  data-target="#exampleModal1" style="margin: 2%;width: 20px;" />
              </a>
            </td>
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>
  <br>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>
        <b id="imp" *ngIf="languageid==1">Consultation documents - Doctors </b>
      </label>

      <label>
        <b id="imp" *ngIf="languageid==6">Documents de consultation – Docteurs </b>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="height: 175px;overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels[0].appointmentDate}}</th>
            <th id="imp" [style.background-color]="color">{{labels1[0].appointmentNumber}}</th>
            <th [style.background-color]="color">{{labels[0].documenttype}}</th>

            <th [style.background-color]="color">{{labels1[0].doctorName}}</th>
            <th [style.background-color]="color">{{labels1[0].department}}</th>
            <th [style.background-color]="color">{{labels1[0].phoneNo}}</th>
            <!-- <th [style.background-color]="color">{{labels[0].ailment}}</th> -->
            <th [style.background-color]="color">{{labels[0].attachments}}</th>
            <!-- <th id="imp11">{{labels[0].soqp}}</th> -->
          </tr>
          <tr *ngFor="let soap1 of DiaAttchmentList">
            <td>{{soap1.appdate}}</td>
            <td>{{soap1.appointmentID}}</td>
            <td>{{soap1.type}}</td>
            <td>{{soap1.doctorName}}</td>
            <td>{{soap1.departmentname}}</td>
            <td>{{soap1.pMobileNo}}</td>
            <!-- <td>{{soap1.reasonForVisit}}</td> -->
            <td>
              <ng-template #tipcontent948>Notes</ng-template>
              <a [ngbTooltip]="tipcontent948">
                <img src=" assets/Images/pdf.png" style="height:25px;" (click)="GetPdfsss(soap1.photoUrl)" />
              </a>
            </td>
            <!-- <td>
              <a [ngbTooltip]="tipcontent10">
                <img src="assets/Images/pmr.png" (click)="GetSoapID(soap.soapID)" data-toggle="modal"
                  data-target="#exampleModal1" style="margin: 2%;width: 20px;" />
              </a>
            </td> -->
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>
  <br>
</div>
<br>



<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label *ngIf="languageid=='1'" id="imp"><b>SOAP Notes Homecare</b></label>
      <label *ngIf="languageid=='6'" id="imp"><b>Notes - Prestataires de soins à domicile</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table>
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels[0].appointmentDate}}</th>
            <th id="imp" [style.background-color]="color">{{labels1[0].appointmentNumber}}</th>
            <th id="imp" [style.background-color]="color">{{labels[0].providername}}</th>
            <!-- <th [style.background-color]="color">{{labels1[0].department}}</th> -->
            <th [style.background-color]="color">{{labels1[0].phoneNo}}</th>
            <!-- <th [style.background-color]="color">{{labels[0].ailment}}</th> -->
            <th id="imp11" [style.background-color]="color">{{labels[0].soqp}}</th>
          </tr>
          <tr *ngFor="let soap of homecaresoaplist">
            <td>{{soap.appointDate}}</td>
            <td>{{soap.appointmentID}}</td>
            <td>{{soap.nurseName}}</td>
            <!-- <td>{{soap.departmentname}}</td> -->
            <td>{{soap.phoneNo}}</td>
            <!-- <td>{{soap.reasonForVisit}}</td> -->
            <td>
              <a>
                <img src="assets/Images/pmr.png" (click)="GetSoapHomeCarelist(soap.soapID)" data-toggle="modal"
                  data-target="#exampleModal1" style="margin: 2%;width: 20px;" />
              </a>
            </td>
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>
  <br>
</div>
<br>




<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>
        <b id="imp" *ngIf="languageid=='1'">Vital Details </b>
        <b id="imp" *ngIf="languageid=='6'">Paramètres vitaux </b>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="height: 175px;overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp" [style.background-color]="color">{{labels1[0].appointmentNumber}}</th>
            <th id="imp" [style.background-color]="color">{{labels1[0].date}}</th>
            <th id="imp" [style.background-color]="color">Time</th>

            <th id="imp" [style.background-color]="color">BPM</th>

            <th id="imp" [style.background-color]="color">CPM</th>
            <th [style.background-color]="color">{{labels1[0].oxygen}}</th>
            <th [style.background-color]="color">{{labels1[0].stress}}</th>
            <!-- <th [style.background-color]="color">{{labels[0].ailment}}</th> -->
            <th [style.background-color]="color">{{labels1[0].bloodpressure}}</th>
            <!-- <th id="imp11">{{labels[0].soqp}}</th> -->
          </tr>
          <tr *ngFor="let vital of vitalslist">

            <td>{{vital.appointmentID}}</td>
            <td>{{vital.date}}</td>
            <td>{{vital.presentTime}}</td>
            <td>{{vital.bpm}}</td>
            <td>{{vital.rr}}</td>
            <td>{{vital.oxygenSaturation}}</td>
            <td>{{vital.streeLevel}}</td>
            <!-- <td>{{soap1.reasonForVisit}}</td> -->
            <td>
              {{vital.bloodPressureStatus}}
            </td>
            <!-- <td>
              <a [ngbTooltip]="tipcontent10">
                <img src="assets/Images/pmr.png" (click)="GetSoapID(soap.soapID)" data-toggle="modal"
                  data-target="#exampleModal1" style="margin: 2%;width: 20px;" />
              </a>
            </td> -->
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>
  <br>
</div>
<br>
















<!-- <div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>
        <b>{{labels[0].videoRecording}}</b>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table>
        <thead>
          <tr>
            <th id="imp">{{labels[0].appointmentDate}}</th>
            <th>{{labels[0].ailment}}</th>
            <th>{{labels[0].appointmentType}}</th>
            <th>{{labels[0].videos}}</th>
          </tr>
          <tr *ngFor="let vedio of vedioslist">
            <td>{{vedio.appdate}}</td>
            <td>{{vedio.reasonForVisit}}</td>
            <td>{{vedio.combinationValue}}</td>
            <td>
              <a [ngbTooltip]="tipcontent10">
                <img src="assets/Images/vedio.png" style="margin: 2%;width: 20px;"
                  [routerLink]="['/PreviousVideos',vedio.archiveID,vedio.patientID]" />
               
              </a>
            </td>
          </tr>
        </thead>
      </table>
      <br>
    </div>
  </div>
  <br>
</div>
<br> -->



<div class="modal fade" id="Medicalquestionare" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="width:1000px;margin-left: 140px;">
      <div class="modal-header modal-xl">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels1[0].viewdetils}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" stylw="width:1100px">
        <div class="container-fluid">
          <div class="row" style="overflow: auto;">
            <div class="col-lg-12">
              <table style="font-size: 14px;">
                <tr>
                  <th>{{labels1[0].nationalidentityno}}</th>
                  <th> {{labels1[0].height}}</th>
                  <th>{{labels1[0].weight}}</th>
                  <th>{{labels1[0].bmi}} </th>
                  <th>{{labels1[0].medicalhistory}} </th>
                  <th>{{labels1[0].surgeryhistory}} </th>
                  <th>{{labels1[0].longtermtreatment}} </th>
                  <th>{{labels1[0].statutvaccinal}} </th>
                  <th>{{labels1[0].dietaryissues}} </th>
                  <th>{{labels1[0].doyoudrinkalcohol}} </th>
                  <th>{{labels1[0].areyoasmoker}}</th>
                  <th>{{labels1[0].doyouecescise}}</th>
                  <th>{{labels1[0].medicalinsurance}}</th>
                  <th>Allergies</th>
                </tr>
                <tr *ngFor="let view of viewdetaillist">
                  <td>{{view.nationalidno}}</td>
                  <td>{{view.height}}</td>
                  <td>{{view.weight}}</td>
                  <td>{{view.bmi}}</td>
                  <td>{{view.medicalHistory}}</td>
                  <td>{{view.surgeryHistory}}</td>
                  <td>{{view.longtermTreatment}}</td>
                  <td>{{view.vaccinationStatus}}

                    <div class="txtorng">
                      <!-- <span placement="right" ngbTooltip="{{view.firstVaccine}},{{view.secondVaccine}}" role="button"
                        data-toggle="tooltip"> -->
                      <!-- <img src="assets/Images/vaccination.png" style="width: 25px;" data-toggle="modal"
                        data-target="#vaccination" (click)="getvaccinatindetails()"> -->
                      <!-- </span> -->
                    </div>
                  </td>
                  <td>{{view.dietaryIssues}}</td>
                  <td>
                    <p *ngIf="view.alcohol=='1'" style="margin-top: 14px;">{{labels[0].yes}}</p>
                    <p *ngIf="view.alcohol=='0'" style="margin-top: 14px;"></p>
                  </td>
                  <td>
                    <p *ngIf="view.smoker=='1'" style="margin-top: 14px;">{{labels[0].yes}}</p>
                    <p *ngIf="view.smoker=='0'" style="margin-top: 14px;"></p>
                  </td>
                  <td>
                    <p *ngIf="view.exercise=='1'" style="margin-top: 14px;">{{labels[0].yes}}</p>
                    <p *ngIf="view.exercise=='0'" style="margin-top: 14px;"></p>
                  </td>
                  <td>
                    <p *ngIf="view.medicalinsurance=='1'" style="margin-top: 14px;">{{labels[0].yes}}</p>
                    <p *ngIf="view.medicalinsurance=='0'" style="margin-top: 14px;"></p>
                  </td>
                  <td>
                    {{view.knownAllergies}}
                    <!-- <img src="assets/Images/allergy.png" style="width: 17px;" data-toggle="modal" data-target="#Allergies" (click)="GetAllerges(view.knownAllergies)"> -->
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels1[0].close}}</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="exampleModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{labels1[0].soap}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #soapForm="ngForm">
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].subjective}}</b>
                </label>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" [(ngModel)]="subjective" disabled name="subjective" required rows="4"
                  placeholder="{{labels1[0].subjective}}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].objective}}</b>
                </label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="objective" disabled required [(ngModel)]="objective"
                  placeholder="{{labels1[0].objective}}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].assessment}}</b>
                </label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="assessment" disabled required [(ngModel)]="assessment"
                  placeholder="{{labels1[0].assessment}}"></textarea>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].plan}}</b>
                </label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="plan" disabled required [(ngModel)]="plan"
                  placeholder="{{labels1[0].plan}}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].diagnosisCode}}</b>
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [(ngModel)]="diagnosiscode" disabled name="diagnosiscode"
                  placeholder="{{labels1[0].diagnosisCode}}" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label *ngIf="languageid=='1'">
                  <b>Diagnosis description</b>
                </label>
                <label *ngIf="languageid=='6'">
                  <b>Description du diagnostic</b>
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [(ngModel)]="icrdescription" disabled name="icrdescription" />
              </div>
            </div>
            <br>
            <!-- <div class="row">
          <div class="col-lg-3">
            <label><b>Sick Slip Genarator</b> </label>
          
          </div>
          <div class="col-lg-7">
            <input type="text" class="form-control" [(ngModel)]="sickslip" name="sickslip"
              placeholder="Sick Slip Genarator" />
          </div>
        </div><br> -->
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].followUpPlan}}</b>
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [(ngModel)]="followupplan" disabled name="followupplan"
                  placeholder="{{labels1[0].followUpPlan}}" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>Attachments</b>
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <img src="assets/Images/pdf.png" style="  height: 39px;" *ngIf="attchment!=0" (click)="GetSoapPdf()">
              </div>
            </div>
            <br>

            <!-- <div class="row">
          <div class="col-lg-3">
            <label><b>Signature</b> </label>
          <span style="color: red;">*</span>
          </div>
          <div class="col-lg-7">
            <input type="text" class="form-control" [(ngModel)]="signature" name="signature"
              placeholder="Signature" />
          </div>
        </div>
        <br> -->
            <div class="row">
              <div class="col-lg-3">
                <label>
                  <b>{{labels1[0].notes}}</b>
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="notes" disabled [(ngModel)]="notes"
                  placeholder="{{labels1[0].notes}}"></textarea>
              </div>
            </div>
            <br>

          </form>
        </div>
      </div>
    </div>
  </div>







