<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-6">
      <h5>{{labels[0].midwifefes}}
      </h5>
    </div>
    <div class="col-lg-4">
    </div>
    <!-- <div class="col-lg-2">
      <button type="button" routerLink="/MidwifeFeesDash" class="btn btncolor">{{labels[0].dashboard}}</button>
    </div> -->
  </div>
</div> <br>
<div class="container-fluid card card-hover">
  <form #feesform="ngForm">
  <br>
  <div class="row"  *ngIf="showindependentradio=='0'&&showbutton=='0'">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
      <input type="radio" [(ngModel)]="independent"   name="independent" value="1" (click)="GetIndependentMidwife($event)"> {{labels[0].hospitalmidwife}} &nbsp; &nbsp;
      <input type="radio" [(ngModel)]="independent"   name="independent" value="2" (click)="GetIndependentMidwife($event)"> {{labels[0].independentmidwife}}  &nbsp; &nbsp;
    </div>
  </div>

  <div class="row" style="margin-top: 20px;" *ngIf="showindependentradio=='1'">
    <div class="col-lg-3">
      <label>{{labels[0].mideife}} : </label> 
      <span class="requird">*</span>
    </div>
    <div class="col-lg-4" *ngIf="showbutton=='0'"> 
      <select class="form-control"  (change)="GetMidwifeID($event)">
        <option>{{labels[0].select}}</option>
        <option *ngFor="let mid of midwifes"  value="{{mid.midWifeID}}">{{mid.name}}</option>
      </select>
    </div>
    <div class="col-lg-4"  *ngIf="showbutton=='1'">
      <input type="text" class="form-control" disabled [(ngModel)]="midwifename" name="midwifename" >
    </div>
  </div>

  <div class="row" style="margin-top: 20px;" *ngIf="showindependentradio=='0'">
    <div class="col-lg-3">
      <label>{{labels[0].mideife}} : </label>
      <span class="requird">*</span>
    </div>
    <div class="col-lg-4" *ngIf="showbutton=='0'"> 
      <select class="form-control"  (change)="GetMidwifeID($event)">
        <option>{{labels[0].select}}</option>
        <option *ngFor="let mid of midwifes1"  value="{{mid.midWifeID}}">{{mid.name}}</option>
      </select>
    </div>
    <div class="col-lg-4"  *ngIf="showbutton=='1'">
      <input type="text" class="form-control" disabled [(ngModel)]="midwifename" name="midwifename" >
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].hospitalClinic}} : </label>
      <span class="requird">*</span>
    </div>
    <div class="col-lg-4">
      <!-- <select class="form-control"   (change)="GetHospitalID($event)">
        <option>{{labels[0].select}}</option>
        <option *ngFor="let hos of hospitalist" value="{{hos.hospitalClinicID}}">{{hos.hospital_ClinicName}}</option>
      </select> -->
      <input type="text" class="form-control" disabled [(ngModel)]="hospitalname" name="hospitalname">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].startTime}} : </label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4" *ngIf="showbutton=='0'">
      <select class="form-control" required (change)="GetStartTime($event)">
        <option value="0">{{labels[0].startTime}}</option>
        <option *ngFor="let day of Timeings" value={{day.slotName}},{{day.id}}>{{day.slotName}}
        </option>
      </select>
    
    </div>

    <div class="col-lg-4"  *ngIf="showbutton=='1'">
      <input type="text" class="form-control" disabled [(ngModel)]="starttime" name="starttime" >
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].endTime}} : </label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4"  *ngIf="showbutton=='0'">
      <select class="form-control" required (change)="GetEndTime($event)">
        <option value="0">{{labels[0].endTime}}</option>
        <option *ngFor="let day of endtimelist" value={{day.slotName}},{{day.id}}>{{day.slotName}}
        </option>
      </select>
      <!-- <input type="time" class="form-control" required [(ngModel)]="endtime" name="endtime"> -->
    </div>
    <div class="col-lg-4"  *ngIf="showbutton=='1'">
      <input type="text" class="form-control" disabled [(ngModel)]="endtime" name="endtime" >
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].homeVisitCharges}} : </label>
      <span class="requird">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" [(ngModel)]="homevisitfee" name="homevisitfee" onkeypress='return(event.charCode>=48&&event.charCode<=57)' required placeholder="{{labels[0].homeVisitCharges}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-block btn-md allbtns btncolor" [disabled]="feesform.form.invalid"
      *ngIf="showbutton=='0'"     (click)="addetails()">{{labels[0].add}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <br>
  <div class="row" *ngIf="tablecount=='1'">
    <div class="col-lg-12">
      <table>
        <tr>
          <th>{{labels[0].physiotherapist}}</th>
          <th>{{labels[0].startTime}}</th>
          <th>{{labels[0].endTime}}</th>
          <th>{{labels[0].homeVisitCharges}}</th>
          <th>{{labels[0].actions}}</th>
        </tr>
        <tr *ngFor="let det of qwerty">
          <td>{{det.MidWifeName}}</td>
          <td>{{det.StartTime}}</td>
          <td>{{det.EndTime}}</td>
          <td>{{det.HomeVisitFees}}</td>
          <td>
            <img src="assets/Images/dell.png" (click)="delete(det.Sno)">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <div class="row" >
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" text_align="center"  *ngIf="showbutton=='0'&&tablecount=='1'" class="btn btn-block btn-md allbtns btncolor"
        (click)="insertdetails()" >{{labels[0].save}}</button>

        <button type="button"  *ngIf="showbutton=='1'" text_align="center" class="btn btn-block btn-md allbtns btncolor"
        (click)="updatedetails()" >{{labels[0].update}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div><br><br>
</form>
</div>