<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].payment}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <!-- <select class="form-control" (change)="GetDepartmentID($event)">
        <option value="" selected>{{labels[0].selectDepartment}}</option>
        <option *ngFor="let department of departmentlist" value={{department.departmentname}}>
          {{department.departmentname}}</option>
      </select> -->
      <input type="text" placeholder="{{labels[0].searchh}}" [(ngModel)]="term1" class="form-control">
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="SelectAppointmentType($event)">
        <option value="0">{{labels[0].selectAppointmentType}}</option>
        <option value="1">{{labels[0].inClinic}}</option>
        <option value="2">{{labels[0].vedioConference}}</option>
        <option value="5">{{labels[0].homeVisit}}</option>
      </select>
      <!-- <select class="form-control" (change)="GetDoctorName($event)">
        <option value="0">{{labels[0].selectDoctor}}</option>
        <option *ngFor="let doc of DropDowndoctorlist" value={{doc.doctorName}}>{{doc.doctorName}}</option>
      </select> -->
    </div>
    <div class="col-lg-3" style="text-align: end;">
      <label style="margin-right: 24px;">{{labels[0].revtotal}} : {{GrandTotal}}</label>
      <label style="margin-right: 8px;">{{labels[0].count}} : {{count}}</label>
    </div>
  </div><br>
  <!-- <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="text-align: end;">

     
    </div>
   
  </div>
  <br> -->
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp">{{labels[0].app_ID}}</th>
            <th id="imp">{{labels[0].app_Date}}</th>
            <th>{{labels[0].app_Time}}</th>
            <th>{{labels[0].departmentt}}</th>
            <th>{{labels[0].doctorr}}</th>
            <th *ngIf="languageid=='1'">Paid Amount</th>
            <th *ngIf="languageid=='6'">Paiement reçu</th>
            <!-- <th>{{labels[0].doctorrfees}}</th> -->
            <th>{{labels[0].patientnamee}}</th>
            <!-- <th>{{labels[0].reasonVisit}}</th> -->
            <th *ngIf="languageid=='1'">Reason for visit</th>
            <th *ngIf="languageid=='6'">Motif</th>
            <th id="imp">{{labels[0].appointmentTypee}}</th>
            <th>{{labels[0].paymenttypee}}</th>
            <th>{{labels[0].status}}</th>
          </tr>
          <tr *ngFor="let details of doctorlist|filter:term|filter:term1">
            <td>{{details.appointmentID}}</td>
            <td>{{details.appointmentdatess}}</td>
            <td>{{details.slots}}</td>
            <td>{{details.departmentname}}</td>
            <td>{{details.doctorName}}</td>
            <td>
              <label *ngIf="details.isVisited=='1'">{{details.paidAmount}}</label>
            </td>
            <td>{{details.patientName}}</td>
            <td>{{details.reasonForVisit}}</td>
            <td>{{details.appointmentTypeText}}</td>
            <td>{{details.paymentType}}</td>
            <td>
              <label *ngIf=" details.accepted=='1' &&details.cancelled=='0' &&details.docCancelled=='0'
                    &&details.isVisited=='0' &&details.noShow=='0'"
                style=" color: green;">{{labels[0].accepted}}</label>
              <label *ngIf="details.cancelled=='1'" style="color: red;">{{labels[0].patientCancelled}}</label>
              <label *ngIf="details.docCancelled=='1'" style="color: red;">{{labels[0].doctorCancelled}}</label>

              <label *ngIf="details.isVisited=='1'" style="color: orange;">{{labels[0].visited}}</label>
              <label *ngIf="details.noShow=='1'" style="color: orange;">{{labels[0].notvisited}}</label>
              <label
                *ngIf="details.isVisited=='0'&&details.accepted=='0'&&details.cancelled=='0'&&details.docCancelled=='0'"
                style="color: rgb(255, 0, 149);">{{labels[0].pending}}</label>

            </td>

          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>

</div>