<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card-hover headerspace">
    <div class="row headerspace1">
        <div class="col-lg-3">
            <h5 *ngIf="languageid==1">Billing</h5>
            <h5 *ngIf="languageid==6">Facturation</h5>
        </div>

        <!-- <div class="col-lg-3">
            <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
                class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
            <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date"
                [bsConfig]="{ showWeekNumbers:false }" class="form-control" [(ngModel)]="value"
                (ngModelChange)="selectedDate($event)" bsDaterangepicker>
        </div> -->
    </div>
    <br />
</div>
<br>
<div class="container-fluid card">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="col-lg-3">
            <select class="form-control" (change)="GetType($event)" [(ngModel)]="typeid" name="typeid">
                <option selected value="">Select</option>
                <option value="1">{{labels[0].hospital}}</option>
                <option value="2"> {{labels[0].clinic}}</option>
                <option value="3">{{labels[0].independentDoctor}}</option>
                <option value="4">{{labels[0].independentNurse}}</option>
                <option value="5">{{labels[0].independentPhysiotherapist}}</option>
                <option value="6">{{labels[0].independentMidwife}}</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" (change)="GetYear($event)" [(ngModel)]="year" name="year">
                <option value="0">Select</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" (change)="GetMonth($event)" [(ngModel)]="month" name="month">
                <option value="0">Select</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div><br>
    <div class="row">
        <div class="col-lg-12">
            <table>

                <tr>
                    <th *ngIf="typeid==1">{{labels[0].hospital}}</th>
                    <th *ngIf="typeid==2">{{labels[0].clinic}}</th>
                    <th *ngIf="typeid==3">{{labels[0].independentDoctor}}</th>
                    <th *ngIf="typeid==4">{{labels[0].independentNurse}}</th>
                    <th *ngIf="typeid==5">{{labels[0].independentPhysiotherapist}}</th>
                    <th *ngIf="typeid==6">{{labels[0].independentMidwife}}</th>

                    <th>{{labels[0].contactPerson}}</th>
                    <th>{{labels[0].phoneNo}}</th>
                    <th>{{labels[0].emailID}}</th>
                    <th>{{labels[0].month}}</th>
                    <th>{{labels[0].monthlySuscriptionFees}}</th>
                    <th>Total Appointments Commission</th>
                    <th>TVA</th>
                    <th>{{labels[0].actions}}</th>
                </tr>
                <tr *ngFor="let details of billinglist">
                    <td>{{details.providerName}}</td>
                    <td>{{details.providerName}}</td>
                    <td>{{details.phoneNo}}</td>
                    <td>{{details.emailID}}</td>
                    <td>{{details.name}}</td>
                    <td>{{details.monthlySubscription|number:'1.2-2'|noComma}} DH</td>
                    <td>{{details.totalCommissionsAmount}}</td>
                    <td>{{details.vatPercentage}}</td>
                    <td><button (click)="GetList(details)" class="btncolor" data-toggle="modal" data-target="#errorServer">{{labels[0].viewInvoice}}
                            </button></td>

                </tr>

                <!-- <tr>
                    <th *ngIf="type=='Hospital'||type=='Clinic'">Hospital/Clinic Name</th>
                    <th *ngIf="type=='Doctor'">Doctor Name</th>
                    <th *ngIf="type=='Nurse'">Nurse Name</th>
                    <th *ngIf="type=='Physiotherapist'">Physiotherapist Name</th>
                    <th *ngIf="type=='MidWives'">MidWife Name</th>
                    <th *ngIf="type=='Hospital'||type=='Clinic'">Contact Person</th>
                    <th>Phone No</th>
                    <th>EmailID</th>
                    <th>Contract Start Date</th>
                    <th>Contract End Date</th>
                    <th>Monthly Subscription Fee</th>
                    <th style="width:10%;">Action</th>
                </tr>
                <tr *ngFor="let list of billinglist">
                    <td>{{list.hospital_ClinicName}}</td>
                    <td *ngIf="type=='Hospital'||type=='Clinic'">{{list.contactPersonName}}</td>
                    <td>{{list.contactPersonPhNo}}</td>
                    <td>{{list.emailID}}</td>
                    <td>{{list.contractStartdate|date}}</td>
                    <td>{{list.contractEnddate|date}}</td>
                    <td>{{list.monthlySubscription}}</td>
                
                    <td><button (click)="GetList(list)" data-toggle="modal" data-target="#invoiceModal">View Invoice</button></td>
                </tr> -->
            </table>
        </div>
    </div>
    <br>
</div>





<div id="errorServer" class="modal  fade show" tabindex="-1" data-keyboard="false" data-backdrop="static" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <div class="container-fluid" id="content">
                        <div class="row">
                            <div class="col-lg-6">
                                <img src="assets/Images/telehealth.png" style="width: 200px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 text-alignments ">
                                <h4 style="background:#303577;color:white">Client : {{hospitalname}}</h4>
                                <label>Address : {{address}}</label><br>
                                <label>Pin code : {{pincode}}</label><br>
                                <label>Phone No : {{phoneNo}}</label><br>
                                <label>Email : {{emailid}}</label><br>
                            </div>
                            <div class="col-lg-4 text-alignments">
                                <br><br>
                                <label>Statement date : {{todaydate}} </label><br>
                                <label>Statement no : {{invoicenumber}}</label><br>
                                <label>Client no </label><br>
                                <label>Client ICE no </label><br>
                                <label>Contact no </label><br>
                                <label>Year : {{year}}</label><br>
                                <label>Month : {{monthName}} </label><br>

                            </div>

                        </div><br>
                        <div class="row">
                            <h5>Abonnement au service Voiladoc - plateforme d'optimisation de pratique médicale</h5>
                            <div class="col-lg-12" style=" height: 100px;">
                                <table>
                                    <tr>
                                        <th>Provider Name</th>
                                        <th>Phone Number</th>
                                        <th>Description</th>
                                        <th>Monthly Subscription</th>
                                        <th>total Commission</th>
                                        <th>Total Amount</th>
                                    </tr>
                                    <tr>
                                        <td>{{hospitalname}}</td>
                                        <td>{{phoneNo}}</td>
                                        <td>Service Voiladoc </td>
                                        <td>{{monthlysub|number:'1.2-2'|noComma}} DH</td>
                                        <td>{{totalCommission|number:'1.2-2'|noComma}} DH</td>
                                        <td>{{totalamount|number:'1.2-2'|noComma}} DH</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <table>
                                    <tr>
                                        <th>No de compte bancaire TELEHEALTH :</th>
                                    </tr>
                                    <tr>
                                       <label>Bank Name :</label><br>
                                       <label>Account Number :</label><br>
                                       <label>Ifcs Code :</label><br>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-4 text-alignments">
                                <span>Monthly Subscription : {{monthlysub|number:'1.2-2'|noComma}} DH</span><br>
                                <span>Total Appointment Commission : {{totalCommission|number:'1.2-2'|noComma}} DH</span><br>
                                <span>TVA : {{vatAmount}}</span><br>
                                <span>TOTAL TTC DH : {{totalamount|number:'1.2-2'|noComma}} DH</span><br>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="SavePDF()" class="btn btn-primary" data-dismiss="modal">Send Invoice</button>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="modal fade" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-lg-12" id="content">
                        <div class="row">
                            <div class="col-lg-4">
                            </div>
                            <div class="col-lg-6">
                                <h1>INVOICE</h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Invoice Number</label>
                                <p>{{invoicenumber}}</p>
                            </div>
                            <div class="col-lg-4">
                                <label>Date Of Issue</label>
                                <p>{{todaydate}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Billed To</label>
                                <p>{{hospitalname}}</p>
                                <p>{{address}}</p>
                            </div>
                            <div class="col-lg-4">
                                <label>From</label>
                                <p>Meridional Health Pte. Ltd.</p>
                              
                            </div>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <table>
                                <tr>
                                    <th style="font-size: 12px;" *ngIf="typeid=='1'">Hospital
                                    </th>
                                    <th style="font-size: 12px;" *ngIf="typeid=='2'">Clinic
                                    </th>
                                    <th style="font-size: 12px;" *ngIf="typeid=='3'">Doctor Name</th>
                                    <th style="font-size: 12px;" *ngIf="typeid=='4'">Nurse Name</th>
                                    <th style="font-size: 12px;" *ngIf="typeid=='5'">Physiotherapist Name</th>
                                    <th style="font-size: 12px;" *ngIf="typeid=='6'">MidWife Name</th>
                                    <th style="font-size: 12px;">Year</th>
                                    <th style="font-size: 12px;">Month</th>
                                    <th style="font-size: 12px;">Monthly Subscription</th>
                                
                                </tr>
                                <tr>
                                    <td>{{hospitalname}}</td>
                                    <td>{{year}}</td>
                                    <td>{{month}}</td>
                                    <td>{{monthlysub}}</td>
                                  
                                </tr>
                            </table>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-9"></div>
                            <div class="col-lg-3">
                                <p
                                    style="margin-top: 4px;background-color: #b7c3d0;padding-top: 6px;padding-bottom: 6px;padding-left: 12px;">
                                    Invoice Total:{{totalamount}}</p>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-7">
                            </div>
                            <div class="col-lg-3">
                                <p style="margin-top: 4px;font-size: 13px;margin-left: 64px;">Signature</p>
                            </div>
                            <div class="col-lg-2">
                                <img src="assets/Images/signature.jpg" style="width:75%;">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button (click)="SavePDF()" class="btn btn-primary" data-dismiss="modal">Send Invoice</button>
                </div>
            </div>
        </div>
    </div> -->