<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].profile}}</h5>
    </div>
  </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <aw-wizard>
    <!-- <aw-wizard-step stepTitle="{{labels[0].profile}}"> -->
      <div class="container-fluid divspacee" style="margin-top:20px;">
        <div class="row">
          <div class="col-lg-8">
            <form #hospitalForm="ngForm">
              <div class="row" style="margin-top:20px;">
                <div class="col-lg-5">
                  <label>{{labels[0].hospitalClinicName}}: </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="text" disabled [(ngModel)]="hospitalname" name="hospitalname" class="form-control">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].hospitalPhoneNo}}: </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="text" maxlength="10" required [(ngModel)]="phno" name="phno" class="form-control"
                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].contactPersonName}}: </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="{{labels[0].contactPersonName}}" required
                    [(ngModel)]="contactpersonname" name="contactpersonname" class="form-control"
                    onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32||event.charCode==46'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].contactPersonPhoneNumber}}:</label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="{{labels[0].contactPersonPhoneNumber}}" maxlength="10" required
                    [(ngModel)]="contactpersonphno" name="contactpersonphno" class="form-control"
                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].email}}:</label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="email" [(ngModel)]="emailid" required name="emailid" class="form-control"
                    (ngModelChange)="onChange($event)">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].address}} :</label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <textarea class="form-control" rows="4" required [(ngModel)]="address" name="address"
                    placeholder="{{labels[0].address}}"></textarea>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].country}} : </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <select class="form-control" [(ngModel)]="countryid" name="countryid" (change)="GetCountryID($event)">
                    <option value="" selected>{{labels[0].select}}</option>
                    <option *ngFor="let cou of countrylist" value="{{cou.id}}">{{cou.short}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].province}} : </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <select class="form-control" (change)="GetCityID($event)" [(ngModel)]="cityid" name="cityid">
                    <option value="" selected>{{labels[0].select}}</option>
                    <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label class="City_label">{{labels[0].city}} :</label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <select class="form-control" (change)="GetAreaID($event)" [(ngModel)]="areaid" name="areaid">
                    <option value="" selected="selected">{{labels[0].select}}</option>
                    <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].zipCode}}: </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="text" [(ngModel)]="zipcode" maxlength="6" required name="zipcode" class="form-control"
                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label *ngIf="languageid=='1'">timings : </label>
                  <label *ngIf="languageid=='6'">Horaires : </label>
                  <span class="required">*</span>
                </div>
                <div class="col-lg-6">
                  <input type="text" [(ngModel)]="timings" required name="timings" class="form-control" onkeypress='return(event.charCode>=48 && event.charCode<=57)||(event.charCode>=65 && event.charCode<=90) ||(event.charCode>=97 && 
                event.charCode<=122 )||event.charCode==32||event.charCode==47||event.charCode==44||event.charCode==58'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].website}}: </label>

                </div>
                <div class="col-lg-6">
                  <input type="text" [(ngModel)]="website" name="website" class="form-control"
                    onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32||event.charCode>=48||event.charCode<=57'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].yearEstablished}}: </label>

                </div>
                <div class="col-lg-6">
                  <input type="text" [(ngModel)]="yearestablished" maxlength="4" name="yearestablished"
                    class="form-control" onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>{{labels[0].noOfBeds}} : </label>

                </div>
                <div class="col-lg-6">
                  <input type="text" [(ngModel)]="noofbeds" maxlength="10" name="noofbeds" class="form-control"
                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-5">
                  <label>Description : </label>
                </div>
                <div class="col-lg-6">
                  <textarea class="form-control" rows="4" [(ngModel)]="description" name="description"></textarea>
                </div>
              </div>
              <br>
              <!-- <div class="row">
              <div class="col-lg-3" *ngFor="let mulphoto of multiplephotos">
                <img src="{{mulphoto.photoURL}}" style="height:140px;width:140px;">&nbsp;&nbsp;
              </div>
    
            </div> -->
              <div class="row">
                <div class="col-lg-5">
                </div>
                <div class="col-lg-2">
                  <button type="button" [disabled]="hospitalForm.form.invalid||validEmail==false" text_align="center"
                    class="btn btn-block btn-md allbtns btncolor"
                    (click)="updatedetails()">{{labels[0].update}}</button>
                </div>
                <div class="col-lg-5">
                </div>
              </div>
              <br>
              <br>
              <div class="row">
                <h5 *ngIf="languageid=='1'" style="margin-left: 56px;">Photos On Mobile App</h5>
                <h5 *ngIf="languageid=='6'" style="margin-left: 56px;">Photos sur l'application mobile</h5>
              </div>
              <div class="row">
                <div class="col-lg-2" *ngFor="let mulphoto of multiplephotos" style="margin-left: 42px;">
                  <img src="{{mulphoto.photoURL}}" style="height:140px;width:140px;">&nbsp;&nbsp;
                  <button class="btn  btncolor" style="    width:132%;
                  " (click)="GetHospitalID(mulphoto.hospitalid)">{{labels[0].edit}}</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-lg-4" *ngIf="mulbit=='1'">
                  <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
                    <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
                  </ngx-dropzone>
                  <span *ngFor="let hspphoto of showphotosss">
                    <img src="{{hspphoto}}" style="height: 35px; width: auto;">
                  </span>
                  <br>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-9" *ngIf="mulbit=='1'">
                  <button class="btn btncolor" (click)="UpdateMultiplePhotos()">{{labels[0].update}}</button>
                </div>
              </div>
            </form>
          </div>
          <br>
          <div class="col-lg-4" style="margin-top:20px;">
            <h5 *ngIf="languageid=='1'">Main Profile Photo</h5>
            <h5 *ngIf="languageid=='6'">Photo de profil principale</h5>
            <img src="{{photourl}}" style="width:90%;height:auto;" />
            <br>
            <br>
            <button class="btn   btncolor" style="width: 40%;
            margin-top: 11px; margin-left: 100px" (click)="GetID()">{{labels[0].edit}}</button>
            <br>
            <br>
            <div class="col-lg-8" *ngIf="showdrop=='1'">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let hspphoto of showphotosss">
                <img src="{{hspphoto}}" style="height: 35px; width: auto;">
              </span>
            </div>
            <br>
            <br>
            <div class="col-lg-8" *ngIf="showdrop=='1'">
              <button class="btn btncolor" (click)="updatephoto()">{{labels[0].update}}</button>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <!-- <button type="button" awNextStep style="float: right;margin-bottom: 5px;"
        class="btn btncolor ">{{labels[0].next}}</button> -->
      <!-- <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button> -->
    <!-- </aw-wizard-step> -->
    <!-- <aw-wizard-step stepTitle="{{labels[0].addphotos}}" awOptionalStep>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3">
            <label>PHOTOS:</label>
          </div>
          <div class="col-lg-4">
            <ngx-dropzone [multiple]="false" (change)="onattachmentUploaArospitals($event)"
              class="dropzone_vendorinvoice h-100">
              <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
            </ngx-dropzone>
            <span *ngFor="let hspphoto of showphotoss">
              <img src="{{hspphoto}}" style="height: 38px;
              width: auto;">
            </span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
              (click)="inserthspphotos()"> {{labels[0].save}}</button>
          </div>
          <div class="col-lg-5">

          </div>
        </div>
        <div>
        </div>
      </div>

      <button type="button" awPreviousStep style="    float: left;
      margin-bottom: 15px" class="btn btncolor ">{{labels[0].previous}}</button>
    
    </aw-wizard-step> -->

  </aw-wizard>
</div>