<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" style="    margin-top: -2px;">
      <h5>{{labels[0].subCategory}}</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;    margin-top: -5px;">
      <button type="button" routerLink="/SubCategory" class="btn btncolor">{{labels[0].addSubCategory}}</button>
    </div>
  </div>
</div>
<br>

<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" placeholder="{{labels[0].search}}" [(ngModel)]="term">
    </div>

    <div class="col-lg-3">
      <select class="form-control" (change)="GetCategoryID($event)">
        <option value="0">{{labels[0].selectCategory}}</option>
        <option *ngFor="let couu of CategoryList" value={{couu.id}}>{{couu.categoryName}}</option>
      </select>
    </div>

  </div>
  <br>
  <div class="row" style="overflow: auto;">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].category}}</th>
            <th>{{labels[0].subCategory}}</th>
            <th>{{labels[0].descriptions}}</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let details of FilteredSubcategoryLists|filter:term">
            <td>{{details.categoryName}}</td>
            <td>{{details.subacategoryName}}</td>
            <td>{{details.description}}</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/edit.png" style="width: 20px;margin-left: 10px;" (click)="Edit(details.subCatID)">
              </a>
              <ng-template #tipcontent1>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent1">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;" (click)="DeleteSubcategory(details.subCatID)">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <br>
  <br>
  <br>

</div>