<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].revenue}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="col-lg-3">
    <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
      class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
      class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>

  </div>
  
  <br>
  <div class="row">
    <div class="col-lg-3" *ngFor="let clinic of detailslist">
      <div class="optionsboxdown" [routerLink]="['/TotalHospitalApointments',1]"
        style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;">
         
          <b style="font-size: 15px;">
            {{labels[0].totalRevenue}} </b>

        </label> <br>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{totalreveue}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3" *ngFor="let clinic of detailslist">
      <div class="optionsboxdown" [routerLink]="['/InclinicRevenue']" style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;">
         <b> {{labels[0].revenues}}</b> <br><br>
          <b style="font-size: 15px;" *ngIf="hospitaltype=='2'">
            {{labels[0].incinicrevenue}} </b>

            <b style="font-size: 15px;" *ngIf="hospitaltype=='1'">

              {{labels[0].hospitalRevenue}} </b>

        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;" [routerLink]="['/InclinicRevenue']">{{clinic.inclinicRevenue}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>

    <div class="col-lg-3" *ngFor="let clinic of detailslist">
      <div class="optionsboxdown" [routerLink]="['/Videocallrevenue']" style="cursor: pointer;border-radius: 16px;">
        <br>
        <b> {{labels[0].revenues}}</b> <br>
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            {{labels[0].videorevenue}} </b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;" [routerLink]="['/Videocallrevenue']">{{clinic.vedioconferenceRevenue}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3">
      <div class="optionsboxdown" [routerLink]="['/HomecareRevenue']" style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;">
          <b> {{labels[0].revenues}}</b> <br>
          <b style="font-size: 15px;">
            {{labels[0].homecarerevenue}}</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;" [routerLink]="['/HomecareRevenue']">{{TotalAmount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <br />
  </div>

  <div class="row">
    <div class="col-lg-3" *ngFor="let clinic of detailslist">
      <div class="optionsboxdown" [routerLink]="['/TotalHospitalApointments',2]"
        style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;">
          <!-- <b>{{labels[0].hosappointments}}</b> <br> -->
          <b style="font-size: 15px;">
            {{labels[0].totalAppointments}} </b>
        </label>
        <br />
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;">{{totalappointments}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>
    <div class="col-lg-3" *ngFor="let clinic of detailslist">
      <div class="optionsboxdown" [routerLink]="['/InclinicAppointements']"
        style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;">
          <b>{{labels[0].hosappointments}}</b> <br><br>
          
          <b style="font-size: 15px;"  *ngIf="hospitaltype=='2'">
            {{labels[0].incinicrevenue}} </b>

            <b style="font-size: 15px;" *ngIf="hospitaltype=='1'">
              {{labels[0].hospitalRevenue}} </b>
        </label>
        <br />
        <br />
      
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;" [routerLink]="['/InclinicAppointements']">{{clinic.clicniccount}}</u>
          </b>
        </label>
      </div>
      <br />
      <br />
    </div>

    <div class="col-lg-3" *ngFor="let clinic of detailslist">
      <div class="optionsboxdown" [routerLink]="['/Videocallappointements']"
        style="cursor: pointer;border-radius: 16px;">
        <br>
        <label style="color: black;font-size: 30px;color: white;">
          <b>{{labels[0].hosappointments}}</b> <br>
          <b style="font-size: 15px;">
            {{labels[0].videorevenue}} </b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;"
              [routerLink]="['/Videocallappointements']">{{clinic.vedocallappointmentcount}}</u>
          </b>
        </label>
      </div>
      <br />
    </div>

    <div class="col-lg-3">
      <div class="optionsboxdown" [routerLink]="['/HomecareAppointements']"
        style="cursor: pointer;border-radius: 16px;">
        <br>
        <b>{{labels[0].hosappointments}}</b> <br>
        <label style="color: black;font-size: 30px;color: white;">
          <b style="font-size: 15px;">
            {{labels[0].homecarerevenue}}</b>
        </label>
        <br />
        <br />
        <label style="color: black;font-size: 30px;color: #f17e2d;">
          <b>
            <u style="font-size: 20px;" [routerLink]="['/HomecareAppointements']">{{homecarerevenuecount}}</u>
          </b>
        </label>
      </div>
      <br />
    </div>
    <br />
  </div>

  <!-- <div *ngIf="languageid=='6'">
    <div class="row" *ngFor="let clinic of detailslist">
   
      <div class="col-lg-3">
        <div class="optionsboxdown" [routerLink]="['/TotalHospitalApointments',4]" style="cursor: pointer;border-radius: 16px;">
          <br>
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 15px;">
              {{labels[0].doctorHomevisitRevenue}}</b>
          </label>
          <br />
          <label style="color: black;font-size: 30px;color: #f17e2d;">
            <b>
              <u style="font-size: 20px;" [routerLink]="['/TotalHospitalApointments',4]">{{clinic.homeVisitRevenue}}</u>
            </b>
          </label>
        </div>
        <br>
      </div>
      <div class="col-lg-3">
        <div class="optionsboxdown" [routerLink]="['/TotalHospitalApointments',3]" style="cursor: pointer;border-radius: 16px;">
          <br>
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 15px;">
              {{labels[0].doctorHomeVisitAppointments}}</b>
          </label>
          <br />
          <label style="color: black;font-size: 30px;color: #f17e2d;">
            <b>
              <u style="font-size: 20px;" [routerLink]="['/TotalHospitalApointments',3]">{{clinic.homeVisitAppointments}}</u>
            </b>
          </label>
          <br />
          <br />
        </div>
        <br>
      </div>
    </div><br>
  </div> -->

  <!-- <div *ngIf="languageid=='1'">
    <div class="row" *ngFor="let clinic of detailslist">
   
      <div class="col-lg-3">
        <div class="optionsboxdown" [routerLink]="['/TotalHospitalApointments',4]" style="cursor: pointer;border-radius: 16px;">
          <br>
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 15px;">
              {{labels[0].doctorHomevisitRevenue}}</b>
          </label>
          <br />
          <br />
          <label style="color: black;font-size: 30px;color: #f17e2d;">
            <b>
              <u style="font-size: 20px;" [routerLink]="['/TotalHospitalApointments',4]">{{clinic.homeVisitRevenue}}</u>
            </b>
          </label>
        </div>
        <br>
      </div>
      <div class="col-lg-3">
        <div class="optionsboxdown" [routerLink]="['/TotalHospitalApointments',3]" style="cursor: pointer;border-radius: 16px;">
          <br>
          <label style="color: black;font-size: 30px;color: white;">
            <b style="font-size: 15px;">
              {{labels[0].doctorHomeVisitAppointments}}</b>
          </label>
          <br />
          <label style="color: black;font-size: 30px;color: #f17e2d;">
            <b>
              <u style="font-size: 20px;" [routerLink]="['/TotalHospitalApointments',3]">{{clinic.homeVisitAppointments}}</u>
            </b>
          </label>
          <br />
        
        </div>
        <br>
      </div>
    </div><br>
  </div> -->

</div>
<br>