<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5 *ngIf="languageid==1">Home Charges Master </h5>
      <h5 *ngIf="languageid==6">Maître de service à domicile</h5>
    </div>
    <div class="col-lg-6">
    </div>
    <!-- <div class="col-lg-3">
      <button type="button" routerLink="/CityMaster"
        style="float: right;background-color:  #f18235;width: 49%;color: white;" class="btn btncolor">{{labels[0].add}}</button>
    </div> -->
  </div>
  <br>
</div><br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
          <tr *ngIf="languageid=='1'">
            <th>Type</th>
            <th>Delivery Charges </th>
            <th>Meridional Commission</th>
            <th>Delivery Patner Fees</th>
            <th>Actions</th>
          </tr>
          <tr *ngIf="languageid=='6'">
            <th>Type</th>
            <th>Frais </th>
            <th>Commission Voiladoc</th>
            <th>Honoraires du partenaire</th>
            <th>Actions</th>
          </tr>

          <tr *ngFor="let credit of homeChargesList|filter:term">
            <td>{{credit.typeName}}</td>
            <td>{{credit.deliveryCharges}}</td>
            <td>{{credit.meridionalCommision}}</td>
            <td>{{credit.deliveryPatnerFees}}</td>
            <td>
              <img src="assets/Images/edit.png" data-toggle="modal" data-target="#exampleModal" (click)="getid(credit)">
            </td>
          </tr>

        </thead>
      </table>
    </div><br><br>
  </div><br><br>
  <br>
</div><br>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
       
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='1'">Edit</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='6'&&typeid=='1'">Modifications des frais de
          livraison en pharmacie </h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="languageid=='6'&&typeid=='2'">Modifications des frais de
          analyses et Imagerie </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="row">
          <div class="col-lg-4">
            <label *ngIf="languageid=='1'">Delivery Charges :</label>
            <label *ngIf="languageid=='6'">Frais de livraison :</label>
          </div>
          <div class="col-lg-5">
            <input type="text" required [(ngModel)]="deliverycharges" name="deliverycharges" class="form-control" />
          </div>

        </div><br>
        <div class="row">
          <div class="col-lg-4">
            <label *ngIf="languageid=='1'">Meridional Commission :</label>
            <label *ngIf="languageid=='6'">Commission Voiladoc :</label>
          </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" [(ngModel)]="meridionalcommission" name="meridionalcommission"
              (ngModelChange)="GetCommission($event)" />
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-4">
            <label *ngIf="languageid=='1'">Delivery Patner Fees :</label>
            <label *ngIf="languageid=='6'">Frais de partenaire de livraison :</label>
          </div>
          <div class="col-lg-5">
            <input type="text" class="form-control" disabled [(ngModel)]="deliveryPatnerFees"
              name="deliveryPatnerFees" />
          </div>
        </div><br>

        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-2">
            <button class="btn btncolor" (click)="update()">{{labels[0].update}}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btncolors" data-dismiss="modal"
          *ngIf="languageid=='1'">Close</button>
        <button type="button" class="btn btn-secondary btncolors" data-dismiss="modal"
          *ngIf="languageid=='6'">Fermer</button>

      </div>
    </div>
  </div>
</div>