label::first-letter{
    text-transform: uppercase;
  }
  /* label{
    text-transform: lowercase;
  } */
  .headerspace{
    margin-top: 10px;
    text-transform:uppercase;
  }
#imp{
  text-transform:none;
}