<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace1">
    <div class="col-lg-8">
      <h5 *ngIf="languageid=='1'">Invitation Master Dashboard</h5>
      <h5 *ngIf="languageid=='6'">TABLEAU DE BORD DU PROGRAMME DE RÉFÉRENCE PATIENT      </h5>
      <!-- <h5>{{labels[0].monthWiseSchedule}}</h5> -->
      <br>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
      <button type="button" *ngIf="languageid=='1'" routerLink="/InvitationMaster" class="btn btncolor">Add
      </button>
      <button type="button" *ngIf="languageid=='6'" routerLink="/InvitationMaster" class="btn btncolor">Ajouter nouveau

      </button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <input type="text" class="form-control" *ngIf="languageid=='1'" [(ngModel)]="term" name="term" placeholder="Search">
      <input type="text" class="form-control" *ngIf="languageid=='6'" [(ngModel)]="term" name="term" placeholder="Recherche">
    </div>
  </div><br>
  <div class="row" style="overflow: auto;">
    <div class="col-lg-12" style="overflow: auto;">
      <table id="Appointment">
        <thead>
          <tr *ngIf="languageid=='1'">
            <th>Date</th>
            <th>No of converted users</th>
            <th>Deposit into wallet </th>
          </tr>
          <tr *ngIf="languageid=='6'">
            <th>Date</th>
            <th>Nombre d'utilisateurs convertis</th>
            <th>Dépôt dans le portefeuille    </th>
          </tr>
          <tr *ngFor="let invitation of invitationslist|filter:term">
            <td>{{invitation.date}}</td>
            <td>{{invitation.noOfInstalations}}</td>
            <td>{{invitation.amount}}</td>
           
          </tr>

        </thead>
      </table>
    </div>
  </div><br>
</div>
<br>