<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].myProfile}}</h5>
    </div>
  </div>
</div>
<aw-wizard navBarLocation="top" navBarLayout="small" navBarDirection="left-to-right" navigationMode="strict"
  class="card card:hover divspacee">
  <aw-wizard-step stepTitle="{{labels[0].personalInformation}}">
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <form #doctorForm="ngForm">
            <div class="row">
              <div class="col-lg-4">
                <!-- <label><b>{{labels[0].doctorName}}</b> :</label> -->
                <label>{{labels[0].doctorName}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text"  placeholder="{{labels[0].none}}" disabled [(ngModel)]="doctorname" name="doctorname" class="form-control">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].phoneNo}} :</label>

              </div>
              <div class="col-lg-6">
                <input type="text"  minlength="10"  disabled maxlength="10" [(ngModel)]="phno" name="phno" class="form-control"
                placeholder="{{labels[0].none}}"    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
              </div>
              <br>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].email}} :</label>

              </div>
              <div class="col-lg-6">
                <input type="email" disabled  placeholder="{{labels[0].none}}" [(ngModel)]="emailid" disabled (ngModelChange)="onChange($event)" name="emailid"
                  class="form-control">
              </div>
              <br>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="Email_label">{{labels[0].speaklanguages}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="email" disabled  placeholder="{{labels[0].none}}" name="speaklanguages"
                  [(ngModel)]="speaklanguages" name="speaklanguages" class="form-control">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].address}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <textarea id="textarea1" disabled required rows="4" cols="45" [(ngModel)]="address" name="address"  placeholder="{{labels[0].none}}"
                  class="form-control"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].country}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class="form-control" disabled [(ngModel)]="countryid" name="countryid" (change)="GetCountryID($event)">
                  <option value="" selected>Select</option>
                  <option *ngFor="let cou of countrylist" value={{cou.id}}>{{cou.short}}</option>
                </select>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].province}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class=" form-control" disabled [(ngModel)]="cityid" name="cityid" (change)="GetcityID($event)">
                  <option value="" selected="selected">select</option>
                  <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="City_label">{{labels[0].city}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class="form-control" disabled [(ngModel)]="areaid" name="areaid" (change)="GetAreaID($event)">
                  <option value="" selected="selected">Select</option>
                  <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
                </select>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].department}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class="dropdown form-control" disabled [(ngModel)]="departmentid" name="departmentid"
                  (change)="GetdepartmentID($event)">
                  <option value="" selected>select</option>
                  <option *ngFor="let department of departmentlist" value={{department.id}}>
                    {{department.departmentname}}
                  </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].experience}} :</label>

              </div>
              <div class="col-lg-6">
                <input type="text" maxlength="2" disabled [(ngModel)]="experience" name="experience" class="form-control"
                placeholder="{{labels[0].none}}"  onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].isHomeVisitIsAvailable}} :</label>

              </div>
              <div class="col-lg-6">
                <input type="radio" name="homevisit" disabled [(ngModel)]="homevisit" [value]="true">{{labels[0].yes}} &nbsp;
                <input type="radio" name="homevisit" disabled [(ngModel)]="homevisit" [value]="false">{{labels[0].no}}
              </div>
            </div><br> -->
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].description}} :</label>

              </div>
              <div class="col-lg-6">
                <textarea id="textarea1" rows="7" cols="45" disabled [(ngModel)]="description" name="description"
                  placeholder="{{labels[0].none}}" class="form-control"></textarea>
              </div>
            </div><br>
            <!-- <div class="row">
              <div class="col-lg-4">
                <label class="Email_label">{{labels[0].documentVerified}} :</label>
              
              </div>
              <div class="col-lg-6">
                <input type="radio" name="dcoverify"  [(ngModel)]="dcoverify" [value]="true">{{labels[0].yes}} &nbsp;
                <input type="radio" name="dcoverify"  [(ngModel)]="dcoverify" [value]="false">{{labels[0].no}}
              </div>
            </div><br> -->
            <!-- <div class="row">
              <div class="col-lg-4">
                <label class="Email_label">{{labels[0].mallpractiece}} :</label>
               
              </div>
              <div class="col-lg-6">
                <input type="radio" name="mallprcise"  [(ngModel)]="mallprcise" [value]="true">{{labels[0].yes}} &nbsp;
                <input type="radio" name="mallprcise"  [(ngModel)]="mallprcise" [value]="false">{{labels[0].no}}
              </div>
            </div><br> -->
            <!-- <div class="row">
              <div class="col-lg-6">
                  <img src="{{mphoto}}" style="height:120px;width:150px;"><br>
                  <button  class="btn  btncolor">Edit</button>
                  </div>
                </div> -->
            <br><br>
            <!-- <div class="row">
              <div class="col-lg-5">
              </div>
              <div class="col-lg-3">
                <button type="button" disabled [disabled]="doctorForm.form.invalid||validEmail==false" text_align="center"
                  class="btn btn-block btn-md allbtns btncolor" (click)="updatedetails()">{{labels[0].update}}</button>
              </div>
              <div class="col-lg-4">
              </div>
            </div> -->
          </form>
        </div>
        <div class="col-lg-4">
          <img src={{photourl}} style="width: 100%;height: auto;" /><br><br>
          <!-- <button class="btn  btncolor" (click)="GetEditPhoto()">{{labels[0].edit}}</button><br><br> -->
          <div class="col-lg-8" *ngIf="editbit=='1'">
            <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload1($event)" class="dropzone_vendorinvoice h-100">
            </ngx-dropzone><br>
            <span *ngFor="let pic of showdocphoto">
              <img src="{{pic}}" style="height:30px;width:30px">
            </span>
          </div>
          <div class="col-lg-4" *ngIf="editbit=='1'">
            <button class="btn  btncolor" (click)="updatedocphoto()"> {{labels[0].update}}</button>
          </div><br>
          <div class="col-lg-12 " *ngIf="editbit=='1'">
            <p style="background-color: #f18235;color: white;">
              {{labels[0].image}}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" *ngFor="let mphoto of details1">
          <img src="{{mphoto.photoUrl}}" style="height:120px;width:150px;"><br><br>
          <!-- <button class="btn  btncolor" (click)="GetMedicalPhotoEdit(mphoto.id)">{{labels[0].edit}}</button> -->
          <br><br>

          <div class="col-lg-4" *ngIf="meditt=='1'">
            <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload2($event)" class="dropzone_vendorinvoice h-100">
            </ngx-dropzone>
            <span *ngFor="let sds of photodetail">
              <img src="{{sds}}" style="height: 20px;width: 30px;">
            </span>
          </div><br>
          <div class="col-lg-4" *ngIf="meditt=='1'">
            <button class="btn  btncolor" (click)="updatemedicalphoto()">{{labels[0].update}}</button>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-6 " *ngIf="meditt=='1'">
          <p style="background-color: #f18235;color: white;">
            {{labels[0].image}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button type="button" style="float: right" class="btn dashbtn nextbtncolor"
            awNextStep>{{labels[0].next}}</button><br>
        </div>
      </div>
    </div><br><br>

  </aw-wizard-step>
  <aw-wizard-step stepTitle="{{labels[0].madicalRegistration}}">
    <br>
    <br>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8">
          <form #doctorsForm="ngForm">
            <div class="row">

              <div class="col-lg-5">
                <label>{{labels[0].registrationNo}} :</label>

              </div>
              <div class="col-lg-5">
                <input type="text" disabled placeholder="{{labels[0].registrationNo}}" maxlength="15"
                  [(ngModel)]="registrationno" name="registrationno" class="form-control"
                  onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode>=48&&event.charCode<=57'>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-5">
                <label>{{labels[0].registrationCouncil}} :</label>

              </div>
              <div class="col-lg-5">
                <input type="text" disabled placeholder="{{labels[0].registrationCouncil}}" [(ngModel)]="registrationcouncil"
                  name="registrationcouncil" class="form-control"
                  onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32'>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-5">
                <label>{{labels[0].registrationYear}} :</label>

              </div>
              <div class="col-lg-5">
                <input type="text" disabled placeholder="{{labels[0].registrationYear}}" minlength="4" maxlength="4"
                  [(ngModel)]="registrationyear" name="registrationyear" class="form-control"
                  onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-5">
              </div>
              <!-- <div class="col-lg-2">
                <button type="button" disabled [disabled]="doctorsForm.form.invalid" text_align="center"
                  class="btn btn-block btn-md allbtns btncolor"
                  (click)="updatemedicalregistration()">{{labels[0].update}}</button>
              </div> -->
              <div class="col-lg-5">
              </div>
            </div>


          </form>

        </div>
        <!-- <div class="col-lg-4" *ngFor="let mphoto of details1">
          <img src="{{mphoto.photoUrl}}" style="height:120px;width:150px;"><br>
        </div> -->
      </div>
      <div class="row">
        <div class="col-lg-12">
          <button type="button" style="float: left" class="btn dashbtn nextbtncolor"
            awPreviousStep>{{labels[0].previous}}</button>
          <button type="button" style="float:right;" class="btn dashbtn nextbtncolor"
            awNextStep>{{labels[0].next}}</button><br><br>
        </div>
      </div>
    </div>

  </aw-wizard-step><br>
  <aw-wizard-step stepTitle="{{labels[0].education}}">
    <br>
    <br>
    <div class="container-fluid">
      <form #doctorssForm="ngForm">
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="DEPARTMENT_label">{{labels[0].degree}} :</label>
            <!-- <span class="required">*</span> -->
          </div>
          <div class="col-lg-4">
            <select class="dropdown form-control" disabled (change)="GetDegreeID($event)">
              <option value="" disabled selected>{{labels[0].select}}</option>
              <option *ngFor="let degree of degreelist" value={{degree.id}}>{{degree.short}}</option>
            </select>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label class="">{{labels[0].college}} :</label>
            <!-- <span class="required">*</span> -->
          </div>
          <div class="col-lg-4">
            <input type="text" disabled placeholder="{{labels[0].college}}" name="colleagename" [(ngModel)]="colleagename"
              class="form-control"
              onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32'>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label class="REGISTRATION NO:">{{labels[0].yearOfPassing}} :</label>
            <!-- <span class="required">*</span> -->
          </div>
          <div class="col-lg-4">
            <input type="text" disabled placeholder="{{labels[0].yearOfPassing}}" maxlength="4" name="yearofpassing"
              maxlength="4" [(ngModel)]="yearofpassing" class="form-control"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
          </div>
        </div><br>
        <!-- <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" disabled text_align="center" class="btn btn-block btn-md allbtns btncolor"
              [disabled]="doctorssForm.form.invalid" (click)="insertdoctoreducation()">{{labels[0].save}}</button>
          </div>
          <div class="col-lg-5">
          </div>
        </div><br> -->
        <div class="row">
          <div class="col-lg-12">
            <table>
              <tr>
                <th>{{labels[0].degree}}</th>
                <th>{{labels[0].college}}</th>
                <th>{{labels[0].yearOfPassing}}</th>
                <!-- <th>{{labels[0].delete}}</th> -->
              </tr>
              <tr *ngFor="let edu of educationlist">
                <td>{{edu.short}}</td>
                <td>{{edu.collegeName}}</td>
                <td>{{edu.yearOfPassing}}</td>
                <!-- <td><img src="assets/Images/dell.png" (click)="DeleteDoctorEducation(edu.id)"></td> -->
              </tr>
            </table>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-2" *ngFor="let identiy of identityphoto">
            <img src="{{identiy.photoURL}}" style="height:100px;width:100px;"><br><br>
            <!-- <button class="btn  btncolor" (click)="GetidentityID(identiy.id)">{{labels[0].edit}}</button><br><br> -->
            <div class="col-lg-12" *ngIf="identiyyyds=='1'">
              <ngx-dropzone [multiple]="false" (filesAdded)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
              </ngx-dropzone>
              <span *ngFor="let dsffs of showidentityproof">
                <img src="{{dsffs}}" style="height: 20px;width: 20px;">
              </span>
            </div><br><br>
            <div class="col-lg-4" *ngIf="identiyyyds=='1'">
              <button class="btn  btncolor" (click)="UpdateIdentityproof()"> {{labels[0].update}}</button>
            </div>
          </div><br>
        </div><br>
        <div class="row">
          <div class="col-lg-4 specforimg" *ngIf="identiyyyds=='1'">
            <p style="background-color: #f18235;color: white;">
              {{labels[0].image}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <button type="button" style="float: left" class="btn dashbtn nextbtncolor"
              awPreviousStep>{{labels[0].previous}}</button>

            <button type="button" style="float:right;" class="btn dashbtn nextbtncolor"
              awNextStep>{{labels[0].next}}</button><br><br>
          </div>
        </div>
      </form>
    </div><br><br>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Financial">
    <hr size="30">
    <div class="row">
      <div class="col-lg-3">

      </div>
      <div class="col-lg-9">
        <h4 class="mainheader" *ngIf="languageid=='1'">Business registration and invoicing</h4>
        <h4 class="mainheader" *ngIf="languageid=='6'">Enregistrement et facturation des entreprises</h4>
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].taxidentification}} :</label>

      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels4[0].taxidentification}}"
         disabled [(ngModel)]="taxidentification" name="taxidentification">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].businessid}} :</label>

      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" disabled placeholder="{{labels4[0].businessid}}" [(ngModel)]="businessid"
          name="businessid">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].commercial}} :</label>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" disabled placeholder="{{labels4[0].commercial}}" [(ngModel)]="commercialcity"
          name="commercialcity">
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].taxprofessional}} :</label>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels4[0].taxprofessional}}"
        disabled  [(ngModel)]="taxprofessional" name="taxprofessional">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].seccuritysocialfundno}} :</label>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels4[0].seccuritysocialfundno}}"
        disabled [(ngModel)]="socialseccurityfundno" name="socialseccurityfundno">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-9">
        <h4 class="mainheader" *ngIf="languageid=='1'">Bank details</h4>
        <h4 class="mainheader" *ngIf="languageid=='6'">Coordonnées bancaires</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].nameofthebank}} :</label>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels4[0].nameofthebank}}" [(ngModel)]="nameofbank"
        disabled   name="nameofbank">
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].accountname}} :</label>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels4[0].accountname}}" [(ngModel)]="accountName"
        disabled  name="accountName">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].accountnumber}} :</label>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="{{labels4[0].accountnumber}}" maxlength="24"
        disabled [(ngModel)]="accountNumber" name="accountNumber">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3">
        <label class="Address_label">Exonerated :</label>
      </div>
      <div class="col-lg-4">
        <input type="radio" [value]="1" disabled [(ngModel)]="vatCheck" name="vatCheck" (click)="checkVatvalue(1)">
        &nbsp;{{labels[0].yes}}
        <input type="radio" [value]="0" disabled [(ngModel)]="vatCheck" name="vatCheck" (click)="checkVatvalue(0)">
        &nbsp;{{labels[0].no}}
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">Vat Percentage :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" [disabled]="vatCheck=='1'" [(ngModel)]="vatpercentage"
          disabled  name="vatpercentage" placeholder="Vat Percentage">
        </div>
      </div>
      <br>
    </div>
    <div class="row" *ngIf="vatCheck=='1'">
      <div class="col-lg-3">
        <label *ngIf="languageid=='1'">Exoneration period from :</label>
        <label *ngIf="languageid=='6'">Période d'exonération à partir de :</label>
        <span class="required">*</span>
      </div>

      <div class="col-lg-4">
        <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
          placeholder="{{labels[0].contractstratdate}}" [minDate]="today" name="contractstartdate" required
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdate" bsDatepicker>
      </div>
    </div>
    <br />
    <div class="row" *ngIf="vatCheck=='1'">
      <div class="col-lg-3">
        <label *ngIf="languageid=='1'">Exoneration period to :</label>
        <label *ngIf="languageid=='6'">Période d'exonération à :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
          placeholder="{{labels[0].contractenddate}}" [minDate]="contractstartdate" name="contractenddate" required
          [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractenddate" bsDatepicker>
      </div>
    </div>

    <div class="row" *ngIf="hospitalid=='590'">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-9">
        <h4 class="mainheader" *ngIf="languageid=='1'">Subscription setup</h4>
        <h4 class="mainheader" *ngIf="languageid=='6'">Configuration de l'abonnement</h4>
      </div>
    </div><br>
    <div class="row" *ngIf="hospitalid=='590'">
      <div class="col-lg-3">
        <label class="Address_label">{{labels4[0].subscriptiontype}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-md-8">
        <input type="radio" name="subscriptiontype" [(ngModel)]="subscriptiontype"
        disabled  [value]="1">{{labels4[0].monthlySubscription}}
        &nbsp;
        <input type="radio" name="subscriptiontype" disabled [(ngModel)]="subscriptiontype" [value]="2">
        {{labels4[0].appointmentpercentage}}
        &nbsp;
        <input type="radio" name="subscriptiontype" disabled [(ngModel)]="subscriptiontype" [value]="3"> {{labels4[0].both}}
      </div>
    </div><br>
    <div *ngIf="subscriptiontype=='1'">
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels4[0].monthlySubscription}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels4[0].monthlySubscription}}" name="monthlysubription"
            [(ngModel)]="monthlysubription" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div><br>

    </div>
    <div *ngIf="subscriptiontype=='2'">
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels4[0].appointmentpercentage}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels4[0].appointmentpercentage}}" name="appointmentpercentage"
            [(ngModel)]="appointmentpercentage" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div><br>
    </div>
    <div *ngIf="subscriptiontype=='3'">
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels4[0].appointmentpercentage}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels4[0].appointmentpercentage}}" name="appointmentpercentage"
            [(ngModel)]="appointmentpercentage" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels4[0].monthlySubscription}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels4[0].monthlySubscription}}" name="monthlysubription"
            [(ngModel)]="monthlysubription" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div><br>
    </div>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-2">
        <!-- <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
          (click)="updatedetails()">{{labels[0].update}}</button> -->
      </div>
      <div class="col-lg-5">
      </div>
      <button type="button" class="btn btncolor Address_label" awPreviousStep>{{labels[0].previous}}</button>
    </div><br>


  </aw-wizard-step>

  <!-- <aw-wizard-step stepTitle="{{labels[0].service}}">
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <label class="DEPARTMENT_label">{{labels[0].department}} :</label>
        </div>
        <div class="col-lg-4">
          <select class="form-control" disabled [(ngModel)]="departmentid" name="departmentid"
            (change)="GetDepartmentID($event)">
            <option valu="" selected>{{labels[0].select}}</option>
            <option *ngFor="let department of departmentlist" value={{department.id}}>{{department.departmentname}} :
            </option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].service}} :</label>
        </div>
        <div class="col-lg-4">
          <select class="form-control" disabled (change)="GetServiceID($event)">
            <option value="">{{labels[0].select}}</option>
            <option *ngFor="let ser of servicelist" value="{{ser.id}}">{{ser.serviceName}} :</option>
          </select>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
        
        </div>
        <div class="col-lg-5"></div>
      </div><br>
      <div class="row">
        <div class="col-lg-12">
          <table>
            <tr>
              <th>{{labels[0].department}}</th>
              <th>{{labels[0].service}}</th>
              
            </tr>
            <tr *ngFor="let doc of doctorservices">
              <td>{{doc.departmentname}}</td>
              <td>{{doc.serviceName}}</td>
             
            </tr>
          </table>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-12">
          <button type="button" style="float: left" class="btn dashbtn nextbtncolor"
            awPreviousStep>{{labels[0].previous}}</button>
      
        </div>
      </div><br>
    </div>
    <br>
  </aw-wizard-step> -->
</aw-wizard><br><br>