<br>
<div class="container-fluid card card:hover">
  <br />
  <div class="row ">
    <div class="col-lg-6">
      <h5 *ngIf="languageid=='1'">LINK FOR REGISTRATION DASHBOARD</h5>
      <h5 *ngIf="languageid=='6'">LIEN ENREGISTREMENT</h5>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
      <button style="margin-left: 10px;"  type="button" routerLink="/LinkForreg"
      class="btn btncolor">{{labels[0].addLink}}</button>
    </div>
  </div>
  <br />
</div>
<br />
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }" class="form-control"
        [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }" class="form-control"
        [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{labels[0].search}}" />
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-2">
      <label style="margin-left: 76px;"> {{labels[0].count}} : <b>{{count}}</b></label>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <!-- <th  >{{labels[0].userName}}</th>
            <th>{{labels[0].password}}</th> -->
            <th>Email</th>
            <!-- <th>{{labels[0].addressLink}}</th>
            <th>{{labels[0].notes}}</th> -->
            <th>{{labels[0].status}}</th>
          </tr>
          <tr *ngFor="let list of linkslist|filter:search">
            <td>{{list.date}}</td>
            <td>{{list.typename}}</td>
            <!-- <td>{{list.userName}}</td>
            <td>{{list.password}}</td> -->
            <td>{{list.emailID}}</td>
            <!-- <td>{{list.addressLink}}</td>
            <td>{{list.notes}}</td> -->
            <td style="color: green;">{{list.status}}</td>
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />
</div>
<br /><br /><br /><br />



