<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<br>
<div class="container-fluid card card:hover">
  <br />
  <div class="row ">
    <div class="col-lg-6">
      <h5 *ngIf="languageid==1">SMS MESSAGING SERVICE</h5>
      <h5 *ngIf="languageid==6">SERVICE DE MESSAGERIE SMS</h5>
    </div>
    <div class="col-lg-6"></div>
   
  </div>
  <br />
</div>
<br />
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{ labels[0].search }}" />
    </div>
    <div class="col-lg-5">

    </div>
    <div class="col-lg-2">
      <input type="checkbox" (change)="GetPatientSelectAll($event)"> {{labels[0].selectall}}
    </div>
    <div class="col-lg-2">
      <label style="margin-left: 76px;"> {{labels[0].count}} : <b>{{count}}</b></label>
    </div>
    <!-- <div class="col-lg-2">
      <input type="checkbox" (change)="GetPatientSelectAll($event)"> Select All

      <button  type="button" >Select All</button>
    </div> -->
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{ labels[0].patientID }}</th>
            <th>{{ labels[0].patientName }}</th>
            <th>{{ labels[0].mobileNumber }}</th>
            <th>{{ labels[0].emailID }}</th>
            <th>{{ labels[0].actions }}</th>
          </tr>
          <tr *ngFor="let list of Patientlist|filter:search">
            <td>{{list.id}}</td>
            <td>{{list.patientName}}</td>
            <td>{{list.mobileNumber}}</td>
            <td>{{list.emailID}}</td>
            <td>
              <!-- <a>
                <img  src="assets/Images/active.png" title="Active"
                  (click)="deletepatient(list.id)" style="width: 50px;" />
              </a>
              <a>
                <img (click)="Enablepatient(list.id)" src="assets/Images/dactive.png"
                  title="Deactive" style="width: 50px;" />
              </a> -->
              <!-- <ng-template #tipcontent1>Graph</ng-template>
              <a [ngbTooltip]="tipcontent1" routerLink="/PatientCharts" style="color:black">
                <img src="assets/Images/edit.png" style="width: 20px">
              </a> -->
              <input type="checkbox" class="chk_sendmailcheck"
                (change)="GetPatientSendemailslist($event,list)">&nbsp;

              <ng-template #tipcontent1>SMS</ng-template>
              <a [ngbTooltip]="tipcontent1" style="color:black">
                <img src="assets/Images/mail.png" data-toggle="modal" data-target="#exampleealycall"
                  style="width: 20px">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />
</div>
<br /><br /><br /><br />



<div class="modal fade" id="exampleealycall" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter15"
  aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">SMS</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- <div class="col-lg-2">
            </div> -->
            <div class="col-lg-11">
              <!-- <input type="text" [(ngModel)]="message" name="message" placeholder="Message" class="form-control"> -->
              <textarea rows="8" cols="10" class="form-control" [(ngModel)]="message" name="message" placeholder="Maximum 140 characters "></textarea>
            </div>
          </div><br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
              data-dismiss="modal" (click)="sendsms()">{{labels[0].send}}</button>
          </div>
          <div class="col-lg-5">
          </div><br>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;"
            data-dismiss="modal">{{labels[0].close}}</button>
        </div>
      </div>
    </div>
  </div>