<br>
<div class="container-fluid card card:hover">
  <br />
  <div class="row ">
    <div class="col-lg-6">
      <h5 *ngIf="languageid=='1'">Subscriptions Dashboard</h5>
      <h5 *ngIf="languageid=='6'">TABLEAU DE BORD D'ABONNEMENT      </h5>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-2">
      <button style="margin-left: 10px;" type="button" routerLink="/IndependentSubscriptions"
        class="btn btncolor">{{labels[0].add}}</button>
    </div>
  </div>
  <br />
</div>
<br />
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <!-- <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }" class="form-control"
        [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }" class="form-control"
        [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    </div> -->
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{labels[0].search}}" />
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetTypeID($event)">
        <option>{{labels[0].selecttype}}</option>
        <option value="1">{{labels[0].doctor}}</option>
        <option value="2">{{labels[0].nurse}}</option>
        <option value="3">{{labels[0].physiotherapist}}</option>
        <option value="4">{{labels[0].midwife}}</option>
      </select>
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-2">
      <label style="margin-left: 76px;"> {{labels[0].count}} : <b>{{count}}</b></label>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].type}}</th>
            <th>{{labels[0].name}}</th>
            <th>{{labels[0].contractstartdate}}</th>
            <th>{{labels[0].contreactenddate}}</th>
            <th>{{labels[0].appointmentpercentage}}</th>
            <th>{{labels[0].monthlysubscription}}</th>
          </tr>
          <tr *ngFor="let details of independentSubscriptions|filter:search">
            <td>{{details.typeName}}</td>
            <td>{{details.userName}}</td>
            <td>{{details.contractStartdate}}</td>
            <td>{{details.contractEnddate}}</td>
            <td>{{details.appointmentPercentage}}</td>
            <td>{{details.monthlySubscription}}</td>
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />
</div>
<br /><br /><br /><br />