
<div class="container-fluid card card-hover">
  <div class="row headerspace">
    <div class="col-lg-5">
      <h5>{{labels[0].supportDash}}</h5>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-2">
      <!-- <button  class="btn btncolor" 
        (click)="getglmasterexcel()">Export Excel</button> -->
    </div>
      <div class="col-lg-2">
        <button type="button" routerLink="/DoctorSupport"
          class="btn btncolor">{{labels[0].raiseIssue}}
        </button>
      </div>
    </div>
  </div><br>
  <div class="container-fluid card card:hover">
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-3">
        <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
          class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>

        <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
          class="form-control" [(ngModel)]="value"  (bsValueChange)="selectedDate($event)"  bsDaterangepicker>
      </div>

      <div class="col-lg-3">
        <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
      </div>
      <div class="col-lg-4">
      </div>
      <div class="col-lg-2">
        <label style="margin-left: 90px;"> {{labels[0].count}} : {{count}} </label>
      </div>
    </div><br>
    <div class="row" style="overflow: auto;">
      <div class="col-lg-12" style="overflow: auto;">
        <table  id="Appointment" >
          <thead>
            <tr>
              <th>Ticket No</th>
              <th>{{labels[0].raisedDate}}</th>
              <th>{{labels[0].issue}}</th>
              <th>{{labels[0].description}}</th>
              <th>{{labels[0].photo}}</th>
              <th>{{labels[0].resolveDescription}}</th>
              <th>{{labels[0].resolvePhoto}}</th>
              <th>{{labels[0].status}}</th>
            </tr>
            <tr *ngFor="let issue of issuelist|filter:term">
              <td>{{issue.id}}</td>
              <td>{{issue.raiseddate}}</td>
              <td>{{issue.issue}}</td>
              <td>
                <p style="margin-top:10px" [innerHTML]="issue.description"></p>
              </td>
              <td>
                <img src="assets/Images/imgicon.png" title="images" (click)="GetImageUrl(issue.photoURL)"
                  data-toggle="modal" data-target="#exampleModalLong2" style="margin: 2%;width: 20px;" />&nbsp;
              </td>
              <td>
                <p style="margin-top: 12px;" [innerHTML]="issue.resolveDescription"></p>
              </td>
              <td>
                <img src="assets/Images/imgicon.png" title="Resolve Photo"
                  (click)="GetResolvePhotoUrl(issue.resolvePhotoURL)" *ngIf="issue.resolved=='1'" data-toggle="modal" data-target="#exampleModalLong3"
                  style="margin: 2%;width: 20px;" />&nbsp;
              </td>
              <td>
                <label *ngIf="issue.resolved=='0'&&issue.accepted=='0'" style="color:red">{{labels[0].pending}}</label>
                <label *ngIf="issue.resolved=='0'&&issue.accepted=='1'" style="color:red">{{labels[0].accepted}}</label>
                <label *ngIf="issue.resolved=='1'" style="color:green">{{labels[0].resolved}}</label>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div><br>
  </div><br>

  <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{labels[0].issuePhoto}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12">
                <br>
                <img src="{{photourl}}" style="height: auto;width:100%" />
                <br>
              </div>
              <br>
            </div>
            <br>
            <br>
          </div>
        </div>
        <br>
        <div class="modal-footer">
          <button type="button" style="background-color: #f18235; color: white;"
            data-dismiss="modal">{{labels[0].close}}</button>
        </div>
      </div>
    </div>
  </div>




  <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels[0].resolvePhoto}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <br>
              <img src="{{resolvephotourl}}" style="height: auto;width:100%" />
              <br>
            </div>
            <br>
          </div>
          <br>
          <br>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235; color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>