<br>
<div class="container-fluid card card:hover ">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].articles}}</h5>
    </div>
    <div class="col-lg-7">

    </div>
    <div class="col-lg-2">
      <button type="button" routerLink="/Writearticle" class="btn btncolor">{{labels[0].writeArticle}}</button>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <!-- <div class="col-lg-4">
      <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker>
    </div> -->
    <!-- <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div> -->
    <!-- <div class="col-lg-2">
      {{labels[0].count}} : <b>{{count}}</b>
    </div> -->
  </div><br><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Photo</th>
            <!-- <th>Doctor Name</th> -->
            <th>{{labels[0].category}}</th>
            <th>{{labels[0].topic}}</th>
            <th>{{labels[0].subTopic}}</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let article of articlelist">
            <td><img src="{{article.photo}}" style="height:40px;width:40px"></td>
            <!-- <td>{{article.doctorName}}</td> -->
            <td>{{article.category}}</td>
            <td>{{article.topic}}</td>
            <td>{{article.subTopic}}</td>
            <td>
              <p innerHTML="{{article.writeup}}"></p>
            </td>
            <td>
              <ng-template #tipcontent1>{{labels1[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" [routerLink]="['/Writearticle',article.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 22px">
              </a>&nbsp;
              <ng-template #tipcontent34>Supprimer</ng-template>
              <a [ngbTooltip]="tipcontent34" style="color:black">
                <img src="assets/Images/dell.png" style="width: 22px" (click)="DeleteArticle(article.id)">
              </a>&nbsp;&nbsp;

              <ng-template #tipcontent8>Attachement</ng-template>
              <a [ngbTooltip]="tipcontent8">
                <img src="assets/Images/att.png" style="width: 20px;margin-left: 10px;"
                  *ngIf="article.typeID=='1'||article.typeID=='2'"
                  (click)="GetPhotoUrl(article.subPhotoUrl,article.typeID)" data-toggle="modal" data-target="#myModal">
              </a>&nbsp;

              
              <ng-template #tipcontent3> {{labels1[0].enable}}</ng-template>
              <a [ngbTooltip]="tipcontent3">

                <img *ngIf="article.enable=='0'" src="assets/Images/active.png"   (click)="GetDisableArticle(article.id)"
                style="width: 50px;" />
            
                <!-- <button *ngIf="article.enable=='0'" style="background-color: red;color: aliceblue;border: none;"
                  (click)="GetDisableArticle(article.id)">{{labels1[0].disable}}</button> -->
              </a>&nbsp;
              <ng-template #tipcontent2>{{labels1[0].disable}}</ng-template>
              <a [ngbTooltip]="tipcontent2" >

                <img *ngIf="article.enable=='1'" (click)="GetEnableArticle(article.id)"  src="assets/Images/dactive.png" 
                style="width: 50px;" />
                <!-- <button *ngIf="article.enable=='1'" style="background-color: green;color: aliceblue;border: none;"
                  (click)="GetEnableArticle(article.id)">{{labels1[0].enable}}</button> -->
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div><br><br>
  <!-- <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true"
      autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div><br><br> -->
</div><br>





<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          <!-- <b>Sponsorship Image</b> -->
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="phototypeid=='1'">
          <div class="row">
            <div class="col-lg-12" style="overflow: auto;">
              <img src="assets/Images/pdf.png" style="width: auto; 
              height: 150px;width: 150px;" (click)="opentab()">
              <br>
            </div>
          </div>
        </div>
        <div *ngIf="phototypeid=='2'">
          <div class="row">
            <div class="col-lg-12" style="overflow: auto;">
              <img src="{{photourl}}" style="width: auto;
              height: 427px;">
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" style="background-color: #f18235;"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>