<br>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-8">
      <h5>{{labels[0].mergePatientData}}</h5>
      <!-- <h5>{{labels[0].monthWiseSchedule}}</h5> -->
      <br>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <br>
  <div class="row ">
    <div class="col-lg-3">
      <label>Patient </label>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="{{labels[0].search}}" name="patientname" [(ngModel)]="patientname"
        (ngModelChange)="Searchpatient(patientname)">
    </div>
  </div><br>
  <div class="row" style="overflow: auto;" *ngIf="searchon=='1'">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="overflow: auto;">
      <table id="Appointment">
        <thead>
          <tr>
            <th>{{labels[0].patientName}}</th>
            <th>{{labels[0].mobileNumber}}</th>
            <th>{{labels[0].emailID}}</th>
            <th>{{labels[0].address}}</th>
            <th>{{labels[0].select}}</th>
          </tr>
          <tr *ngFor="let details of patientdetails|filter:patientname">
            <td>{{details.patientName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.emailID}}</td>
            <td>{{details.address}}</td>
            <td>
              <input type="checkbox" data-toggle="modal" data-target="#myModal"
                (click)="GetPatientID(details.id,details.mobileNumber,details.patientName,details.pinno)">
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div><br>
</div>
<br>


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels[0].changemobileno}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #regForm="ngForm">
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].oldMobileno}} :</label>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" [(ngModel)]="oldmobilenumber" name="oldmobilenumber" disabled>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].pinno}} :</label>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" required minlength="4" placeholder="{{labels[0].newpino}}" [(ngModel)]="pinno" name="pinno">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].newmobileno}} :</label>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" required minlength="10" placeholder="{{labels[0].placemobile}}" [(ngModel)]="newmobilenumber" name="newmobilenumber">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" class="btn btncolor" style="background-color: #f18235;"
            (click)="updatemobilenmber()" [disabled]="regForm.form.invalid">{{labels[0].update}}</button>
          </div>
          <div class="col-lg-5">

          </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" (click)="GetSickSlipID()" data-toggle="modal" data-target="#exampleModalCenterSickSlip"
          style="background-color: #f18235; color: white;" class="btn btn-default">{{labels1[0].edit}}</button> -->
        <button id="close" type="button" style="background-color: #f18235; color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>