<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#eb0000" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid bg">
  <div class="row">
    <div class="col-lg-1">
    </div>
    <div class="col-lg-10">
      <br><br>
      <div class="row">
        <div class="col-lg-6 insidecard">
          <br>
          <br>
          <img src="assets/Images/homescreen.png" style="width: 100%;height: auto;">
          <h4 class="headinline">Plateforme d'optimisation opérationnelle.</h4>
        </div>
        <div class="col-lg-6 anothercard">
          <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="margin: 15px;">
              <img src="assets/Images/logo.png" class="text-center imagesize">
            </div>
          </div>
         
          <div class="row">
            <div class="col-lg-2">
             
            </div>
            <div class="col-lg-8">
              <form #loginForm="ngForm">
                <span class="loginlable">LOGIN TO YOUR ACCOUNT</span><br><br>
                <div>
                  <select class="form-control" style="height:40px;" (change)="GetLanguageID($event)">
                    <option value="" selected>Select Language</option>
                    <option *ngFor="let lang of languagelist" value={{lang.id}}>{{lang.languageName}}</option>
                  </select>
                </div>
                <br>
                <div *ngIf="LanguageID!=null">
                  <select class="form-control" style="height:40px;" (change)="onchangeFunction($event)">
                    <option value="" selected>{{labels[0].selectRole}}</option>
                    <option *ngFor="let role of rolelist" value={{role.id}}>{{role.short}}</option>
                  </select>
                  <br>
                  <input type="text" [(ngModel)]="pinno" style="height:40px;" name="pinno" required
                    placeholder="{{labels[0].pinno}}" class="form-control"
                    onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
                  <br>
                  <input type="text" [(ngModel)]="uname" style="height:40px;" name="uname" required
                    placeholder="{{labels[0].userName}}" class="form-control">
                  <br>
                  <!-- *ngIf="Showpass=='1'" -->
                  <input type="password" [(ngModel)]="pwd" style="height:40px;" name="pwd" required
                    placeholder="{{labels[0].pass}}" class="form-control">
                  <!-- <span style="position:absolute;right: 83px;top: 531px;" *ngIf="Showpass=='1'" (click)="hidepassord()"
                    class="fa fa-eye-slash"></span>
       -->
                  <!-- <input type="text" [(ngModel)]="pwd" *ngIf="Showpass=='0'" style="height:40px;" name="pwd" required
                    placeholder="{{labels[0].pass}}" class="form-control"> -->
                  <!-- <span style="position:absolute;right: 83px;top: 531px;" *ngIf="Showpass=='0'" (click)="showpassword()"
                    class="fa fa-eye"></span> -->


                  <label style="color:#f18235;float: right;cursor: pointer;"
                    routerLink="/ForgotPassword">{{labels[0].forgotpassword}}</label><br>


                  <button type="submit" class="login" (click)="login()"
                    [disabled]="loginForm.form.invalid">{{labels[0].login}}</button>

                </div>
              </form>

            </div>
            <div class="col-lg-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-1">
    </div>
  </div>
</div>