<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#eb0000" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid bg">
  <div class="row">
    <div class="col-lg-7">
    </div>
    <div class="col-lg-4">
      <br> <br><br>
      <div style="background-color: #FFFF;padding: 8%;border-radius: 20px;">
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <img src="assets/Images/logo.png" class="loginimge">
          </div>
        </div>
        <form #loginForm="ngForm">
          <div>
            <!-- <span class="loginlable">LOGIN TO YOUR ACCOUNT</span><br><br> -->
            <select class="form-control" style="height:40px;" (change)="GetLanguageID($event)">
              <option value="" selected>Select Language</option>
              <option *ngFor="let lang of languagelist" value={{lang.id}}>{{lang.languageName}}</option>
            </select>
          </div>
          <br>
          <!-- *ngIf="LanguageID!=null" -->
          <div *ngIf="LanguageID!=null">
            <select class="form-control" style="height:40px;" (change)="onchangeFunction($event)">
              <option value="" selected>{{labels[0].selectRole}}</option>
              <option *ngFor="let role of rolelist" value={{role.id}}>{{role.short}}</option>
            </select>
            <br>
            <input type="text" [(ngModel)]="pinno" style="height:40px;" name="pinno" required
              placeholder="{{labels[0].pinno}}" class="form-control"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            <br>
            <input type="text" [(ngModel)]="uname" style="height:40px;" name="uname" required
              placeholder="{{labels[0].userName}}" class="form-control">
            <br>

            <input type="password" [(ngModel)]="pwd" *ngIf="Showpass=='1'" style="height:40px;" name="pwd" required
            placeholder="{{labels[0].pass}}" class="form-control">
          <span style="position:absolute;right: 72px;margin-top: -5%;" *ngIf="Showpass=='1'" (click)="hidepassord()"
            class="fa fa-eye-slash"></span>

          <input type="text" [(ngModel)]="pwd" *ngIf="Showpass=='0'" style="height:40px;" name="pwd" required
            placeholder="{{labels[0].pass}}" class="form-control">
          <span style="position:absolute;right: 72px;margin-top: -5%;" *ngIf="Showpass=='0'" (click)="showpassword()"
            class="fa fa-eye"></span>
            <!-- *ngIf="Showpass=='1'" -->
            <!-- <input type="password" [(ngModel)]="pwd" style="height:40px;" name="pwd" required
              placeholder="{{labels[0].pass}}" class="form-control"> -->
            <!-- <span style="position:absolute;right: 83px;top: 531px;" *ngIf="Showpass=='1'" (click)="hidepassord()"
              class="fa fa-eye-slash"></span>
 -->
            <!-- <input type="text" [(ngModel)]="pwd" *ngIf="Showpass=='0'" style="height:40px;" name="pwd" required
              placeholder="{{labels[0].pass}}" class="form-control"> -->
            <!-- <span style="position:absolute;right: 83px;top: 531px;" *ngIf="Showpass=='0'" (click)="showpassword()"
              class="fa fa-eye"></span> -->


            <label style="color:#f18235;float: right;cursor: pointer;"
              routerLink="/ForgotPassword">{{labels[0].forgotpassword}}</label><br>


            <button type="submit" class="login" (click)="login()"
              [disabled]="loginForm.form.invalid">{{labels[0].login}}</button>

          </div>
        </form>

      </div><br>

      <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-10">
          <span class="loginlables">Plateforme d'optimisation opérationnelle.</span>
        </div>
      </div>
    </div>

  </div>
</div>