<div class="container-fluid" *ngIf="temp=='1'" style="height:100vh;overflow: hidden;">
    <!-- *ngIf="isDescktopResolution==true" -->
    <div class="row" style="height: 10vh;" *ngIf="isDescktopResolution==true">
        <div class="col-lg-2">
            <img src="assets/Images/logo1.png">

        </div>
        <div class="col-lg-2">
            <p class="square">{{formatTime}}</p>
        </div>
        <div class="col-lg-4">
            <marquee *ngFor="let noti of docnoti" style="margin-top:18px;color:red">{{noti.description}}</marquee>


        </div>
        <div class="col-lg-4" id="vidpagehead">
            <img src="assets/Images/logout.png" title="{{labels[0].logout}}"
                style="float: right;padding: 2%;cursor: pointer;height:62px;margin-top: 9px;" (click)="clear()"><br>
            <span class="badge" style="float: right;cursor: pointer;background-color: green;color: aliceblue;
                margin-left: 0%;">{{notificationcount}}</span>
            <img src="assets/icons/bell.png" data-toggle="modal" data-target="#notification"
                style="float: right;cursor: pointer;height: 34px;">
            <label style="float: right;padding: 1%;cursor: pointer;height:80px;">{{labels[0].welcome}},
                <b>{{user}}</b></label>
        </div>
    </div>

    <!-- *ngIf="isDescktopResolution==true" -->
    <div class="row" *ngIf="isDescktopResolution==true">
        <div class="col-lg-2" style="height: 90vh;overflow-y: auto;background-color: #f3f3f3;" id="sidbarid">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-10" style="overflow-y: auto;height: 90vh;background-color: #f3f3f3;" id="vidiv">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>

    </div>

    <div class="row" style="height: 20vh;" *ngIf="isMobileResolution==true">
        <div class="col-lg-12">
            <img src="assets/Images/logo.png" style="width: 62px;">
            <img src="assets/Images/ham.png" *ngIf="showsidebar==0" (click)="openNav()"
                style="margin-left: 1%;float: right;height:30px;margin-top: 21px;">
            <img src="assets/Images/ham.png" *ngIf="showsidebar==1" (click)="closeNav()"
                style="margin-left: 1%;float: right;height:30px;margin-top: 21px;">
        </div>
        <div class="col-lg-9">
            <img src="assets/Images/logout.png" title="{{labels[0].logout}}"
                style="float: right;padding: 2%;cursor: pointer;height: 50px;margin-top: 4%;" (click)="clear()"><br>
            <span class="badge" style="float: right;cursor: pointer;background-color: green;color: aliceblue;
            margin-left: 0%;">{{notificationcount}}</span>
            <img src="assets/icons/bell.png" data-toggle="modal" data-target="#notification"
                style="cursor: pointer;width: 30px;float: right;">
            <label style="float: left;padding: 1%;cursor: pointer;height:80px;">{{labels[0].welcome}},
                <b>{{user}}</b></label>
        </div>
    </div>


    <div class="row" *ngIf="isMobileResolution==true">
        <div class="col-lg-12" style="overflow-y: auto;height: 80vh;">
            <div id="sidenav" *ngIf="showsidebar==1">
                <div class="row" id="mySidenav">
                    <div class="col-md-2 sidenav" style="overflow-y: auto;width: 4%;border-top-right-radius: 5px;">
                        <app-sidebar></app-sidebar>
                    </div>
                </div>
            </div>
            <router-outlet id="main" (activate)="onActivate($event)"></router-outlet>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="temp!='1'">
    <div class="row">
        <div class="col-lg-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<!-- class="modal-title" -->

<div id="notification" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5> -->
                {{labels[0].notifications}}
                <!-- </h5> -->
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row card card-hover newcard" *ngFor="let docnoti of doctorNotifications"
                    style="overflow: auto;">
                    <br>
                    <div class="col-lg-12">
                        <p><b>{{docnoti.notification}}</b></p>
                        <p>{{docnoti.description}}</p>
                        <p style="float:right"><b>{{docnoti.date}}</b></p>
                        <p style="float:left"><b>{{docnoti.notificationtime}}</b></p><br>
                        <br>
                        <div *ngIf="doctorid!=undefined&&recpid==undefined">
                            <button class="chatnow" data-dismiss="modal" style="float: left;"
                                (click)="updateseenbit(docnoti.id)">{{labels[0].seen}}</button>
                            <button class="chatnow" data-dismiss="modal" style="float: right;"
                                (click)="updateseenbit(docnoti.id)"
                                *ngIf="docnoti.notificationTypeID!=17">{{labels[0].seenAll}}</button><br>

                        </div>

                        <div *ngIf="nurseid!=undefined||midwifeid!=undefined||physioid!=undefined">
                            <button class="chatnow" data-dismiss="modal" style="float: left;"
                                (click)="UpdateNursePhysiomidwifeseenbit(docnoti.id)">{{labels[0].seen}}</button>
                        </div>
                        <div *ngIf="supportid!=undefined">
                            <button class="chatnow" data-dismiss="modal" style="float: left;"
                                (click)="updatesupportseenbit(docnoti.id)">{{labels[0].seen}}</button>
                        </div>

                        <div *ngIf="countrymanagersid!=undefined">
                            <button class="chatnow" data-dismiss="modal" style="float: left;"
                                (click)="updatecountrynoti(docnoti.id)">{{labels[0].seen}}</button>
                        </div>

                        <br>
                        <div *ngIf="pharmacyid!=undefined">
                            <button class="chatnow1" data-toggle="modal" data-target="#Medicines"
                                (click)="ViewMedicines(docnoti)">{{labels10[0].viewMedicines}}</button>
                            <br><br>
                        </div>
                    </div>
                </div><br>
                <div class="card card-hover newcard" *ngFor="let phanoti of pharmcunoti">
                    <br>
                    <div class="row ">
                        <div class="col-lg-8">
                            <p style="margin-left: 10px;"><b>{{phanoti.notification}}</b></p>
                            <p style="margin-left: 10px;">{{phanoti.description}}</p>
                        </div>
                        <div class="col-lg-2">
                            <p><b>{{phanoti.date}}</b></p>
                        </div>
                        <div class="col-lg-2">
                            <!-- <p><b>{{phanoti.notificationtime}}</b></p><br> -->
                            <!-- <i class="fa fa-minus" aria-hidden="true" *ngIf="phanoti.show=='0'"
                                (click)="ViewMedicines(phanoti)"></i>

                            <i class="fa fa-plus fa-2x" *ngIf="phanoti.show=='1'"
                                style="margin-left: 5px; margin-top: 3px;" aria-hidden="true"
                                (click)="ViewMedicines(phanoti)"></i> -->
                            <button data-toggle="modal" data-target="#Medicines" class="viewmedicines"
                                (click)="ViewMedicines(phanoti)"
                                data-dismiss="modal">{{labels[0].viewMedicines}}</button>
                        </div>
                    </div><br>
                </div><br>
            </div>
            <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
        </div>
    </div>
</div>


<div class="modal fade" id="Medicines" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-xl">
                <h5 class="modal-title" id="exampleModalLongTitle">{{labels10[0].medicines}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 tableoverflow">
                            <table>
                                <tr>
                                    <th>{{labels10[0].medicines}}</th>
                                    <th>{{labels10[0].sig}}</th>
                                    <th>{{labels10[0].quantity}}</th>
                                    <th>
                                        {{labels10[0].substitablenotpermitedd}}</th>

                                </tr>
                                <tr *ngFor="let ss of orderedmedicinelist">
                                    <td>{{ss.medicineName}}</td>
                                    <td>{{ss.sig}}</td>
                                    <td>{{ss.quantity}}</td>
                                    <td>{{ss.substistute}}</td>

                                </tr>
                            </table>
                        </div>
                    </div><br><br>
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- <button class="AcceptMedicines" data-dismiss="modal" 
                                (click)="AcceptPharmacyOrder()">{{labels[0].accept}}</button>

                                <button class="RejectMedicines" data-dismiss="modal" 
                                (click)="RejectPhrmacyOrder()" data-dismiss="modal">{{labels[0].reject}}</button> -->
                        </div>
                        <div class="col-lg-6">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closebutton"
                    data-dismiss="modal">{{labels[0].close}}</button>
            </div>
        </div>
    </div>
</div>

<div class="smalchat" id="Myformsss" style="overflow: auto;">
    <div class="w3-card-4 " *ngFor="let chat of chatlist" style="overflow: auto;">

        <!-- <span (click)="GetChatIDForseen(chat.chatID)">&times;</span> -->
        <div class="w3-container cardss card-hover" (click)="GetChatIDForseen(chat.chatID)">
            <img src="assets/Images/cross.png" style="float: right;width: 20px;" (click)="GetChatIDForseen(chat.chatID)">
            <p>1 new message from : <b>{{chat.patientName}}</b></p>
            <hr>
            <p>{{chat.mobileMessage}}</p>
        </div>
        <button class="w3-button w3-block" style="background-color: #1dbfd2;color:white"
            (click)="GetChatShowID(chat.patientID,chat.appointmentID)">Chat</button>
    </div>
</div>


<div class="chat-popup" id="myFormsssss">
    <form class="form-container" #chatfrom="ngForm">
        <div class="container-fluid card card-hover" style="height: 550px;width:530px;">
            <div class="row">
                <div class="col-lg-5">
                    <h5>{{labels2[0].chat}}</h5>
                </div>
                <div class="col-lg-5">
                </div>
                <div class="col-lg-2">
                    <img src="assets/Images/can.png" (click)="GetShowOffffff()">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">

                </div>
            </div>
            <!-- id="chatboxdiv" -->
            <div style="height: 500px;overflow-y: scroll;" id="chatboxdiv">
                <div *ngFor='let convo of coversationarray'>
                    <div class="container" *ngIf='convo.user=="doc"'>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-7" style="background-color:#dbdbdb;border-radius: 5px;color:black;">
                                <div *ngIf="convo.msgtype=='1'">
                                    <img src="{{docphoto}}" class="rounded-circle" style="width:26px;;margin-top: 5px;margin-right: 3%;
                      float: left;">
                                    <p style="margin-top: 5px;">{{convo.chatmsg}}
                                        <span style="float: right;;margin-top: 5px;">
                                            <!-- {{convo.time}} -->
                                        </span>
                                    </p>
                                </div>
                                <div *ngIf="convo.msgtype=='2'">
                                    <img src="{{convo.chatmsg}}" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container" *ngIf='convo.user=="pat"'>
                        <div class="row">
                            <div class="col-lg-7"
                                style="background-color:#1dbfd2;border-radius: 5px;color:black;margin-top: 1px;">
                                <div *ngIf="convo.msgtype=='1'">
                                    <p style="margin-top: 5px;">
                                        <img src="{{patientphoto}}" class="rounded-circle"
                                            style="width:26px;margin-top: 5px;"> &nbsp;
                                        {{convo.chatmsg}}
                                        <span style="float: right;;margin-top: 5px;">
                                            <!-- {{convo.time}} -->
                                        </span>
                                    </p>
                                </div>
                                <div *ngIf="convo.msgtype=='2'">
                                    <img src="{{convo.chatmsg}}" style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <hr>
            <div class="container-fluid" style="border: 1px solid #bcbcbc;  padding-top: 2%;  padding-bottom: 1.5%;">
                <div class="row">
                    <div class="col-lg-9">

                        <input type="text" [(ngModel)]="chatconversation" name="chatconversation" required
                            class="form-control" style=" border-style:none;" placeholder="{{labels[0].typeamessage}}" />
                    </div>
                    <div class="col-lg-3">
                        <button type="submit" class="chat form-control" [disabled]="chatfrom.form.invalid"
                            (click)="InsertChatDetails()">{{labels2[0].send}}
                            <!-- <img src="assets/Images/send.png" alt="Avatar" class="right"  style="width:50%;"> -->
                        </button>
                    </div>

                </div>
            </div>
            <br>
        </div>
        <br>
    </form>
</div>