<br>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-6">
      <h5 *ngIf="languageid=='1'">Subscriptions
      </h5>
      <h5 *ngIf="languageid=='6'">ABONNEMENT AU PRESTATAIRE
      </h5>
    </div>
    <div class="col-lg-4">
    </div>
    <!-- <div class="col-lg-2">
      <button type="button" routerLink="/MidwifeFeesDash" class="btn btncolor">{{labels[0].dashboard}}</button>
    </div> -->
  </div>
</div> <br>
<div class="container-fluid card card-hover">
  <form #FeesForm="ngForm">
    <br>
    <div class="row">
      <div class="col-lg-3">
        <!-- <label>Type :</label> -->
      </div>
      <div class="col-lg-4" >
        <select class="form-control" (change)="GetTypeID($event)">
          <option *ngIf="languageid=='1'">Select Type</option>
          <option *ngIf="languageid=='6'">Sélectionner type de prestataire
          </option>
          <option value="1">{{labels[0].doctor}}</option>
          <option value="2">{{labels[0].nurse}}</option>
          <option value="3">{{labels[0].physiotherapist}}</option>
          <option value="4">{{labels[0].midwife}}</option>
        </select>
      </div>
    </div><br>
    <div>
      <div class="row" *ngIf="typeid=='1'">
        <div class="col-lg-3">
          <label>{{labels[0].doctor}} : </label>
          <span class="requird">*</span>
        </div>
        <div class="col-lg-4">
          <ng-multiselect-dropdown [placeholder]="SelectLabel" [disabled]="tablecount=='1'" [data]="doctorlist1"
            [settings]="docdd" (onSelect)="GetDoctorID($event)">
          </ng-multiselect-dropdown>
        </div>
      </div>
      <div class="row" *ngIf="typeid=='2'">
        <div class="col-lg-3">
          <label>{{labels[0].nurse}} : </label>
          <span class="requird">*</span>
        </div>
        <div class="col-lg-4">
          <select class="form-control" (change)="GetNurseID($event)">
            <option>{{labels[0].select}}</option>
            <option *ngFor="let nurse of nurselist1" value="{{nurse.nurseID}}">{{nurse.nurseName}}</option>
          </select>
        </div>
        <div class="col-lg-4" *ngIf="showbutton=='1'">
          <input type="text" class="form-control" disabled [(ngModel)]="nursename" name="nursename">
        </div>
      </div>
      <div class="row" *ngIf="typeid=='4'">
        <div class="col-lg-3">
          <label>{{labels[0].midwife}} : </label>
          <span class="requird">*</span>
        </div>
        <div class="col-lg-4">
          <select class="form-control" (change)="GetMidwifeID($event)">
            <option>{{labels[0].select}}</option>
            <option *ngFor="let mid of midwifes1" value="{{mid.midWifeID}}">{{mid.name}}</option>
          </select>
        </div>
      </div>
      <div class="row" *ngIf="typeid=='3'">
        <div class="col-lg-3">
          <label>{{labels[0].physiotherapist}} : </label>
          <span class="requird">*</span>
        </div>
        <div class="col-lg-4">
          <select class="form-control" (change)="GetphysioID($event)">
            <option>{{labels[0].select}}</option>
            <option *ngFor="let physio of physiolist1" value="{{physio.physiotherapyID}}">{{physio.name}}</option>
          </select>
        </div>
      </div>
    </div><br>

    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].subscriptiontype}} :</label>

        <span class="required">*</span>
      </div>
      <div class="col-md-8">
        <input type="radio" name="subscriptiontype" [(ngModel)]="subscriptiontype" (click)="Getsubscriptontype()"
          value="1">{{labels[0].monthlySubscription}}
        &nbsp;
        <input type="radio" name="subscriptiontype" [(ngModel)]="subscriptiontype" (click)="Getsubscriptontype()"
          value="2"> {{labels[0].appointmentpercentage}}
        &nbsp;
        <input type="radio" name="subscriptiontype" [(ngModel)]="subscriptiontype" (click)="Getsubscriptontype()"
          value="3"> {{labels[0].both}}
      </div>
    </div><br>

    <div *ngIf="subscriptiontype=='1'">
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].monthlySubscription}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].monthlySubscription}}" maxlength="3" required
            name="monthlysubription" [(ngModel)]="monthlysubription" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].contractstratdate}} :</label>

        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }" required
            placeholder="{{labels[0].contractstratdate}}" name="contractstartdate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdate" bsDatepicker>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].contractenddate}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }" required
            placeholder="{{labels[0].contractenddate}}" name="contractenddate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractenddate" bsDatepicker>
        </div>
      </div>
      <br />
    </div>

    <div *ngIf="subscriptiontype=='2'">
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].appointmentpercentage}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].appointmentpercentage}}" required maxlength="3"
            name="appointmentpercentage" [(ngModel)]="appointmentpercentage" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].contractstratdate}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" required [bsConfig]="{ showWeekNumbers:false }"
            placeholder="{{labels[0].contractstratdate}}" name="contractstartdate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdate" bsDatepicker>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].contractenddate}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" required [bsConfig]="{ showWeekNumbers:false }"
            placeholder="{{labels[0].contractenddate}}" name="contractenddate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractenddate" bsDatepicker>
        </div>
      </div>
      <br />
    </div>
    <div *ngIf="subscriptiontype=='3'">
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].appointmentpercentage}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].appointmentpercentage}}" required maxlength="3"
            name="appointmentpercentage" [(ngModel)]="appointmentpercentage" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].monthlySubscription}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].monthlySubscription}}" required name="monthlysubription"
            [(ngModel)]="monthlysubription" class="form-control"
            onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].contractstratdate}} :</label>

        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" required [bsConfig]="{ showWeekNumbers:false }"
            placeholder="{{labels[0].contractstratdate}}" name="contractstartdate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdate" bsDatepicker>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-lg-3">
          <label>{{labels[0].contractenddate}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" class="form-control" required [bsConfig]="{ showWeekNumbers:false }"
            placeholder="{{labels[0].contractenddate}}" name="contractenddate"
            [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractenddate" bsDatepicker>
        </div>
      </div>
      <br />
    </div><br>
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-2">
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
          (click)="insertdetails()" [disabled]="FeesForm.form.invalid">{{labels[0].save}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div><br><br>
  </form>
</div>