<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].pharmacy}}</h5>
    </div>
    <div class="col-lg-7">
    </div>
    <!-- <div class="col-lg-2">
      <br>
      <button type="button" routerLink="/Pharmacydash" class="btn btncolor">{{labels[0].dashboard}}</button>
    </div> -->
  </div>
</div>
<div class="container-fluid card card:hover divspacee">
  <form #pharmacyForm="ngForm">
    <div class="row" style="margin-top:20px;">
      <div class="col-lg-3">
        <label>{{labels[0].pharmacy}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="pharmacylist" [settings]="pharmacydd"
          (onSelect)="GetPharmacyID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].userName}} :</label>
        <span class="required">*</span>
      </div>

      <div class="col-lg-4">
        <input type="text" class="form-control" name="username" required [(ngModel)]="username" placeholder="{{labels[0].userName}}"
          onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32'>
      </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].password}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="password" class="form-control" name="password" required [(ngModel)]="password"
          placeholder="{{labels[0].password}}">
        <span *ngIf="password1=='1'" style="color:red">{{labels[0].weakPassword}}</span>
      </div>
    </div>
    <br><br> -->
    <div class="row">
      <div class="col-lg-5">
      </div>
      <div class="col-lg-2">
        <button type="button" [disabled]="pharmacyForm.form.invalid" class="btn btn-block btn-md allbtns btncolor"
          (click)="insertdetails()">{{labels[0].save}}</button>
      </div>
      <div class="col-lg-5">

      </div>
    </div><br><br>
  </form>
</div>