<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-6">
      <h5 *ngIf='languageid==1'>SENT REFERRALS </h5>
      <h5 *ngIf='languageid==6'>Recommandations envoyées
      </h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->

      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" [(bsValue)]="myDateValue" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" [(bsValue)]="myDateValue" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{ labels[0].search }}" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{ labels[0].patientID }}</th>
            <th>{{ labels[0].patientName }}</th>
            <th>{{ labels[0].mobileNumber }}</th>
            <th>{{ labels[0].emailID }}</th>
            <th>{{ labels[0].reffredto }}</th>
            <th>{{ labels1[0].referedDoctorPhno }}</th>
            <th>{{ labels1[0].referredDoctorEmail }}</th>
            <!-- <th>{{ labels1[0].notes }}</th>
            <th>{{ labels1[0].attachments }}</th> -->
            <th *ngIf="languageid=='1'">Letters & Attachments</th>
            <th *ngIf="languageid=='6'">Correspondance & pièces jointes</th>
            <th>{{ labels[0].actions }}</th>
          </tr>
          <tr *ngFor="let doc of docreferels|filter:search">
            <td>{{doc.patientID}}</td>
            <td>{{doc.patientName}}</td>
            <td>{{doc.pMobileNo}}</td>
            <td>{{doc.pEmail}}</td>
            <td>{{doc.doctorName}}</td>
            <td>{{doc.doctorPhNo}}</td>
            <td>{{doc.doctorEmail}}</td>
            <td>
              <ng-template #tipcontent11>{{ labels1[0].patientCondition }}</ng-template>
              <a [ngbTooltip]="tipcontent11">
                <img src="assets/Images/sentreferral.png" data-toggle="modal" data-target="#exampleModal6"
                  style="height:25px;" (click)="GetPatientCondition(doc)" />
              </a>&nbsp;
              <ng-template #tipcontent10>{{ labels1[0].view }}</ng-template>
              <a [ngbTooltip]="tipcontent10">
                <img src="assets/Images/viewfile.png" data-toggle="modal" data-target="#exampleModal5"
                  style="height:25px;" (click)="GetAppointmentID(doc)" />
              </a>
              <!-- <p innerHTML="{{doc.referalNotes}}"></p> -->
            </td>
         
            <td>
              <!-- <label *ngIf="doc.completed=='1'">{{ labels1[0].completed }}</label>
              <label *ngIf="doc.completed=='0'" style="color: coral;">{{ labels1[0].pending }}</label> -->
              <!-- <ng-template #tipcontent2>{{ labels1[0].completed }}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/acc.png" *ngIf="doc.completed=='0'" style="height:20px;"
                  (click)="UpdateDoctorReferalsCompletedBit(doc.id)" />
              </a>&nbsp; -->
              <ng-template #tipcontent68>Soap Notes</ng-template>
              <a [ngbTooltip]="tipcontent68">
                <img src="assets/Images/soap.png" *ngIf="doc.soapbit=='1'" style="height:20px;" data-toggle="modal"
                  data-target="#exampleModal1" (click)="GetSopaNotesID(doc.appointmentID)" />
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />
</div>
<br /><br /><br /><br />



<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ labels1[0].attachments }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6" *ngFor="let att of attachments">
              <img src="assets/Images/pdf.png" style="  width: 99px;" (click)="GetPdf(att.attchments)"><br>
              <button type="button" style="background-color: #f18235;color: white;" (click)="GetPdf(att.attchments)"
                class="btn btn-default">{{ labels1[0].view }}</button> &nbsp; &nbsp;
              <button type="button" style="background-color: #f18235;color: white;" (click)="Deletefile(att.id)"
                class="btn btn-default">{{ labels[0].delete }}</button>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-toggle="modal" data-target="#UploadFile">{{ labels[0].upload }}</button>
        <button id="closeview" type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-dismiss="modal">{{ labels[0].close }}</button>
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ labels1[0].patientCondition }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <p innerHtml="{{referalnotes}}"></p>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="GetSickSlipID()" data-toggle="modal" data-target="#exampleModalCenterRefferal"
          style="background-color: #f18235; color: white;" class="btn btn-default">{{ labels[0].edit }}</button>
        <button id="close" type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-dismiss="modal">{{ labels[0].close }}</button>
      </div>
    </div>
  </div>
</div>






<div class="modal fade" id="UploadFile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-lg">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ labels[0].upload }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label for="" class="reglabel">{{labels1[0].attachments}} :</label>
            </div>
            <div class="col-lg-5">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload1($event)" class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let pho of showdocphoto">
                <img src="{{pho}}" style="height:50px;width:70px">&nbsp;
              </span>
            </div>
            <div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" style="background-color: #f18235;color: white; text-align: center;"
          class="btn btn-default" (click)="InsertDoctorRefererlas()" data-dismiss="modal">{{ labels[0].save }}</button>
      </div>
    </div>
  </div>
</div>











<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 700px;margin-left: -15%;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">{{labels4[0].soap}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form #soapForm="ngForm">
            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].subjective}}</label>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" [(ngModel)]="subjective" name="subjective" required rows="4"
                  placeholder="{{labels4[0].subjective}}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].objective}}</label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="objective" required [(ngModel)]="objective"
                  placeholder="{{labels4[0].objective}}"></textarea>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].assessment}}</label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="assessment" required [(ngModel)]="assessment"
                  placeholder="{{labels4[0].assessment}}"></textarea>
              </div>
            </div><br>

            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].plan}}</label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="plan" required [(ngModel)]="plan"
                  placeholder="{{labels4[0].plan}}"></textarea>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].diagnosisCode}} </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [(ngModel)]="diagnosiscode" name="diagnosiscode"
                  placeholder="{{labels4[0].diagnosisCode}}" />
              </div>
            </div><br>
            <!-- <div class="row">
        <div class="col-lg-3">
          <label><b>Sick Slip Genarator</b> </label>
        
        </div>
        <div class="col-lg-7">
          <input type="text" class="form-control" [(ngModel)]="sickslip" name="sickslip"
            placeholder="Sick Slip Genarator" />
        </div>
      </div><br> -->
            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].followUpPlan}}</label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [(ngModel)]="followupplan" name="followupplan"
                  placeholder="{{labels4[0].followUpPlan}}" />
              </div>
            </div>
            <br>
            <!-- <div class="row">
        <div class="col-lg-3">
          <label><b>Signature</b> </label>
        <span style="color: red;">*</span>
        </div>
        <div class="col-lg-7">
          <input type="text" class="form-control" [(ngModel)]="signature" name="signature"
            placeholder="Signature" />
        </div>
      </div>
      <br> -->
            <div class="row">
              <div class="col-lg-3">
                <label>{{labels4[0].notes}}</label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="notes" [(ngModel)]="notes"
                  placeholder="{{labels4[0].notes}}"></textarea>
              </div>
            </div>
            <br>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
            data-dismiss="modal">{{ labels4[0].close }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenterRefferal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{labels1[0].refertodoctor}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="dname_label">{{labels1[0].patintIDd}}:</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="Patient ID" disabled class="form-control" [(ngModel)]="patientidd"
                name="patientidd">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="dname_label">{{labels1[0].patientName}}:</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="Patient Name" disabled class="form-control" [(ngModel)]="patientname"
                name="patientname">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="dname_label">{{labels1[0].phoneNoo}}:</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="number" name="mobileno" [(ngModel)]="mobileno" disabled class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="dname_label">{{labels1[0].emaill}}:</label>
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" disabled name="email" [(ngModel)]="email">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="dname_label">{{labels1[0].referalNotess}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-6">
              <ckeditor [editor]="Editor" [(ngModel)]="referalnotes" name="referalnotes" data=""></ckeditor>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-2">
              <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
                (click)="UpdateRefferalLetter()" style="width: 260%;" data-dismiss="modal">{{labels1[0].save}}</button>
            </div>
            <div class="col-lg-5">
            </div>
          </div>

        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button id="close1" type="button" style="background-color: #f18235; color: white;" class="btn  btn-default"
          data-dismiss="modal">{{labels1[0].close}}</button>
      </div>
    </div>
  </div>
</div>