<div class="container-fluid headerspace card card:hover ">
  <div class="row" >
    <div class="col-lg-9" style="margin-top: 11px;">
      <h5>{{labels[0].announsements}}</h5>
    </div>

    <div class="col-lg-3" style="text-align: end;margin-top: 5px;">
      <button type="button" routerLink="/Announsements" *ngIf="languageid=='1'" class="btn btncolor">ADD</button>
      <button type="button" routerLink="/Announsements" *ngIf="languageid=='6'" class="btn btncolor">Ajouter</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->

      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }" class="form-control"
        [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }" class="form-control"
        [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>

    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div>
    <!-- <div class="col-lg-2">
      {{labels[0].count}} : <b>{{count}}</b>
    </div> -->
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].photo}}</th>
            <th>{{labels[0].announsementName}}</th>
            <th>{{labels[0].websiteLink}}</th>
            <th>{{labels[0].country}}</th>
            <th>{{labels[0].state}}</th>
            <th>{{labels[0].city}}</th>
            <th>{{labels[0].description}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let details of annousments|filter:term">
            <td>
              <img src="{{details.photo}}" style="height: 40px;width: 50px;">
            </td>
            <td>{{details.announsementName}}</td>
            <td>{{details.websitelink}}</td>
            <td>{{details.country}}</td>
           
            <td>{{details.city}}</td>
            <td>{{details.areaName}}</td>
            <td>
              <p innerHTML="{{details.description}}"></p>
              <!-- </p>{{details.description}}</td> -->
              <td>
                <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
                <a [ngbTooltip]="tipcontent2">
                  <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;" (click)="DeleteAnnouncements(details.id)">
                </a>&nbsp;

                <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent1" 
                  [routerLink]="['/Announsements',details.id]" style="color:black">
                  <img src="assets/Images/edit.png" style="width: 18px">
                </a>&nbsp;
                <a>
                  <img *ngIf="details.enableDisable =='0'" src="assets/Images/active.png" title="Enabled" (click)="DisableAnnouncements(details.id)"
                    style="width: 50px;" />
                </a>
                <a>
                  <img *ngIf="details.enableDisable =='1'" (click)="EnableAnnouncements(details.id)" src="assets/Images/dactive.png" title="Disabled"
                    style="width: 50px;" />
                </a>
              </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>
  <br>
  <!-- <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true"
      autoHide="true" responsive="true" previousLabel="Previous" nextLabel="Next"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div><br><br> -->
</div>
<br>