<br>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-10">
      <h5 *ngIf="languageid==1">Subscription Reports</h5>
      <h5 *ngIf="languageid==6">RAPPORT D'ABONNEMENT</h5>
    </div>

    <div class="col-lg-2">
      <button style="height:35px;background-color: #f18235;color:white" class="btn btn-block btncolor"
        (click)="getglmasterexcel()">{{labels[0].exportToExcel}}</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">


    <div class="col-lg-3">
      <input type="search" placeholder="{{labels[0].search}}" [(ngModel)]="term" class="form-control">
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GettypeID($event)" *ngIf="languageid==1">
        <option value="0">Sélectionner</option>
        <option value="1">Doctor</option>
        <option value="2">Nurse</option>
        <option value="3">Phsiotherapist</option>
        <option value="4">Midwife</option>
      </select>

      <select class="form-control" (change)="GettypeID($event)" *ngIf="languageid==6">
        <option value="0">Sélectionner</option>
        <option value="1">Médecin</option>
        <option value="2">Infirmière</option>
        <option value="3">Soignant</option>
        <option value="4">Sage-femme</option>
      </select>

    </div>
    <div class="col-lg-4">


    </div>
    <div class="col-lg-2" style="text-align: end;">
      <label>{{labels[0].count}} : {{count}}</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow-y: auto;">
      <table class="table" id="AppoitmentReports" style="overflow: auto;">
        <thead>
          <tr style="height: 20px">
            <th>ID</th>
            <th>Type</th>
            <th *ngIf="languageid==1">Provider Name</th>
            <th *ngIf="languageid==1">Mobile Number</th>
            <th *ngIf="languageid==1">Email ID</th>
            <th *ngIf="languageid==1">Subscription Type</th>
            <th *ngIf="languageid==1">Monthly SUbscription</th>
            <th *ngIf="languageid==1">Appointment Percentage</th>
            <th *ngIf="languageid==6">Nom</th>
            <th *ngIf="languageid==6">Tél portable</th>
            <th *ngIf="languageid==6">Email</th>
            <th *ngIf="languageid==6">Type d'abonnement</th>
            <th *ngIf="languageid==6">Abondement mensuel</th>
            <th *ngIf="languageid==6">Pourcentage de RDV</th>
          </tr>
          <tr *ngFor="let details of AllDetails|filter:term">
            <td>{{details.id}}</td>
            <td>{{details.typename}}</td>
            <td>{{details.providerName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.emailID}}</td>
            <td>
              <label *ngIf="details.subscriptionTypeID==1">Monthly Subscription</label>
              <label *ngIf="details.subscriptionTypeID==2">Sur les RDV</label>
              <label *ngIf="details.subscriptionTypeID==3">Les deux </label>
            </td>
            <td>
              <label
                *ngIf="details.subscriptionTypeID==1||details.subscriptionTypeID==3">{{details.monthlySubscription}}</label>

            </td>
            <td>
              <label
                *ngIf="details.subscriptionTypeID==2||details.subscriptionTypeID==3">{{details.appointmentPercentage}}</label>

            </td>
          </tr>
        </thead>
      </table>
      <br>
      <br>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<br>
<br>