<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9">
      <h5>{{labels1[0].supportDash}}</h5>
    </div>

    <div class="col-lg-3" style="text-align: end;">
      <button *ngIf="languageid==1" type="button" routerLink="/SupportReg" class="btn btncolor">Add</button>
      <button *ngIf="languageid==6" type="button" routerLink="/SupportReg" class="btn btncolor">Ajouter</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetCountryID($event)">
        <option value="0">{{labels1[0].selectCountry}}</option>
        <option *ngFor="let couu of countrylist" value={{couu.id}}>{{couu.short}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control" *ngIf="countryid!='0'" (change)="GetCityID($event)">
        <option value="0">{{labels1[0].selectProvince}}</option>
        <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control" *ngIf="cityid!='0'" (change)="GetAreaID($event)">
        <option value="0">{{labels1[0].selectCity}}</option>
        <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
      </select>
    </div>

    <!-- <div *ngIf="languageid==1" class="col-lg-2">
      Count:
      <b>{{count}}</b>
    </div>
    <div *ngIf="languageid==6" class="col-lg-2">
      Nombre :
      <b>{{count}}</b>
    </div>
  </div> -->
  </div>


  <div class="row">
    <div class="col-lg-11">

    </div>
    <div class="col-lg-1" style="text-align: end">
      <div *ngIf="languageid==1">
        Count:
        <b>{{count}}</b>
      </div>
      <div *ngIf="languageid==6">
        Nombre :
        <b>{{count}}</b>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <!-- <th>{{labels[0].doctorPhoto}}</th> -->
            <th>{{labels1[0].name}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th>{{labels[0].email}}</th>
            <th>{{labels[0].country}}</th>
            <th>{{labels[0].province}}</th>
            <th>{{labels[0].city}}</th>
            <th>{{labels[0].userName}}</th>
            <!-- <th>{{labels[0].password}}</th> -->
            <th>{{labels[0].address}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let details of localdoclist|filter:term| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
            <!-- <td><img src="{{details.photourl}}" style="height: 50px;width: 50px;" /></td> -->
            <td>{{details.name}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.emailID}}</td>
            <td>{{details.country}}</td>
            <td>{{details.city}}</td>
            <td>{{details.areaName}}</td>
            <td>{{details.userName}}</td>
            <!-- <td>{{details.password}}</td> -->
            <td>{{details.address}}</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;" (click)="DeleteSupportRegistration(details.id)">
              </a>&nbsp;
              <!-- <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" [routerLink]="['/EditDoctorRegistration',details.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 20px">
              </a> -->

              <ng-template #tipcontent300>Password</ng-template>
              <img src="assets/Images/medicalquestion.png"  data-toggle="modal" data-target="#exampleModal" [ngbTooltip]="tipcontent300" style="margin: 2%;width: 24px;"
               
                (click)="getpassword(details)" />&nbsp;
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>
  <br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true" responsive="true"
      previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <br>
  <br>

  <br>
  <br>
  <br>




  
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Password</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" *ngIf="Showpassword=='0'">
        <div class="col-lg-3">
          <label>Enter Your Pin</label>
        </div>
        <div class="col-lg-6">
          <input type="text" class="form-control" [(ngModel)]="Enteredpinno" name="Enteredpinno"
            placeholder="Enter Your Pin No">
        </div>
        <div class="col-lg-2">
          <button class="btn btncolor" (click)="CheckPasswordvalidate()">Validate</button>
        </div>
      </div>
      <div *ngIf="Showpassword=='1'">
        <form #doctorForm="ngForm">
          <div class="row">
            <div class="col-lg-4">
              <label>Pin No :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control" disabled name="mypinno" required [(ngModel)]="mypinno">
            </div>
          </div>
          <br>
<!--         
          <div class="row">
            <div class="col-lg-4">
              <label>UserName :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control" disabled name="username" required [(ngModel)]="username"
                placeholder="UserName"
                onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32'>
            </div>
          </div>
          <br> -->
          <div class="row">
            <div class="col-lg-4">
              <label>Password :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control" name="password" required [(ngModel)]="password"
                placeholder="Password">
            
            </div>
          </div>
          <br><br>
          <!-- <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn allbtns btncolor" (click)="insertdetails()"
                [disabled]="doctorForm.form.invalid">
                {{labels[0].update}}
              </button>
            </div>
            <div class="col-lg-5">
            </div>
          </div><br><br> -->
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" id="close" class="btn btncolor" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>