th::first-letter{
    text-transform: uppercase;
  }
  th{
    text-transform: lowercase;
  }
  label::first-letter{
    text-transform: uppercase;
  }
  label{
    text-transform: lowercase;
  }
  #imp{
    text-transform: none;
  }
  
	.headerspace{
    margin-top: 10px;
    text-transform:uppercase;
  }

  #imp11{
    text-transform: none;
  }
  

  