.headerspace{
    margin-top: 10px;
    text-transform:uppercase;
  }


		th::first-letter{
      text-transform: uppercase;
    }
    th{
      text-transform: lowercase;
    }
    .without::-webkit-datetime-edit-ampm-field {
      display: none;
    }