
<div class="container-fluid card card:hover">
  <br>
  <div class="row ">
    <div class="col-lg-3">
      <h5>{{labels[0].cityMasterDash}}</h5>
    </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-3">
      <button type="button" routerLink="/CityMaster"
        style="float: right;background-color:  #f18235;width: 49%;color: white;" class="btn btncolor">{{labels[0].add}}</button>
    </div>
  </div>
  <br>
</div><br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term"  placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetCountryID($event)">
          <option value="0">{{labels[0].selectCountry}}</option>
          <option *ngFor="let couu of countrylist" value={{couu.id}}>{{couu.short}}</option>
      </select>
  </div>
  <div class="col-lg-3">
      <select class="form-control" *ngIf="countryid!='0'" (change)="GetCityID($event)">
          <option value="0">{{labels[0].selectProvince}}</option>
          <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
      </select>
  </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].country}}</th>
            <th>{{labels[0].province}}</th>
            <th>{{labels[0].city}}</th>
            <th>{{labels[0].zipCode}}</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let list of cityslist|filter:term">
            <td>{{list.country}}</td>
            <td>{{list.city}}</td>
            <td>{{list.areaName}}</td>
            <td>{{list.pincode}}</td>
            <td>
              <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" [routerLink]="['/CityMaster',list.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 20px">
              </a>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: 10px;"
                  (click)="DeleteAreaMaster(list.id)">
              </a>
            
            </td>
          </tr>
        </thead>
      </table>
    </div><br><br>
  </div><br><br>
  <br>
</div><br><br><br><br>