
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace headercolor">
    <div class="col-lg-5">
      <h5>{{labels[0].support}}</h5>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <form #Supportform="ngForm"> 
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].issue}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" placeholder="{{labels[0].issue}}" required class="form-control" [(ngModel)]="issuename" name="issuename"
       >
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].description}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <ckeditor [editor]="Editor"  [(ngModel)]="description" name="description" data=""></ckeditor>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].photo}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
        <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
      </ngx-dropzone>
      <div>
        <span *ngFor="let photo of showphoto">
          <img src="{{photo}}" style="height:70px;width:50px">&nbsp;
        </span>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" text_align="center" (click)="insertdetails()"
        class="btn btn-block btn-md allbtns btncolor" [disabled]="Supportform.form.invalid">{{labels[0].save}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <br>
</form>
</div>
<br><br><br>

<div id="qwerty">
</div>	