<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-12" style="margin-top: -2px;">
      <h5>{{labels[0].pharmacyDashboard}}</h5>

      <button class="btn btncolor" *ngIf="showexportbutton=='1'"  (click)="getglmasterexcel()">
        {{labels1[0].exportExcel}}</button>
      <button style="margin-left: 10px;" *ngIf="languageid==1" type="button" routerLink="/Pharmacyregistration"
        class="btn btncolor">
        Add Pharmacy
      </button>
      <button style="margin-left: 10px;" *ngIf="languageid==6" type="button" routerLink="/Pharmacyregistration"
        class="btn btncolor">
        Ajouter
      </button>
    </div>
    <!-- <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
    
    </div> -->
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
    <!-- <div class="col-lg-3">
      <select class="form-control" (change)="GetCountryID($event)">
        <option value="0">{{labels1[0].selectCountry}}</option>
        <option *ngFor="let couu of countrylist" value={{couu.id}}>{{couu.short}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control" *ngIf="countryid!='0'" (change)="GetCityID($event)">
        <option value="0">{{labels1[0].selectProvince}}</option>
        <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control" *ngIf="cityid!='0'" (change)="GetAreaID($event)">
        <option value="0">{{labels1[0].selectCity}}</option>
        <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
      </select> -->
    <!-- </div> -->
  </div>
  <div class="row">
    <div class="col-lg-9">
    </div>
    <div class="col-lg-3" style="text-align: end;">
      <label> {{labels[0].count}} : {{pharmacycount}}</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table class="tablecss" id="Doc">
        <thead>
          <tr>
            <th>Photo</th>
            <th>{{labels[0].pharmacyname}}</th>
            <th>{{labels[0].contactPersonName}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th>{{labels[0].email}}</th>
            <th *ngIf="languageid=='1'">Pincode</th>
            <th *ngIf="languageid=='6'">Code Postal</th>
            <!-- <th>{{labels[0].country}}</th>
            <th>{{labels[0].province}}</th>
            <th>{{labels[0].city}}</th> -->
            <th>{{labels[0].licenseNumber}}</th>
            <!-- <th *ngIf="showeditbutton!='1'">Monthly subscription</th>
            <th *ngIf="showeditbutton!='1'">Contract start date</th>
            <th *ngIf="showeditbutton!='1'">Contract end date</th> -->
            <th>{{labels[0].address}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr
            *ngFor="let details of pharmacylist|filter:term| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
            <td><img src="{{details.photoURL}}" style=" height: 50px;width: 50px;" />
            </td>
            <td>{{details.pharmacyName}}</td>
            <td>{{details.contactName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.email}}</td>
            <td>{{details.pincode}}</td>
            <!-- <td>{{details.short}}</td>
            <td>{{details.city}}</td>
            <td>{{details.areaName}}</td> -->
            <td>{{details.licenseNo}}</td>
            <!-- <td *ngIf="showeditbutton!='1'">{{details.monthlySubscription}}</td>
            <td *ngIf="showeditbutton!='1'">{{details.contartStartDate}}</td>
            <td *ngIf="showeditbutton!='1'">{{details.contractEndDate}}</td>
            -->
            <td>{{details.address}}</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" *ngIf="showdelete=='1'" style="width: 20px;margin-left: 10px;"
                  (click)="deletepharmacy(details.id)">
              </a>&nbsp;
              <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" *ngIf="details.editiconShow=='0'&&showeditbutton=='1'"
                [routerLink]="['/EditPharmacyReg',details.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 20px">
              </a>
              <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" *ngIf="showeditbutton=='0'" [routerLink]="['/EditPharmacyReg',details.id]"
                style="color:black">
                <img src="assets/Images/edit.png" style="width: 20px">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br>
  </div>
  <br>
  <br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <br>
  <br>
  <br>
</div>
<br>