<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid bg1">
  <div class="row">
    <div class="col-lg-7"></div>
    <div class="col-lg-4" style="text-align: center;">
      <br><br><br>
      <div class="card card-hover" style="padding: 12%;border-radius: 20px;background-color: #303577">
        <form #loginForm="ngForm">
          <h3
            style="border-radius: 10px;padding-top: 3%;height:114px;width:100%;background-color: white;color: aliceblue;">
            <img src="assets/Images/logo.png" style="margin-top: -14px;width: 29%;">
            <h6 style="color: #322b6b;margin-top: -9px;
            font-size: 10px;">Plateforme d'optimisation opérationnelle. </h6>
          </h3>
          <br>
          <!-- <select class="form-control" style="hei  ght:40px;" (change)="GetCountryID($event)">
            <option value="0" selected>Select Country</option>
            <option *ngFor="let cou of countrylist" value={{cou.countryID}}>{{cou.countryName}}</option>
          </select><br> -->
          <!-- *ngIf="countryid!=null" -->

          <div>
            <select class="form-control" style="height:40px;" (change)="onchangeFunction($event)">
              <option value="" selected>{{labels[0].selectRole}}</option>
              <option *ngFor="let role of rolelist" value={{role.id}}>{{role.short}}</option>
            </select>
            <br>
            <input type="text" [(ngModel)]="pinno" style="height:40px;" name="pinno" required
              placeholder="{{labels[0].pinno}}" class="form-control"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            <br>
            <input type="text" [(ngModel)]="uname" style="height:40px;" name="uname" required placeholder="{{labels[0].emailID}}"
              class="form-control">
            <br>
            <button type="submit" class="form-control login" (click)="login()"
              [disabled]="loginForm.form.invalid">{{labels[0].resetPassword}}</button>
          </div>
        </form>
      </div>
    </div><br>
    <div class="col-lg-1">
    </div>
  </div>
</div>