.bg1 {
    background-image: url("../../../../assets/Images/bg1.jpg");
   height: 100vh;
  width: 100%;
/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
   }
   .login{
    margin-top: 10px;
    height: 46px;
    color: white;
    background-color: #9ec3cc;
    border: none;
    width: 193px;
    margin-left: 100px;
    border-radius: 11px;
    font-size: 12px;
}