<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="container-fluid card card:hover headerspace">
    <div class="row headerspace">
        <div class="col-lg-6">
            <h5>Dashboard</h5>
        </div>
    </div>
</div>
<br />
<div class="container-fluid card card-hover">
   
    <br>
    <h4 class="text-center h4tag">Provider Subscription Reports</h4>
    <div class="row">
        <div class="col-lg-3">
            <select class="form-control" (change)="GetType($event)" [(ngModel)]="typeid" name="typeid">
                <option selected value="0">Select</option>
                <option value="1">Hospital</option>
                <option value="2">Clinic</option>
                <option value="3">Doctor</option>
                <option value="4">Nurse</option>
                <option value="5">Physiotherapist</option>
                <option value="6">MidWife</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" (change)="GetYear($event)" [(ngModel)]="year" name="year">
                <option selected value="0">Select Year</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
            </select>
        </div>
        <div class="col-lg-3">
            <select class="form-control" (change)="GetMonth($event)" [(ngModel)]="month" name="month">
                <option selected value="0">Select Month</option>
                <option value="1">January</option>
                <option value="2">Febraury</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
    </div>
    <br>
  
    <div class="row" *ngFor="let cou of counts">
        <div class="col-lg-3">
            <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" (click)="gotoReports(1)">
                <br />
                <label style="color: black;font-size: 30px;color: white;"><b style="font-size: 15px;">Invoices
                        Sent</b></label>
                <br />
                <br />
                <label style="color: black;font-size: 30px;color: #f17e2d;"><b><u
                            style="font-size: 20px;">{{cou.totalInvoices}}</u></b></label>
            </div>
            <br />
            <br />
        </div>
        <div class="col-lg-3">
            <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" (click)="gotoReports(2)">
                <br />
                <label style="color: black;font-size: 30px;color: white;"><b style="font-size: 15px;">paid
                        Invoices</b></label>
                <br />
                <br />
                <label style="color: black;font-size: 30px;color: #f17e2d;"><b><u
                            style="font-size: 20px;">{{cou.paidinvoices}}</u></b></label>
            </div>
            <br />
            <br />
        </div>
        <div class="col-lg-3">
            <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" (click)="gotoReports(3)">
                <br />
                <label style="color: black;font-size: 30px;color: white;"><b style="font-size: 15px;">Pending
                        Invoices</b></label>
                <br />
                <br />
                <label style="color: black;font-size: 30px;color: #f17e2d;"><b><u
                            style="font-size: 20px;">{{cou.pendingInvoices}}</u></b></label>
            </div>
            <br />
            <br />
        </div>

        <div class="col-lg-3">
            <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" (click)="gotoReports(4)">
                <br />
                <label style="color: black;font-size: 30px;color: white;"><b style="font-size: 15px;">Paid
                        Amount</b></label>
                <br />
                <br />
                <label style="color: black;font-size: 30px;color: #f17e2d;"><b><u
                            style="font-size: 20px;">{{cou.paidAmount}}</u></b></label>
            </div>
            <br />
            <br />
        </div>
        <div class="col-lg-3">
            <div class="optionsboxdown" style="cursor: pointer;border-radius: 10px;" (click)="gotoReports(5)">
                <br />
                <label style="color: black;font-size: 30px;color: white;"><b style="font-size: 15px;">Pending
                        Amount</b></label>
                <br />
                <br />
                <label style="color: black;font-size: 30px;color: #f17e2d;"><b><u
                            style="font-size: 20px;">{{cou.pendingAmount}}</u></b></label>
            </div>
            <br />
            <br />
        </div>
        <br />
    </div>

</div>