 <div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-8" style="margin-top: -2px;">
      <h5>{{labels2[0].midwifereg}}</h5>
    </div>
    <div class="col-lg-2" style="text-align: end;margin-top: -12px;">
      <button class="btn btncolor" *ngIf="showexportbutton=='1'" (click)="getglmasterexcel()">
        {{labels1[0].exportExcel}}</button>
    </div>
    <div class="col-lg-2" style="text-align: end;margin-top: -12px;">
      <button style="margin-left: -20px;" type="button" routerLink="/Midwife" class="btn btncolor">
        {{labels[0].addmidwife}}
      </button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="getTypeID($event)">
        <option value="0">Type </option>
        <option value="1">Hôpitaux</option>
        <option value="2">Cliniques</option>
        <option value="614">Sages-femmes indépendantes</option>
        <option value="3">Cabinet de Groupe</option>
      </select>
    </div>
    <div class="col-lg-3">

    </div>
    <!-- <div class="col-lg-3">
      <select class="form-control" (change)="GetCountryID($event)">
          <option value="0">{{labels1[0].selectCountry}}</option>
          <option *ngFor="let couu of countrylist" value={{couu.id}}>{{couu.short}}</option>
      </select>
  </div>
  <div class="col-lg-3">
      <select class="form-control" *ngIf="countryid!='0'" (change)="GetCityID($event)">
          <option value="0">{{labels1[0].selectProvince}}</option>
          <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
      </select>
  </div>
  <div class="col-lg-3">
      <select class="form-control" *ngIf="cityid!='0'" (change)="GetAreaID($event)">
          <option value="0">{{labels1[0].selectCity}}</option>
          <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
      </select>
  </div> -->

    <div class="col-lg-3" style="text-align: end;">
      <label> {{labels[0].count}} : {{count}}</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table id="Doc">
        <thead>
          <tr>
            <th>{{labels[0].photo}}</th>
            <th>{{labels[0].name}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th>{{labels[0].emailID}}</th>
            <th>{{labels[0].country}}</th>
            <th>{{labels[0].province}}</th>
            <th>{{labels[0].city}}</th>
            <th>{{labels[0].address}}</th>
            <th *ngIf="languageid=='1'">Pincode</th>
            <th *ngIf="languageid=='6'">Code Postal</th>
            <th>{{labels2[0].hospitalClinic}}</th>
            <th>{{labels[0].action}}</th>
          </tr>
          <tr *ngFor="let mid of midwifelist|filter:term">
            <td><img src="{{mid.photoURL}}" style="height: 50px;width: 50px;" /></td>
            <td>{{mid.name}}</td>
            <td>{{mid.phoneNo}}</td>
            <td>{{mid.email}}</td>
            <td>{{mid.short}}</td>
            <td>{{mid.city}}</td>
            <td>{{mid.areaName}}</td>
            <td>{{mid.address}}</td>
            <td>{{mid.pincode}}</td>
            <td>{{mid.hospital_ClinicName}}</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" *ngIf="showdelete=='1'" style="width:18px;" (click)="DeleteMidWivesRegistration(mid.id)">
              </a>
              &nbsp;
              <ng-template #tipcontent3>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent3">
                <img src="assets/Images/edit.png" *ngIf="mid.editiconShow=='0'&&showeditbutton=='1'" style="width:18px;" [routerLink]="['/EditMidwifeComponent',mid.id]">
              </a>

              <ng-template #tipcontent3>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent3">
                <img src="assets/Images/edit.png"  
                *ngIf="showeditbutton=='0'" 
                 style="width:18px;" [routerLink]="['/EditMidwifeComponent',mid.id]">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<br>