<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<app-loader *ngIf="loader==1"></app-loader>
<div class="container-fluid card card:hover headerspace">

  <div class="row headerspace">
    <div class="col-lg-8">
      <h5>Agenda</h5>
      <!-- <h5>{{labels[0].monthWiseSchedule}}</h5> -->
      <br>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-2">

    </div>
  </div>
</div>
<br>
<div class="container-fluid card card-hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" class="form-control" placeholder="Select date"
        [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="todaydatess" (ngModelChange)="GetDoctorDates($event)"
        [minDate]="today" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

      <input *ngIf="languageid==6" type="text" class="form-control" placeholder="Sélecteur de date"
        [bsConfig]="{ showWeekNumbers:false }" [minDate]="today" (bsValueChange)="GetDoctorDates($event)"
        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
      <span>{{labels[0].changeSchedule}} : </span>
    </div>
    <div class="col-lg-4">
      <input type="radio" [(ngModel)]="typeID" name="typeID" data-toggle="modal" data-target="#EditDayWiseSlots"
        (click)="GetTypeID($event)" value="1"> {{labels[0].daywise}} &nbsp;
      <input type="radio" [(ngModel)]="typeID" name="typeID" data-toggle="modal" data-target="#EdittimeWiseSlots"
        (click)="GetTypeID($event)" value="2"> {{labels[0].timewise}}
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" name="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-2">
    </div>
    <div class="col-lg-1" style="margin-right: -1px;">
      <div class="rectangle"><span style="margin-left: 21px;">{{labels[0].inclinic}}</span></div>
    </div>
    <div class="col-lg-1" style="margin-right: -6px;">
      <div class="vdioerect"> <span style="margin-left: 18px;">{{labels[0].video}}</span></div>
    </div>
    <div class="col-lg-1" style="margin-left: 33px;">
      <div class="homecare"><span style="margin-left: 20px;">{{labels[0].homeVisit}}</span></div>
    </div>
    <div class="col-lg-1 ">
      <div class="Notavailable" style="margin-left: 20px;width: 167%;">
        <p style="margin-left:12px"> {{labels[0].notAvailable}}</p>
      </div>
    </div>
    <div class="col-lg-1 ">
      <div class="meeting" style="margin-left: 42px;width: 127%;">
        <p style="margin-left:12px"> {{labels[0].meeting}}</p>
      </div>

    </div>
    <div class="col-lg-1 ">
      <div class="booked" style="margin-left: 34px;width: 140%;">
        <p style="margin-left:12px"> {{labels[0].booked}}</p>
      </div>
    </div>
    <!-- <div class="col-lg-1 rectangle">
      <p> {{labels[0].inclinic}}</p>
    </div>
    <div class="col-lg-1">
      <div class="vdioerect" style="margin-left: -8px;">
        <p style="width: 120px;"> {{labels[0].video}}</p>
      </div>
    </div>
    <div class="col-lg-1 ">
      <div class="homevisit" style="margin-left: 19px;">
        <p> {{labels[0].homeVisit}}</p>
      </div>
    </div>
    <div class="col-lg-1 ">
      <div class="Notavailable" style="margin-left: 23px;
      width: 136px;">
        <p> {{labels[0].notAvailable}}</p>
      </div>
    </div>
    <div class="col-lg-1 ">
      <div class="meeting" style="margin-left: 62px;width: 120px;">
        <p> {{labels[0].meeting}}</p>
      </div>
    </div> -->
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div style="margin-top:3px">
        <table class="table">
          <thead>
            <tr>
              <th>{{labels[0].timings}}</th>
              <th>
                {{DayDatelist[0].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[0].day}}</th>
              <th>
                {{DayDatelist[1].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[1].day}}</th>
              <th>
                {{DayDatelist[2].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[2].day}}</th>
              <th>
                {{DayDatelist[3].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[3].day}}</th>
              <th>
                {{DayDatelist[4].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[4].day}}</th>
              <th>
                {{DayDatelist[5].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[5].day}}</th>
              <th>
                {{DayDatelist[6].date|date:'dd/MM/yyyy'}}<br>
                {{DayDatelist[6].day}}</th>
            </tr>
            <tr *ngFor="let details of workingdetails|filter:term" style="overflow: auto;height: 70px;">
              <td>{{details.slotname}}</td>
              <td [style.background-color]="details.day1color" style="color:white">{{details.day1}}<br>
                <span *ngIf="details.day1AppointmentTypeID!=6&&details.day1AppointmentTypeID!=4">{{details.mondayFees|
                  number:'2.2-2'|noComma}} DH </span>
                <br>
                {{details.day1Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day1patientdetails|filter:term">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <ng-template #tipcontent9503>{{labels[0].edit}}</ng-template>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay1List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day2color" style="color:white">{{details.day2}}<br>
                <span *ngIf="details.day2AppointmentTypeID!=6&&details.day2AppointmentTypeID!=4">
                  {{details.tuesdayFees| number:'2.2-2'|noComma}} DH</span> <br>
                {{details.day2Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day2patientdetails|filter:term">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay2List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day3color" style="color:white">{{details.day3}}<br>
                <span *ngIf="details.day3AppointmentTypeID!=6&&details.day3AppointmentTypeID!=4">
                  {{details.wednessdayFees| number:'1.2-2'|noComma}} DH</span> <br>
                {{details.day3Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day3patientdetails|filter:term">
                    <label style="color:#e69d17"> {{det.pName}}</label>
                  </tr>
                </table>
                <a [ngbTooltip]="tipcontent9503">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay3List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day4color" style="color:white">{{details.day4}}<br>
                <span *ngIf="details.day4AppointmentTypeID!=6&&details.day4AppointmentTypeID!=4">{{details.thursdayFees|
                  number:'1.2-2'|noComma}} DH</span><br>
                {{details.day4Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day4patientdetails|filter:term">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay4List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day5color" style="color:white">{{details.day5}}<br>
                <span *ngIf="details.day5AppointmentTypeID!=6&&details.day5AppointmentTypeID!=4">{{details.fridayFees|
                  number:'1.2-2'| number:'1.2-2'|noComma}} DH</span>
                <br>

                {{details.day5Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day5patientdetails|filter:term">
                    <label style="color:#e69d17"> {{det.pName}}</label>
                  </tr>
                </table>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay5List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day6color" style="color:white">{{details.day6}}<br>
                <span *ngIf="details.day6AppointmentTypeID!=6&&details.day6AppointmentTypeID!=4">{{details.satdayFees|
                  number:'1.2-2'|noComma}} DH</span>
                <br>
                {{details.day6Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day6patientdetails|filter:term">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay6List(details)">
                </a>
              </td>
              <td [style.background-color]="details.day7color" style="color:white">{{details.day7}}<br>
                <span *ngIf="details.day7AppointmentTypeID!=6&&details.day7AppointmentTypeID!=4">
                  {{details.sundayFees | number:'1.2-2'|noComma}} DH</span> <br>
                {{details.day7Availabilty}}<br>
                <table>
                  <tr *ngFor="let det of details.day7patientdetails|filter:term">
                    <span style="color:#e69d17"> {{det.pName}}</span>
                  </tr>
                </table>
                <a [ngbTooltip]="tipcontent9503" style="color:black">
                  <img src="assets/Images/edit.png" data-toggle="modal" data-target="#edittest" style="width: 18px"
                    (click)="GetDay7List(details)">
                </a>
              </td>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
<div id="edittest" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width: 600px;">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="languageid=='1'">Edit</h4>
        <h4 class="modal-title" *ngIf="languageid=='6'">Éditer</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="1"> &nbsp;
            {{labels[0].inclinic}} &nbsp;
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="2"> &nbsp;
            {{labels[0].video}} &nbsp;
            <!-- <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="5"> &nbsp;
            {{labels[0].homeVisit}} &nbsp; -->
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="4"> &nbsp;
            {{labels[0].notAvailable}}&nbsp;
            <input type="radio" [(ngModel)]="appointmentypeid" name="appointmentypeid" [value]="6"> &nbsp;
            {{labels[0].meeting}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-1">

          </div>
          <div class="col-lg-3">
            <span *ngIf="appointmentypeid!=4&&appointmentypeid!=6"> {{labels[0].fees}} :</span>
          </div>
          <div class="col-lg-6">
            <input type="text" *ngIf="appointmentypeid!=4&&appointmentypeid!=6" class="form-control" [(ngModel)]="fees"
              onkeypress='return(event.charCode>=48&&event.charCode<=57)' name="fees" placeholder="{{labels[0].fees}}">
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4">
            <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
              (click)="insertdetails()">{{labels[0].update_label}}</button>
          </div>
          <div class="col-lg-4">

          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<div id="EditDayWiseSlots" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="languageid=='1'">Edit</h4>
        <h4 class="modal-title" *ngIf="languageid=='6'">Modifier par date</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="width: 600px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <span>Date </span>
            </div>
            <div class="col-lg-6">
              <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
                [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="daychangedate"
                (ngModelChange)="GetdaychangeDate($event)" [minDate]="today"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

              <input *ngIf="languageid==6" type="text" class="form-control" placeholder="jj/mm/aa"
                [bsConfig]="{ showWeekNumbers:false }" [minDate]="today" [(ngModel)]="daychangedate1"
                (ngModelChange)="GetdaychangeDate($event)" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>
              <!-- [(ngModel)]="daychangedate1" -->
              <!-- [(bsValue)]="myDateValue" -->
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-12">
              <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="1">
              &nbsp;
              {{labels[0].inclinic}} &nbsp;
              <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="2">
              &nbsp;
              {{labels[0].video}} &nbsp;
              <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="5">
              &nbsp;
              {{labels[0].homeVisit}}&nbsp;
              <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="4">
              &nbsp;
              {{labels[0].notAvailable}}&nbsp;
              <input type="radio" [(ngModel)]="Daywiseappointmentid" name="Daywiseappointmentid" [value]="6">
              &nbsp;
              {{labels[0].meeting}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-3">
              <span *ngIf="Daywiseappointmentid!=4&&Daywiseappointmentid!=6"> {{labels[0].fees}} :</span>
            </div>
            <div class="col-lg-6">
              <input type="text" *ngIf="Daywiseappointmentid!=4&&Daywiseappointmentid!=6" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)' [(ngModel)]="fees" name="fees"
                placeholder="{{labels[0].fees}}">
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
              <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
                (click)="InsertDayWiseAlert()">{{labels[0].update_label}}</button>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="EdittimeWiseSlots" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 600px;">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="languageid=='1'">Edit</h4>
        <h4 class="modal-title" *ngIf="languageid=='6'">Modifier par heure</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="width: 600px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <span>Date </span>
            </div>
            <div class="col-lg-6">
              <input *ngIf="languageid==1" type="text" class="form-control" placeholder="MM/DD/YYYY"
                [bsConfig]="{ showWeekNumbers:false }" [(ngModel)]="timechangedate"
                (ngModelChange)="GetTimewisechangedate($event)" [minDate]="today" [(bsValue)]="timechangedate"
                [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker>

              <input *ngIf="languageid==6" type="text" class="form-control" placeholder="jj/mm/aa"
                [bsConfig]="{ showWeekNumbers:false }" [minDate]="today" [(ngModel)]="timechangedate1"
                (ngModelChange)="GetTimewisechangedate($event)" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                bsDatepicker>
              <!-- [(ngModel)]="timechangedate1" -->
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-12">
              <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="1"
                (click)="gettimechange($event)"> &nbsp;
              {{labels[0].inclinic}} &nbsp;
              <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="2"
                (click)="gettimechange($event)"> &nbsp;
              {{labels[0].video}} &nbsp;
              <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="5"
                (click)="gettimechange($event)"> &nbsp;
              {{labels[0].homeVisit}}&nbsp;
              <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="4"
                (click)="gettimechange($event)"> &nbsp;
              {{labels[0].notAvailable}}&nbsp;
              <input type="radio" [(ngModel)]="timewiseappointmentid" name="timewiseappointmentid" value="6"
                (click)="gettimechange($event)"> &nbsp;
              {{labels[0].meeting}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <span>{{labels[0].startTime}} </span>
            </div>
            <div class="col-lg-6">
              <select class="form-control" (change)="getmrngfrom($event)" [(ngModel)]="mrngfromid" name="mrngfromid">
                <option value="">{{labels[0].startTime}}</option>
                <option *ngFor="let mrngfrm of mrngfromlist" value="{{ mrngfrm.id }}">{{ mrngfrm.slots }}</option>
              </select>
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-3">
              <span>{{labels[0].endTime}} </span>
            </div>
            <div class="col-lg-6" style="margin-top: 0px;">
              <select class="form-control" (change)="getmrngto($event)" [(ngModel)]="mrngtoid" name="mrngtoid">
                <option value="">{{labels[0].endTime}}</option>
                <option *ngFor="let mrngto of mrngtolist" value="{{ mrngto.id }}">{{ mrngto.slots
                  }}</option>
              </select>
            </div>
          </div><br>

          <div class="row">
            <!-- <div class="col-lg-1">

            </div> -->
            <div class="col-lg-3">
              <span *ngIf="timewiseappointmentid!=4&&timewiseappointmentid!=6">{{labels[0].fees}} :</span>
            </div>
            <div class="col-lg-6">
              <input type="text" *ngIf="timewiseappointmentid!=4&&timewiseappointmentid!=6" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)' [(ngModel)]="fees" name="fees"
                placeholder="{{labels[0].fees}}">
            </div>
          </div><br>
          <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
              <button type="button" data-dismiss="modal" class="btn btn-block btncolor"
                (click)="InsertTineWiseAlert()">{{labels[0].update_label}}</button>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>