
  .headerspace{
    margin-top: 10px;
    text-transform:uppercase;
  }

  .rectangle {
    height: 30px;
    width: 120px;
    background-color: #322C6C;
    color:white;
  }

  .vdioerect
  {
    height: 30px;
    width: 132px;
    background-color: #4D65Af;
    color:white;
    margin-left: 20px;
  }

  .homecare
  {
    height: 30px;
    width: 100px;
    background-color: #0099FF;
    color:white;
    margin-left: 22px;
  }

  .Notavailable
  {
    height: 30px;
    width: 100px;
    background-color: #D3D3D3;
    color:white;
    margin-left: 22px;
  }

  .meeting
  {
    height: 30px;
    width: 100px;
    background-color: #FFC000;
    color:white;
    margin-left: 22px;
  }

  .booked
  {
    height: 30px;
    width: 100px;
    background-color: #548235;
    color:white;
    margin-left: 22px;
  }