<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].doctorRegistration}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <br>
  <form #doctorForm="ngForm">
    <aw-wizard navBarLocation="top" navBarLayout="small" navBarDirection="left-to-right" navigationMode="strict">
      <aw-wizard-step stepTitle="{{labels[0].personalInformation}}">
        <hr>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label class="dname_label">{{labels[0].doctorName}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].doctorName}}" name="doctorname" required
                [(ngModel)]="doctorname" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Phone_label">{{labels[0].phoneNo}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].phoneNo}}" required maxlength="13" name="phoneno"
                oncopy="return false" onpaste="return false" [(ngModel)]="phoneno" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].email}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="email" required placeholder="{{labels[0].email}}" name="email" [(ngModel)]="email"
                class="form-control" oncopy="return false" onpaste="return false" (ngModelChange)="onChange($event)">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].speaklanguages}} :</label>
            </div>
            <div class="col-lg-4">
              <input type="email" placeholder="{{labels[0].speaklanguages}}" oncopy="return false"
                onpaste="return false" name="speaklanguages" [(ngModel)]="speaklanguages" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].gender}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-3">
              <input type="radio" name="gender" [(ngModel)]="gender" required (click)="GetGenderID($event)" value="1">
              {{labels[0].male}} &nbsp;
              <input type="radio" name="gender" [(ngModel)]="gender" required (click)="GetGenderID($event)" value="2">
              {{labels[0].female}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels[0].address}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <textarea class="form-control" rows="4" required name="address" required [(ngModel)]="address"
                placeholder="{{labels[0].address}}"></textarea>
            </div>
            <div class="col-lg-2">
              <button  class="btn btncolor" (click)="geocode()">{{labels4[0].getLocation}}</button>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].country}} : </label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="countrylist" [settings]="countrydd"
                (onSelect)="GetCountryID($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col-lg-3">
              <label>Régions : </label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="regionList" [settings]="regiondd"
                (onSelect)="GetRegionID($event)" >
              </ng-multiselect-dropdown>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="City_label">{{labels[0].province}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="citylist" [settings]="citydd"
                (onSelect)="GetCityID($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="City_label">{{labels[0].city}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="arealist" [settings]="areadd"
                (onSelect)="GetAreaID($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <br>


          <div class="row">
            <div class="col-lg-3">
              <label class="DEPARTMENT_label">Category :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <select class="form-control" (change)="GetCategoryID($event)" required [(ngModel)]="categoryid"
                name="categoryid">
                <option value="" selected>{{labels[0].select}}</option>
                <option value="1">{{labels[0].doctors}}</option>
                <option value="2">{{labels[0].nonDoctors}}</option>
              </select>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-lg-3">
              <label class="DEPARTMENT_label">{{labels[0].department}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <select class="form-control" (change)="GetDepartmentID($event)" required [(ngModel)]="departmentid"
                name="departmentid">
                <option value="0" selected>{{labels[0].select}}</option>
                <option *ngFor="let department of departmentlist" value={{department.id}}>{{department.departmentname}}
                </option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="DEPARTMENT_label">{{labels[0].slotDuration}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4" (change)="GetSlotDurationID($event)">
              <select class="form-control">
                <option value="0" selected>{{labels[0].select}}</option>
                <option value="1">15 Minutes</option>
                <option value="2">30 Minutes</option>
                <option value="3">45 Minutes</option>
                <option value="4">1 heure</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="DEPARTMENT_label">{{labels[0].specialization}} :</label>
            </div>
            <div class="col-lg-4">

              <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="specilisationlist"
                [settings]="specilisatiodd" (onSelect)="GetSpecilizationID($event)">
              </ng-multiselect-dropdown>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="City_label">{{labels[0].doctorType}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="doctortyplist" [settings]="doctypeee"
                (onSelect)="GetDoctypeID($event)">
              </ng-multiselect-dropdown>

              <!-- <select class="form-control" (change)="GetDoctypeID($event)">
                <option value="" selected="selected">Select</option>
               <option *ngFor="let doctype of doctortyplist" value="{{doctype.id}}">{{doctype.type}}</option>
              </select> -->
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="DEPARTMENT_label">{{labels[0].experience}} :</label>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].experience}}" name="experience" [(ngModel)]="experience"
                class="form-control" oncopy="return false" onpaste="return false"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels[0].description}} :</label>
              <!-- <span class="required">*</span> -->
            </div>
            <div class="col-lg-4">
              <textarea rows="4" class="form-control" name="description" [(ngModel)]="description"
                placeholder="{{labels[0].description}}"></textarea>
            </div>
          </div>
          <br>
          <!-- <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].prefferedDoctor}} :</label>
           
            </div>
            <div class="col-lg-3">
              <input type="radio" name="prefer" [(ngModel)]="prefer" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="prefer" [(ngModel)]="prefer" value="0">{{labels[0].no}}
            </div>
          </div>
          <br> -->
          <!-- <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].isHomeVisitIsAvailable}} :</label>
            </div>
            <div class="col-lg-3">
              <input type="radio" name="homevisit" [(ngModel)]="homevisit" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="homevisit" [(ngModel)]="homevisit" value="0">{{labels[0].no}}
            </div>
          </div>
          <br> -->
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].documentVerified}} :</label>

            </div>
            <div class="col-lg-3">
              <input type="radio" name="dcoverify" [(ngModel)]="dcoverify" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="dcoverify" [(ngModel)]="dcoverify" value="0">{{labels[0].no}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].mallpractiece}} :</label>
            </div>
            <div class="col-lg-3">
              <input type="radio" name="mallprcise" [(ngModel)]="mallprcise" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="mallprcise" [(ngModel)]="mallprcise" value="0">{{labels[0].no}}
            </div>
          </div>
          <br>
          <!-- <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].isChatEnabled}} :</label>

            </div>
            <div class="col-lg-3">
              <input type="radio" name="chat" [(ngModel)]="chat" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="chat" [(ngModel)]="chat" value="0">{{labels[0].no}}
            </div>
          </div>
          <br> -->
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].referred}} :</label>

            </div>
            <div class="col-lg-3">
              <input type="radio" name="referbit" [(ngModel)]="referbit" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="referbit" [(ngModel)]="referbit" value="0">{{labels[0].no}}
            </div>
          </div>
          <br>
          <div *ngIf="dummid==null">
            <div class="row">
              <div class="col-lg-3">
                <label *ngIf="languageid=='1'">Status :</label>
                <label *ngIf="languageid=='6'">Statut :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-8">
                <input type="radio" value="1" [(ngModel)]="typeofdoctor" required name="typeofdoctor"
                  (click)="GetTypeofdoctor($event)">&nbsp;
                {{labels[0].hospitaldoctor}}
                <input type="radio" value="2" [(ngModel)]="typeofdoctor" required name="typeofdoctor"
                  (click)="GetTypeofdoctor($event)">&nbsp;
                {{labels[0].independentdoctor}}
                <!-- <input type="radio" value="3"  [(ngModel)]="typeofdoctor"
              required  name="typeofdoctor" (click)="GetTypeofdoctor($event)">&nbsp;
              {{labels[0].groupofdoctors}} -->
              </div>
            </div><br>
          </div>
          <div *ngIf="typeofdoctor=='1'">
            <div class="row">
              <div class="col-lg-3">
                <label *ngIf="languageid=='1'">Hospital/Clinic : </label>
                <label id="imp" *ngIf="languageid=='6'">Hôpital / Clinique : </label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-4">
                <ng-multiselect-dropdown [placeholder]="SelectLabel" required [data]="hospitalcliniclist"
                  [settings]="hospitadd" (onSelect)="GetHospitalID($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
            <br>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <label for="" class="reglabel">{{labels[0].identityProof}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)"
                class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let showphoto of showidentityproof">
                <img src="{{showphoto}}" style="height:50px;width:70px">&nbsp;
              </span>
            </div>
            <div>
            </div>
            <div class="col-lg-5 specforimg">
              <p>
                {{labels[0].images}}
              </p>
            </div>
            <div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label for="" class="reglabel">{{labels[0].signaturePhoto}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ngx-dropzone [multiple]="false" (change)="onSignaturUpload($event)" class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let showsigphoto of showsignaturephoto">
                <img src="{{showsigphoto}}" style="height:50px;width:70px">&nbsp;
              </span>
            </div>
            <div class="col-lg-5 specforimg">
              <p>
                {{labels[0].images}}
              </p>
            </div>
            <div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label for="" class="reglabel">{{labels[0].photo}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload1($event)"
                class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let docphoto of showdocphoto">
                <img src="{{docphoto}}" style="height:50px;width:70px">&nbsp;
              </span>
            </div>
            <div class="col-lg-5 specforimg">
              <p>
                {{labels[0].images}}
              </p>
            </div>
          </div>
          <hr>
        </div>
        <button type="button" style="float: right" class="btn dashbtn btncolor" awNextStep>{{labels[0].next}}</button>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="{{labels[0].madicalRegistration}}">
        <hr>
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label class="Email_label">{{labels[0].isMedicalRegistrationVerified}} </label>
            </div>

            <div class="col-lg-3">
              <input type="radio" name="medical" [(ngModel)]="medical" value="1">{{labels[0].yes}} &nbsp;
              <input type="radio" name="medical" [(ngModel)]="medical" value="0">{{labels[0].no}}
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-lg-3">

              <label class="REGISTRATION NO:">{{labels[0].registrationNo}} :</label>

            </div>
            <div class="col-lg-4">

              <input type="text" placeholder="{{labels[0].registrationNo}}" name="registrationno"
                [(ngModel)]="registrationno" class="form-control" oncopy="return false" onpaste="return false"
                onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||(event.charCode>=48&&event.charCode<=57)||(event.charCode<=32)||(event.charCode<=45)||(event.charCode==47)' />
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">

              <label class="REGISTRATION NO:">{{labels[0].registrationCouncil}} :</label>

            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].registrationCouncil}}" name="registrationcouncil"
                [(ngModel)]="registrationcouncil" class="form-control" oncopy="return false" onpaste="return false"
                onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||(event.charCode>=48&&event.charCode<=57)||(event.charCode<=32)||(event.charCode<=45)||(event.charCode==47)'>
            </div>

          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].registrationYear}} :</label>

            </div>
            <div class="col-lg-4">

              <input type="text" maxlength="4" placeholder="{{labels[0].registrationYear}}" name="registrationyear"
                oncopy="return false" onpaste="return false" [(ngModel)]="registrationyear" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].validTill}} :</label>

            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
                placeholder="{{labels[0].validTill}}" name="validtill" [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [(ngModel)]="validtill" bsDatepicker>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label for="" class="reglabel">{{labels[0].medicalRegistrationProof}} :</label>

            </div>
            <div class="col-lg-4">
              <ngx-dropzone [multiple]="false" (change)="onattachmentUpload2($event)"
                class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let pho of photodetail">
                <img src="{{pho}}" style="height:50px;width:70px">&nbsp;
              </span>
            </div>
            <div class="col-lg-5 specforimg">
              <p>
                {{labels[0].images}}
              </p>
            </div>
          </div>
        </div>
        <hr>
        <button type="button" style="float: left" class="btn dashbtn btncolor"
          awPreviousStep>{{labels[0].previous}}</button>
        <button type="button" style="float: right" class="btn dashbtn btncolor" awNextStep>{{labels[0].next}}</button>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="{{labels[0].education}}">
        <hr>
        <div class="Container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label class="DEPARTMENT_label">{{labels[0].degree}} :</label>

            </div>
            <div class="col-lg-4">
              <select class="dropdown form-control" (change)="GetDegreeID($event)">
                <option value="" selected>{{labels[0].select}}</option>
                <option *ngFor="let degree of degreelist" value={{degree.id}}>{{degree.short}}</option>
              </select>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="">{{labels[0].college}} :</label>

            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].college}}" name="colleagename" [(ngModel)]="colleagename"
                oncopy="return false" onpaste="return false" class="form-control">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="REGISTRATION NO:">{{labels[0].yearOfPassing}} :</label>

            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].yearOfPassing}}" maxlength="4" name="yearofpassing"
                maxlength="4" [(ngModel)]="yearofpassing" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-block btn-md allbtns btncolor"
                (click)="InsertDocDetsils()">{{labels[0].add}}</button>
            </div>
            <div class="col-lg-5">
            </div>
          </div>
          <br>
          <div class="row" *ngIf="tablecount=='1'">
            <div class="col-lg-12">
              <table>
                <thead>
                  <tr>
                    <th>{{labels[0].degree}}</th>
                    <th>{{labels[0].college}}</th>
                    <th>{{labels[0].yearOfPassing}}</th>
                  </tr>
                  <tr *ngFor="let details of qwert">
                    <td>{{details.DegreeName}}</td>
                    <td>{{details.CollegeName}}</td>
                    <td>{{details.YearOfPassing}}</td>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels[0].otherExperiences}} :</label>
              <!-- <span class="required">*</span> -->
            </div>
            <div class="col-lg-4">
              <textarea rows="4" class="form-control" [(ngModel)]="otherexperience" name="otherexperience"
                placeholder="{{labels[0].otherExperiences}}"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-3">
              <label for="" class="reglabel" id="imp">{{labels[0].resume}} :</label>
            </div>
            <div class="col-lg-4">
              <ngx-dropzone [multiple]="false" (change)="onidUpload($event)" class="dropzone_vendorinvoice h-100">
                <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
              </ngx-dropzone>
              <span *ngFor="let pho of showidproof">
                <img src="{{pho}}" style="height:50px;width:70px">&nbsp;
              </span>
            </div>
            <div class="col-lg-5 specforimg">
              <p *ngIf="languageid=='1'">
                <!-- {{labels[0].images}} -->
                NOTE :Please Upload Pdf/Document Format
              </p>
              <p *ngIf="languageid=='6'">
                <!-- {{labels[0].images}} -->
                Noter : Veuillez télécharger le format de document pdf.
              </p>

            </div>
          </div>
        </div>
        <hr size="10">
        <button type="button" style="float: left" class="btn dashbtn btncolor"
          awPreviousStep>{{labels[0].previous}}</button>
        <button type="button" style="float: right" class="btn dashbtn btncolor" awNextStep>{{labels[0].next}}</button>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="{{labels[0].membershipAndServices}}">
        <hr size="30">
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels[0].mmbershipDetail}} :</label>
            <!-- <span class="required">*</span> -->
          </div>
          <div class="col-lg-4">
            <textarea rows="3" cols="50" name="memberdetails" [(ngModel)]="memberdetails"
              placeholder="{{labels[0].mmbershipDetail}}"
              onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32||event.charCode>=48&&event.charCode<=57'></textarea>
          </div>
        </div>
        <br>
        <br>
        <!-- <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" text_align="center" [disabled]="doctorForm.form.invalid||validEmail==false"
              class="btn btn-block btn-md allbtns btncolor"
              (click)="insertdoctorregistration()">{{labels[0].save}}</button>
          </div>
          <div class="col-lg-5">
          </div>
        </div> -->
        <button type="button" style="float: left" class="btn btncolor " awPreviousStep>{{labels[0].previous}}</button>
        <button type="button" style="float: right" class="btn dashbtn btncolor" awNextStep>{{labels[0].next}}</button>
      </aw-wizard-step>






      <aw-wizard-step stepTitle="FINANCIER">
        <hr size="30">
        <div class="row">
          <div class="col-lg-3">

          </div>
          <div class="col-lg-9">
            <h4 class="mainheader" *ngIf="languageid=='1'">Business registration and invoicing</h4>
            <h4 class="mainheader" *ngIf="languageid=='6'">Enregistrement et facturation des entreprises</h4>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].taxidentification}} :</label>

          </div>
          <div class="col-lg-4">

            <input type="text" class="form-control" placeholder="{{labels4[0].taxidentification}}"
              [(ngModel)]="taxidentification" name="taxidentification">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].businessid}} :</label>

          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].businessid}}" [(ngModel)]="businessid"
              name="businessid">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].commercial}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].commercial}}" [(ngModel)]="commercialcity"
              name="commercialcity">
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].taxprofessional}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].taxprofessional}}"
              [(ngModel)]="taxprofessional" name="taxprofessional">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].seccuritysocialfundno}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].seccuritysocialfundno}}"
              [(ngModel)]="socialseccurityfundno" name="socialseccurityfundno">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-9">
            <h4 class="mainheader" *ngIf="languageid=='1'">Bank details</h4>
            <h4 class="mainheader" *ngIf="languageid=='6'">Coordonnées bancaires</h4>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].nameofthebank}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].nameofthebank}}" [(ngModel)]="nameofbank"
              name="nameofbank">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].accountname}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].accountname}}" [(ngModel)]="accountName"
              name="accountName">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">{{labels4[0].accountnumber}} :</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="{{labels4[0].accountnumber}}" maxlength="24"
              [(ngModel)]="accountNumber" name="accountNumber">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="Address_label">Exonerated :</label>
          </div>
          <div class="col-lg-4">
            <input type="radio" value="1" [(ngModel)]="vatCheck" name="vatCheck" (click)="checkVatvalue(1)">
            &nbsp;{{labels[0].yes}}
            <input type="radio" value="0" [(ngModel)]="vatCheck" name="vatCheck" (click)="checkVatvalue(0)">
            &nbsp;{{labels[0].no}}
          </div>
        </div>
        <br>
        <div>
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">Vat Percentage :</label>
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [disabled]="vatCheck=='1'" [(ngModel)]="vatpercentage" 
                name="vatpercentage" placeholder="Vat Percentage">
            </div>
          </div>
          <br>
        </div>
        <div class="row" *ngIf="vatCheck=='1'">
          <div class="col-lg-3">
            <label *ngIf="languageid=='1'">Exoneration period from :</label>
            <label *ngIf="languageid=='6'">Période d'exonération à partir de :</label>
            <span class="required">*</span>
          </div>

          <div class="col-lg-4">
            <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
              placeholder="{{labels[0].contractstratdate}}" [minDate]="today" name="contractstartdate" required
              [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdate" bsDatepicker>
          </div>
        </div>
        <br />
        <div class="row"  *ngIf="vatCheck=='1'">
          <div class="col-lg-3">
            <label *ngIf="languageid=='1'">Exoneration period to :</label>
            <label *ngIf="languageid=='6'">Période d'exonération à :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
              placeholder="{{labels[0].contractenddate}}" [minDate]="contractstartdate" name="contractenddate" required
              [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractenddate" bsDatepicker>
          </div>
        </div>
        <div class="row" *ngIf="hospitalclinicid=='590'">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-9">
            <h4 class="mainheader" *ngIf="languageid=='1'">Subscription setup</h4>
            <h4 class="mainheader" *ngIf="languageid=='6'">Configuration de l'abonnement</h4>
          </div>
        </div><br>
        <div class="row" *ngIf="hospitalclinicid=='590'">
          <div class="col-lg-3">
            <label class="Address_label"> Subscription type :</label>
            <span class="required">*</span>
          </div>
          <div class="col-md-8">
            <input type="radio" name="subscriptiontype"  [(ngModel)]="subscriptiontype"
              (click)="Getsubscriptontype()" value="1">{{labels4[0].monthlySubscription}}
            &nbsp;
            <input type="radio" name="subscriptiontype"  [(ngModel)]="subscriptiontype"
              (click)="Getsubscriptontype()" value="2"> {{labels4[0].appointmentpercentage}}
            &nbsp;
            <input type="radio" name="subscriptiontype"  [(ngModel)]="subscriptiontype"
              (click)="Getsubscriptontype()" value="3"> {{labels4[0].both}}
          </div>
        </div><br>
        <div *ngIf="subscriptiontype=='1'">
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels4[0].monthlySubscription}} :</label>
              <span class="required ">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels4[0].monthlySubscription}}" name="monthlysubription"
                [(ngModel)]="monthlysubription" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div><br>

        </div>




        <div *ngIf="subscriptiontype=='2'">
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels4[0].appointmentpercentage}} :</label>
              <span class="required ">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels4[0].appointmentpercentage}}" name="appointmentpercentage"
                [(ngModel)]="appointmentpercentage" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div><br>
        </div>
        <div *ngIf="subscriptiontype=='3'">
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels4[0].appointmentpercentage}} :</label>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels4[0].appointmentpercentage}}" name="appointmentpercentage"
                [(ngModel)]="appointmentpercentage" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-3">
              <label class="Address_label">{{labels4[0].monthlySubscription}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels4[0].monthlySubscription}}" name="monthlysubription"
                [(ngModel)]="monthlysubription" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div><br>
        </div>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" text_align="center" [disabled]="doctorForm.form.invalid||validEmail==false"
              class="btn btn-block btn-md allbtns btncolor"
              (click)="insertdoctorregistration()">{{labels[0].save}}</button>
          </div>
          <div class="col-lg-5">
          </div>
        </div>

        <button type="button" style="float: left" class="btn btncolor " awPreviousStep>{{labels[0].previous}}</button>
      </aw-wizard-step>


    </aw-wizard>
    <br>
    <br>
    <br>
  </form>
</div>
<br>
<br>
<br>