.required{
    color: red;
}

.ttextareaaddress{
    width: 500px;
  height: 150px;
}
.required{
  color:red;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

  .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .headerspace{
      margin-top:20px;
      height:70px;
      color: #251156;
  }
  .divspacee{
      margin-top:10px;
     
  }
  .btncolor
  {
      background-color: #f18235;
      color:white;
  }
 .specforimg
 {
   background-color: #86c5be;
   height:70px;
   width:100%;
 }
 .nextbtncolor{
  background: #444a48;
  color:white;
 }
 .btncolor
 {
     background-color: #f18235;
     color:white;
 }
 .headerspace{
  margin-top: 10px;
  text-transform:uppercase;
}


label::first-letter{
    text-transform: uppercase;
  }
  label{
    text-transform: lowercase;
  }

  input::first-letter{
    text-transform: uppercase;
  }
  /* input{
    text-transform: lowercase;
  } */

  textarea::first-letter{
    text-transform: uppercase;
  }
  
  /* textarea{
    text-transform: lowercase;
  } */
 
  /* input::placeholder
 { text-transform: lowercase; }
 */

  /* .placeholder::first-letter
  {
    text-transform: uppercase;
  } */



input:placeholder-shown {
  text-transform: lowercase; 
}

#imp{
  text-transform: none;
}