<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace ">
    <div class="col-lg-6">
      <h5>{{labels[0].prescriptionVerifiersReg}}</h5>
    </div>
    <div class="col-lg-3">
    </div>
    <div class="col-lg-2">
      <!-- <button type="button" routerLink="/LocalDocDash" class="btn btncolor">{{labels[0].dashboard}}</button> -->
    </div>
  </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <br>
  <form #doctorForm="ngForm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <label class="dname_label">{{labels[0].doctorName}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].doctorName}}" name="doctorname" required [(ngModel)]="doctorname"
            class="form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <label class="Phone_label">{{labels[0].phoneNo}} :</label>
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].phoneNo}}" minlength="10" maxlength="10" name="phoneno"
            [(ngModel)]="phoneno" class="form-control" onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <label class="Email_label">{{labels[0].email}} :</label>

        </div>
        <div class="col-lg-4">
          <input type="email" placeholder="{{labels[0].email}}" name="email" [(ngModel)]="email" class="form-control">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-3">
          <label class="Email_label">{{labels[0].gender}} :</label>

        </div>
        <div class="col-lg-3">
          <input type="radio" name="gender" [(ngModel)]="gender" [value]="1">
          {{labels[0].male}} &nbsp;
          <input type="radio" name="gender" [(ngModel)]="gender" [value]="2">
          {{labels[0].female}}
        </div>
      </div><br>

      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels[0].address}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <textarea class="form-control" rows="4" name="address" required [(ngModel)]="address"
            placeholder="Address"></textarea>
        </div>
      </div>
      <br>
      <div *ngIf="showedit=='0'"> 
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].country}} : </label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="countrylist" [settings]="countrydd"
              (onSelect)="GetCountryID($event)">
            </ng-multiselect-dropdown>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label class="City_label">{{labels[0].province}} :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="citylist" [settings]="citydd"
              (onSelect)="GetCityID($event)">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="City_label">{{labels[0].city}} :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="arealist" [settings]="areadd"
              (onSelect)="GetAreaID($event)">
            </ng-multiselect-dropdown>
          </div>
        </div><br>
      </div>
      <div *ngIf="showedit=='1'">
        <div class="row">
          <div class="col-lg-3">
            <label>{{labels[0].country}} : </label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <select class="form-control" disabled (change)="GetCountryID($event)" [(ngModel)]="countryid" name="countryid">
              <option >Select</option>
              <option *ngFor="let cou of countrylist" value="{{cou.id}}">{{cou.short}}</option>
            </select>

            <!-- <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="countrylist" [settings]="countrydd"
              (onSelect)="GetCountryID($event)">
            </ng-multiselect-dropdown> -->
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-3">
            <label class="City_label">{{labels[0].province}} :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <select class="form-control" disabled (change)="GetCityID1($event)" [(ngModel)]="cityid" name="cityid">
              <option >Select</option>
              <option *ngFor="let cou of citylist" value="{{cou.id}}">{{cou.short}}</option>
            </select>

            <!-- <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="citylist" [settings]="citydd"
              (onSelect)="GetCityID($event)">
            </ng-multiselect-dropdown> -->
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-3">
            <label class="City_label">{{labels[0].city}} :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-4">
            <select class="form-control" disabled (change)="GetAreaID1($event)" [(ngModel)]="areaid" name="areaid">
              <option >Select</option>
              <option *ngFor="let cou of arealist" value="{{cou.id}}">{{cou.areaName}}</option>
            </select>
            <!-- <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="arealist" [settings]="areadd"
              (onSelect)="GetAreaID($event)">
            </ng-multiselect-dropdown> -->
          </div>
        </div><br>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels[0].description}} :</label>
          <!-- <span class="required">*</span> -->
        </div>
        <div class="col-lg-4">
          <textarea rows="4" class="form-control" name="description" [(ngModel)]="description"
            placeholder="{{labels[0].description}}"></textarea>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels[0].userName}} :</label>
          <!-- <span class="required">*</span> -->
        </div>
        <div class="col-lg-4">
          <input type="text" placeholder="{{labels[0].userName}}" name="username" required [(ngModel)]="username"
            class="form-control">
        </div>
      </div><br>
      <!-- <div class="row">
        <div class="col-lg-3">
          <label class="Address_label">{{labels[0].password}}:</label>
          
        </div>
        <div class="col-lg-4">
          <input type="password" placeholder="{{labels[0].password}}" name="password" required [(ngModel)]="password"
            class="form-control">
        </div>
      </div><br> -->
      <div *ngIf="showedit=='0'">
      <div class="row">
        <div class="col-lg-3">
          <label for="" class="reglabel">{{labels[0].photo}} :</label>
        </div>
        <div class="col-lg-4">
          <ngx-dropzone [multiple]="false" (change)="onattachmentUpload1($event)" class="dropzone_vendorinvoice h-100">
            <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
          </ngx-dropzone>
          <div>
            <span *ngFor="let docphoto of showdocphoto">
              <img src="{{docphoto}}" style="height:50px;width:70px">&nbsp;
            </span>
          </div>
        </div>
        <div class="col-lg-5 specforimg">
          <p>
            {{labels[0].images}}
          </p>
        </div>
      </div>
      </div>
      <div><br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" text_align="center" *ngIf="showedit=='0'" [disabled]="doctorForm.form.invalid"
              class="btn btn-block btn-md allbtns btncolor" (click)="insertdetails()">{{labels[0].save}}</button>

              <button type="button" text_align="center" [disabled]="doctorForm.form.invalid"
              class="btn btn-block btn-md allbtns btncolor" *ngIf="showedit=='1'" (click)="updatedetails()">{{labels[0].update}}</button>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
      <hr>
    </div>
  </form>
</div><br><br><br>