<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace headercolor">
    <div class="col-lg-5">
      <h5>Commissions</h5>
    </div>
    <div class="col-lg-5">
    </div>
    <!-- <div class="col-lg-2">
      <button type="button" routerLink="/NurseDashboard" class="btn btncolor">{{labels[0].dashboard}}</button>
    </div> -->
  </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <br>
  <form #nurseForm="ngForm">
    <div *ngIf="showbtn=='1'">
  <div class="row">
    <div class="col-lg-3">
      <label>Hospital / Clinic : </label>
    </div>
    <div class="col-lg-4">
      <ng-multiselect-dropdown [placeholder]="SelectLabel" required [data]="hospitalcliniclist" [settings]="hospitadd"
        (onSelect)="GetHospitalID($event)">
      </ng-multiselect-dropdown>
    </div>
  </div> <br>
</div>
  <div *ngIf="showbtn=='2'">
    <div class="row">
      <div class="col-lg-3">
        <label class="dname_label">Hospital Name :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" [(ngModel)]="hospitalclinicname" name="hospitalclinicname" >
      </div>
    </div> <br>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">Doctor Commission :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" placeholder="Doctor Commission" maxlength="3" onkeypress='return(event.charCode>=48&&event.charCode<=57)' required class="form-control" [(ngModel)]="doccommission" name="doccommission">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">Nurse Commission :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" placeholder="Nurse Commission"  maxlength="3" onkeypress='return(event.charCode>=48&&event.charCode<=57)' required class="form-control" [(ngModel)]="nursecommission" name="nursecommission">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">Physiotherapist Commission :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" placeholder="Physiotherapist Commission"  maxlength="3" onkeypress='return(event.charCode>=48&&event.charCode<=57)' required class="form-control" [(ngModel)]="physiocommission" name="physiocommission">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">s
      <label class="dname_label">Midwife Commission :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" placeholder="Midwife Commission"  maxlength="3" onkeypress='return(event.charCode>=48&&event.charCode<=57)' required class="form-control" [(ngModel)]="midwifecommission" name="midwifecommission">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" *ngIf="showbtn=='1'"  text_align="center" [disabled]="nurseForm.form.invalid" (click)="insertdetails()"
        class="btn btn-block btn-md allbtns btncolor">Save</button>

        <button type="button"  *ngIf="showbtn=='2'" text_align="center" (click)="updatedetails()"
        class="btn btn-block btn-md allbtns btncolor">Update</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <br>
  </form>
</div>