<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5 *ngIf="languageid==1">Cancelled Appointments</h5>
      <h5 *ngIf="languageid==6">Rendez-vous annulés
      </h5>
    </div>
    <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
      <button *ngIf="roleid!=14" class="btn  btncolor" (click)="getglmasterexcel()">{{labels[0].exporttoexcel}}</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->

      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <!-- <div class="col-lg-2">
            <label>{{labels[0].department}} :</label>
            <span class="required">*</span>
          </div> -->
    <div class="col-lg-3">
      <select class="form-control" (change)="GetDepartmentName($event)">
        <option value="0" selected>{{labels[0].selectDepartment}}</option>
        <option *ngFor="let department of departmentlist" value={{department.departmentname}}>
          {{department.departmentname}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetDoctorName($event)">
        <option value="0" selected>{{labels[0].selectDoctor}}</option>
        <option *ngFor="let doctor of doctorlist" value={{doctor.doctorName}}>
          {{doctor.doctorName}}</option>
      </select>
    </div>
    <div class="col-lg-3" style="text-align:end;">
      <label>
        {{labels[0].count}} :
        {{count}}
      </label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table id="Doc">
        <thead>
          <tr>
            <th id="imp">{{labels[0].appointmentNumber}}</th>
            <th id="imp">{{labels[0].appointmentDate}}</th>
            <th>{{labels[0].patientName}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th id="imp">{{labels[0].slot}}</th>
            <th id="imp">{{labels[0].appointmentType}}</th>
            <th>{{labels[0].doctorName}}</th>
            <th>{{labels[0].department}}</th>
            <th *ngIf="languageid=='1'">Reason For Cancel</th>
            <th *ngIf="languageid=='6'">Raison d’annuler</th>
            <th>{{labels[0].status}}</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let details of appointmentlist| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
            <td>{{details.appointmentID}}</td>
            <td>{{details.appointmentdate}}</td>
            <td>{{details.pName}}</td>
            <td>{{details.pMobileNo}}</td>
            <td>{{details.slots}}</td>
            <td>{{details.combinationValue}}</td>
            <td>{{details.doctorName}}</td>
            <td>{{details.departmentname}}</td>
            <td>{{details.reasonForCancel}}</td>
            <td>
              <label
                *ngIf="details.accepted=='1'&&details.isVisited=='0'&&details.docCancelled=='0'&&details.cancelled=='0'&&details.noShow=='0'"
                style="color: green;">{{labels[0].accepted}}</label>
              <label *ngIf="details.cancelled=='1'" style="color: red;">{{labels[0].cancelled}}</label>
              <label *ngIf="details.isVisited=='1'&&details.accepted=='1'"
                style="color: orange;">{{labels[0].visited}}</label>
              <label *ngIf="details.docCancelled=='1'" style="color: red;">{{labels[0].docCancelled}}</label>
              <label
                *ngIf="details.isVisited=='0'&&details.accepted=='0'&&details.cancelled=='0'&&details.docCancelled=='0'"
                style="color: rgb(255, 0, 149);">{{labels[0].pending}}</label>
              <label *ngIf="details.accepted=='1'&&details.noShow=='1'"
                style="color: red;">{{labels[0].notvisited}}</label>
            </td>

            <td>
              <!-- <ng-template #tipcontent3>Refund</ng-template>
              <a [ngbTooltip]="tipcontent3">
                <img src="assets/Images/report.png" style="height:20px;" data-toggle="modal" data-target="#ShowSummary"
                  (click)="RefundAmount(details)" />
              </a> -->
            </td>

          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>

  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>



<div class="modal fade" id="ShowSummary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Refund Amount</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-4">
              <label class="DEPARTMENT_label"> Payment Type :</label>
            </div>
            <div class="col-lg-6">
              <select class="form-control" [(ngModel)]="PaymentTypeID" (change)="GetPaymentTypeID($event)">
                <option value="" selected>Select Payment Type</option>
                <option value="1">Cash</option>
                <option value="2">Credit Card</option>
                <option value="3">Debit Card</option>
              </select>
            </div>
          </div>
          <br>

          <div *ngIf="PaymentTypeID=='2'||PaymentTypeID=='3'">
            <div class="row">
              <div class="col-lg-4">
                <label>Card No</label>
              </div>
              <div class="col-lg-6">
                <input placeholder="Enter Card No" type="text" class="form-control" id="CardNo" name="CardNo"
                  maxlength=12>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>Expiry Date</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="MM" id="month" maxlength=2 />
                <input type="text" class="form-control" placeholder="YYYY" id="year" maxlength=4 />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>CVV</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="CVV" id="CVV" name="CVV" maxlength=3 />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <label class="DEPARTMENT_label">Paid Amount :</label>
            </div>
            <div class="col-lg-6">
              <input type="number" disabled [(ngModel)]="paidAmount" id="Amount" name="Amount" class="form-control">
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-lg-4">
              <label class="DEPARTMENT_label">Refund Amount :</label>
            </div>
            <div class="col-lg-6">
              <input type="number" [(ngModel)]="paidAmount1" id="Amount" name="Amount" class="form-control">
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-4">
              <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"
                data-dismiss="modal" (click)="Refund()">Refund</button>
            </div>
            <div class="col-lg-3">
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
      </div>
    </div>
  </div>
</div>