<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover">
    <div class="row headerspace">
      <div class="col-lg-3">
        <h5>{{labels[0].complaintMaster}}</h5>
      </div>
    </div>
  </div><br>
  <div class="container-fluid card card:hover ">
    <br>
    <form #complaintForm="ngForm">
      <div class="row">
        <div class="col-lg-2">
          <label class="DEPARTMENT_label">{{labels[0].department}} :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <select class="form-control" (change)="GetDepartmentID($event)" required [(ngModel)]="departmentid"
            name="departmentid">
            <option value="" selected>{{labels[0].select}}</option>
            <option *ngFor="let department of departmentlist" value={{department.id}}>{{department.departmentname}}
            </option>
          </select>
        </div>
      </div>
      <br>
    <div class="row">
      <div class="col-lg-2">
        <label class="REGISTRATION NO:">{{labels[0].complaint}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <input type="text" class="form-control" required [(ngModel)]="complaint" name="complaint" placeholder="{{labels[0].complaint}}">
      </div>
    </div>
    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-2">
        <label class="REGISTRATION NO:">{{labels[0].description}} :</label>
      </div>
      <div class="col-lg-4">
          <textarea class="form-control" rows="4" required [(ngModel)]="description" name="description" placeholder="{{labels[0].description}}"></textarea>
      </div>
    </div><br>
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div class="col-lg-2">
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" *ngIf="showbit=='0'" [disabled]="complaintForm.form.invalid" (click)="insertdetails()">{{labels[0].save}}</button>
        <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" *ngIf="showbit=='1'" [disabled]="complaintForm.form.invalid" (click)="updatedetails()">{{labels[0].update}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
  </form>
  </div>