<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].profile}}</h5>
    </div>
  </div>
</div>
<div class="container-fluid card card:hover" style="margin-top:20px;">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].name}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" disabled placeholder="{{labels[0].name}}" required class="form-control" [(ngModel)]="name" name="name"
        onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32||event.charCode==46'>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].phoneNo}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="number" maxlength="10" disabled placeholder="{{labels[0].phoneNo}}" name="phno" [(ngModel)]="phno" required
        class="form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].emailID}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" disabled required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email"
        name="email" [(ngModel)]="email" #emailref="ngModel" placeholder="{{labels[0].emailID}}">
      <div *ngIf="emailref.errors &&(emailref.touched || emailref.dirty)" class="aler alert-danger">
        <div [hidden]="!emailref.errors?.pattern">
          Please enter a valid Email ID
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].gender}} : </label>
      <span class="requird">*</span>
    </div>
    <div class="col-lg-4">
      <input type="radio" [value]="1" name="genderid" disabled [(ngModel)]="genderid"> {{labels[0].male}} &nbsp;&nbsp;
      <input type="radio" [value]="2" name="genderid" disabled [(ngModel)]="genderid"> {{labels[0].female}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="Address_label">{{labels[0].address}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <textarea class="form-control" rows="4" name="address" disabled [(ngModel)]="address" required
        placeholder="{{labels[0].address}}"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].country}} : </label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <select class="form-control" disabled [(ngModel)]="countryid" name="countryid" (change)="GetCountryID($event)">
        <option value="" selected>{{labels[0].select}}</option>
        <option *ngFor="let cou of countrylist" value={{cou.id}}>{{cou.short}}</option>
      </select>
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
      <label>{{labels[0].province}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <select class=" form-control" disabled [(ngModel)]="cityid" name="cityid" (change)="GetCityID($event)">
        <option value="" selected="selected">{{labels[0].select}}</option>
        <option *ngFor="let city of citylist" value="{{city.id}}">{{city.short}}</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-lg-3">
        <label class="City_label">{{labels[0].city}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" disabled [(ngModel)]="areaid" name="areaid" (change)="GetAreaID($event)">
          <option value="" selected="selected">{{labels[0].select}}</option>
          <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
        </select>
      </div>
    </div><br>
  <div class="row">
    <div class="col-lg-3">
      <label class="DEPARTMENT_label">{{labels[0].department}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <select class="form-control" disabled (change)="GetDepartmentID($event)" [(ngModel)]="deptid" name="deptid">
        <option valu="" selected>{{labels[0].select}}</option>
        <option *ngFor="let department of departmentlist" value={{department.id}}>{{department.departmentname}}
        </option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="Email_label">{{labels[0].homeCare}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-3">
      <input type="radio" name="homevisit" disabled required [value]="true" [(ngModel)]="homevisit">{{labels[0].yes}} &nbsp;
      <input type="radio" name="homevisit" disabled required [value]="false" [(ngModel)]="homevisit">{{labels[0].no}}
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="dname_label">{{labels[0].experience}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="number" disabled placeholder="{{labels[0].experience}}" name="exp" [(ngModel)]="exp" required class="form-control">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <label class="Address_label">{{labels[0].description}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <textarea class="form-control" rows="4" name="description" disabled [(ngModel)]="description" required
        placeholder="{{labels[0].description}}"></textarea>
    </div>
  </div>
  <br>
  <!-- <div class="row">
    <div class="col-lg-5">
    </div>
    <div class="col-lg-2">
      <button type="button" text_align="center" (click)="updatedetails()"
        class="btn btn-block btn-md allbtns btncolor">{{labels[0].update}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div> -->
  <br>
</div>
<br><br><br>