<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].appointments}}</h5>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <br>
  <div class="row">
    <div class="col-lg-3">
      <!-- <ng-daterangepicker [(ngModel)]="value" [options]="options" (ngModelChange)="selectedDate($event)">
      </ng-daterangepicker> -->
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)"  bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)"   bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th id="imp">{{labels[0].appointmentyDate}}</th>
            <th id="imp">{{labels[0].appointmentNo}}</th>
            <th>{{labels[0].patientname}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th>{{labels[0].email}}</th>
            <th>{{labels[0].dateofbirth}}</th>
            <!-- <th>{{labels[0].nationaidenttyno}}</th> -->
            <th>{{labels[0].address}}</th>
            <th id="imp">{{labels[0].appointmentTime}}</th>
            <th>{{labels[0].reason}}</th>
            <th>{{labels[0].paymentType}}</th>
            <th>{{labels[0].status}}</th>
            <th>{{labels[0].action}}</th>
          </tr>
          <tr *ngFor="let app of appointmentist|filter:term">
            <td>{{app.apptDate|date:'dd-MM-yyyy'}}</td>
            <td>{{app.id}}</td>
            <td>{{app.patientName}}</td>
            <td>{{app.mobileNumber}}</td>
            <td>{{app.emailID}}</td>
            <td>
              {{app.dateofbirth|date:'dd-MM-yyyy'}}
            </td>
            <!-- <td>
              {{app.nationalIdentificationID}}
            </td> -->
            <td>{{app.address}}</td>
            <td>{{app.bookedTime}}</td>
            <td>{{app.reasonForVisit}}</td>
            <td>{{app.paymentType}}</td>
            <td>
              <label
                *ngIf="app.accepted=='1'&&app.physioCancelled=='0'&&app.cancelled=='0'&&app.isVisited=='0'&&app.notVisited=='0'"
                style="color:green">{{labels[0].accepted}}</label>
              <label *ngIf="app.physioCancelled=='1'"
                style="color:red">{{labels[0].physiotherapistcanceled}}</label>
              <label *ngIf="app.cancelled=='1'"
                style="color:red">{{labels[0].patientCancelled}}</label>
              <label *ngIf="app.isVisited=='1'&&app.physioCancelled=='0'&&app.cancelled=='0'&&app.notVisited=='0'"
                style="color:yellowgreen">{{labels[0].visited}}</label>
              <label *ngIf="app.notVisited=='1'" style="color:rgb(137, 139, 0)">{{labels[0].notVisited}}</label>
            </td>
            <td>
              <ng-template #tipcontent2>{{labels[0].accept}}</ng-template>
              <a [ngbTooltip]="tipcontent2" *ngIf="app.accepted=='0'&&app.physioCancelled=='0'&&app.cancelled=='0'">
                <img src="assets/Images/acc.png"
                  (click)="GetAcceptAppointmentID(app.id,app.physioID,app.bookedTime,app.name,app.patientID,app.emailID,app.hospital_ClinicName,app.smsmobileno)"
                  style="height:19px;" />
              </a>&nbsp;
              <ng-template #tipcontent3>{{labels[0].cancel}}</ng-template>
              <a [ngbTooltip]="tipcontent3"
                *ngIf="app.accepted=='0'&&app.physioCancelled=='0'&&app.cancelled=='0'&&app.physioCancelvalidation=='1'">
                <img src="assets/Images/can.png" style="height:19px;" data-toggle="modal" data-target="#exampleModal"
                  (click)="GetCancelAppointmentID(app.id,app.bookedTime,app.name,app.patientID,app.emailID,app.hospital_ClinicName,app.paidAmount,app.walletAmount,app.mobileNumber,app.smsmobileno)" />
              </a>&nbsp;

              <ng-template #tipcontent4>{{labels[0].visited}}</ng-template>
              <a [ngbTooltip]="tipcontent4"
                *ngIf="app.accepted=='1'&&app.isVisited=='0'&&app.notVisited=='0'&&app.physioCancelled=='0'&&app.cancelled=='0'">
                <img src="assets/Images/Visit.png" style="height:19px;"
                  (click)="UpdateVisitedbit(app.id,app.bookedTime,app.appdate,app.name,app.patientID,app.emailID)" />
              </a>&nbsp;

              <ng-template #tipcontent23>{{labels[0].notVisited}}</ng-template>
              <a [ngbTooltip]="tipcontent23"
                *ngIf="app.accepted=='1'&&app.isVisited=='0'&&app.notVisited=='0'&&app.physioCancelled=='0'&&app.cancelled=='0'">
                <img src="assets/Images/notvisit.png" style="height:19px;" (click)="UpdatepatientNotVisited(app.id)" />
              </a>&nbsp;
              <ng-template #tipcontent87>Receipts</ng-template>
              <a [ngbTooltip]="tipcontent87" *ngIf="app.isVisited=='1'">
                <img src="assets/Images/Receipts.png" style="height:19px;"
                  (click)="GetRecept(app.id,app.bookedTime,app.appdate,app.name,app.patientID,app.emailID)"
                  data-toggle="modal" data-target="#Reciept" />
              </a>&nbsp;

              <ng-template #tipcontent8>SOAP Notes</ng-template>
              <a [ngbTooltip]="tipcontent8"
                *ngIf="app.accepted=='1'&&app.notVisited=='0'&&app.physioCancelled=='0'&&app.cancelled=='0'">
                <img src="assets/Images/soap.png" style="height:19px;" (click)="GetSoapID(app)"  data-toggle="modal"  data-target="#Soapnotes" />
              </a>&nbsp;

              <ng-template #tipcontent9>{{labels[0].patientdetails}}</ng-template>
              <a [ngbTooltip]="tipcontent9">
                <img src="assets/Images/patientdetails.png" *ngIf="app.genderID=='2'" data-toggle="modal"
                  data-target="#Patientdetails" style="height:30px;"
                  (click)="GetPatientPragnentornot(app.isPatientPragnent,app.isPatientBrestfeeding)" />
              </a>

              <ng-template #tipcontent30>Services</ng-template>
              <a [ngbTooltip]="tipcontent30">
                <img src="assets/Images/serviceicon.png" data-toggle="modal" data-target="#IllnessPhotos"
                  style="height:30px;" (click)="getNurseServices(app.id)" />
              </a>
              &nbsp;
              &nbsp;
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>
</div>
<br>
<br>
<br>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].reasonForcancel}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-8">
              <textarea class="form-control" placeholder="{{labels[0].reason}}" [(ngModel)]="reason" rows="5"
                cols="30"></textarea>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-primary" (click)="CancelAppointment()"
                style="background-color: #f18235;color: white;" data-dismiss="modal">{{labels[0].save}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].nextAppointmentTime}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <!-- <div class="row">
            <div class="col-lg-4">
              <label>Next Available Appointment Date</label>
            </div>
            <div class="col-lg-8">
              <input type="date" [(ngModel)]="availbledate" min="{{todaydate}}" name="availbledate"
                class="form-control">
            </div>
          </div><br> -->
          <div class="row">
            <div class="col-lg-4">
              <label>{{labels[0].nextAppointmentTime}}</label>
            </div>
            <div class="col-lg-4">
              <input type="time" (change)="GetTime($event)" name="availabletime" class="form-control">
            </div>
            <!-- <div class="col-lg-3">
              <select class="form-control" (change)="getfromampm($event)">
                <option value="">{{labels[0].select}}</option>
                <option value="am">am</option>
                <option value="pm">pm</option>
              </select>
            </div> -->
          </div>
          <br>
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button class="btn btn-primary" (click)="acceptappointment()"
                style="background-color: #f18235;color: white;" data-dismiss="modal">{{labels[0].save}}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style="background-color: #f18235;color: white;"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Patientdetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"> {{labels[0].patientdetails}}</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <p>{{labels[0].patientpragnent}} : <span *ngIf="ispatientpragnent=='1'">{{labels[0].yes}}</span>
                <span *ngIf="ispatientpragnent=='0'">{{labels[0].no}}</span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <p>{{labels[0].breastfeed}} : <span *ngIf="ispatientbreastfeed=='1'">{{labels[0].yes}}</span>
                <span *ngIf="ispatientbreastfeed=='0'">{{labels[0].no}}</span>
              </p>
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-secondary"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="Reciept" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 153%;
      margin-left: -160px;
  ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels1[0].receiptt}}</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body ">
        <div class="container-fluid" id="pdfcontent">
          <div class="row">
            <div class="col-lg-6">
              <div>Date : {{appdate}}</div>
              <div>{{labels1[0].receiptNo}} : {{visitid}} </div>
              <div>{{labels1[0].patientName}} : {{patientname}}</div>
              <!-- <div>{{labels1[0].nationalIDNo}} : {{nationaidno}}</div> -->
              <div>{{labels1[0].address}} : {{address}}</div>
            </div>
            <div class="col-lg-2">
            </div>
            <div class="col-lg-4">

              <div>{{physioname}}</div>
              <div>{{hospital}}</div>
              <div>{{physioaddrees}}</div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-lg-4">
              Date
            </div>
            <div class="col-lg-4">
              Description
            </div>
            <div class="col-lg-4">
              {{labels1[0].charge}}
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              {{appdate}}
            </div>
            <div class="col-lg-4">
              <!-- {{labels1[0].vediocallreciept}} -->
              Consultation à domicile
            </div>
            <div class="col-lg-4">
              {{paidamount}}
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div style="text-align: end;
              margin-top: 81px;
              margin-right: 46px;">
          </div>

          <div style="margin-top: -83px;">
            Soignant : {{physioname}}

            <label style="text-align: end;float: right;">{{labels1[0].totalCharges}} : {{paidamount}}</label>
          </div>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-md allbtns btncolor" data-dismiss="modal">{{labels1[0].close}}</button>
        <button type="button" class="btn btn-md allbtns btncolor" (click)="SavePDF()" data-dismiss="modal">Envoyer au patient
          </button>
      </div>
    </div>
  </div>
</div>










<div class="modal fade" id="Soapnotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header modal-lg">
        <h5 class="modal-title" id="exampleModalLongTitle">SOAP Notes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" stylw="width:1100px">
        <div class="container-fluid">
          <form #soapForm="ngForm">
            <!-- <div class="row">
              <div class="col-lg-3">

                <h6>{{labels[0].chooseFromtemplate}}</h6>

              </div>
              <div class="col-lg-7">
                <select class="form-control" (change)="GetTemplateID($event)">
                  <option value="0">{{labels[0].select}}</option>
                  <option *ngFor="let temp of templatelist" value="{{temp.id}}">{{temp.templateName}}</option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4"></div>
              <div class="col-lg-8">
                <h6>{{labels[0].fillAllDetails}}</h6>
              </div>
            </div>
            <br> -->
            <!-- <div class="row">
              <div class="col-lg-3">
                <label>{{labels[0].followup}}</label>
              </div>
              <div class="col-lg-7">
                <input type="radio" [(ngModel)]="followupvisit" name="followupvisit" [value]="1">&nbsp;
                {{labels[0].yes}} &nbsp;&nbsp;
                <input type="radio" [(ngModel)]="followupvisit" name="followupvisit" [value]="0">&nbsp;
                {{labels[0].no}} &nbsp;&nbsp;
              </div>
            </div><br> -->
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].subjective}}
                </label>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" [(ngModel)]="subjective" name="subjective" required rows="4"
                  placeholder="{{labels4[0].subjective}}" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].objective}}
                </label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="objective" required [(ngModel)]="objective"
                  placeholder="{{labels4[0].objective}}" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].assessment}}
                </label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="assessment" required [(ngModel)]="assessment"
                  placeholder="{{labels4[0].assessment}}" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].plan}}
                </label>
                <span style="color: red;">*</span>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" name="plan" required [(ngModel)]="plan"
                  placeholder="{{labels4[0].plan}}" [ngModelOptions]="{standalone: true}"></textarea>
              </div>
            </div>
            <br>
            <!-- <div class="row">
                <div class="col-lg-3">
                  <label>
                    <b>{{labels[0].diagnosisCode}}</b>
                  </label>
                
                </div>
                <div class="col-lg-7">
                  <input type="text" class="form-control" [(ngModel)]="diagnosiscode" name="diagnosiscode"
                    placeholder="{{labels[0].diagnosisCode}}" [ngModelOptions]="{standalone: true}" />
                </div>
              </div>
              <br> -->
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].diagnposticCode}} :</label>
              </div>
              <div class="col-lg-7">
                <textarea rows="4" class="form-control" [(ngModel)]="icddesc"
                  placeholder="{{labels4[0].diagnposticCode}}" name="icddesc"
                  (ngModelChange)="SearchIcrCode()"></textarea>

                <!-- <input id="typeahead-basic" type="text" class="form-control" placeholder="{{labels[0].diagnposticCode}}"
                  [(ngModel)]="icddesc" [ngModelOptions]="{standalone: true}" [ngbTypeahead]="search"
                  (ngModelChange)="getid()" /> -->
              </div>
            </div>
            <br>
            <div class="row" *ngIf="showsearchsoap=='1'">
              <!-- <div class="col-lg-1">
              </div> -->
              <div class="col-lg-12" style="overflow-y:auto;height:300px">
                <table>
                  <thead>
                    <tr>
                      <th>{{labels4[0].diagnposticCode}}</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let code of icdcodelist|filter:icddesc| slice:0:100; let i=index">
                      <td (click)="GetIcrCodeID(code.id,code.description,code.icdCode)">
                        {{code.description}}</td>
                      <td>
                        <input type="checkbox" (click)="GetIcrCodeID(code.id,code.description,code.icdCode)">
                      </td>
                    </tr>
                  </thead>
                </table>
              </div>
              <br>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].diagnosticDescription}} :</label>
              </div>
              <div class="col-lg-7">
                <!-- <textarea rows="4" class="form-control" [ngModelOptions]="{standalone: true}" placeholder="ICD Code"
                    name="icdcode" [(ngModel)]="icdcode"></textarea> -->
                <input type="text" class="form-control" disabled [ngModelOptions]="{standalone: true}"
                  placeholder="{{labels[0].diagnosticDescription}}" name="icdcode" [(ngModel)]="icdcode">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].followUpPlan}}
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="followupplan"
                  name="followupplan" placeholder="{{labels4[0].followUpPlan}}" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].signature}}
                </label>
                <!-- <span style="color: red;">*</span> -->
              </div>
              <div class="col-lg-7">
                <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" disabled
                  [(ngModel)]="signature" name="signature" placeholder="{{labels4[0].signature}}" />
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].notes}}
                </label>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" [ngModelOptions]="{standalone: true}" name="notes"
                  [(ngModel)]="notes" placeholder="{{labels4[0].notes}}"></textarea>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-3">
                <label for="" class="reglabel">Attachment :</label>
              </div>
              <div class="col-lg-7">
                <ngx-dropzone [multiple]="false" style="height: 50px;" (change)="UploadSoapAttchments($event)" class="dropzone_vendorinvoice h-100">
                  <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
                </ngx-dropzone>
                <span *ngFor="let showphoto of shoprescphoto">
                  <img src="{{showphoto}}" style="height:50px;width:70px">&nbsp;
                </span>
                <span *ngIf="languageid=='1'" style="color:red">You can only upload one document per session*        </span>
                <span *ngIf="languageid=='6'" style="color:red">Vous ne pouvez télécharger qu'un seul document par session*   </span>
              </div>
              <div>
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].saveastemplate}}
                </label>
              </div>
              <div class="col-lg-7">
                <input type="radio" [(ngModel)]="savetemplate" [ngModelOptions]="{standalone: true}" name="savetemplate"
                  [value]="1">&nbsp;{{labels4[0].yes}} &nbsp;&nbsp;
                <input type="radio" [(ngModel)]="savetemplate" [ngModelOptions]="{standalone: true}" name="savetemplate"
                  [value]="2">&nbsp;{{labels4[0].no}}
              </div>
            </div> -->
            <!-- <br>
            <div class="row" *ngIf="savetemplate=='1'">
              <div class="col-lg-3">
                <label>
                  {{labels4[0].templateName}}
                </label>
              </div>
              <div class="col-lg-7">
                <textarea class="form-control" rows="4" [ngModelOptions]="{standalone: true}" name="templatename"
                  [(ngModel)]="templatename" placeholder="{{labels4[0].templateName}}"></textarea>
              </div>
            </div>
            <br> -->
         
            <div class="row">
              <div class="col-lg-5">
              </div>
              <div class="col-lg-5">
                <button class="btn allbtns btncolor" style="background-color: #f18235;" (click)="insertsoapnotes1()"
                  data-dismiss="modal" [disabled]="soapForm.form.invalid">{{labels4[0].save}}</button>
              </div>
              <div class="col-lg-2">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
          data-dismiss="modal">{{labels4[0].close}}</button>
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="IllnessPhotos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 *ngIf="languageid==6" class="modal-title" id="exampleModalLongTitle"> Services</h5>
        <h5 *ngIf="languageid==1" class="modal-title" id="exampleModalLongTitle"> Services</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-lg-12">
              <table>
                <thead>
                  <tr>
                    <th>Service</th>
                    <th>Montant</th>
                  </tr>
                  <tr *ngFor="let ser of Services">
                    <td>{{ser.serviceName}}</td>
                    <td>{{ser.serviceCharges|number:'1.2-2'|noComma}} DH</td>
                  </tr>
                </thead>

              </table>
            </div>
          </div>


          <!-- <div class="row" *ngIf="nophoto=='0'">
            <div class="col-lg-6" *ngFor="let showphoto of showimages">
              <br>
              <img src="{{showphoto.photoUrl}}" style="height: 300px;width:300px" />
              <br>
            </div>
            <br>
          </div>
          <br>
          <div class="row" *ngIf="nophoto=='1'">
            <div class="col-lg-6">
              <br>
              <img src="assets/Images/noimage.jpg" style="height:300px;width:100%" />
            </div>
            <br>
          </div>
          <br> -->
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button type="button" style="background-color: #f18235;color: white;" class="btn btn-secondary"
          data-dismiss="modal">{{labels[0].close}}</button>
      </div>
    </div>
  </div>
</div>