<br>
<div class="container-fluid card card:hover">
  <br />
  <div class="row ">
    <div class="col-lg-3">
      <h5>{{labels[0].approvedUsers}}</h5>
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-2">
      <!-- <button style="margin-left: 10px;" type="button" routerLink="/LinkForreg" class="btn btncolor">Add</button> -->
    </div>
  </div>
  <br />
</div>
<br />
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{labels[0].search}}" />
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetTypeID($event)" [(ngModel)]="typeid" name="typeid">
        <option value="0">{{labels[0].selecttype}}</option>
        <option value="1">{{labels[0].hospitlal}}</option>
        <option value="2">{{labels[0].clinic}}</option>
        <option value="3">{{labels[0].inddoctor}}</option>
        <option value="4">{{labels[0].indnurse}}</option>
        <option value="5">{{labels[0].indphysio}}</option>
        <option value="6">{{labels[0].indmidiwfe}}</option>
        <option value="7">{{labels[0].pharmcy}}</option>
        <option value="8">{{labels[0].diagnosticenter}}</option>
      </select>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-2">
      <label style="margin-left: 76px;"> {{labels[0].count}} : <b>{{count}}</b></label>
    </div>
  </div>

  <div class="row" *ngFor="let det of countlist">
    <div class="col-lg-3">
      <label><b>{{labels[0].hospitlal}} : {{det.approveHospitalsCount}}</b></label><br>
      <label><b>{{labels[0].clinic}} : {{det.approveClinicsCount}} </b></label>

    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].inddoctor}} : {{det.approveDoctorsCount}}</b></label><br>
      <label><b>{{labels[0].indnurse}} :  {{det.approveNurseCount}}</b></label>

    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].indphysio}} : {{det.approvePhysioCount}}</b></label><br>
      <label><b>{{labels[0].indmidiwfe}} : {{det.approveMidwifeCount}}</b></label>

    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].pharmcy}} : {{det.approvePhysioCount}}</b></label><br>
      <label><b>{{labels[0].diagnosticenter}} : {{det.approveDiagnosticCount}}</b></label>

    </div>
  </div>

  <br />
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>{{labels[0].name}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th *ngIf="typeid!='1'&&typeid!='2'&&typeid!='7'&&typeid!='8'">Gender</th>
            <th>Email</th>
            <th *ngIf="languageid=='1'">Address</th>
            <th *ngIf="languageid=='6'">Adresse</th>
            <th>{{labels[0].status}}</th>
            <!-- <th>Actions</th> -->
          </tr>
          <tr *ngFor="let list of RegisteredList|filter:search">
            <td>{{list.date}}</td>
            <td>{{list.typeName}}</td>
            <td>{{list.username}}</td>
            <td>{{list.phoneNo}}</td>
            <td *ngIf="typeid!='1'&&typeid!='2'&&typeid!='7'&&typeid!='8'">
              <span *ngIf="list.genderID=='1'">{{labels[0].male}}</span>
              <span *ngIf="list.genderID=='2'">{{labels[0].feMale}}</span>
            </td>
            <td>{{list.email}}</td>
            <td>{{list.address}}</td>
            <td>
              <span *ngIf="list.rejected=='0'&&list.approved=='1'" style="color: green;">Approved</span>
              <!-- <span *ngIf="list.rejected=='1'" style="color: red;">Rejected</span> -->
            </td>
        
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />
</div>
<br /><br /><br /><br />


