<div class="container-fluid card card:hover headerrspace">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].profile}}</h5>
    </div>
  </div>
</div>

<aw-wizard navBarLocation="top" navBarLayout="small" navBarDirection="left-to-right" navigationMode="strict"
  class="card card:hover divspacee">
  <aw-wizard-step stepTitle="{{labels[0].profile}}">
    <div class="container-fluid  divspacee">
      <form #pharmacyForm="ngForm">
        <div class="row">
          <div class="col-lg-8">
            <div class="row" style="margin-top:20px;">
              <div class="col-lg-4">
                <label>{{labels[0].pharmacyname}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" [(ngModel)]="pharmacyname" disabled name="pharmacyname" class="form-control">
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].contactPersonName}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" required [(ngModel)]="contactpersonname"
                  name="contactpersonname">
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].licenseNumber}} : </label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" [(ngModel)]="licenseno" name="licenseno" required
                  onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode>=48&&event.charCode<=57'>
              </div>
            </div><br>
            <!-- <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].licenseValidTill}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="datetime-local" class="form-control" [(ngModel)]="licensevalidtill" required
                  name="licensevalidtill">
              </div>
            </div><br> -->
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].phoneNo}}: </label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text " required class="form-control" maxlength="13" [(ngModel)]="mobileno" name="mobileno"
                  onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].email}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="email" class="form-control" [(ngModel)]="email" name="email"
                  (ngModelChange)="onChange($event)">
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].address}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <textarea class="form-control" rows="4" required cols="30" [(ngModel)]="address" name="address"
                 ></textarea>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].country}} : </label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class="form-control" required [(ngModel)]="countryid" name="countryid" (change)="GetCountryID($event)">
                  <option value="" >Select</option>
                  <option *ngFor="let cou of countrylist" value={{cou.id}}>{{cou.short}}</option>
                </select>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].province}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class=" form-control" required [(ngModel)]="cityid" name="cityid" (change)="GetcityID($event)">
                  <option value="" selected="selected">select</option>
                  <option *ngFor="let city of citylist" value={{city.id}}>{{city.short}}</option>
                </select>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label class="City_label">{{labels[0].city}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <select class="form-control" required (change)="GetAreaID($event)" [(ngModel)]="areaid" name="areaid">
                  <option value="" selected="selected">Select</option>
                  <option *ngFor="let area of arealist" value={{area.id}}>{{area.areaName}}</option>
                </select>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].zipCode}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" maxlength="6" [(ngModel)]="zipcode" name="zipcode"
                  onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
              </div>
            </div><br>

            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].website}} :</label>

              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" [(ngModel)]="website" name="website"
                  onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32||event.charCode==46'>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].timing}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" required [(ngModel)]="timings" name="timings"
                  onkeypress='return(event.charCode>=48 && event.charCode<=57)||(event.charCode>=65 && event.charCode<=90) ||(event.charCode>=97 && 
                event.charCode<=122 )||event.charCode==32||event.charCode==47||event.charCode==44||event.charCode==58||event.charCode==46'>
              </div>
            </div><br>

            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].evngTimings}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" required [(ngModel)]="eveningtimings" name="eveningtimings"
                  onkeypress='return(event.charCode>=48 && event.charCode<=57)||(event.charCode>=65 && event.charCode<=90) ||(event.charCode>=97 && 
                event.charCode<=122 )||event.charCode==32||event.charCode==47||event.charCode==44||event.charCode==58||event.charCode==46'>
              </div>
            </div><br>



            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].homeDelivery}} :</label>
        
              </div>
              <div class="col-lg-6">
                <input type="radio" name="homedelivery" [(ngModel)]="homedelivery" [value]="true">{{labels[0].yes}} &nbsp;
                <input type="radio" name="homedelivery" [(ngModel)]="homedelivery" [value]="false">{{labels[0].no}}
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].nightPharmacy}} :</label>
        
              </div>
              <div class="col-lg-6">
                <input type="radio" name="nightpharmacy" [(ngModel)]="nightpharmacy" [value]="true">{{labels[0].yes}} &nbsp;
                <input type="radio" name="nightpharmacy" [(ngModel)]="nightpharmacy" [value]="false">{{labels[0].no}}
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].description}} :</label>

              </div>
              <div class="col-lg-6">
                <textarea class="form-control" rows="4" cols="30" [(ngModel)]="description"
                  name="description"></textarea>
              </div>
            </div><br>

            <div class="row">
              <div class="col-lg-12">
                <h4 class="text-center">Financial</h4>
              </div>
            </div>
            <div class="row">
        
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].taxidentification}} :</label>
        
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].taxidentification}}" [(ngModel)]="taxidentification"
                  name="taxidentification">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].businessid}} :</label>
        
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].businessid}}" [(ngModel)]="businessid" name="businessid">
              </div>
            </div>
        
            <br>
        
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].commercial}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].commercial}}"
                  [(ngModel)]="commercialcity" name="commercialcity">
              </div>
            </div>
        
            <br>
        
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].taxprofessional}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].taxprofessional}}" [(ngModel)]="taxprofessional"
                  name="taxprofessional">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].seccuritysocialfundno}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].seccuritysocialfundno}}"
                  [(ngModel)]="socialseccurityfundno" name="socialseccurityfundno">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].nameofthebank}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].nameofthebank}}" [(ngModel)]="nameofbank"
                  name="nameofbank">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].accountname}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].accountname}}" [(ngModel)]="accountName" name="accountName">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label class="Address_label">{{labels4[0].accountnumber}} :</label>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" placeholder="{{labels4[0].accountnumber}}" maxlength="24" [(ngModel)]="accountNumber"
                  name="accountNumber">
              </div>
            </div>
            <br>
          </div>
          <div class="col-lg-4">
            <br>
            <img src="{{photoprofile}}" style="height:200px;width:200px;">
          </div>
          <!-- <div class="col-lg-2"  *ngFor="let pho of photos">
              <img src="{{pho.photoUrl}}" style="height: 100px;width: 100px;">
          </div> -->
        </div>


        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" [disabled]="pharmacyForm.form.invalid||validEmail==false"
              class="btn btn-block btn-md allbtns btncolor" (click)="updatedetails()">{{labels[0].update}}</button>
          </div>
          <div class="col-lg-5">
            <!--  -->
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-12">
            <button type="button" style="float: right" class="btn dashbtn btncolor" awNextStep>{{labels[0].next}}</button><br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2" *ngFor="let pho of photos">
            <img src="{{pho.photoUrl}}" style="height: 100px;width: 100px;"><br><br>
            <button class="btn  btncolor" (click)="GetPharmacyPhotoID(pho.id)">{{labels[0].edit}}</button>
          </div>
        </div><br><br>
        <div class="col-lg-3" *ngIf="pffbit=='1'">
          <ngx-dropzone [multiple]="false" (change)="onattachmentUpload($event)" class="dropzone_vendorinvoice h-100">
            <ngx-dropzone-label>{{dropzonelable}}</ngx-dropzone-label>
          </ngx-dropzone>
          <span *ngFor="let pic of showphoto">
            <img src="{{pic}}" style="width: 40px;height:40px;">
          </span>
        </div><br>
        <div class="col-lg-10" *ngIf="pffbit=='1'">
          <button class="btn  btncolor" (click)="updatephotos()">{{labels[0].update}}</button>
        </div><br><br>


      </form>
    </div><br>
  </aw-wizard-step>
  <aw-wizard-step  stepTitle="{{labels[0].subscripions}}">
    
    <div class="container-fluid">
      <div class="row">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].monthlysubscription}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].monthlysubscription}}" name="addmonthlysubscription"
                [(ngModel)]="addmonthlysubscription" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].contractstartdate}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
                placeholder="{{labels[0].contractstartdate}}" name="contractstartdateeee"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdateeee" bsDatepicker>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].contractenddate}} :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
                placeholder="{{labels[0].contractenddate}}" name="contractenddateeeee"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractenddateeeee" bsDatepicker>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-block btn-md allbtns btncolor"
                (click)="InsertPharmacyRevenue()">{{labels[0].save}}</button>
            </div>
            <div class="col-lg-5">
            </div>
            <br>
          </div>
        </div>
      </div><br>
      <div class="row">
        <div class="col-lg-12">
          <table>
            <thead>
              <tr>
                <th>{{labels[0].contractstartdate}}</th>
                <th>{{labels[0].contractenddate}}</th>
                <th>{{labels[0].monthlysubscription}}</th>
                <th>Actions</th>
              </tr>
              <tr *ngFor="let subscriptions of pharmacyrevenuelist">
                <td>{{subscriptions.contractstartdate|date:'dd-MM-yyyy'}}</td>
                <td>{{subscriptions.contractenddate|date:'dd-MM-yyyy'}}</td>
                <td>{{subscriptions.subscriptionAmount}}</td>
                <td>
                  <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
                  <a [ngbTooltip]="tipcontent1" style="color:black">
                    <img src="assets/Images/edit.png" data-toggle="modal" data-target="#EditSubscriptionfees"
                      style="width: 18px" (click)="GetContractSubscriptions(subscriptions)">
                  </a>
                </td>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div><br>
    <br>
    <button type="button" style="float: left;margin-left: 26px;" class="btn btncolor dashbtn nextbtncolor" awPreviousStep>{{labels[0].previous}}</button>
    <br>    <br>
  </aw-wizard-step><br>
</aw-wizard><br>

<div class="modal fade" id="EditSubscriptionfees" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="languageid=='1'">Edit Subscriptions</h5>
        <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="languageid=='6'">Éditer</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].monthlysubscription}} :</label>
            </div>
            <div class="col-lg-4">
              <input type="text" placeholder="{{labels[0].monthlysubscription}}" name="monthlysubription"
                [(ngModel)]="monthlysubription" class="form-control"
                onkeypress='return(event.charCode>=48&&event.charCode<=57)'>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].contractstartdate}} :</label>

            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
                placeholder="{{labels[0].contractstartdate}}"  [minDate]="date"
                [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="contractstartdate" name="contractstartdate" bsDatepicker>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-3">
              <label>{{labels[0].contractenddate}} :</label>
            </div>
            <div class="col-lg-4">
              <input type="text" class="form-control" [bsConfig]="{ showWeekNumbers:false }"
                placeholder="{{labels[0].contractenddate}}"  [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }"
                [(ngModel)]="contractenddate" name="contractenddate" bsDatepicker>
            </div>
          </div>
          <br />
       
          <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-block btn-md allbtns btncolor"
                (click)="UpdatePharmacyrevenue()">{{labels[0].update}}</button>
            </div>
            <div class="col-lg-5">
            </div>
            <br>
          </div>
        </div>
      </div>
      <br>
      <div class="modal-footer">
        <button id="close1" type="button" style="background-color: #f18235; color: white;" class="btn  btn-default"
        *ngIf="languageid=='1'"  data-dismiss="modal">Close</button>

        <button id="close1" type="button" style="background-color: #f18235; color: white;" class="btn  btn-default"
        *ngIf="languageid=='6'"  data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>