<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover">
  <div class="row headerspace">
    <div class="col-lg-3">
      <h5>{{labels[0].facilityMaster}}</h5>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover ">
  <br>
  <form #facilityForm="ngForm">
  <div class="row">
    <div class="col-lg-2">
      <label class="REGISTRATION NO:">{{labels[0].facilityName}} :</label>
      <span class="required">*</span>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" required [(ngModel)]="facilityname" name="facilityname" placeholder="{{labels[0].facilityName}}">
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-2">
      <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor"  [disabled]="facilityForm.form.invalid" *ngIf="showbit=='0'" (click)="insertdetails()">{{labels[0].save}}</button>
      <button type="button" text_align="center" class="btn btn-block btn-md allbtns btncolor" [disabled]="facilityForm.form.invalid" *ngIf="showbit=='1'" (click)="updatedetails()">{{labels[0].update}}</button>
    </div>
    <div class="col-lg-5">
    </div>
  </div>
  <br>
</form>
</div>