<br>
<div class="container-fluid card card:hover headerspace ">
  <div class="row">
    <div class="col-lg-3 ">
      <h5 style="margin-top: 11px;" *ngIf="showadd=='1'">User Role mapping</h5>
      <h5 *ngIf="languageid=='1'&&showadd=='2'">{{labels[0].doctor}}</h5>
      <h5 *ngIf="languageid=='6'&&showadd=='2'">CHANGER LE MOT DE PASSE </h5>
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-2">
      <button style="margin-top: 11px;" *ngIf="showadd=='1'" type="button" routerLink="/Userrolemapping"
        class="btn btncolor">Add User
        Mapping</button>
    </div>
  </div>
</div>
<br />
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{labels[0].search}}" />
    </div>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-2">
      <!-- <label style="margin-left: 76px;"> Count : </label> -->
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>{{labels[0].role}}</th>
            <th>{{labels[0].firstname}}</th>
            <th>{{labels[0].name}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th>Email</th>
            <th>{{labels[0].userName}}</th>
            <!-- <th>Password</th> -->
            <th>Actions</th>
          </tr>
          <tr *ngFor="let user of userlist|filter:search">
            <td>{{user.short}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phoneNo}}</td>
            <td>{{user.email}}</td>
            <td>{{user.userName}}</td>
            <!-- <td>{{user.password}}</td> -->
            <td>
              <ng-template #tipcontent2>Delete</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" *ngIf="showadd=='1'" style="width: 18px;"
                  (click)="DeleteUsers_RoleMapping(user.id)">
              </a>&nbsp;

              <ng-template #tipcontent1>Edit</ng-template>
              <a [ngbTooltip]="tipcontent1" [routerLink]="['/Userrolemapping',user.id]" style="color:black">
                <img src="assets/Images/edit.png" *ngIf="showadd=='1'" style="width: 18px"></a>&nbsp;

              <ng-template #tipcontent300>Password</ng-template>
              <img src="assets/Images/medicalquestion.png" data-toggle="modal" data-target="#exampleModal"
                [ngbTooltip]="tipcontent300" style="margin: 2%;width: 24px;" (click)="getpassword(user)" />&nbsp;

            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />
</div>
<br /><br /><br /><br />







<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width: 740px;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{labels[0].editPassword}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row" *ngIf="Showpassword=='0'">
          <div class="col-lg-3">
            <label>{{labels[0].enteryourpin}} :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" [(ngModel)]="Enteredpinno" name="Enteredpinno"
              placeholder="{{labels[0].enteryourpin}}">
          </div>

        </div><br>
        <div class="row" *ngIf="Showpassword=='0'">
          <div class="col-lg-3">
            <label>{{labels[0].password}} :</label>
            <span class="required">*</span>
          </div>
          <div class="col-lg-6">
            <input type="text" class="form-control" required [(ngModel)]="entercurrentpwd" name="entercurrentpwd"
              placeholder="{{labels[0].password}}">
            <!-- <span *ngIf="pp=='1'" style="color:red">{{labels[0].weakPassword}}</span> -->
          </div>
          <div class="col-lg-2">
            <button class="btn btncolor" (click)="CheckPasswordvalidate()">{{labels[0].validate}}</button>
          </div>
        </div>

        <div *ngIf="Showpassword=='1'">
          <form #doctorForm="ngForm">
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].pinno}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" disabled name="mypinno" required [(ngModel)]="mypinno">
              </div>
            </div>
            <br>
            <!--         
          <div class="row">
            <div class="col-lg-4">
              <label>UserName :</label>
              <span class="required">*</span>
            </div>
            <div class="col-lg-6">
              <input type="text" class="form-control" disabled name="username" required [(ngModel)]="username"
                placeholder="UserName"
                onkeypress='return(event.charCode>=65&&event.charCode<=90)||(event.charCode>=97&&event.charCode<=122)||event.charCode==32'>
            </div>
          </div>
          <br> -->
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].password}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" name="oldpassword" required [(ngModel)]="oldpassword"
                  placeholder="{{labels[0].password}}">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-4">
                <label>{{labels[0].newpassword}} :</label>
                <span class="required">*</span>
              </div>
              <div class="col-lg-6">
                <input type="text" class="form-control" required [(ngModel)]="password" name="password"
                  placeholder="{{labels[0].newpassword}}">
                <span *ngIf="pp=='1'" style="color:red">{{labels[0].weakPassword}}</span>
              </div>
            </div>
            <br><br>
            <div class="row">
              <div class="col-lg-5">
              </div>
              <div class="col-lg-2">
                <button type="button" class="btn allbtns btncolor" (click)="Updatedetails()"
                  [disabled]="doctorForm.form.invalid">{{labels[0].update}}</button>
              </div>
              <div class="col-lg-5">
              </div>
            </div><br><br>
            <!-- <div class="row">
            <div class="col-lg-5">
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn allbtns btncolor" (click)="insertdetails()"
                [disabled]="doctorForm.form.invalid">
                {{labels[0].update}}
              </button>
            </div>
            <div class="col-lg-5">
            </div>
          </div><br><br> -->
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close" class="btn btncolor" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>