.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .divspacee{
        margin-top:10px;
      
    }
    .tablecss{
        background-color: #f18235;
        color:white;
    }
    .headerrspace{
        color: #251156;
        height:70px;
        margin-top:20px;
    }
    .headerspace{
        margin-top: 10px;
        text-transform:uppercase;
      }
    
    
            th::first-letter{
          text-transform: uppercase;
        }
        th{
          text-transform: lowercase;
        }