<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9" style="margin-top: -2px;">
      <h5>{{labels[0].diagnosticTest}}</h5>
    </div>
    <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
      <button *ngIf="languageid==1" type="button" routerLink="/Diagnostictest" class="btn btncolor">Add Test</button>
      <button *ngIf="languageid==6" type="button" routerLink="/Diagnostictest" class="btn btncolor">Ajouter</button>
    </div>
  </div>
</div>
<br>
<div class="container-fluid card card:hover">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-3" >
      <!-- <select class="form-control" *ngIf="showDrop=='1'" (change)="GetDiagnosticcenterID($event)">
        <option value="0">{{labels[0].selectDiagmosticcenter}}</option>
        <option *ngFor="let dia of diagnosticlist" value="{{dia.id}}">{{dia.diagnosticCenterName}}</option>
      </select> -->

      <ng-multiselect-dropdown [placeholder]="SelectLabel" [data]="diagnosticlist" [settings]="dia"
      (onSelect)="GetDiagnosticcenterID($event)">
    </ng-multiselect-dropdown>
    </div>
    <div class="col-lg-6">
      <label style="float: right;" *ngIf="languageid=='1'">Count : {{count}}</label>
      <label style="float: right;" *ngIf="languageid=='6'">Nombre : {{count}}</label>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <!-- <th>{{labels[0].diagnosticCenter}}</th> -->
            <!-- <th>{{labels2[0].country}}</th>
            <th>{{labels2[0].province}}</th>
            <th>{{labels2[0].city}}</th> -->
            <th>Test type</th>
            <th>{{labels[0].test}}</th>
            <th>Description</th>
            <th>{{labels[0].testPrice}}</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr *ngFor="let details of servicelist| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}|filter:term">
            <!-- <td>{{details.diagnosticCenterName}}</td> -->
            <!-- <td>{{details.country}}</td>
            <td>{{details.city}}</td>
            <td>{{details.areaName}}</td> -->
            <td>{{details.name}}</td>
            <td>{{details.short}}</td>
            <td>{{details.description}}</td>
            <td>{{details.price}}</td>
            <td>
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" style="width: 20px;margin-left: -2px;"
                  (click)="DeleteDiagnostocServces(details.id)">
              </a>
              &nbsp;
              <ng-template #tipcontent1>Edit</ng-template>
              <a [ngbTooltip]="tipcontent1" [routerLink]="['/EditDiagnosticTest',details.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 18px"></a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
  <br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <br>
  <br>
</div>
<br>
<br>