<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-9">

      <h5 *ngIf="languageid=='1'">Doctors</h5>
      <h5 *ngIf="languageid=='6'">Médecins</h5>
    </div>
    <!-- *ngIf="showexportbutton=='1'" -->
    <div class="col-lg-3" style="text-align: end;margin-top: -12px;">
      <button class="btn btncolor" (click)="getglmasterexcel()">
        {{labels1[0].exportExcel}}</button>
      <button style="margin-left: 10px;" *ngIf="languageid==1" type="button" routerLink="/Doctorregistration"
        class="btn btncolor">{{labels[0].adddoctor}}
      </button>
      <button style="margin-left: 10px;" *ngIf="languageid==6" type="button" routerLink="/Doctorregistration"
        class="btn btncolor">Ajouter
      </button>
    </div>
  </div>
</div><br>
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="term" placeholder="{{labels[0].search}}">
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetDepartmentID($event)">
        <option value="0">{{labels[0].selectDepartment}}</option>
        <option *ngFor="let dept of departmentlist" value="{{dept.id}}">{{dept.departmentname}}</option>
      </select>
    </div>
    <div class="col-lg-3">
      <!-- <select class="form-control" (chnge)="GetDoctorRating($event)">
        <option>Select Doctor Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select> -->
    </div>
    <div class="col-lg-3" *ngIf="languageid==1" style="text-align: end;">
      <label> Count : {{doctorlist.length}}</label>
    </div>
    <div class="col-lg-3" *ngIf="languageid==6" style="text-align: end;">
      <label> Nombre : {{doctorlist.length}}</label>
    </div>
  </div><br>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table id="Doc">
        <thead>
          <tr>
            <th>{{labels[0].doctorPhoto}}</th>
            <th>{{labels[0].doctorName}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th>{{labels[0].email}}</th>
            <!-- <th>{{labels[0].registeredDate}}</th> -->
            <!-- <th>{{labels[0].country}}</th>
            <th>{{labels[0].province}}</th> -->
            <th>{{labels[0].city}}</th>
            <th>{{labels[0].registrationNo}}</th>
            <th>{{labels[0].department}}</th>
            <th>{{labels[0].address}}</th>
            <th>Type</th>
            <th>{{labels[0].doctorrating}}</th>
            <th>{{labels[0].apprating}}</th>
            <th *ngIf="languageid=='1'">Pincode</th>
            <th *ngIf="languageid=='6'">Code Postal</th>
            <th>{{labels[0].actions}}</th>
          </tr>
          <tr
            *ngFor="let details of doctorlist|filter:term|filter:departmentname| paginate: { id: 'foo', itemsPerPage: 10, currentPage: p}">
            <!-- | paginate: { id: 'foo', itemsPerPage: 10, currentPage: p} -->
            <td><img src="{{details.photoURL}}" style="height: 50px;width: 50px;" /></td>
            <td>{{details.doctorName}}</td>
            <td>{{details.mobileNumber}}</td>
            <td>{{details.emailID}}</td>
            <!-- <td>{{details.registeredDate}}</td> -->
            <!-- <td>{{details.short}}</td>
            <td>{{details.city}}</td> -->
            <td>{{details.areaName}}</td>
            <td>{{details.registrationNo}}</td>
            <td>{{details.departmentname}}</td>
            <td>{{details.address}}</td>
            <td>{{details.hospital_ClinicName}}</td>
            <td>{{details.doctorRating}}</td>
            <td>{{details.appRating}}</td>
            <td>{{details.pincode}}</td>

            <td style="width: 100px;">
              <ng-template #tipcontent2>{{labels[0].delete}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/dell.png" *ngIf="showdelete=='1'" style="width: 18px;"
                  (click)="deletedoctorregistration(details.id)">
              </a>&nbsp;
              <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" *ngIf="details.editiconShow=='0'&&showeditbutton=='1'"
                [routerLink]="['/EditDoctorRegistration',details.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 18px">
              </a>
              <ng-template #tipcontent1>{{labels[0].edit}}</ng-template>
              <a [ngbTooltip]="tipcontent1" *ngIf="showeditbutton=='0'"
                [routerLink]="['/EditDoctorRegistration',details.id]" style="color:black">
                <img src="assets/Images/edit.png" style="width: 18px">
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div><br><br>
  <div class="col-lg-12" style="text-align: center">
    <br>
    <pagination-controls id="foo" (pageChange)="pageChanged($event)" maxSize="15" directionLinks="true" autoHide="true"
      responsive="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
      screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div><br><br>
</div><br><br><br>