<ngx-spinner bdColor="rgba(68,64,66,0.8)" size="large" color="#fff" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<br>
<div class="container-fluid card card:hover">
  <br />
  <div class="row ">
    <div class="col-lg-3">
      <h5>{{labels[0].registeredusers}}</h5>
    </div>
    <div class="col-lg-7"></div>
    <div class="col-lg-2">
      <!-- <button style="margin-left: 10px;" type="button" routerLink="/LinkForreg" class="btn btncolor">Add</button> -->
    </div>
  </div>
  <br />
</div>
<br />
<div class="container-fluid card card:hover ">
  <div class="row" style="margin-top: 20px;">
    <div class="col-lg-3">
      <input *ngIf="languageid==1" type="text" placeholder="Select Date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (ngModelChange)="selectedDate($event)" bsDaterangepicker>
      <input *ngIf="languageid==6" type="text" placeholder="Sélecteur de date" [bsConfig]="{ showWeekNumbers:false }"
        class="form-control" [(ngModel)]="value" (bsValueChange)="selectedDate($event)" bsDaterangepicker>
    </div>
    <div class="col-lg-3">
      <input type="text" class="form-control" [(ngModel)]="search" placeholder="{{labels[0].search}}" />
    </div>
    <div class="col-lg-3">
      <select class="form-control" (change)="GetTypeID($event)" [(ngModel)]="typeid" name="typeid">
        <option value="0">{{labels[0].selecttype}}</option>
        <option value="1">{{labels[0].hospitlal}}</option>
        <option value="2">{{labels[0].clinic}}</option>
        <option value="3">{{labels[0].inddoctor}}</option>
        <option value="4">{{labels[0].indnurse}}</option>
        <option value="5">{{labels[0].indphysio}}</option>
        <option value="6">{{labels[0].indmidiwfe}}</option>
        <option value="7">{{labels[0].pharmcy}}</option>
        <option value="8">{{labels[0].diagnosticenter}}</option>
      </select>
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-2">
      <label style="margin-left: 76px;"> {{labels[0].count}} : <b>{{count}}</b></label>
    </div>
  </div>
  <br />
  <div class="row" *ngFor="let det of countlist">
    <div class="col-lg-3">
      <label><b>{{labels[0].hospitlal}} : {{det.hospitalsCount}}</b></label><br>
      <label><b>{{labels[0].clinic}} : {{det.clinicsCount}} </b></label>

    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].inddoctor}} : {{det.doctorsCount}}</b></label><br>
      <label><b>{{labels[0].indnurse}} :  {{det.nurseCount}}</b></label>

    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].indphysio}} : {{det.physioCount}}</b></label><br>
      <label><b>{{labels[0].indmidiwfe}} : {{det.midwifeCount}}</b></label>

    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].pharmcy}} : {{det.pharmacyCount}}</b></label><br>
      <label><b>{{labels[0].diagnosticenter}} : {{det.diagnosticCount}}</b></label>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" style="overflow: auto;">
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Type</th>
            <th>{{labels[0].nom}}</th>
            <th>{{labels[0].phoneNo}}</th>
            <th *ngIf="typeid!='1'&&typeid!='2'&&typeid!='7'&&typeid!='8'">Gender</th>
            <th>Email</th>
            <th *ngIf="languageid=='1'">Address</th>
            <th *ngIf="languageid=='6'">Adresse</th>
            <th *ngIf="languageid=='1'">Details</th>
            <th *ngIf="languageid=='6'">Dossier</th>
            <th>{{labels[0].status}}</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let list of RegisteredList|filter:search">
            <td>{{list.date}}</td>
            <td>{{list.typeName}}</td>
            <td>{{list.username}}</td>
            <td>{{list.phoneNo}}</td>
            <td *ngIf="typeid!='1'&&typeid!='2'&&typeid!='7'&&typeid!='8'">
              <span *ngIf="list.genderID=='1'">Male</span>
              <span *ngIf="list.genderID=='2'">Female</span>
            </td>
            <td>{{list.email}}</td>
            <td>{{list.address}}</td>
            <td>
              <img src="assets/Images/pview.png" data-toggle="modal" data-target="#Viewdetails"
                (click)="GetViewdetails(list)">
            </td>
            <td>
              <span *ngIf="list.rejected=='0'&&list.approved=='0'"
                style="color: green;">{{labels[0].waitingforpproval}}</span>
              <!-- <span *ngIf="list.rejected=='1'" style="color: red;">Rejected</span> -->
            </td>
            <td>
              <ng-template #tipcontent3>{{labels[0].approve}}</ng-template>
              <a [ngbTooltip]="tipcontent3">
                <img src="assets/Images/acc.png" *ngIf="list.approved=='0'&&list.rejected=='0'" style="height:20px;"
                  (click)="GetApproveRegistratuions(list)" />
              </a>&nbsp;

              <ng-template #tipcontent2>{{labels[0].reject}}</ng-template>
              <a [ngbTooltip]="tipcontent2">
                <img src="assets/Images/can.png" *ngIf="list.rejected=='0'&&list.approved=='0'" data-toggle="modal"
                  data-target="#exampleealycall" style="height:20px;" (click)="GetRejectedregistrations(list)" />
              </a>
            </td>
          </tr>
        </thead>
      </table>
    </div>
    <br /><br />
  </div>
  <br /><br />
  <br />

  <!--   
<div class="modal fade" id="exampleealycall" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
aria-hidden="true">
<div class="modal-dialog modal-md" role="document">
  <div class="modal-content modal-md">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Reason For Cancellation</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
        
          <div class="col-lg-11">
         
            <textarea rows="4" class="form-control" [(ngModel)]="reasonforcancel" name="reasonforcancel"
              placeholder="Reason For Cancel"></textarea>
          </div>
        </div><br>
        <div class="row">
          <div class="col-lg-5">
          </div>
          <div class="col-lg-2">
            <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
              data-dismiss="modal" (click)="Reject()">Send</button>
          </div>
          <div class="col-lg-5">
          </div><br>
          <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" *ngIf="languageid=='1'" style="background-color: #f18235;color: white;"
            data-dismiss="modal">Close</button>

            <button type="button" class="btn btn-secondary" *ngIf="languageid=='6'" style="background-color: #f18235;color: white;"
            data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div> -->





  <div class="modal fade" id="exampleealycall" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-lg" style="width: 475px;">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="languageid=='1'" id="exampleModalLabel">Reason For Cancellation</h5>
          <h5 class="modal-title" *ngIf="languageid=='6'" id="exampleModalLabel">Raison pour l'annulation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2">
              </div>
              <div class="col-lg-5">
                <!-- <input type="text" [(ngModel)]="message" name="message" placeholder="Message" class="form-control"> -->
                <textarea rows="4" class="form-control" [(ngModel)]="reasonforcancel" name="reasonforcancel"
                  placeholder="{{labels[0].reasonforcancel}}"></textarea>
              </div>
            </div><br>
            <div class="row">
              <div class="col-lg-5">
              </div>
              <div class="col-lg-2">
                <button type="button" style="background-color: #f18235;color: white;" class="btn btn-default"
                  data-dismiss="modal" (click)="Reject()">{{labels[0].send}}</button>
              </div>
              <div class="col-lg-5">
              </div><br>
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" *ngIf="languageid=='1'"
                style="background-color: #f18235;color: white;" data-dismiss="modal">Close</button>

              <button type="button" class="btn btn-secondary" *ngIf="languageid=='6'"
                style="background-color: #f18235;color: white;" data-dismiss="modal">Fermer</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>




  <div class="modal fade" id="Viewdetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenter"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content modal-lg">
        <div class="modal-header">
          <h5 class="modal-title" *ngIf="languageid=='1'" id="exampleModalLabel">Details</h5>
          <h5 class="modal-title" *ngIf="languageid=='6'" id="exampleModalLabel">Dossier</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div *ngIf="typeids=='1'||typeids=='2'">
              <div *ngIf="typeids=='1'">
                <div class="row">
                  <div class="col-lg-4">
                    <label>{{labels3[0].hospitalClinicName}} : </label>
                  </div>
                  <div class="col-lg-4">
                    {{hospitalname}}
                  </div>
                </div><br>
              </div>
              <div *ngIf="typeids=='2'">
                <div class="row">
                  <div class="col-lg-4">
                    <label>{{labels3[0].hospitalClinicName}} : </label>
                  </div>
                  <div class="col-lg-4">
                    {{hospitalname}}
                  </div>
                </div><br>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].hospitalPhoneNo}} : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].contactPersonName}} : </label>
                </div>
                <div class="col-lg-4">
                  {{contactpersonname}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].contactPersonPhoneNumber}} : </label>
                </div>
                <div class="col-lg-4">
                  {{contactpersonphno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].email}} : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].address}} : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].website}} : </label>
                </div>
                <div class="col-lg-4">
                  {{website}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].yearEstablished}} : </label>
                </div>
                <div class="col-lg-4">
                  {{yearEstablished}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels3[0].description}} : </label>
                </div>
                <div class="col-lg-4">
                  {{description}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Photo : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div>
            </div><br>

            <div *ngIf="typeids=='3'">
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].doctorName}} : </label>
                </div>
                <div class="col-lg-4">
                  {{doctorname}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].phoneNo}} : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].email}} : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].address}} : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].experience}} : </label>
                </div>
                <div class="col-lg-4">
                  {{experience}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].doctorType}} : </label>
                </div>
                <div class="col-lg-4">
                  <label *ngIf="doctortype=='1'">Local</label>
                  <label *ngIf="doctortype=='2'">Foreign</label>
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].speaklanguages}} : </label>
                </div>
                <div class="col-lg-4">
                  {{speaklanguages}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].registrationNo}} : </label>
                </div>
                <div class="col-lg-4">
                  {{regno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].registrationCouncil}} : </label>
                </div>
                <div class="col-lg-4">
                  {{regcouncil}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].slotDuration}} : </label>
                </div>
                <div class="col-lg-4">
                  <label *ngIf="slotdurationid=='1'">15 Minutes</label>
                  <label *ngIf="slotdurationid=='2'">30 Minutes</label>
                  <label *ngIf="slotdurationid=='3'">45 Minutes</label>
                  <label *ngIf="slotdurationid=='4'">1 hour</label>

                  <!-- {{slotdurationid}} -->
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].college}} : </label>
                </div>
                <div class="col-lg-4">
                  {{colleage}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].otherExperiences}} : </label>
                </div>
                <div class="col-lg-4">
                  {{otherexp}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].photo}} : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels1[0].medicalRegistrationProof}} : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{mediclproof}}" style="width: 100px;">
                </div>
              </div><br>
            </div>

            <div *ngIf="typeids=='4'">
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].name}} : </label>
                </div>
                <div class="col-lg-4">
                  {{nursename}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].phoneNo}} : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].emailID}} : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].address}} : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].experience}} : </label>
                </div>
                <div class="col-lg-4">
                  {{experience}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].spokenLanguages}} : </label>
                </div>
                <div class="col-lg-4">
                  {{speaklanguages}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Professional profile : </label>
                </div>
                <div class="col-lg-4">
                  {{professionalprofile}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Photo : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].identityProof}} : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{mediclproof}}" style="width: 100px;">
                </div>
              </div><br>

            </div>

            <div *ngIf="typeids=='5'">
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].name}} : </label>
                </div>
                <div class="col-lg-4">
                  {{nursename}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].phoneNo}} : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].emailID}} : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].address}} : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].experience}} : </label>
                </div>
                <div class="col-lg-4">
                  {{experience}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].spokenLanguages}} : </label>
                </div>
                <div class="col-lg-4">
                  {{speaklanguages}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Professional profile : </label>
                </div>
                <div class="col-lg-4">
                  {{professionalprofile}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Photo : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].identityProof}} : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{mediclproof}}" style="width: 100px;">
                </div>
              </div><br>

            </div>
            <div *ngIf="typeids=='6'">
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].name}} : </label>
                </div>
                <div class="col-lg-4">
                  {{nursename}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].phoneNo}} : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].emailID}} : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].address}} : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].experience}} : </label>
                </div>
                <div class="col-lg-4">
                  {{experience}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].spokenLanguages}} : </label>
                </div>
                <div class="col-lg-4">
                  {{speaklanguages}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Professional profile : </label>
                </div>
                <div class="col-lg-4">
                  {{professionalprofile}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Photo : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>{{labels2[0].identityProof}} : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{mediclproof}}" style="width: 100px;">
                </div>
              </div><br>

            </div>


            <div *ngIf="typeids=='7'">
              <div class="row">
                <div class="col-lg-4">
                  <label>Pharmacy name: </label>
                </div>
                <div class="col-lg-4">
                  {{pharmacyname}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Phone no : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Email : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Address : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>Website : </label>
                </div>
                <div class="col-lg-4">
                  {{website}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>License no : </label>
                </div>
                <div class="col-lg-4">
                  {{licenceno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Photo : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div><br>
            </div>




            <div *ngIf="typeids=='8'">
              <div class="row">
                <div class="col-lg-4">
                  <label> Diagnostic center name : </label>
                </div>
                <div class="col-lg-4">
                  {{dianame}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Phone no : </label>
                </div>
                <div class="col-lg-4">
                  {{phoneno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Email : </label>
                </div>
                <div class="col-lg-4">
                  {{email}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Address : </label>
                </div>
                <div class="col-lg-4">
                  {{address}}
                </div>
              </div><br>

              <div class="row">
                <div class="col-lg-4">
                  <label>Website : </label>
                </div>
                <div class="col-lg-4">
                  {{website}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>License no : </label>
                </div>
                <div class="col-lg-4">
                  {{licenceno}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Description : </label>
                </div>
                <div class="col-lg-4">
                  {{description}}
                </div>
              </div><br>
              <div class="row">
                <div class="col-lg-4">
                  <label>Photo : </label>
                </div>
                <div class="col-lg-4">
                  <img src="{{photo}}" style="width: 100px;">
                </div>
              </div><br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" *ngIf="languageid=='1'"
              style="background-color: #f18235;color: white;" data-dismiss="modal">Close</button>

            <button type="button" class="btn btn-secondary" *ngIf="languageid=='6'"
              style="background-color: #f18235;color: white;" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <br /><br /><br /><br />