<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <label>{{labels[0].date}} : <b>{{appdate}}</b></label>
    </div>
    <div class="col-lg-4">
      <label>{{labels[0].time}} : <b>{{slots}}</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <label>{{labels[0].patientName}} : <b>{{patientname}}</b></label>
    </div>
    <div class="col-lg-4">
      <label>{{labels[0].ailment}} : <b>{{reason}}</b></label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6" *ngFor="let video of videiourl">
      <!-- <iframe width="100%" height="400px" src="{{}}"></iframe> -->
      <video controls width="100%" autoplay height="400px">
        <source src="{{video}}" type="video/mp4">
      </video>
    </div>
    <div class="col-lg-3">

    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].patientVideo}}</b></label>
    </div>
    <div class="col-lg-3">
      <label><b>{{labels[0].doctorVideo}}</b></label>
    </div>
  </div>

  <div class="row">
    <button type="button" *ngIf="languageid=='1'" style="float: left" class="btn dashbtn nextbtncolor" (click)="GoBackPage()">Go Back</button>
    <button type="button" *ngIf="languageid=='6'" style="float: left" class="btn dashbtn nextbtncolor" (click)="GoBackPage()">Retourner</button>
  </div>
</div>