<div class="container-fluid card card:hover headerspace">
  <div class="row headerspace">
    <div class="col-lg-5">
      <h5>{{labels[0].midwifeWOrkingDetails}}</h5>
    </div>
  </div>
</div>

<div class="container-fluid card card:hover" style="margin-top:20px;">
  <br>
  <form #midwifeForm="ngForm">
    <div class="row">
      <div class="col-lg-3">
        <label class="dname_label">{{labels[0].midwife}} :</label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
    
        <ng-multiselect-dropdown [placeholder]="select" [data]="midwifelist" [settings]="middd"
        (onSelect)="getmidwifeid($event)">
      </ng-multiselect-dropdown>

      </div>
    </div>
    <br>
    <div *ngIf="dummid==null">
      <div class="row">
        <div class="col-lg-3">
          <label class="dname_label" *ngIf="languageid=='1'">Hospital / Clinic :</label>
          <label class="dname_label" *ngIf="languageid=='6'">Hôpital/Clinique :</label>
          <span class="required">*</span>
        </div>
        <div class="col-lg-4">
          <input type="text" id="hospital_ClinicName" name="hospital_ClinicName" [(ngModel)]="hospital_ClinicName"
            class="form-control" disabled>
        </div>
      </div><br>

    </div>
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].day}} : </label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
     
        <ng-multiselect-dropdown [placeholder]="'Select'" [data]="dayslist" [settings]="daysdd"
          (onSelect)="GetDaysID($event)">
        </ng-multiselect-dropdown>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].startTime}} : </label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" required (change)="changeStarttime($event)">
          <option value="0">{{labels[0].startTime}}</option>
          <option *ngFor="let day of Timeings" value={{day.id}}>{{day.slotName}}
          </option>
        </select>
       
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <label>{{labels[0].endTime}} : </label>
        <span class="required">*</span>
      </div>
      <div class="col-lg-4">
        <select class="form-control" required (change)="changeEndtime($event)" [(ngModel)]="endid" name="endid">
          <option value="0">{{labels[0].endTime}}</option>
          <option *ngFor="let day of endslotlist" value={{day.id}}>{{day.slotName}}
          </option>
        </select>
     
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-2">
        <button type="button" class="btn btn-block btn-md allbtns btncolor" [disabled]="midwifeForm.form.invalid"
          (click)="InsertPhysiotherapyHospitalDetailsAdmin()">{{labels[0].save}}</button>
      </div>
      <div class="col-lg-5">
      </div>
    </div>
    <br>
  </form>
</div>